Repository trezor/trezor-suite, pull requests merged in 2022-12, with the labels that each got.

#7089 feat(suite-native): show xpub in account detail
  suite-native/module-accounts/src/screens/AccountDetailSettings.tsx
Labels: mobile-app

#7088 chore(suite-native): Change icons in tab bar
  suite-native/app/src/navigation/routes.ts
Labels: mobile-app

#7087 feat(fastlane): Add debug info component to env config
  packages/suite-desktop/e2e/playwright.config.ts
  suite-native/app/.env.debug
  suite-native/app/.env.develop
  suite-native/app/.env.production
  suite-native/app/.env.staging
  suite-native/app/android/fastlane/Fastfile
  suite-native/app/fastlane/Fastfile
  suite-native/app/ios/Podfile.lock
  suite-native/app/ios/fastlane/Fastfile
  suite-native/app/package.json
  suite-native/config/src/debugUtils.ts
  suite-native/module-dev-utils/src/components/BuildInfo.tsx
  suite-native/storage/package.json
  yarn.lock
Labels: mobile-app

#7094 feat(fastlane): Android CI build woth sed and env variables
  suite-native/app/android/fastlane/Fastfile
  suite-native/app/fastlane/Fastfile
  suite-native/app/ios/fastlane/Fastfile
Labels: mobile-app

#7096 chore(ios): app version for ios lane adjustment
  suite-native/app/android/fastlane/Fastfile
  suite-native/app/ios/fastlane/Fastfile
  suite-native/app/package.json
Labels: mobile-app

#7103 chore(react-native): Use expo clipboard in receive flow
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/module-send-receive/package.json
  suite-native/module-send-receive/src/components/FreshAddressStep.tsx
  yarn.lock
Labels: mobile-app

#7106 feat(react-native): Remove console.log from production
  suite-native/app/babel.config.js
  suite-native/app/package.json
  yarn.lock
Labels: mobile-app

#7105 Fix skeleton vertical alignment and margin
  packages/suite/src/components/wallet/AccountTopPanel/index.tsx
Labels: account

#7120 fix(mobile): fix account detail crash
  suite-common/wallet-utils/src/transactionUtils.ts
Labels: mobile-app

#7022 Feat/discreet mode
  suite-native/accounts/src/components/AccountListItem.tsx
  suite-native/app/ios/Podfile.lock
  suite-native/assets/src/components/AssetItem.tsx
  suite-native/atoms/package.json
  suite-native/atoms/src/DiscreetText.tsx
  suite-native/atoms/src/index.ts
  suite-native/graph/src/components/AxisLabel.tsx
  suite-native/module-accounts/src/components/AccountBalance.tsx
  suite-native/module-home/src/components/DashboardHeader.tsx
  suite-native/module-home/src/components/PortfolioGraphHeader.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailAmount.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailHeader.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionListItem.tsx
  yarn.lock
Labels: mobile-app

#7079 FirwareOffer layout fix
  packages/suite/src/components/firmware/FirmwareChangelog.tsx
  packages/suite/src/components/firmware/FirmwareOffer.tsx
  packages/suite/src/components/firmware/index.tsx
  packages/suite/src/support/messages.ts
Labels: bug, code

#7127 Add link to bitcoin-only article
  packages/suite/src/views/settings/device/FirmwareTypeChange.tsx
  packages/urls/src/urls.ts
Labels: settings, bitcoin

#7126 test(e2e): hiding xhr requests
  packages/suite-web/e2e/support/index.ts
Labels: e2e

#7143 fix(coinmarket): add missing translation keys to DCA nad P2P
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/coinmarketCommonTypes.ts
  packages/suite/src/types/wallet/coinmarketSavingsSetup.ts
  packages/suite/src/utils/wallet/coinmarket/__tests__/savingsUtils.test.ts
  packages/suite/src/utils/wallet/coinmarket/savingsUtils.ts
  packages/suite/src/views/wallet/coinmarket/savings/setup/components/FiatAmount/index.tsx
Labels: +Invity, release

#7130 test(e2e): keep bridge version when calling setupEmu
  packages/trezor-user-env-link/src/api.ts
Labels: e2e

#7147 fix(suite-native): Discreet mode default value
  suite-native/atoms/src/DiscreetText.tsx
Labels: mobile-app

#7148 Hide option to display XPUB in CoinJoin account
  packages/suite/src/views/wallet/details/index.tsx
Labels: account, CoinJoin

#7155 Further enhance metadata docs
  docs/features/metadata.md
Labels: labelling, documentation

#7150 Feat/fastlane improvements local build
  .github/workflows/suite-native_develop_ci.yml
  .github/workflows/suite-native_production_ci.yml
  suite-native/app/Gemfile.lock
  suite-native/app/android/app/build.gradle
  suite-native/app/fastlane/Appfile
  suite-native/app/ios/Podfile.lock
  suite-native/app/ios/fastlane/Fastfile
Labels: mobile-app

#7145 Few more rounds needed when CoinJoin ends
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/coinjoinClientActions.ts
  packages/suite/src/components/suite/ModalSwitcher/UserContextModal.tsx
  packages/suite/src/components/suite/modals/CancelCoinjoin.tsx
  packages/suite/src/components/suite/modals/CoinjoinSuccess.tsx
  packages/suite/src/components/suite/modals/MoreRoundsNeeded.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/support/messages.ts
Labels: CoinJoin

#7165 feat(assets): Select coin as the first step in assets import flow
  packages/suite/src/hooks/settings/useEnabledNetworks.ts
  suite-common/wallet-config/src/networksConfig.ts
  suite-native/app/package.json
  suite-native/app/src/navigation/RootStackNavigator.tsx
  suite-native/app/src/navigation/routes.ts
  suite-native/app/tsconfig.json
  suite-native/assets/src/components/Assets.tsx
  suite-native/config/src/enabledNetworks.ts
  suite-native/module-accounts-import/package.json
  suite-native/module-accounts-import/src/components/AccountAlreadyImported.tsx
  suite-native/module-accounts-import/src/components/AccountImportHeader.tsx
  suite-native/module-accounts-import/src/components/AccountImportOverview.tsx
  suite-native/module-accounts-import/src/components/AccountImportSummaryForm.tsx
  suite-native/module-accounts-import/src/components/AccountImportSummarySection.tsx
  suite-native/module-accounts-import/src/components/SelectableNetworkItem.tsx
  suite-native/module-accounts-import/src/components/SelectableNetworkList.tsx
  suite-native/module-accounts-import/src/components/XpubScanHeader.tsx
  suite-native/module-accounts-import/src/navigation/AccountsImportStackNavigator.tsx
  suite-native/module-accounts-import/src/screens/AccountsImportScreen.tsx
  suite-native/module-accounts-import/src/screens/ScanQRCodeModalScreen.tsx
  suite-native/module-accounts-import/src/screens/SelectNetworkScreen.tsx
  suite-native/module-accounts-import/src/screens/XpubScanScreen.tsx
  suite-native/module-accounts/src/screens/AccountDetailSettings.tsx
  suite-native/module-accounts/src/screens/AccountsScreen.tsx
  suite-native/module-onboarding/package.json
  suite-native/module-onboarding/src/index.ts
  suite-native/module-onboarding/src/navigation/OnboardingStackNavigator.tsx
  suite-native/module-onboarding/src/screens/OnboardingIntroScreen.tsx
  suite-native/module-onboarding/tsconfig.json
  suite-native/navigation/src/components/ScreenHeader.tsx
  suite-native/navigation/src/navigators.ts
  suite-native/navigation/src/routes.ts
  yarn.lock
Labels: mobile-app

#7149 feat(suite-native): Grouping assets in account screen
  suite-native/accounts/package.json
  suite-native/accounts/src/components/AccountListItem.tsx
  suite-native/accounts/src/components/AccountsList.tsx
  suite-native/accounts/src/components/AccountsListGroup.tsx
  suite-native/accounts/tsconfig.json
  suite-native/app/ios/Podfile.lock
  suite-native/app/src/navigation/routes.ts
  suite-native/assets/src/components/Assets.tsx
  suite-native/module-accounts-import/src/components/AccountImportHeader.tsx
  suite-native/module-accounts/src/components/AccountsScreenHeader.tsx
  suite-native/module-accounts/src/screens/AccountDetailSettings.tsx
  suite-native/module-accounts/src/screens/AccountsScreen.tsx
  suite-native/navigation/src/components/Screen.tsx
  suite-native/navigation/src/components/ScreenContent.tsx
  suite-native/navigation/src/navigators.ts
  yarn.lock
Labels: mobile-app

#7178 Feat/asset detail settings
  suite-native/accounts/package.json
  suite-native/accounts/tsconfig.json
  suite-native/app/package.json
  suite-native/atoms/src/Button/Button.tsx
  suite-native/atoms/src/Button/IconButton.tsx
  suite-native/module-accounts-import/package.json
  suite-native/module-accounts-import/src/screens/ScanQRCodeModalScreen.tsx
  suite-native/module-accounts-import/tsconfig.json
  suite-native/module-accounts/package.json
  suite-native/module-accounts/src/screens/AccountDetailSettings.tsx
  suite-native/module-accounts/tsconfig.json
  suite-native/module-send-receive/package.json
  suite-native/module-send-receive/src/components/FreshAddressStep.tsx
  suite-native/module-send-receive/tsconfig.json
  suite-native/qr-code/package.json
  suite-native/qr-code/src/components/CameraPermissionError.tsx
  suite-native/qr-code/src/components/QRCode.tsx
  suite-native/qr-code/src/components/QRCodeScanner.tsx
  suite-native/qr-code/src/hooks/useCameraPermission.ts
  suite-native/qr-code/src/index.ts
  suite-native/qr-code/tsconfig.json
  yarn.lock
Labels: mobile-app

#7044 test(e2e): Buy
  ci/test.yml
  packages/suite-web/e2e/fixtures/invity/buy/quotes.json
  packages/suite-web/e2e/fixtures/invity/buy/trade.json
  packages/suite-web/e2e/fixtures/invity/buy/watch.json
  packages/suite-web/e2e/support/utils/fixtures.ts
  packages/suite-web/e2e/tests/coinmarket/buy.test.ts
  packages/suite-web/e2e/tests/coinmarket/exchange.test.ts
  packages/suite/src/utils/suite/env.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Footer/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/index.tsx
Labels: READY FOR REVIEW, +Invity, e2e, QA

#7238 test(e2e): maintanance for better stability
  packages/suite-web/e2e/tests/onboarding/transport.test.ts
  packages/suite-web/e2e/tests/suite/bridge.test.ts
  packages/suite/src/components/suite/PrerequisitesGuide/components/DeviceConnect.tsx
  packages/suite/src/components/suite/PrerequisitesGuide/components/Transport.tsx
Labels: e2e

#7233 chore(react-native): Remove old coins from supported networks by the app
  suite-native/config/src/enabledNetworks.ts
  suite-native/module-accounts-import/src/components/SelectableNetworkList.tsx
Labels: mobile-app

#7265 feat(env-utils): Add support for react native
  packages/env-utils/package.json
  packages/env-utils/src/envUtils.native.ts
  packages/env-utils/src/envUtils.ts
  packages/env-utils/src/index.ts
  packages/env-utils/src/types.ts
  packages/suite/src/components/suite/Preloader/__tests__/Preloader.test.tsx
  packages/suite/src/utils/suite/__tests__/messageSystem.test.ts
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/atoms/package.json
  suite-native/atoms/src/Sheet/useBottomSheetAnimation.ts
  suite-native/atoms/tsconfig.json
  yarn.lock
Labels: mobile-app
