Repository trezor/trezor-suite, pull requests merged in 2022-09, with the labels that each got.

#6140 chore: move blockchain redux to common
  packages/suite/src/actions/suite/__tests__/initAction.test.ts
  packages/suite/src/actions/suite/initAction.ts
  packages/suite/src/actions/wallet/__fixtures__/blockchainActions.ts
  packages/suite/src/actions/wallet/__tests__/blockchainActions.test.ts
  packages/suite/src/actions/wallet/__tests__/cardanoStakingActions.test.ts
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/actions/wallet/cardanoStakingActions.ts
  packages/suite/src/actions/wallet/constants/blockchainConstants.ts
  packages/suite/src/actions/wallet/constants/index.ts
  packages/suite/src/actions/wallet/selectedAccountActions.ts
  packages/suite/src/actions/wallet/sendFormActions.ts
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NavBackends.tsx
  packages/suite/src/components/suite/modals/DisableTor.tsx
  packages/suite/src/components/wallet/AccountMode/BackendDisconnected.tsx
  packages/suite/src/hooks/settings/backends/useBackendsForm.ts
  packages/suite/src/middlewares/suite/__tests__/buttonRequestMiddleware.test.ts
  packages/suite/src/middlewares/suite/logsMiddleware.ts
  packages/suite/src/middlewares/suite/sentryMiddleware.ts
  packages/suite/src/middlewares/wallet/__tests__/walletMiddleware.test.ts
  packages/suite/src/middlewares/wallet/blockchainMiddleware.ts
  packages/suite/src/middlewares/wallet/coinjoinMiddleware.ts
  packages/suite/src/middlewares/wallet/index.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
  packages/suite/src/reducers/wallet/blockchainReducer.ts
  packages/suite/src/reducers/wallet/feesReducer.ts
  packages/suite/src/reducers/wallet/index.ts
  packages/suite/src/support/extraDependencies.ts
  packages/suite/src/types/wallet/index.ts
  suite-common/redux-utils/src/extraDependenciesType.ts
  suite-common/test-utils/src/extraDependenciesMock.ts
  suite-common/wallet-core/package.json
  suite-common/wallet-core/src/accounts/tests/accountsThunks.test.ts
  suite-common/wallet-core/src/blockchain/__tests__/blockchainReducer.test.ts
  suite-common/wallet-core/src/blockchain/blockchainActions.ts
  suite-common/wallet-core/src/blockchain/blockchainMiddleware.ts
  suite-common/wallet-core/src/blockchain/blockchainReducer.ts
  suite-common/wallet-core/src/blockchain/blockchainThunks.ts
  suite-common/wallet-core/src/fiat-rates/fiatRatesMiddleware.ts
  suite-common/wallet-core/src/fiat-rates/fiatRatesThunks.ts
  suite-common/wallet-core/src/index.ts
  suite-common/wallet-core/tsconfig.json
  suite-common/wallet-types/src/transaction.ts
  yarn.lock
Labels: mobile-app

#5969 Fix app update on quit
  packages/suite-analytics/src/constants.ts
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src/support/DesktopUpdater/Ready.tsx
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/general/VersionWithUpdate.tsx
Labels: autoupdate

#6175 fix(suite): fix txid not being shown in the bump fee / finalize tx modal
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
Labels: transactions

#6174 feat(coinmarket): savings Swan Bitcoin related changes
  packages/suite/src/hooks/wallet/useCoinmarketSavingsSetupContinue.ts
  packages/suite/src/views/wallet/coinmarket/savings/overview/components/PaymentDetail/index.tsx
Labels: READY FOR REVIEW, +Invity

#6184 chore(e2e): adding page object model POC
  packages/integration-tests/projects/suite-web/support/pageObjects/suiteGuideObject.ts
  packages/integration-tests/projects/suite-web/tests/suite/bug-report-form.test.ts
Labels: e2e

#6183 chore(suite-native): Change colors in app
  packages/icons/src/components/Icon.tsx
  packages/theme/src/colors.ts
  suite-native/atoms/src/Button/Button.tsx
  suite-native/atoms/src/Button/IconButton.tsx
  suite-native/atoms/src/Card.tsx
  suite-native/atoms/src/CheckBox.tsx
  suite-native/atoms/src/Input/SearchInput.tsx
  suite-native/atoms/src/Radio.tsx
  suite-native/atoms/src/Select/SelectItem.tsx
  suite-native/atoms/src/Sheet/useBottomSheetAnimation.ts
  suite-native/atoms/src/Switch.tsx
  suite-native/atoms/src/Text.tsx
  suite-native/atoms/src/TipToast.tsx
  suite-native/module-home/src/components/DashboardHeaderDeviceChip.tsx
  suite-native/module-onboarding/src/components/AssetsHeader.tsx
  suite-native/module-onboarding/src/components/AssetsLoader.tsx
  suite-native/module-onboarding/src/components/AssetsOverview.tsx
  suite-native/module-onboarding/src/components/Camera.tsx
  suite-native/module-onboarding/src/screens/OnboardingIntro.tsx
  suite-native/module-onboarding/src/screens/OnboardingXpubScan.tsx
  suite-native/module-settings/src/components/ColorSchemePickerItem.tsx
  suite-native/module-settings/src/screens/DemoScreen.tsx
  suite-native/navigation/src/components/ActionTabBarItem.tsx
  suite-native/navigation/src/components/Screen.tsx
Labels: mobile-app

#6180 feat(invity): extending Invity API types for savings
  packages/suite/src/constants/wallet/coinmarket/savings.ts
  packages/suite/src/hooks/wallet/useCoinmarketSavingsPaymentInfoCopy.ts
  packages/suite/src/services/suite/invityAPI.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/coinmarket/__fixtures__/savingsUtils.ts
  packages/suite/src/utils/wallet/coinmarket/__tests__/savingsUtils.test.ts
Labels: READY FOR REVIEW, +Invity

#6198 feat(analytics): number of accounts with non zero balance
  packages/suite-analytics/CHANGELOG.md
  packages/suite-analytics/src/constants.ts
  packages/suite-analytics/src/types/events.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Labels: release

#6173 feat(invity): Bitcoin satoshi amounts in Trade section
  packages/suite/src/actions/wallet/coinmarket/coinmarketCommonActions.ts
  packages/suite/src/components/suite/FormattedCryptoAmount.tsx
  packages/suite/src/components/wallet/CoinmarketBuyOfferInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketExchangeOfferInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/SavingsTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/SellTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/SpendTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketSellOfferInfo/index.tsx
  packages/suite/src/hooks/wallet/useCoinmarketBuyForm.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/hooks/wallet/useCoinmarketSellForm.ts
  packages/suite/src/hooks/wallet/useCoinmarketSpend.ts
  packages/suite/src/middlewares/wallet/__tests__/walletMiddleware.test.ts
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/coinmarket/__tests__/coinmarketUtils.test.ts
  packages/suite/src/utils/wallet/coinmarket/coinmarketUtils.ts
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
  packages/suite/src/views/wallet/coinmarket/common/AddressOptions.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/SendCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/SendSwapTransaction/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/ReceiveOptions.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/components/SellForm/Inputs/CryptoInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/components/SellForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/components/SellForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/offers/Offers/List/index.tsx
  suite-common/wallet-utils/src/formDraftUtils.ts
Labels: +Invity, bitcoin

#6203 feat(guide): add coin control article
  packages/suite-data/src/guide/constants.ts
Labels: release

#6192 Crowdin translations update
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/el.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/he.json
  packages/suite-data/files/translations/hu.json
  packages/suite-data/files/translations/it.json
  packages/suite-data/files/translations/ja.json
  packages/suite-data/files/translations/lol.json
  packages/suite-data/files/translations/nl.json
  packages/suite-data/files/translations/pl.json
  packages/suite-data/files/translations/pt.json
  packages/suite-data/files/translations/ro.json
  packages/suite-data/files/translations/ru.json
  packages/suite-data/files/translations/sk.json
  packages/suite-data/files/translations/sv.json
  packages/suite-data/files/translations/tr.json
  packages/suite-data/files/translations/zh.json
  packages/suite/src/support/messages.ts
Labels: translations

#6200 chore: more type-safe color types
  packages/styles/src/types.ts
  packages/styles/src/useStyles.ts
  packages/theme/src/boxShadows.ts
  packages/theme/src/colors.ts
  packages/theme/src/index.ts
  packages/theme/src/types.ts
  suite-native/atoms/src/AssetItem.tsx
  suite-native/atoms/src/ProgressBar.tsx
  suite-native/module-settings/src/components/ColorSchemePickerItem.tsx
Labels: mobile-app

#6201 fix(export): pdf table overflow
  suite-common/suite-constants/src/b64images.ts
  suite-common/wallet-utils/src/exportTransactions.ts
Labels: release

#6207 Crowdin translations update
  packages/suite-data/files/translations/ar.json
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/hu.json
  packages/suite-data/files/translations/ja.json
  packages/suite-data/files/translations/lol.json
  packages/suite-data/files/translations/pt.json
  packages/suite-data/files/translations/ru.json
  packages/suite-data/files/translations/sk.json
  packages/suite-data/files/translations/tr.json
  packages/suite-data/files/translations/zh.json
  packages/suite/src/support/messages.ts
Labels: translations

#6186 test(e2e): unchained tool test
  packages/integration-tests/projects/connect-popup/tests/unchained.test.js
Labels: e2e

#6226 fix(fiat-rates): fiat rates update action handling returned back
  suite-common/wallet-core/src/fiat-rates/fiatRatesMiddleware.ts
  suite-common/wallet-core/src/fiat-rates/fiatRatesThunks.ts
Labels: release

#6232 Crowdin translations update
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/ja.json
  packages/suite-data/files/translations/lol.json
  packages/suite-data/files/translations/ru.json
  packages/suite-data/files/translations/zh.json
  packages/suite/src/support/messages.ts
Labels: translations

#6231 fix(coinmarket): Fix composition of sell & exchange transactions
  packages/suite/src/hooks/wallet/useCoinmarketExchangeOffers.ts
  packages/suite/src/hooks/wallet/useCoinmarketSellOffers.ts
Labels: +Invity, release

#6233 feat(suite-native): Init fiat rates
  suite-common/test-utils/src/extraDependenciesMock.ts
  suite-native/app/src/App.tsx
Labels: mobile-app

#6237 fix(suite-native): Fix ios simulator build for M1 (arm64)
  suite-native/app/ios/Podfile
  suite-native/app/ios/Podfile.lock
Labels: mobile-app

#6199 feat(suite-native): Accounts detail
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/DayHeader/index.tsx
  suite-common/wallet-core/src/accounts/accountsReducer.ts
  suite-common/wallet-core/src/transactions/transactionsReducer.ts
  suite-common/wallet-utils/package.json
  suite-common/wallet-utils/src/__tests__/transactionUtils.test.ts
  suite-common/wallet-utils/src/transactionUtils.ts
  suite-native/app/android/gradle.properties
  suite-native/app/ios/Podfile.lock
  suite-native/app/ios/TrezorSuite/Info.plist
  suite-native/app/package.json
  suite-native/app/src/navigation/AppTabNavigator.tsx
  suite-native/app/src/navigation/dummyScreens/AccountsScreen.tsx
  suite-native/app/src/navigation/routes.ts
  suite-native/app/tsconfig.json
  suite-native/module-accounts/package.json
  suite-native/module-accounts/redux.d.ts
  suite-native/module-accounts/src/components/AccountBalance.tsx
  suite-native/module-accounts/src/components/AccountListItem.tsx
  suite-native/module-accounts/src/components/AccountsList.tsx
  suite-native/module-accounts/src/index.ts
  suite-native/module-accounts/src/navigation/AccountsStackNavigator.tsx
  suite-native/module-accounts/src/screens/AccountDetailScreen.tsx
  suite-native/module-accounts/src/screens/AccountsScreen.tsx
  suite-native/module-accounts/tsconfig.json
  suite-native/module-onboarding/src/screens/OnboardingIntroScreen.tsx
  suite-native/module-settings/src/screens/DemoScreen.tsx
  suite-native/module-transactions/package.json
  suite-native/module-transactions/src/components/TransactionList.tsx
  suite-native/module-transactions/src/components/TransactionListGroup.tsx
  suite-native/module-transactions/src/components/TransactionListItem.tsx
  suite-native/module-transactions/src/index.ts
  suite-native/module-transactions/tsconfig.json
  suite-native/navigation/src/navigators.ts
  suite-native/navigation/src/routes.ts
  yarn.lock
Labels: mobile-app

#6256 chore(suite-native): Make graph reusable
  packages/icons/package.json
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/atoms/package.json
  suite-native/home-graph/src/constants.ts
  suite-native/home-graph/src/slice.ts
  suite-native/home-graph/src/tests/TimeSwitch.test.tsx
  suite-native/module-accounts-import/package.json
  suite-native/module-graph/package.json
  suite-native/module-graph/src/components/Graph.tsx
  suite-native/module-graph/src/components/PortfolioGraph.tsx
  suite-native/module-graph/src/components/TimeSwitch.tsx
  suite-native/module-graph/src/components/TimeSwitchItem.tsx
  suite-native/module-graph/src/dummyData.ts
  suite-native/module-graph/src/index.ts
  suite-native/module-graph/src/tests/TimeSwitch.test.tsx
  suite-native/module-graph/src/types.ts
  suite-native/module-graph/tsconfig.json
  suite-native/module-home/package.json
  suite-native/module-home/src/screens/HomeScreen.tsx
  suite-native/module-home/tsconfig.json
  suite-native/state/package.json
  suite-native/state/src/store.ts
  suite-native/state/tsconfig.json
  suite-native/test-utils/package.json
  yarn.lock
Labels: mobile-app

#6254 fix(suite): hide firmware type suggestion if no coin is enabled
  packages/suite/src/views/settings/coins/SettingsCoins.tsx
Labels: settings, bitcoin

#6236 fix(connect): fw authenticity check in desktop app
  packages/connect/src/utils/assets.ts
Labels: release

#6255 chore: remove duplicate icon
  packages/components/src/components/Icon/icons.ts
  packages/components/src/images/icons/lock_active.svg
  packages/components/src/images/icons/lock_title.svg
  packages/suite/src/components/suite/modals/confirm/CoinmarketBuyTerms/index.tsx
  packages/suite/src/components/suite/modals/confirm/CoinmarketExchangeTerms/index.tsx
  packages/suite/src/components/suite/modals/confirm/CoinmarketSavingsTerms/index.tsx
  packages/suite/src/components/suite/modals/confirm/CoinmarketSellTerms/index.tsx
Labels: code

#6262 feat(guide): add satoshi units article
  packages/suite-data/src/guide/constants.ts
Labels: release

#6257 chore: rename transcation package folder
  .eslintrc.js
  suite-native/module-accounts/src/components/AccountListItem.tsx
  suite-native/module-accounts/tsconfig.json
  suite-native/transactions/package.json
  suite-native/transactions/src/components/TransactionList.tsx
  suite-native/transactions/src/components/TransactionListGroup.tsx
  suite-native/transactions/src/components/TransactionListItem.tsx
  suite-native/transactions/src/index.ts
  suite-native/transactions/tsconfig.json
  yarn.lock
Labels: mobile-app

#6259 Crowdin translations update
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/hu.json
  packages/suite-data/files/translations/ja.json
  packages/suite-data/files/translations/lol.json
  packages/suite-data/files/translations/ru.json
  packages/suite/src/support/messages.ts
Labels: release, translations

#6253 fix(localizeNumber): long numbers were replaced by empty string
  packages/suite/src/components/suite/FormattedCryptoAmount.tsx
  suite-common/wallet-utils/src/__tests__/localizeNumber.test.ts
  suite-common/wallet-utils/src/__tests__/localizeNumber.ts
  suite-common/wallet-utils/src/balanceUtils.ts
  suite-common/wallet-utils/src/localizeNumber.ts
Labels: release

#6266 feat(suite-native): Add config possibilities for RN app
  .gitignore
  suite-native/app/.env.debug
  suite-native/app/.env.develop
  suite-native/app/.env.production
  suite-native/app/.env.staging
  suite-native/app/android/app/build.gradle
  suite-native/app/android/app/proguard-rules.pro
  suite-native/app/ios/Podfile
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/config/README.md
  suite-native/config/package.json
  suite-native/config/src/index.ts
  suite-native/config/tsconfig.json
  suite-native/module-accounts-import/package.json
  suite-native/module-accounts-import/src/screens/XpubScanScreen.tsx
  suite-native/module-accounts-import/tsconfig.json
  yarn.lock
Labels: mobile-app

#6279 fix: correct detection for multiple devices in firmware update
  packages/suite/src/components/firmware/FirmwareInitial.tsx
Labels: release

#6285 chore(suite-native): Hide device selector
  suite-native/app/ios/Podfile.lock
  suite-native/module-home/src/components/DashboardHeader.tsx
Labels: mobile-app

#6300 fix(suite): exclude from builds binaries with missing write permissions
  packages/suite-desktop/package.json
Labels: release

#6298 feat(suite-native): One hidden device with all imported accounts
  suite-common/suite-types/src/account.ts
  suite-common/wallet-core/src/accounts/accountsActions.ts
  suite-common/wallet-core/src/accounts/accountsReducer.ts
  suite-common/wallet-core/src/transactions/transactionsReducer.ts
  suite-common/wallet-utils/src/__tests__/accountUtils.test.ts
  suite-native/config/package.json
  suite-native/module-accounts-import/src/accountsImportThunks.ts
  suite-native/module-accounts-import/src/components/AccountImportOverview.tsx
  suite-native/module-accounts-import/src/screens/AccountsImportScreen.tsx
  suite-native/module-accounts/src/components/AccountBalance.tsx
  suite-native/module-accounts/src/components/AccountListItem.tsx
  suite-native/module-accounts/src/screens/AccountDetailScreen.tsx
  suite-native/storage/package.json
Labels: mobile-app

#6268 feat(suite-native): Transaction detail screen
  suite-common/wallet-core/src/transactions/transactionsReducer.ts
  suite-common/wallet-types/src/transaction.ts
  suite-native/app/ios/Podfile
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/app/src/navigation/RootStackNavigator.tsx
  suite-native/app/tsconfig.json
  suite-native/navigation/src/navigators.ts
  suite-native/navigation/src/routes.ts
  suite-native/transactions/package.json
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailAmount.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailConfirmations.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailData.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailDataRow.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailHeader.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionList.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionListGroup.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionListItem.tsx
  suite-native/transactions/src/index.ts
  suite-native/transactions/src/screens/TransactionDetailScreen.tsx
  suite-native/transactions/tsconfig.json
  yarn.lock
Labels: mobile-app

#6311 feat(suite-native): Add filter to the section "My assets"
  suite-common/wallet-core/src/accounts/accountsReducer.ts
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/app/src/navigation/routes.ts
  suite-native/app/src/navigation/typedTabOption.ts
  suite-native/app/tsconfig.json
  suite-native/atoms/src/AssetItem.tsx
  suite-native/atoms/src/Button/IconButton.tsx
  suite-native/module-accounts/package.json
  suite-native/module-accounts/src/components/AccountsList.tsx
  suite-native/module-accounts/src/screens/AccountsScreen.tsx
  suite-native/module-accounts/tsconfig.json
  suite-native/module-home/package.json
  suite-native/module-home/src/components/Assets.tsx
  suite-native/module-home/src/screens/HomeScreen.tsx
  suite-native/module-home/tsconfig.json
  suite-native/navigation/src/components/TabBar.tsx
  suite-native/navigation/src/navigators.ts
  suite-native/navigation/src/types.tsx
  yarn.lock
Labels: mobile-app

#6314 chore(e2e): transport package
  docker/docker-compose.transport-test.yml
  packages/integration-tests/package.json
  packages/integration-tests/projects/transport/common.setup.js
  packages/integration-tests/projects/transport/jest.config.js
  packages/integration-tests/wait-for-env.ts
  packages/transport/e2e/tests/bridge.test.ts
  packages/transport/package.json
  packages/transport/tsconfig.json
  yarn.lock
Labels: e2e

#6315 chore(e2e): correct screenshots paths
  ci/test.yml
  packages/connect-popup/e2e/support/buildOverview.ts
Labels: e2e

#6334 Fix migration to 31 when tx.details are missing
  packages/suite/src/storage/migrations/index.ts
Labels: release

#6345 feat(invity): add NEW badge to Save Bitcoin navigation link
  packages/suite/src/components/wallet/CoinmarketLayout/components/Navigation/index.tsx
  packages/suite/src/components/wallet/WalletLayout/components/WalletLayoutNavigation.tsx
  packages/suite/src/support/messages.ts
Labels: READY FOR REVIEW, +Invity, bitcoin

#6332 feat(native): forms for mobile app
  suite-native/atoms/src/Input/Input.tsx
  suite-native/atoms/src/Input/InputWrapper.tsx
  suite-native/forms/README.md
  suite-native/forms/package.json
  suite-native/forms/src/Form.tsx
  suite-native/forms/src/fields/TextInputField.tsx
  suite-native/forms/src/hooks/useField.ts
  suite-native/forms/src/hooks/useForm.ts
  suite-native/forms/src/index.ts
  suite-native/forms/src/types.ts
  suite-native/forms/tsconfig.json
  suite-native/module-accounts-import/package.json
  suite-native/module-accounts-import/src/components/AccountImportOverview.tsx
  suite-native/module-accounts-import/src/screens/AccountsImportScreen.tsx
  suite-native/module-accounts-import/src/screens/XpubScanScreen.tsx
  suite-native/module-accounts-import/tsconfig.json
  suite-native/module-dev-utils/src/screens/DemoScreen.tsx
  yarn.lock
Labels: mobile-app

#6352 fix(mobile): fix input label minimalization
  suite-native/app/ios/Podfile.lock
  suite-native/atoms/src/Input/Input.tsx
Labels: mobile-app

#6374 fix(ios): Fix ios CI build
  suite-common/suite-types/package.json
  suite-native/app/ios/Podfile.lock
  suite-native/app/ios/TrezorSuite.xcodeproj/project.pbxproj
Labels: mobile-app

#6392 fix(ios): ios CI build fix
  suite-native/app/ios/Podfile.lock
  suite-native/app/ios/fastlane/Fastfile
Labels: mobile-app

#6399 fix(ios): MacOS runner version increased to 12 (latest is 11)
  .github/workflows/suite-native_develop_ci.yml
  suite-native/app/ios/Podfile.lock
Labels: mobile-app

#6400 fix(android): Fix android ci build
  suite-native/app/ios/fastlane/Fastfile
Labels: mobile-app

#6404 chore(connect): improve types in jest tests
  packages/connect/setupJest.ts
  packages/connect/src/global.d.ts
  tsconfig.lib.json
Labels: low hanging fruit

#6403 chore(invity): update @types/invity-api to version 1.0.8
  packages/suite/package.json
  packages/suite/src/actions/wallet/coinmarketSavingsActions.ts
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/SavingsTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/Status/index.tsx
  packages/suite/src/constants/wallet/coinmarket/savings.ts
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/hooks/wallet/useCoinmarketSavingsPaymentInfoCopy.ts
  packages/suite/src/hooks/wallet/useCoinmarketSavingsSetup.ts
  packages/suite/src/hooks/wallet/useCoinmarketSavingsSetupContinue.ts
  packages/suite/src/middlewares/wallet/__fixtures__/coinmarketSavingsMiddleware.ts
  packages/suite/src/middlewares/wallet/__tests__/coinmarketSavingsMiddleware.test.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/services/suite/invityAPI.ts
  packages/suite/src/types/wallet/coinmarketCommonTypes.ts
  packages/suite/src/types/wallet/coinmarketSavings.ts
  packages/suite/src/types/wallet/coinmarketSavingsOverview.ts
  packages/suite/src/types/wallet/coinmarketSavingsPaymentInfo.ts
  packages/suite/src/types/wallet/coinmarketSavingsSetup.ts
  packages/suite/src/types/wallet/coinmarketSavingsSetupContinue.ts
  packages/suite/src/utils/wallet/coinmarket/__fixtures__/savingsUtils.ts
  packages/suite/src/utils/wallet/coinmarket/savingsUtils.ts
  packages/suite/src/views/wallet/coinmarket/savings/overview/components/PaymentDetail/index.tsx
  packages/suite/src/views/wallet/coinmarket/savings/overview/index.tsx
  yarn.lock
Labels: +Invity

#6419 chore(ios): iOS local build (on approved device) fix, swift version update
  .github/workflows/suite-native_develop_ci.yml
  suite-native/app/ios/Podfile
  suite-native/app/ios/Podfile.lock
  suite-native/app/ios/TrezorSuite.xcodeproj/project.pbxproj
  suite-native/app/ios/fastlane/Fastfile
  suite-native/app/package.json
  suite-native/module-accounts-import/package.json
  yarn.lock
Labels: mobile-app

#6415 fix(android): Fix Android text input
  suite-native/app/ios/Podfile
  suite-native/app/ios/Podfile.lock
  suite-native/atoms/src/Input/Input.tsx
Labels: mobile-app

#6426 chore(suite-native): Update react-native-skia library
  packages/icons/package.json
  suite-native/app/ios/Podfile
  suite-native/app/ios/Podfile.lock
  suite-native/app/ios/TrezorSuite.xcodeproj/project.pbxproj
  suite-native/app/package.json
  yarn.lock
Labels: mobile-app

#6430 chore(connect): Clean up ugly quotes
  packages/connect-web/src/popup/showPopupRequest.ts
Labels: bug, connect-popup

#6383 fix(suite): fix trade section footer
  packages/suite/src/components/wallet/CoinmarketFooter/index.tsx
  packages/suite/src/components/wallet/WalletLayout/components/WalletLayoutNavigation.tsx
Labels: UI

#6428 fix(suite-native): Fix QR code scan doesnt progress to the next screen
  suite-native/module-accounts-import/src/screens/XpubScanScreen.tsx
Labels: mobile-app
