Repository trezor/trezor-suite, pull requests merged in 2023-09, with the labels that each got.

#9312 fix(ci): fix the suite-e rebase bot
  .github/workflows/bot-rebase-suite-e.yml
Labels: ci

#9336 chore(ci): update the suite-e rebase action
  .github/workflows/bot-rebase-suite-e.yml
Labels: ci

#9341 chore(suite-native): add analytics report
  suite-native/module-settings/src/screens/SettingsPrivacyAndSecurity.tsx
Labels: data, mobile-app

#9328 feat(components): add a Badge component
  packages/components/src/components/Badge/Badge.stories.tsx
  packages/components/src/components/Badge/Badge.tsx
  packages/components/src/components/buttons/Button/Button.tsx
  packages/components/src/components/buttons/TextButton/TextButton.tsx
  packages/components/src/components/buttons/buttonStyleUtils.ts
Labels: components

#9304 Fix round phase utils and refactor enums to constants
  packages/coinjoin/src/client/CoinjoinRound.ts
  packages/coinjoin/src/enums.ts
  packages/suite/src/actions/wallet/coinjoinClientActions.ts
  packages/suite/src/components/suite/modals/CriticalCoinjoinPhase/PhaseProgress.tsx
  packages/suite/src/constants/suite/coinjoin.ts
  packages/suite/src/middlewares/wallet/coinjoinMiddleware.ts
  packages/suite/src/reducers/wallet/__fixtures__/coinjoinReducer.ts
  packages/suite/src/reducers/wallet/coinjoinReducer.ts
  packages/suite/src/types/wallet/coinjoin.ts
  packages/suite/src/utils/wallet/__fixtures__/coinjoinUtils.ts
  packages/suite/src/utils/wallet/__tests__/coinjoinUtils.test.ts
  packages/suite/src/utils/wallet/coinjoinUtils.ts
Labels: bug, coinjoin

#9351 Crowdin translations update
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/hu.json
  packages/suite-data/files/translations/it.json
  packages/suite-data/files/translations/ja.json
  packages/suite-data/files/translations/lol.json
  packages/suite-data/files/translations/nl.json
  packages/suite-data/files/translations/pt.json
  packages/suite-data/files/translations/ro.json
  packages/suite-data/files/translations/ru.json
  packages/suite-data/files/translations/sk.json
  packages/suite-data/files/translations/sv.json
  packages/suite-data/files/translations/uk.json
  packages/suite-data/files/translations/zh.json
  packages/suite/src/support/messages.ts
Labels: translations

#9349 Bump beta version to 23.10.0
  packages/suite/package.json
Labels: deployment

#9361 Replace confetti emoji with an icon
  packages/suite/src/components/onboarding/ProgressBar.tsx
Labels: UI

#9362 feat(components): switch
  packages/components/src/components/buttons/Button/Button.tsx
  packages/components/src/components/buttons/buttonStyleUtils.ts
  packages/components/src/components/form/Switch/Switch.stories.tsx
  packages/components/src/components/form/Switch/Switch.tsx
  packages/components/src/components/form/form.stories.tsx
  packages/components/src/utils/utils.ts
  packages/suite/src/components/suite/modals/ImportTransaction/components/DelimiterForm.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
  packages/suite/src/views/wallet/sign-verify/index.tsx
Labels: components

#9309 fix(suite-native): use cancelAuthenticate only on Android
  suite-native/biometrics/src/useBiometrics.tsx
Labels: mobile-app

#9386 fix(suite-native): internal notifications disabled
  suite-native/app/src/App.tsx
Labels: mobile-app

#9345 Feat/fiat balance formatter
  suite-native/atoms/src/Box.tsx
  suite-native/atoms/src/DiscreetText.tsx
  suite-native/formatters/package.json
  suite-native/formatters/src/components/CryptoToFiatAmountFormatter.tsx
  suite-native/formatters/src/components/EthereumTokenToFiatAmountFormatter.tsx
  suite-native/formatters/src/components/FiatBalanceFormatter.tsx
  suite-native/formatters/src/hooks/useFiatFromCryptoValue.ts
  suite-native/formatters/src/index.ts
  suite-native/formatters/src/tests/utils.test.ts
  suite-native/formatters/src/utils.ts
  suite-native/module-accounts-import/src/components/AccountImportOverview.tsx
  suite-native/module-accounts/src/components/AccountDetailGraphHeader.tsx
  suite-native/module-accounts/src/components/AccountDetailTokenHeader.tsx
  suite-native/module-home/src/components/PortfolioGraphHeader.tsx
  yarn.lock
Labels: mobile-app, UI

#9393 Crowdin translations update
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/hu.json
  packages/suite-data/files/translations/it.json
  packages/suite-data/files/translations/ja.json
  packages/suite-data/files/translations/lol.json
  packages/suite-data/files/translations/nl.json
  packages/suite-data/files/translations/pt.json
  packages/suite-data/files/translations/ro.json
  packages/suite-data/files/translations/ru.json
  packages/suite-data/files/translations/sk.json
  packages/suite-data/files/translations/sv.json
  packages/suite-data/files/translations/zh.json
Labels: translations

#9388 fix: ui polishing
  suite-native/accounts/src/components/AccountListItemInteractive.tsx
  suite-native/atoms/src/AccordionItem.tsx
  suite-native/atoms/src/Button/Button.tsx
  suite-native/atoms/src/Input/Input.tsx
  suite-native/atoms/src/Pictogram.tsx
  suite-native/atoms/src/StepsProgressBar.tsx
  suite-native/graph/src/components/TimeSwitchItem.tsx
  suite-native/module-accounts-import/src/components/AccountImportHeader.tsx
  suite-native/module-accounts-import/src/components/AccountImportSummaryForm.tsx
  suite-native/module-accounts-import/src/screens/AccountImportLoadingScreen.tsx
  suite-native/module-accounts-import/src/screens/AccountImportSummaryScreen.tsx
  suite-native/module-accounts/src/components/AccountDetailGraph.tsx
  suite-native/module-accounts/src/components/AccountDetailGraphHeader.tsx
  suite-native/module-accounts/src/components/CoinPriceCard.tsx
  suite-native/module-accounts/src/components/TransactionListHeader.tsx
  suite-native/module-home/src/components/PortfolioGraphHeader.tsx
  suite-native/module-home/src/screens/HomeScreen.tsx
  suite-native/module-onboarding/src/components/OnboardingFooter.tsx
  suite-native/module-onboarding/src/screens/WelcomeScreen.tsx
  suite-native/receive/src/components/ReceiveAccount.tsx
  suite-native/receive/src/components/ReceiveTextHint.tsx
  suite-native/receive/src/screens/ReceiveModal.tsx
Labels: mobile-app, UI

#9395 Fix/blurred overlay on physical iphone
  suite-common/icons/package.json
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/atoms/package.json
  suite-native/graph/package.json
  suite-native/module-accounts-import/package.json
  suite-native/react-native-graph/package.json
  suite-native/screen-overlay/package.json
  suite-native/screen-overlay/src/components/BlurredScreenOverlay.tsx
  suite-native/transactions/package.json
  yarn.lock
Labels: bug, mobile-app

#9409 Fix/UI tweaks
  suite-native/atoms/src/Badge.tsx
  suite-native/atoms/src/Input/Input.tsx
  suite-native/atoms/src/Input/SearchInput.tsx
  suite-native/atoms/src/types.ts
  suite-native/formatters/src/components/FiatBalanceFormatter.tsx
  suite-native/module-accounts-import/src/components/AccountAlreadyImported.tsx
  suite-native/module-accounts-import/src/components/AccountImportOverview.tsx
Labels: mobile-app

#9408 chore(suite-native): downgrade skia to v.0.1.202
  suite-common/icons/package.json
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/atoms/package.json
  suite-native/graph/package.json
  suite-native/module-accounts-import/package.json
  suite-native/react-native-graph/package.json
  suite-native/screen-overlay/package.json
  suite-native/transactions/package.json
  yarn.lock
Labels: mobile-app

#9432 revert(suite-native): blurred screen overlay
  suite-native/alerts/package.json
  suite-native/alerts/src/components/AlertSheet.tsx
  suite-native/alerts/tsconfig.json
  suite-native/app/package.json
  suite-native/app/src/App.tsx
  suite-native/app/src/navigation/RootStackNavigator.tsx
  suite-native/app/tsconfig.json
  suite-native/atoms/package.json
  suite-native/atoms/src/Sheet/BottomSheet.tsx
  suite-native/atoms/src/Sheet/useBottomSheetAnimation.ts
  suite-native/atoms/tsconfig.json
  suite-native/biometrics/package.json
  suite-native/biometrics/src/components/AuthenticatorProvider.tsx
  suite-native/biometrics/src/components/BiometricOverlay.tsx
  suite-native/biometrics/src/useBiometrics.tsx
  suite-native/biometrics/tsconfig.json
  suite-native/screen-overlay/package.json
  suite-native/screen-overlay/src/components/BlurredScreenOverlay.tsx
  suite-native/screen-overlay/src/components/ScreenshotCapturer.tsx
  suite-native/screen-overlay/src/components/ScreenshotProvider.tsx
  suite-native/screen-overlay/src/index.ts
  suite-native/screen-overlay/tsconfig.json
  yarn.lock
Labels: mobile-app

#9436 chore(suite-native): donwgrade skia to 188
  suite-common/icons/package.json
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/atoms/package.json
  suite-native/graph/package.json
  suite-native/module-accounts-import/package.json
  suite-native/react-native-graph/package.json
  suite-native/transactions/package.json
  yarn.lock
Labels: mobile-app

#9438 chore(suite-native): remove module-devices
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/suite/__tests__/modalActions.test.ts
  packages/suite/src/actions/suite/__tests__/suiteActions.test.ts
  packages/suite/src/actions/suite/__tests__/trezorConnectActions.test.ts
  packages/suite/src/actions/wallet/__tests__/publicKeyActions.test.ts
  packages/suite/src/actions/wallet/__tests__/receiveActions.test.ts
  suite-common/wallet-core/src/device/deviceConstants.ts
  suite-common/wallet-core/src/device/deviceReducer.ts
  suite-common/wallet-core/src/index.ts
  suite-native/app/ios/Podfile.lock
  suite-native/assets/package.json
  suite-native/assets/src/components/AssetItem.tsx
  suite-native/assets/tsconfig.json
  suite-native/module-accounts-import/package.json
  suite-native/module-accounts-import/src/accountsImportThunks.ts
  suite-native/module-accounts-import/src/components/AccountImportSummaryForm.tsx
  suite-native/module-accounts-import/tsconfig.json
  suite-native/module-devices/package.json
  suite-native/module-devices/src/index.ts
  suite-native/module-devices/tsconfig.json
  suite-native/state/package.json
  suite-native/state/src/extraDependencies.ts
  suite-native/state/src/reducers.ts
  suite-native/state/tsconfig.json
  yarn.lock
Labels: mobile-app

#9443 fix(suite-common): discovery types
  packages/suite/src/middlewares/wallet/discoveryMiddleware.ts
  suite-common/wallet-core/src/discovery/discoveryActions.ts
  suite-common/wallet-core/src/discovery/discoveryReducer.ts
Labels: mobile-app, monorepo

#9444 chore(mobile): Skia update
  suite-common/icons/package.json
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/atoms/package.json
  suite-native/graph/package.json
  suite-native/module-accounts-import/package.json
  suite-native/react-native-graph/package.json
  suite-native/transactions/package.json
  yarn.lock
Labels: mobile-app

#9445 chore(suite-common): device middleware
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  suite-native/device/package.json
  suite-native/device/src/deviceMiddleware.ts
  suite-native/device/src/index.ts
  suite-native/device/tsconfig.json
  suite-native/state/package.json
  suite-native/state/src/store.ts
  suite-native/state/tsconfig.json
  yarn.lock
Labels: mobile-app, monorepo

#9417 feat(coinjoin): implement DelayTransactionSigning
  packages/coinjoin/src/client/round/transactionSigning.ts
  packages/coinjoin/src/constants.ts
  packages/coinjoin/src/types/coordinator.ts
  packages/coinjoin/src/utils/roundUtils.ts
  packages/coinjoin/tests/client/transactionSigning.test.ts
  packages/coinjoin/tests/fixtures/round.fixture.ts
  packages/coinjoin/tests/utils/roundUtils.test.ts
Labels: coinjoin

#9473 refactor(suite-native): rename text align prop
  suite-native/atoms/src/AlertBox.tsx
  suite-native/atoms/src/Button/Button.tsx
  suite-native/atoms/src/Pictogram.tsx
  suite-native/atoms/src/Text.tsx
  suite-native/graph/src/components/GraphError.tsx
  suite-native/module-accounts-import/src/components/XpubHintBottomSheet.tsx
  suite-native/module-onboarding/src/components/OnboardingFooter.tsx
  suite-native/module-onboarding/src/screens/WelcomeScreen.tsx
  suite-native/module-settings/src/components/AboutUsBanners.tsx
  suite-native/navigation/src/components/TabBarItem.tsx
  suite-native/qr-code/src/components/AddressQRCode.tsx
  suite-native/qr-code/src/components/CameraPermissionError.tsx
  suite-native/qr-code/src/components/XpubQRCodeCard.tsx
Labels: mobile-app

#9470 Remove resetting effect from RBF form
  packages/suite/src/hooks/wallet/useRbfForm.ts
Labels: bug

#9450 feat(suite-native): Connect and unlock device
  suite-native/app/package.json
  suite-native/app/src/navigation/RootStackNavigator.tsx
  suite-native/app/tsconfig.json
  suite-native/feature-flags/package.json
  suite-native/feature-flags/src/index.ts
  suite-native/feature-flags/src/useIsUsbDeviceConnectFeatureEnabled.tsx
  suite-native/feature-flags/tsconfig.json
  suite-native/module-connect-device/package.json
  suite-native/module-connect-device/src/assets/bg.png
  suite-native/module-connect-device/src/assets/connectedTrezor.png
  suite-native/module-connect-device/src/index.ts
  suite-native/module-connect-device/src/navigation/ConnectDeviceStackNavigator.tsx
  suite-native/module-connect-device/src/screens/ConnectAndUnlockDeviceScreen.tsx
  suite-native/module-connect-device/src/screens/ConnectDeviceCrossroadsScreen.tsx
  suite-native/module-connect-device/tsconfig.json
  suite-native/module-dev-utils/package.json
  suite-native/module-dev-utils/src/components/FeatureFlags.tsx
  suite-native/module-dev-utils/src/screens/DevUtilsScreen.tsx
  suite-native/module-dev-utils/tsconfig.json
  suite-native/module-onboarding/package.json
  suite-native/module-onboarding/src/screens/GetStartedScreen.tsx
  suite-native/module-onboarding/tsconfig.json
  suite-native/navigation/src/components/Screen.tsx
  suite-native/navigation/src/navigators.ts
  suite-native/navigation/src/routes.ts
  yarn.lock
Labels: mobile-app

#9455 chore(suite-native): bump app version
  suite-native/app/package.json
Labels: mobile-app

#9497 chore(suite-native): button request middleware
  suite-native/device/src/buttonRequestMiddleware.ts
  suite-native/device/src/index.ts
  suite-native/state/src/store.ts
Labels: mobile-app

#9514 fix(coinmarket): Different padding for provider and payment method
  packages/suite/src/views/wallet/coinmarket/common/CoinmarketProviderInfo.tsx
Labels: +Invity

#9547 chore(connect): fix local storage check
  packages/connect-common/src/storage.ts
Labels: connect, mobile-app

#9554 fix(translation): fix device name length error wrong brackets
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/ja.json
  packages/suite-data/files/translations/lol.json
  packages/suite/src/support/messages.ts
Labels: release, low hanging fruit
