Repository trezor/trezor-suite, pull requests merged in 2023-01, with the labels that each got.

#7251 fix(invity): handling of login request from partner in buy/sell
  packages/suite/src/hooks/wallet/useCoinmarketSellOffers.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/offers/Offers/List/Quote/index.tsx
Labels: +Invity

#7266 feat(react-native): Add expo-splash-screen
  suite-native/app/android/app/src/dev/res/mipmap-anydpi-v26/ic_launcher.xml
  suite-native/app/android/app/src/dev/res/mipmap-anydpi-v26/ic_launcher_round.xml
  suite-native/app/android/app/src/firebaseDevelop/res/mipmap-anydpi-v26/ic_launcher.xml
  suite-native/app/android/app/src/firebaseDevelop/res/mipmap-anydpi-v26/ic_launcher_round.xml
  suite-native/app/android/app/src/main/AndroidManifest.xml
  suite-native/app/android/app/src/main/java/io/trezor/suite/MainActivity.java
  suite-native/app/android/app/src/main/java/io/trezor/suite/MainApplication.java
  suite-native/app/android/app/src/main/res/drawable/splashscreen.xml
  suite-native/app/android/app/src/main/res/drawable/splashscreen_image.png
  suite-native/app/android/app/src/main/res/layout/launch_screen.xml
  suite-native/app/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  suite-native/app/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  suite-native/app/android/app/src/main/res/values/colors.xml
  suite-native/app/android/app/src/main/res/values/strings.xml
  suite-native/app/android/app/src/main/res/values/styles.xml
  suite-native/app/android/app/src/stag/res/drawable/ic_launcher_foreground.xml
  suite-native/app/android/app/src/stag/res/mipmap-anydpi-v26/ic_launcher.xml
  suite-native/app/android/app/src/stag/res/mipmap-anydpi-v26/ic_launcher_round.xml
  suite-native/app/android/app/src/stag/res/mipmap-hdpi/ic_launcher.png
  suite-native/app/android/app/src/stag/res/mipmap-hdpi/ic_launcher_round.png
  suite-native/app/android/app/src/stag/res/mipmap-mdpi/ic_launcher.png
  suite-native/app/android/app/src/stag/res/mipmap-mdpi/ic_launcher_round.png
  suite-native/app/android/app/src/stag/res/mipmap-xhdpi/ic_launcher.png
  suite-native/app/android/app/src/stag/res/mipmap-xhdpi/ic_launcher_round.png
  suite-native/app/android/app/src/stag/res/mipmap-xxhdpi/ic_launcher.png
  suite-native/app/android/app/src/stag/res/mipmap-xxhdpi/ic_launcher_round.png
  suite-native/app/android/app/src/stag/res/mipmap-xxxhdpi/ic_launcher.png
  suite-native/app/android/app/src/stag/res/mipmap-xxxhdpi/ic_launcher_round.png
  suite-native/app/android/app/src/stag/res/values/strings.xml
  suite-native/app/ios/Podfile.lock
  suite-native/app/ios/TrezorSuite.xcodeproj/project.pbxproj
  suite-native/app/ios/TrezorSuite/AppDelegate.mm
  suite-native/app/ios/TrezorSuite/Images.xcassets/Splash.imageset/splash_icon.png
  suite-native/app/ios/TrezorSuite/Images.xcassets/Splash.imageset/splash_icon@2x.png
  suite-native/app/ios/TrezorSuite/Images.xcassets/Splash.imageset/splash_icon@3x.png
  suite-native/app/ios/TrezorSuite/Images.xcassets/SplashScreen.imageset/Contents.json
  suite-native/app/ios/TrezorSuite/Images.xcassets/SplashScreen.imageset/splash_icon.svg
  suite-native/app/ios/TrezorSuite/Images.xcassets/SplashScreenBackground.imageset/Contents.json
  suite-native/app/ios/TrezorSuite/Images.xcassets/SplashScreenBackground.imageset/background.png
  suite-native/app/ios/TrezorSuite/Info.plist
  suite-native/app/ios/TrezorSuite/LaunchScreen.storyboard
  suite-native/app/ios/TrezorSuite/SplashScreen.storyboard
  suite-native/app/package.json
  suite-native/app/src/App.tsx
  suite-native/app/src/hooks/useSplashScreen.ts
  yarn.lock
Labels: mobile-app

#7074 test(e2e):accounts-pagination
  packages/suite-web/e2e/support/pageObjects/accountsObject.ts
  packages/suite-web/e2e/tests/wallet/overview-and-transactions.test.ts
  packages/suite/src/components/wallet/Pagination.tsx
Labels: e2e

#7235 fix: correct extra dependencies for mobile app
  packages/suite/src/actions/backup/__tests__/backupActions.test.ts
  packages/utils/src/index.ts
  packages/utils/src/mergeDeepObject.ts
  packages/utils/src/mergeObject.ts
  packages/utils/tests/mergeDeepObject.test.ts
  packages/utils/tests/mergeObject.test.ts
  suite-common/test-utils/src/configureMockStore.ts
  suite-native/app/ios/Podfile.lock
  suite-native/module-accounts-import/src/accountsImportThunks.ts
  suite-native/module-accounts-import/src/components/AccountImportSummaryForm.tsx
  suite-native/module-devices/package.json
  suite-native/module-devices/src/devicesSlice.ts
  suite-native/module-devices/tsconfig.json
  suite-native/module-settings/src/slice.ts
  suite-native/state/src/extraDependencies.ts
  yarn.lock
Labels: mobile-app

#7293 fix(mobile): status bar color by theme
  packages/styles/src/types.ts
  packages/styles/src/useStyles.ts
  packages/styles/src/utils.ts
  suite-native/app/ios/Podfile.lock
  suite-native/navigation/src/components/Screen.tsx
Labels: mobile-app

#7306 chore: deletion of unused Lerna config
  lerna.json
Labels: monorepo

#7272 feat(suite-native): Transaction detail
  packages/icons/assets/icons/arrowUpRight.svg
  packages/icons/assets/icons/clock.svg
  packages/icons/assets/icons/clockClockwise.svg
  packages/icons/assets/icons/confirmation.svg
  packages/icons/assets/icons/copy.svg
  packages/icons/assets/icons/receive.svg
  packages/icons/assets/icons/send.svg
  packages/icons/assets/icons/swap.svg
  packages/icons/src/components/Icon.tsx
  packages/icons/src/icons.ts
  suite-native/app/ios/Podfile.lock
  suite-native/atoms/src/ErrorMessage.tsx
  suite-native/atoms/src/index.ts
  suite-native/transactions/package.json
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailAmount.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailConfirmations.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailData.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailDataRow.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailHeader.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailSheets.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailSummary.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionListItem.tsx
  suite-native/transactions/src/screens/TransactionDetailScreen.tsx
  suite-native/transactions/tsconfig.json
  yarn.lock
Labels: mobile-app

#7340 feat(suite-native): percentual icon
  packages/icons/package.json
  packages/icons/src/components/CryptoIconWithPercentage.tsx
  packages/icons/src/index.ts
  packages/theme/src/coinsColors.ts
  packages/theme/src/prepareTheme.ts
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/assets/package.json
  suite-native/assets/src/assetsSelectors.ts
  suite-native/assets/src/components/AssetItem.tsx
  suite-native/assets/src/components/Assets.tsx
  suite-native/assets/src/fixtures/assets.ts
  suite-native/assets/src/tests/assets.test.ts
  suite-native/assets/src/utils.ts
  suite-native/assets/tsconfig.json
  suite-native/atoms/package.json
  suite-native/graph/package.json
  yarn.lock
Labels: mobile-app

#7356 chore(mobile): debug Box component that will flash with rerender
  suite-native/app/ios/Podfile.lock
  suite-native/atoms/src/Box.tsx
  suite-native/atoms/src/DebugView.tsx
  suite-native/atoms/src/index.ts
  suite-native/module-dev-utils/src/screens/DevUtilsScreen.tsx
Labels: mobile-app

#7281 test(e2e): coins tx history export
  packages/suite-web/e2e/support/pageObjects/accountsObject.ts
  packages/suite-web/e2e/tests/wallet/export-transactions.test.ts
Labels: e2e

#7371 feat(suite-native): chill theme removed
  packages/theme/src/colors.ts
  suite-native/app/src/StylesProvider.tsx
  suite-native/module-settings/src/components/ColorSchemePicker.tsx
  suite-native/module-settings/src/components/ColorSchemePickerItem.tsx
  suite-native/qr-code/src/components/QRCode.tsx
  suite-native/test-utils/src/Provider.tsx
Labels: mobile-app

#7373 chore(ci): put comment with link to run to give some feedback
  .github/workflows/bot-rebase.yml
Labels: low hanging fruit

#7370 Feat/transaction bottom sheets
  packages/icons/assets/icons/circleRight.svg
  packages/icons/assets/icons/receiveAlt.svg
  packages/icons/assets/icons/sendAlt.svg
  packages/icons/src/icons.ts
  suite-native/atoms/src/Select/Select.tsx
  suite-native/atoms/src/Sheet/BottomSheet.tsx
  suite-native/atoms/src/Sheet/BottomSheetHeader.tsx
  suite-native/atoms/src/Sheet/useBottomSheetAnimation.ts
  suite-native/atoms/src/Table.tsx
  suite-native/atoms/src/index.ts
  suite-native/module-accounts/src/screens/AccountDetailSettings.tsx
  suite-native/module-home/src/components/DashboardHeaderDeviceChip.tsx
  suite-native/transactions/package.json
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailData.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailInputsSheet.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailParametersSheet.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailRow.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailSheet.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailSheets.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailValuesSheet.tsx
  suite-native/transactions/src/screens/TransactionDetailScreen.tsx
  suite-native/transactions/tsconfig.json
  yarn.lock
Labels: mobile-app

#7392 feat(suite-native): transaction list redesign
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/DayHeader/index.tsx
  suite-common/wallet-utils/src/__tests__/transactionUtils.test.ts
  suite-common/wallet-utils/src/transactionUtils.ts
  suite-native/module-accounts/src/components/TransactionListHeader.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionList.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionListGroupTitle.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionListItem.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionListItemIcon.tsx
Labels: mobile-app

#7404 feat (suite-native): navigation bottom bar visibility
  suite-native/app/src/navigation/AppTabNavigator.tsx
  suite-native/app/src/navigation/RootStackNavigator.tsx
  suite-native/app/src/navigation/routes.ts
  suite-native/assets/src/components/Assets.tsx
  suite-native/module-accounts/src/components/AccountDetailScreenHeader.tsx
  suite-native/module-accounts/src/index.ts
  suite-native/module-accounts/src/navigation/AccountsStackNavigator.tsx
  suite-native/module-accounts/src/screens/AccountSettingsScreen.tsx
  suite-native/module-send-receive/src/components/AccountSelectionStep.tsx
  suite-native/module-send-receive/src/contentType.ts
  suite-native/module-send-receive/src/index.ts
  suite-native/module-send-receive/src/screens/ReceiveAccountsScreen.tsx
  suite-native/module-send-receive/src/screens/ReceiveModalScreen.tsx
  suite-native/navigation/src/navigators.ts
  suite-native/navigation/src/routes.ts
Labels: mobile-app

#7417 fix(suite-native): Remove blockchain drilling
  suite-common/wallet-core/package.json
  suite-common/wallet-core/src/blockchain/blockchainReducer.ts
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailParametersSheet.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailSheets.tsx
  suite-native/transactions/src/screens/TransactionDetailScreen.tsx
  yarn.lock
Labels: mobile-app

#7450 fix(suite-native): Fix debug view
  suite-native/atoms/src/DebugView.tsx
Labels: mobile-app

#7447 feat(suite-native): persistent storage encryption
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/app/src/App.tsx
  suite-native/module-dev-utils/src/screens/DevUtilsScreen.tsx
  suite-native/state/package.json
  suite-native/state/src/StoreProvider.tsx
  suite-native/state/src/index.ts
  suite-native/state/src/reducers.ts
  suite-native/state/src/store.ts
  suite-native/storage/package.json
  suite-native/storage/src/index.ts
  suite-native/storage/src/storage.ts
  suite-native/storage/src/typedPersistReducer.ts
  yarn.lock
Labels: mobile-app

#7462 feat(suite-native): copy clipboard hook
  suite-native/app/package.json
  suite-native/app/src/App.tsx
  suite-native/helpers/package.json
  suite-native/helpers/src/hooks/useCopyToClipboard.tsx
  suite-native/helpers/src/index.ts
  suite-native/helpers/tsconfig.json
  suite-native/module-accounts/src/screens/AccountSettingsScreen.tsx
  suite-native/module-send-receive/src/components/FreshAddressStep.tsx
  suite-native/qr-code/package.json
  suite-native/qr-code/src/components/QRCode.tsx
  suite-native/qr-code/tsconfig.json
  suite-native/transactions/package.json
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailParametersSheet.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailSummary.tsx
  suite-native/transactions/tsconfig.json
  yarn.lock
Labels: mobile-app

#7476 feat(suite-native): link component
  suite-native/atoms/package.json
  suite-native/atoms/src/Link.tsx
  suite-native/atoms/src/index.ts
  yarn.lock
Labels: mobile-app

#7458 feat(suite-native): Date formatters
  suite-common/formatters/package.json
  suite-common/formatters/src/FormatterProvider.tsx
  suite-common/formatters/src/formatters/prepareDateFormatters.ts
  suite-common/formatters/src/formatters/prepareDateTimeFormatter.ts
  suite-common/formatters/src/formatters/prepareTimeFormatter.ts
  suite-common/wallet-core/src/transactions/transactionsReducer.ts
  suite-native/module-home/src/components/PortfolioGraphHeader.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailData.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionListItem.tsx
  suite-native/transactions/src/screens/TransactionDetailScreen.tsx
  yarn.lock
Labels: mobile-app

#7499 chore(ci): report failure of auto rebase
  .github/workflows/bot-rebase.yml
Labels: low hanging fruit

#7254 Crowdin translations update
  packages/suite-data/files/translations/ar.json
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/da.json
  packages/suite-data/files/translations/de.json
  packages/suite-data/files/translations/el.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/he.json
  packages/suite-data/files/translations/hu.json
  packages/suite-data/files/translations/it.json
  packages/suite-data/files/translations/ja.json
  packages/suite-data/files/translations/ko.json
  packages/suite-data/files/translations/lol.json
  packages/suite-data/files/translations/nl.json
  packages/suite-data/files/translations/pl.json
  packages/suite-data/files/translations/pt.json
  packages/suite-data/files/translations/ro.json
  packages/suite-data/files/translations/ru.json
  packages/suite-data/files/translations/sk.json
  packages/suite-data/files/translations/sv.json
  packages/suite-data/files/translations/tr.json
  packages/suite-data/files/translations/uk.json
  packages/suite-data/files/translations/zh.json
  packages/suite/src/support/messages.ts
Labels: translations
