Repository trezor/trezor-suite, pull requests merged in 2023-06, with the labels that each got.

#8610 fix(suite-native): biometrics
  suite-native/biometrics/package.json
  suite-native/biometrics/src/biometricsAtoms.ts
  suite-native/biometrics/src/components/AuthenticatorProvider.tsx
  suite-native/biometrics/src/index.ts
  suite-native/biometrics/src/useBiometrics.tsx
  suite-native/biometrics/tsconfig.json
  suite-native/module-settings/src/screens/SettingsPrivacyAndSecurity.tsx
  yarn.lock
Labels: mobile-app

#8607 Crowdin translations update
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/de.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/hu.json
  packages/suite-data/files/translations/it.json
  packages/suite-data/files/translations/ja.json
  packages/suite-data/files/translations/lol.json
  packages/suite-data/files/translations/pt.json
  packages/suite-data/files/translations/ru.json
  packages/suite/src/support/messages.ts
Labels: translations

#8620 chore(suite-native): analytics for biometric
  suite-native/analytics/src/constants.ts
  suite-native/analytics/src/events.ts
  suite-native/app/src/hooks/useReportAppInitToAnalytics.ts
  suite-native/biometrics/package.json
  suite-native/biometrics/src/useBiometrics.tsx
  suite-native/biometrics/tsconfig.json
  yarn.lock
Labels: mobile-app

#8625 chore(suite-native): update app version
  suite-native/app/package.json
Labels: mobile-app

#8611 fix(coinjoin): limit available vsize before output decomposition
  packages/coinjoin/src/client/round/outputDecomposition.ts
  packages/coinjoin/src/client/round/outputRegistration.ts
  packages/coinjoin/tests/client/outputDecomposition.test.ts
  packages/coinjoin/tests/client/selectRound.test.ts
  packages/coinjoin/tests/fixtures/outputDecomposition.fixture.ts
Labels: coinjoin

#8622 fix(coinjoin): skip round if selected utxo effective value < allowedOutputAmounts.min
  packages/coinjoin/src/client/round/selectRound.ts
  packages/coinjoin/tests/client/selectRound.test.ts
Labels: coinjoin

#8626 fix(suite): open coinjoin critical phase modal
  packages/suite/src/actions/wallet/coinjoinClientActions.ts
Labels: coinjoin

#8632 fix(suite-native): app state
  suite-native/alerts/src/index.ts
  suite-native/biometrics/src/components/AuthenticatorProvider.tsx
  suite-native/biometrics/src/useBiometrics.tsx
Labels: mobile-app

#8596 fix(suite-native): account import error handling
  suite-native/module-accounts-import/src/components/AccountImportSummaryForm.tsx
  suite-native/module-accounts-import/src/screens/AccountImportLoadingScreen.tsx
  suite-native/module-accounts-import/src/useShowImportError.ts
Labels: bug, mobile-app

#8641 chore(suite-native): biometrics
  suite-native/app/src/hooks/useReportAppInitToAnalytics.ts
  suite-native/biometrics/src/biometricsAtoms.ts
  suite-native/biometrics/src/components/AuthenticatorProvider.tsx
  suite-native/biometrics/src/useBiometrics.tsx
  suite-native/module-settings/src/screens/SettingsPrivacyAndSecurity.tsx
Labels: mobile-app

#8630 Crowdin translations update
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/hu.json
  packages/suite-data/files/translations/it.json
  packages/suite-data/files/translations/ja.json
  packages/suite-data/files/translations/lol.json
  packages/suite-data/files/translations/pt.json
  packages/suite-data/files/translations/ru.json
Labels: release, translations

#8644 fix(suite-native): toggle in settings, provider removed
  suite-native/app/src/App.tsx
  suite-native/biometrics/src/components/AuthenticatorProvider.tsx
  suite-native/biometrics/src/index.ts
  suite-native/biometrics/src/useBiometrics.tsx
  suite-native/module-settings/src/screens/SettingsPrivacyAndSecurity.tsx
Labels: mobile-app

#8648 Bump beta version to 23.7.0
  packages/suite/package.json
Labels: deployment

#8647 chore(suite-native): biometrics overlay
  suite-native/app/src/App.tsx
  suite-native/biometrics/src/biometricsAtoms.ts
  suite-native/biometrics/src/components/AuthenticatorProvider.tsx
  suite-native/biometrics/src/index.ts
Labels: mobile-app

#8653 fix(suite-native): square icons for ios app
  suite-native/app/ios/TrezorSuite/Images.xcassets/AppIcon-Debug.appiconset/1024.png
  suite-native/app/ios/TrezorSuite/Images.xcassets/AppIcon-Develop.appiconset/1024.png
  suite-native/app/ios/TrezorSuite/Images.xcassets/AppIcon-Staging.appiconset/1024.png
  suite-native/app/ios/TrezorSuite/Images.xcassets/AppIcon.appiconset/1024.png
Labels: mobile-app

#8659 Downgrade `proxy-memoize` to 2.0.2
  packages/suite/package.json
  suite-common/toast-notifications/package.json
  suite-common/wallet-core/package.json
  suite-native/assets/package.json
  suite-native/ethereum-tokens/package.json
  suite-native/fiat-rates/package.json
  suite-native/transactions/package.json
  yarn.lock
Labels: dependencies, release

#8662 Crowdin translations update
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/hu.json
  packages/suite-data/files/translations/it.json
  packages/suite-data/files/translations/ja.json
  packages/suite-data/files/translations/lol.json
  packages/suite-data/files/translations/pt.json
  packages/suite-data/files/translations/ru.json
  packages/suite-data/files/translations/sk.json
  packages/suite-data/files/translations/zh.json
  packages/suite/src/support/messages.ts
Labels: translations

#8667 chore(suite-native): authenticate only after 30s
  suite-native/biometrics/src/useBiometrics.tsx
Labels: mobile-app

#8676 chore(ci): update codeql version
  .github/workflows/codeql_analysis.yml
Labels: ci, low hanging fruit

#8681 Revert "chore(suite-native): authenticate only after 30s"
  suite-native/biometrics/src/useBiometrics.tsx
Labels: mobile-app

#8642 Feat/cardano graph
  packages/suite/src/actions/wallet/graphActions.ts
  packages/suite/src/utils/wallet/graphUtils.ts
  suite-common/fiat-services/package.json
  suite-common/fiat-services/src/coingecko.ts
  suite-common/fiat-services/src/index.ts
  suite-common/fiat-services/src/rates.ts
  suite-common/fiat-services/tests/coingecko.test.ts
  suite-common/graph/package.json
  suite-common/graph/src/graphDataFetching.ts
  suite-common/graph/tsconfig.json
  suite-common/wallet-core/src/fiat-rates/fiatRatesMiddleware.ts
  suite-common/wallet-core/src/fiat-rates/fiatRatesThunks.ts
  suite-native/config/src/enabledNetworks.ts
  suite-native/fiat-rates/src/fiatRatesThunks.ts
  suite-native/module-accounts-import/src/components/DevXpub.tsx
  suite-native/module-accounts/src/hooks/useDayCoinPriceChange.ts
  yarn.lock
Labels: cardano, mobile-app

#8682 Feat/cardano graph (#8642)
  packages/suite/src/actions/wallet/graphActions.ts
  packages/suite/src/utils/wallet/graphUtils.ts
  suite-common/fiat-services/package.json
  suite-common/fiat-services/src/coingecko.ts
  suite-common/fiat-services/src/index.ts
  suite-common/fiat-services/src/rates.ts
  suite-common/fiat-services/tests/coingecko.test.ts
  suite-common/graph/package.json
  suite-common/graph/src/graphDataFetching.ts
  suite-common/graph/tsconfig.json
  suite-common/wallet-core/src/fiat-rates/fiatRatesMiddleware.ts
  suite-common/wallet-core/src/fiat-rates/fiatRatesThunks.ts
  suite-native/config/src/enabledNetworks.ts
  suite-native/fiat-rates/src/fiatRatesThunks.ts
  suite-native/module-accounts-import/src/components/DevXpub.tsx
  suite-native/module-accounts/src/hooks/useDayCoinPriceChange.ts
  yarn.lock
Labels: mobile-app, release-native

#8670 Fix/case sensitive token symbol
  nx.json
  suite-common/icons/src/components/CryptoIcon.tsx
  suite-common/icons/src/icons.ts
  suite-common/wallet-core/src/accounts/accountsReducer.ts
  suite-common/wallet-core/src/fiat-rates/fiatRatesMiddleware.ts
  suite-native/accounts/src/components/AccountListItem.tsx
  suite-native/accounts/src/components/TokenList.tsx
  suite-native/accounts/src/components/TokenListItem.tsx
  suite-native/assets/src/assetsSelectors.ts
  suite-native/ethereum-tokens/src/ethereumTokensSelectors.ts
  suite-native/fiat-rates/src/fiatRatesSelectors.ts
  suite-native/fiat-rates/src/fiatRatesThunks.ts
  suite-native/fiat-rates/src/types.ts
  suite-native/fiat-rates/src/utils.ts
  suite-native/formatters/src/components/CryptoToFiatAmountFormatter.tsx
  suite-native/formatters/src/components/EthereumTokenAmountFormatter.tsx
  suite-native/formatters/src/components/EthereumTokenSymbolFormatter.tsx
  suite-native/formatters/src/components/EthereumTokenToFiatAmountFormatter.tsx
  suite-native/module-accounts-import/src/components/EthereumTokenInfo.tsx
  suite-native/module-accounts-import/src/screens/AccountImportLoadingScreen.tsx
  suite-native/module-accounts/src/components/AccountDetailScreenHeader.tsx
  suite-native/module-accounts/src/components/AccountDetailTokenHeader.tsx
  suite-native/module-accounts/src/components/AccountRenameForm.tsx
  suite-native/module-accounts/src/screens/AccountDetailScreen.tsx
  suite-native/module-dev-utils/src/screens/DemoScreen.tsx
  suite-native/receive/src/components/ReceiveAccount.tsx
  suite-native/receive/src/components/TokenReceiveCard.tsx
  suite-native/transactions/src/components/TransactionDetail/TokenTransactionDetailSummary.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailAddressesSection.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailHeader.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailListItem.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailValuesSheet.tsx
  suite-native/transactions/src/components/TransactionsList/TokenTransferListItem.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionIcon.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionList.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionListItemContainer.tsx
Labels: ERC20, mobile-app

#8685 fix(suite-native): polished discreet mode
  suite-native/atoms/src/DiscreetText.tsx
  suite-native/module-accounts/src/components/CoinPriceCard.tsx
  suite-native/module-settings/src/screens/SettingsPrivacyAndSecurity.tsx
Labels: mobile-app

#8696 fix(suite-native): fix graph loading issues
  suite-native/app/src/App.tsx
Labels: mobile-app

#8705 chore(suite-native): new copy
  suite-native/module-accounts/src/components/AccountSettingsRemoveCoin.tsx
  suite-native/module-settings/src/screens/SettingsPrivacyAndSecurity.tsx
Labels: mobile-app

#8707 chore(suite-native): new copy (#8705)
  suite-native/module-accounts/src/components/AccountSettingsRemoveCoin.tsx
  suite-native/module-settings/src/screens/SettingsPrivacyAndSecurity.tsx
Labels: mobile-app, release-native

#8709 fix(suite-native): fix graph loading issues (#8696)
  suite-native/app/src/App.tsx
Labels: mobile-app, release-native

#8687 Chore/perf improvements vol.1
  suite-common/formatters/src/formatters/prepareDateFormatter.ts
  suite-common/formatters/src/formatters/prepareDateTimeFormatter.ts
  suite-common/formatters/src/formatters/prepareTimeFormatter.ts
  suite-common/wallet-core/src/accounts/accountsReducer.ts
  suite-common/wallet-core/src/transactions/transactionsReducer.ts
  suite-native/assets/src/assetsSelectors.ts
  suite-native/assets/src/components/AssetItem.tsx
  suite-native/assets/src/components/Assets.tsx
  suite-native/module-accounts/src/components/AccountDetailCryptoValue.tsx
  suite-native/module-accounts/src/screens/AccountDetailScreen.tsx
  suite-native/transactions/src/components/TransactionsList/TransactionListItem.tsx
Labels: mobile-app

#8715 feat(suite-native): accessibility font enlarging support
  suite-native/assets/src/components/AssetItem.tsx
  suite-native/atoms/src/Button/Button.tsx
  suite-native/atoms/src/CheckBox.tsx
  suite-native/atoms/src/Input/Input.tsx
  suite-native/atoms/src/Radio.tsx
  suite-native/atoms/src/Select/SelectTrigger.tsx
  suite-native/atoms/src/Switch.tsx
  suite-native/atoms/src/Text.tsx
  suite-native/atoms/src/Toggle.tsx
  suite-native/module-accounts-import/src/components/AccountImportOverview.tsx
  suite-native/module-dev-utils/src/screens/DemoScreen.tsx
  suite-native/module-home/src/components/PortfolioGraphHeader.tsx
  suite-native/module-onboarding/src/components/OnboardingFooter.tsx
  suite-native/module-onboarding/src/components/OnboardingScreen.tsx
  suite-native/module-onboarding/src/components/OnboardingScreenHeader.tsx
  suite-native/module-onboarding/src/screens/WelcomeScreen.tsx
  suite-native/module-settings/src/components/ColorSchemePicker.tsx
  suite-native/module-settings/src/components/ColorSchemePickerItem.tsx
  suite-native/module-settings/src/components/TouchableSwitchRow.tsx
  suite-native/navigation/src/components/TabBarItem.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailStatusSection.tsx
Labels: mobile-app, accessibility

#8725 fix(mobile): fix Android native files
  suite-native/app/android/app/src/main/java/io/trezor/suite/MainActivity.java
Labels: mobile-app

#8729 chore(nx): define extra outputs of build:lib
  suite-common/message-system/package.json
Labels: code

#8745 Change Note text element type to allow nesting divs
  packages/components/src/components/Note/Note.tsx
Labels: code

#8703 feat(coinjoin): log affiliate server offline in critical phase
  packages/coinjoin/src/client/CoinjoinRound.ts
Labels: low hanging fruit, coinjoin

#8749 fix(suite-native): biometrics shown only if app is in background
  suite-native/biometrics/src/biometricsAtoms.ts
  suite-native/biometrics/src/isBiometricsFeatureAvailable.ts
  suite-native/biometrics/src/useBiometrics.tsx
  suite-native/module-settings/src/screens/SettingsPrivacyAndSecurity.tsx
Labels: mobile-app

#8755 chore(mobile): update skia to latest version
  suite-common/icons/package.json
  suite-native/app/ios/Podfile.lock
  suite-native/app/package.json
  suite-native/atoms/package.json
  suite-native/graph/package.json
  suite-native/module-accounts-import/package.json
  suite-native/react-native-graph/package.json
  suite-native/transactions/package.json
  yarn.lock
Labels: mobile-app

#8757 fix(suite-native): biometrics overlay on first launch
  suite-native/biometrics/src/biometricsAtoms.ts
Labels: mobile-app

#8776 feat(suite): add the getMetadataFilesList method to metadata providers
  packages/suite-desktop-api/src/api.ts
  packages/suite-desktop-api/src/factory.ts
  packages/suite-desktop/src/libs/user-data.ts
  packages/suite-desktop/src/modules/metadata.ts
  packages/suite/src/services/suite/metadata/DropboxProvider.ts
  packages/suite/src/services/suite/metadata/FileSystemProvider.ts
  packages/suite/src/services/suite/metadata/GoogleProvider.ts
  suite-common/metadata-types/src/metadataTypes.ts
Labels: labelling

#8753 fix(coinmarket): fix valid state of input divider in exchange
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
Labels: +Invity

#8834 fix(coinjoin): ignore WitnessAlreadyProvided error when sending tx signature
  packages/coinjoin/src/client/round/transactionSigning.ts
  packages/coinjoin/src/constants.ts
  packages/coinjoin/tests/client/transactionSigning.test.ts
Labels: coinjoin
