Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Use production invity API server in non development environment
  packages/suite/src/services/suite/invityAPI.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Add translations, fix lint
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/confirm/CoinmarketTerms/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/components/wallet/CoinmarketBuyProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketExchangeProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketPaymentType/index.tsx
  packages/suite/src/components/wallet/CoinmarketProvidedByInvity/index.tsx
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: "setMax" mad clicking, each compose request got own unique ID
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Remove window from api
  packages/suite/src/services/suite/invityAPI.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Fix new modla
  packages/suite/src/components/suite/modals/confirm/CoinmarketTerms/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Add wrappers - fix new layout
  packages/suite/src/views/wallet/coinmarket/buy/detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

refactor: composeRequest - add outputs[0].amount as default field, remove unused fieldHasError
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/views/wallet/send/components/Fees/components/CustomFee/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/components/Data/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/components/DestinationTag/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Address/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/OpReturn/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

test: implement actionSequence util in composeDebouncedTransaction tests
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/SendIndex.tsx
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): re-enable Google as metadata provider
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Implement buy again and view detail from previous transaction
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: DOGE fallback custom fee calculation
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

refactor: QuestionTooltip component
  packages/suite/src/components/suite/QuestionTooltip/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/components/Data/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/components/DestinationTag/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

test(metadata): re-enable e2e tests
  packages/integration-tests/projects/suite-web/run_tests.js
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
Owners: @mroz22

feat: create ReadMoreLink component
  packages/suite/src/components/suite/ReadMoreLink/index.tsx
  packages/suite/src/components/suite/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: handle deprecated address formats (LTC + BCH) in sendform
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/validation.ts
  packages/suite/src/views/wallet/send/components/Outputs/components/Address/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: display tooltip in Receive tab with deprecated address formates (LTC + BCH)
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: remove global account announcement for LTC and BCH
  packages/suite/src/components/wallet/AccountAnnouncement/BCHAddresses.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/LTCAddresses.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

test(metadata): re-enable e2e tests
  packages/integration-tests/projects/suite-web/run_tests.js
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
Owners: @mroz22

feat(metadata): re-enable Google as metadata provider
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: isBitcoin props in InputLabel
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add zindex to dayheading
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/DayHeader/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: create ReadMoreLink component
  packages/suite/src/components/suite/ReadMoreLink/index.tsx
  packages/suite/src/components/suite/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

refactor: QuestionTooltip component
  packages/suite/src/components/suite/QuestionTooltip/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/components/Data/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/components/DestinationTag/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: handle deprecated address formats (LTC + BCH) in sendform
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/validation.ts
  packages/suite/src/views/wallet/send/components/Outputs/components/Address/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: remove global account announcement for LTC and BCH
  packages/suite/src/components/wallet/AccountAnnouncement/BCHAddresses.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/LTCAddresses.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: isBitcoin props in InputLabel
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: display tooltip in Receive tab with deprecated address formates (LTC + BCH)
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: compose draft without Address and setMax crashing
  packages/suite/src/hooks/wallet/useSendFormFields.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

docs: Update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix: always switch to nearest FeeLevel if "setMax" is used
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

test: implement actionSequence util in composeDebouncedTransaction tests
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/SendIndex.tsx
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

refactor: composeRequest - add outputs[0].amount as default field, remove unused fieldHasError
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/views/wallet/send/components/Fees/components/CustomFee/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/components/Data/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/components/DestinationTag/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Address/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/OpReturn/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: DOGE fallback custom fee calculation
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

test: lint fixes in fixtures
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/SendIndex.tsx
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.ts
  packages/suite/src/utils/wallet/__tests__/sendFormUtils.test.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

test: add user-action sequence helper to useSendForm tests
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/SendIndex.tsx
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.ts
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: interrupt previous compose process if field has error
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: "setMax" mad clicking, each compose request got own unique ID
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: getBitcoinComposeOutputs util
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
  packages/suite/src/utils/wallet/__tests__/sendFormUtils.test.ts
  packages/suite/src/utils/wallet/sendFormUtils.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat(send): add "isInteger" validation
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/__tests__/validation.test.ts
  packages/suite/src/utils/wallet/validation.ts
  packages/suite/src/views/wallet/send/components/Fees/components/CustomFee/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/components/DestinationTag/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

docs(send): update errors description
  packages/suite/docs/SEND.md
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf

/packages/suite-native @slowbackspace @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
