Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore: remove unused intl
  packages/suite/src/support/messages.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add url to trezor.io/coins
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: remove external networks
  packages/suite/src/actions/settings/constants/walletSettings.ts
  packages/suite/src/actions/settings/walletSettingsActions.ts
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkExternal.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkUnavailable.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
  packages/suite/src/components/suite/modals/AddAccount/index.tsx
  packages/suite/src/config/wallet/externalNetworks.ts
  packages/suite/src/config/wallet/index.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/wallet/__tests__/settingsReducer.test.ts
  packages/suite/src/reducers/wallet/settingsReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/views/settings/wallet/components/Coin/index.tsx
  packages/suite/src/views/settings/wallet/index.tsx
  packages/suite/test/health/urls.test.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): Fiat input call composeTransaction regardless of the input errors
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(send): unify eth and xrp "composeTransaction", fix "totalSpent" in ERC20 transfer
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
  packages/suite/src/actions/wallet/send/sendFormRippleActions.ts
  packages/suite/src/actions/wallet/sendFormActions.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): nitpick in TotalSent component
  packages/suite/src/views/wallet/send/components/TotalSent/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): TotalSent component with ERC20 values
  packages/suite/src/views/wallet/send/components/TotalSent/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): set "isDirty" in "composeDraft"
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore(version): drop "-beta" from version string
  CHANGELOG.md
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @slowbackspace, @mroz22

fix: switch to next-offline
  packages/suite-web/next-env.d.ts
  packages/suite-web/next.config.js
  packages/suite-web/package.json
  packages/suite-web/pages/_app.tsx
  yarn.lock
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada

feat(pwa): add generation of SW and manifest to build step
  packages/suite-web/.gitignore
  packages/suite-web/next.config.js
  packages/suite-web/package.json
  packages/suite-web/pages/_app.tsx
  packages/suite-web/pages/_document.tsx
  yarn.lock
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada

fix: asset prefix for service worker
  packages/suite-web/next.config.js
  packages/suite-web/pages/_app.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada

fix(metadata): use svg instead of png for dropbox and google drive icons. adjust modal more to design
  packages/components/src/components/Icon/icons.ts
  packages/components/src/images/icons/dropbox.svg
  packages/components/src/images/icons/google-drive.svg
  packages/suite-data/files/images/png/dropbox.png
  packages/suite-data/files/images/png/google-drive.png
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

Fix ts and storage
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Refactor CoinmarketBuyTerms modal
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/coinmarketBuyActions.ts
  packages/suite/src/components/suite/modals/confirm/CoinmarketBuyTerms/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Report doBuyTrade API failures to user
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Fix ts error
  packages/suite/src/views/wallet/coinmarket/exchange/offers/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): css fixes, overflows of long labels
  packages/suite/src/components/suite/Labeling/components/Account/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/Edit.tsx
  packages/suite/src/components/suite/Labeling/components/Wallet/index.tsx
  packages/suite/src/components/suite/Labeling/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf

/packages/suite-native @slowbackspace @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
