Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

chore(suite-native): adjust imports, get rid of circular imports in hooks
  packages/suite-native/src/support/suite/router.config.ts
  packages/suite/src/hooks/suite/useAccountSearch.ts
  packages/suite/src/hooks/suite/useAnalytics.ts
  packages/suite/src/hooks/suite/useFirmware.ts
  packages/suite/src/hooks/suite/useGraph.ts
  packages/suite/src/hooks/suite/useLayoutSize.ts
  packages/suite/src/hooks/suite/useLoadingSkeleton.ts
  packages/suite/src/hooks/suite/useTheme.ts
Owners: @slowbackspace, @szymonlesisz, @keraf, @mroz22, @robertbrada

fix(suite-native): add missing pollyfills for Intl
  packages/suite-native/package.json
  packages/suite-native/src/App.tsx
  yarn.lock
Owners: @slowbackspace, @szymonlesisz, @keraf

fixup! chore:(suite-native): dummy file export in RN, fix `@suite-support` resolver path
  packages/suite-native/tsconfig.json
Owners: @slowbackspace, @szymonlesisz, @keraf

Revert "fixup! chore:(suite-native): dummy file export in RN, fix `@suite-support` resolver path"
  packages/suite-native/tsconfig.json
Owners: @slowbackspace, @szymonlesisz, @keraf

Feat/new notification panel (#3269)
  packages/components/src/components/Dropdown/index.tsx
  packages/components/src/config/colors.ts
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/ActionItem/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NotificationsDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/components/suite/Notifications/components/NotificationGroup/index.tsx
  packages/suite/src/components/suite/Notifications/components/NotificationList/index.tsx
  packages/suite/src/components/suite/Notifications/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/config/suite/settings.ts
  packages/suite/src/constants/suite/menu.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/notification.ts
  packages/suite/src/views/suite/notifications/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: refractor and usage of logger
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/modules/analytics.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: os version analytics (#3253)
  docs/misc/analytics.md
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/libs/user-data.ts
  packages/suite-desktop/src-electron/modules/analytics.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/utils/suite/env.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

feat: empty account buy analytics
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/views/wallet/transactions/components/AccountEmpty/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: send-form analytics
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/components/suite/modals/ReviewTransaction/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: tokens analytics
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/components/suite/modals/AddToken/index.tsx
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: naming improved
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/views/wallet/transactions/components/AccountEmpty/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: updated analytics version tests
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: sync intl
  packages/suite-data/files/translations/en.json
Owners: @keraf

chore: update react-intl, extract plugin, adjust extract process
  packages/suite-web-landing/package.json
  packages/suite/babel.config.js
  packages/suite/l10n.config.json
  packages/suite/package.json
  packages/translations-manager/src/index.ts
  packages/translations-manager/src/utils/create-row-array.ts
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update react-intl, extract plugin, adjust extract process
  packages/suite-web-landing/package.json
  packages/suite/babel.config.js
  packages/suite/l10n.config.json
  packages/suite/package.json
  packages/translations-manager/src/index.ts
  packages/translations-manager/src/utils/create-row-array.ts
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: sync intl
  packages/suite-data/files/translations/en.json
Owners: @keraf

Update README.md
  README.md
Owners: none

fix(suite): reset coin filter when clicking on "Accounts"
  packages/suite/src/components/suite/NavigationBar/components/MainNavigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(auto-updater): skip update flow
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): Window not closing on Mac when starting update
  packages/suite-desktop/src-electron/app.ts
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src-electron/modules/window-controls.ts
Owners: @keraf, @szymonlesisz

chore(desktop): reorganize npm script commands
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix(suite): reset coin filter when clicking on "Accounts"
  packages/suite/src/components/suite/NavigationBar/components/MainNavigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: carlos easter egg
  packages/suite-data/config.ts
  packages/suite-data/files/images/png/homescreens/t1/carlos.png
  packages/suite-data/files/images/png/homescreens/t2/carlos.png
  packages/suite-data/files/media/carlos.wav
  packages/suite-web/pages/_app.tsx
  packages/suite/src/actions/suite/constants/suiteConstants.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/suite/hocNotification/components/withAction.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/components/suite/modals/BackgroundGallery/index.tsx
  packages/suite/src/constants/suite/homescreens.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/notificationReducer.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/support/suite/Egg.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada, @szymonlesisz

fix(suite-desktop): disable silent install for auto-updater
  packages/suite-desktop/src-electron/modules/auto-updater.ts
Owners: @keraf, @szymonlesisz

chore(suite-desktop): remove directory select for nsis installer
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

chore(send): unify fee component usage (send/rbf/invity)
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionEthereumActions.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionRippleActions.ts
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
  packages/suite/src/actions/wallet/send/sendFormRippleActions.ts
  packages/suite/src/hooks/wallet/form/useCompose.ts
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
  packages/suite/src/hooks/wallet/useSendFormFields.ts
  packages/suite/src/types/wallet/coinmarketExchangeForm.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/utils/wallet/sendFormUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(send): new fee component (send/rbf/invity)
  packages/components/src/components/form/Input/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/Fees/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/wallet/Fees/components/CustomFee/index.tsx
  packages/suite/src/components/wallet/Fees/components/EstimatedMiningTime.tsx
  packages/suite/src/components/wallet/Fees/components/FeeCustom.tsx
  packages/suite/src/components/wallet/Fees/components/FeeDetails.tsx
  packages/suite/src/components/wallet/Fees/index.tsx
  packages/suite/src/components/wallet/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/components/CustomFee/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/index.tsx
  packages/suite/src/views/wallet/send/components/Fees/components/CustomFee/index.tsx
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: invity exchange pick partial amount makes double compose
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(components): SelectBar with generic options
  packages/components/src/components/form/SelectBar/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/GraphScaleDropdownItem/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

test(send): fee levels tests
  packages/suite/jest.config.js
  packages/suite/src/actions/wallet/coinmarket/__fixtures__/coinmarketCommonActions/compose.ts
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.tsx
  packages/suite/src/support/tests/hooksHelper.tsx
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/utils/wallet/__tests__/sendFormUtils.test.ts
  packages/suite/src/views/wallet/send/components/Header/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/components/Data/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: exchange select crypto searchable
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: exchange select crypto searchable
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(send): fee levels tests
  packages/suite/jest.config.js
  packages/suite/src/actions/wallet/coinmarket/__fixtures__/coinmarketCommonActions/compose.ts
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.tsx
  packages/suite/src/support/tests/hooksHelper.tsx
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/utils/wallet/__tests__/sendFormUtils.test.ts
  packages/suite/src/views/wallet/send/components/Header/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/components/Data/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(send): new fee component (send/rbf/invity)
  packages/components/src/components/form/Input/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/Fees/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/wallet/Fees/components/CustomFee/index.tsx
  packages/suite/src/components/wallet/Fees/components/EstimatedMiningTime.tsx
  packages/suite/src/components/wallet/Fees/components/FeeCustom.tsx
  packages/suite/src/components/wallet/Fees/components/FeeDetails.tsx
  packages/suite/src/components/wallet/Fees/index.tsx
  packages/suite/src/components/wallet/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/components/CustomFee/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/index.tsx
  packages/suite/src/views/wallet/send/components/Fees/components/CustomFee/index.tsx
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore(send): unify fee component usage (send/rbf/invity)
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionEthereumActions.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionRippleActions.ts
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
  packages/suite/src/actions/wallet/send/sendFormRippleActions.ts
  packages/suite/src/hooks/wallet/form/useCompose.ts
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
  packages/suite/src/hooks/wallet/useSendFormFields.ts
  packages/suite/src/types/wallet/coinmarketExchangeForm.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/utils/wallet/sendFormUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(components): SelectBar with generic options
  packages/components/src/components/form/SelectBar/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/GraphScaleDropdownItem/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: invity exchange pick partial amount makes double compose
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(desktop): update electron to 11.2.1
  packages/suite-desktop/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz

fix(suite-desktop): Window not closing on Mac when starting update
  packages/suite-desktop/src-electron/app.ts
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src-electron/modules/window-controls.ts
Owners: @keraf, @szymonlesisz

chore(suite-desktop): remove directory select for nsis installer
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
