Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

chore: update eslint related dependencies
  .travis.yml
  flowtype/chrome.js
  flowtype/webusb.js
  package.json
  yarn.lock
Owners: none

chore: update eslint related dependencies
  trezor-link/.travis.yml
  trezor-link/flowtype/chrome.js
  trezor-link/flowtype/webusb.js
  trezor-link/package.json
  trezor-link/yarn.lock
Owners: none

chore: update eslint related dependencies
  packages/transport/trezor-link/trezor-link/.travis.yml
  packages/transport/trezor-link/trezor-link/flowtype/chrome.js
  packages/transport/trezor-link/trezor-link/flowtype/webusb.js
  packages/transport/trezor-link/trezor-link/package.json
  packages/transport/trezor-link/trezor-link/yarn.lock
Owners: none

chore: update eslint related dependencies
  packages/transport/.travis.yml
  packages/transport/flowtype/chrome.js
  packages/transport/flowtype/webusb.js
  packages/transport/package.json
  packages/transport/yarn.lock
Owners: none

chore: update eslint related dependencies
  packages/transport/packages/transport/trezor-link/trezor-link/.travis.yml
  packages/transport/packages/transport/trezor-link/trezor-link/flowtype/chrome.js
  packages/transport/packages/transport/trezor-link/trezor-link/flowtype/webusb.js
  packages/transport/packages/transport/trezor-link/trezor-link/package.json
  packages/transport/packages/transport/trezor-link/trezor-link/yarn.lock
Owners: none

fix(components): add missing background on Select, CleanSelect
  packages/components/src/components/form/CleanSelect/index.tsx
  packages/components/src/components/form/Select/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix: various small UI fixes and improvements
  packages/components/src/config/colors.ts
  packages/suite/src/components/firmware/Error.tsx
  packages/suite/src/components/onboarding/Option/index.tsx
  packages/suite/src/components/suite/DeviceInvalidModeLayout/index.tsx
  packages/suite/src/components/suite/modals/PinMismatch/index.tsx
  packages/suite/src/components/suite/modals/QrScanner/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fixup! feature: add svg flags
  packages/components/src/components/form/SelectBar/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(components): add missing background on Select, CleanSelect
  packages/components/src/components/form/CleanSelect/index.tsx
  packages/components/src/components/form/Select/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix: various small UI fixes and improvements
  packages/components/src/config/colors.ts
  packages/suite/src/components/firmware/Error.tsx
  packages/suite/src/components/onboarding/Option/index.tsx
  packages/suite/src/components/suite/DeviceInvalidModeLayout/index.tsx
  packages/suite/src/components/suite/modals/PinMismatch/index.tsx
  packages/suite/src/components/suite/modals/QrScanner/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite): fixes after stylelint update
  packages/suite/.stylelintrc
  packages/suite/src/actions/wallet/coinmarket/__fixtures__/coinmarketCommonActions/compose.ts
  packages/suite/src/actions/wallet/coinmarket/__fixtures__/coinmarketCommonActions/signTransaction.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketCommonActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionBitcoinActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionEthereumActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionRippleActions.test.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/MenuSecondary/index.tsx
  packages/suite/src/components/suite/QrCode/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/suite/ToastContainer/index.tsx
  packages/suite/src/components/suite/ToastNotification/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/support/suite/styles/global.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update jest related dependencies
  package.json
  packages/integration-tests/package.json
  packages/suite/package.json
  yarn.lock
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

chore: update eslint related dependencies
  package.json
  packages/blockchain-link/package.json
  packages/components/package.json
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @slowbackspace, @robertbrada, @mroz22

chore: update babel related dependencies
  package.json
  packages/blockchain-link/package.json
  packages/components/package.json
  packages/landing-page/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @slowbackspace, @robertbrada, @mroz22

fix(suite): add stylelintignore file
  packages/suite/.stylelintignore
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): Exchange Receiving address ExtraField requires interaction
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): ethereum fee limit (#3028)
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionEthereumActions.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/types/wallet/coinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/components/CustomFee/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): prevent jumping of controls next to editable field
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): placeholder default value
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): make check icon in success button green
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): get rid of react warning in console (isdisabled vs isDisabled)
  packages/suite/src/components/suite/Labeling/components/Metadata/withDropdown.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): add 1px placeholder for cursor to avoid visual jumping
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update babel related dependencies
  package.json
  packages/blockchain-link/package.json
  packages/components/package.json
  packages/landing-page/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @slowbackspace, @robertbrada, @mroz22

fix(suite): fixes after stylelint update
  packages/suite/.stylelintrc
  packages/suite/src/actions/wallet/coinmarket/__fixtures__/coinmarketCommonActions/compose.ts
  packages/suite/src/actions/wallet/coinmarket/__fixtures__/coinmarketCommonActions/signTransaction.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketCommonActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionBitcoinActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionEthereumActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionRippleActions.test.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/MenuSecondary/index.tsx
  packages/suite/src/components/suite/QrCode/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/suite/ToastContainer/index.tsx
  packages/suite/src/components/suite/ToastNotification/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/support/suite/styles/global.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update jest related dependencies
  package.json
  packages/integration-tests/package.json
  packages/suite/package.json
  yarn.lock
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(suite): add stylelintignore file
  packages/suite/.stylelintignore
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update eslint related dependencies
  package.json
  packages/blockchain-link/package.json
  packages/components/package.json
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @slowbackspace, @robertbrada, @mroz22

feat(suite-desktop): bundler for electron source
  packages/suite-desktop/.eslintignore
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/build.js
  packages/suite-desktop/scripts/dev.js
  packages/suite-desktop/src-electron/config.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/tsconfig.json
  packages/suite-desktop/webpack.config.js
  packages/suite/src/constants/suite/urls.ts
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat(suite-desktop): bundler for electron source
  packages/suite-desktop/.eslintignore
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/build.js
  packages/suite-desktop/scripts/dev.js
  packages/suite-desktop/src-electron/config.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/tsconfig.json
  packages/suite-desktop/webpack.config.js
  packages/suite/src/constants/suite/urls.ts
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(suite-desktop): remove webpack config (unused)
  packages/suite-desktop/webpack.config.js
Owners: @keraf, @szymonlesisz

chore(metadata): use styled-component instead of plain html element
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): force app to close on Mac on update install
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

feat: transaction export
  packages/components/src/components/Dropdown/index.tsx
  packages/suite/package.json
  packages/suite/src/config/suite/features.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/array.ts
  packages/suite/src/utils/suite/export.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
  packages/suite/src/workers/export.worker.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite-desktop): ignore error display while auto-updater is checking
  packages/suite/src/actions/suite/desktopUpdateActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): get rid of react warning in console (isdisabled vs isDisabled)
  packages/suite/src/components/suite/Labeling/components/Metadata/withDropdown.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): add 1px placeholder for cursor to avoid visual jumping
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): make check icon in success button green
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): placeholder default value
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): prevent jumping of controls next to editable field
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(metadata): use styled-component instead of plain html element
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
