Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(suite-desktop): fix download cancellation (renew cancellation token)
  packages/suite-desktop/src-electron/modules/auto-updater.ts
Owners: @keraf, @szymonlesisz

fix(suite-desktop): display update modal on setting page when updte is available
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): add 'no update available' if no new version is available after manually checking
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/reducers/suite/notificationReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/suite/desktop.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(changelog): add missing items to 20.12.1
  CHANGELOG.md
Owners: none

fix: update intl mesages
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix: update intl mesages
  packages/suite-data/files/translations/en.json
Owners: @keraf

style: txs search box design
  packages/components/src/components/form/Input/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite-desktop): display update modal on setting page when updte is available
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): add 'no update available' if no new version is available after manually checking
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/reducers/suite/notificationReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/suite/desktop.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): fix download cancellation (renew cancellation token)
  packages/suite-desktop/src-electron/modules/auto-updater.ts
Owners: @keraf, @szymonlesisz

fix: backup warning
  packages/suite/src/middlewares/wallet/discoveryMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

wip: experimenting with git-lfs
  .gitattributes
  .gitlab-ci.yml
  ci/packages/suite-web.yml
  docker/docker-compose.suite-ci.yml
  docker/docker-suite-snapshots.sh
  packages/integration-tests/projects/suite-web/run_tests.js
  packages/integration-tests/projects/suite-web/snapshots/All Specs/backup.snap.png
  packages/integration-tests/projects/suite-web/snapshots/All Specs/seedless.snap.png
  packages/integration-tests/projects/suite-web/snapshots/backup/t2-success.test.ts/backup.snap.png
  packages/integration-tests/projects/suite-web/snapshots/backup/t2-success.test.ts/backup/confirm-security.snap.png
  packages/integration-tests/projects/suite-web/snapshots/onboarding/firmware-update.test.ts/Onboarding - firmware update -- firmware update error.snap.png
  packages/integration-tests/projects/suite-web/snapshots/onboarding/firmware-update.test.ts/fingerprint.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/connecting-devices.test.ts/seedless.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/connecting-devices.test.ts/unreadable.snap.png
  packages/integration-tests/projects/suite-web/tests/backup/t2-success.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/edge.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/iphone-chrome.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/outdated-chrome.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/outdated-firefox.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/firmware-update.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/connecting-devices.test.ts
  packages/suite/src/components/suite/DeviceInvalidModeLayout/index.tsx
  packages/suite/src/views/backup/index.tsx
Owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix(suite): hide empty account group in accounts menu
  packages/suite/src/components/wallet/AccountsMenu/components/AccountGroup/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-data): update tor binaries to 0.4.4.6
  packages/suite-data/files/bin/tor/linux-x64/tor
  packages/suite-data/files/bin/tor/mac-x64/libevent-2.1.7.dylib
  packages/suite-data/files/bin/tor/mac-x64/tor
  packages/suite-data/files/bin/tor/win-x64/tor.exe
Owners: @keraf

chore(ci): remove image
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

fix(suite): hide empty account group in accounts menu (#3176)
  packages/suite/src/components/wallet/AccountsMenu/components/AccountGroup/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): make scrollbar visible on every page
  packages/suite/src/components/suite/SuiteLayout/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): icon background
  packages/components/src/config/colors.ts
Owners: @keraf, @slowbackspace, @robertbrada

fix(invity): icon background
  packages/components/src/config/colors.ts
Owners: @keraf, @slowbackspace, @robertbrada

fix(suite): timerange interval boundaries improved
  packages/components/src/components/Timerange/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(suite): graph range interval boundaries improved
  packages/suite/src/components/suite/TransactionsGraph/components/RangeSelector/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): always fetch all graph data
  packages/suite/src/actions/wallet/graphActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add button loading in exchanges
  packages/suite/src/hooks/wallet/useCoinmarketExchangeOffers.ts
  packages/suite/src/types/wallet/coinmarketExchangeOffers.ts
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/SendTransaction/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add button loading in buy
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeOffers.ts
  packages/suite/src/types/wallet/coinmarketBuyOffers.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: make loading button also disabled
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: whole tile is clickable
  packages/suite/src/views/dashboard/components/NewsFeed/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): graph range interval boundaries improved
  packages/suite/src/components/suite/TransactionsGraph/components/RangeSelector/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): timerange interval boundaries improved
  packages/components/src/components/Timerange/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(suite): always fetch all graph data
  packages/suite/src/actions/wallet/graphActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): make scrollbar visible on every page
  packages/suite/src/components/suite/SuiteLayout/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: basic android build working
  packages/components/package.json
  packages/suite-native/babel.config.js
  packages/suite-native/metro.config.js
  packages/suite-native/package.json
  packages/suite-native/src/components/suite/Preloader/index.tsx
  packages/suite-native/src/support/suite/router.config.ts
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/package.json
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/reducers/suite/resizeReducer.ts
  packages/suite/src/support/suite/Tor.tsx
  packages/suite/src/utils/suite/env.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

ci: build android version of suite-native
  .gitlab-ci.yml
  ci/packages/suite-native.yml
Owners: @keraf, @mroz22

fix: disabled button when backup failed
  packages/suite/src/views/dashboard/components/SecurityFeatures/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update dependencies
  packages/transport/trezor-link/trezor-link/package.json
  packages/transport/trezor-link/trezor-link/yarn.lock
Owners: none

chore: update dependencies
  packages/transport/packages/transport/trezor-link/trezor-link/package.json
  packages/transport/packages/transport/trezor-link/trezor-link/yarn.lock
Owners: none

chore: update dependencies
  package.json
  yarn.lock
Owners: none

chore: update dependencies
  packages/transport/package.json
  packages/transport/yarn.lock
Owners: none

chore: update dependencies
  trezor-link/package.json
  trezor-link/yarn.lock
Owners: none

fix: protobuf "wire_type" option support
  src/lowlevel/send.js
Owners: none

fix: protobuf "wire_type" option support
  packages/transport/src/lowlevel/send.js
Owners: none
