Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

feat(onboarding): base UI components
  packages/components/src/components/DeviceImage/index.tsx
  packages/components/src/components/form/Input/index.tsx
  packages/components/src/components/typography/Link/index.tsx
  packages/components/src/images/icons/arrow_right_long.svg
  packages/components/src/images/trezor/T1_hires.png
  packages/components/src/images/trezor/T1_hires@2x.png
  packages/components/src/images/trezor/T2_hires.png
  packages/components/src/images/trezor/T2_hires@2x.png
  packages/components/src/support/types/index.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite/src/components/firmware/Button.tsx
  packages/suite/src/components/firmware/ProgressBar.tsx
  packages/suite/src/components/onboarding/Box/Box.tsx
  packages/suite/src/components/onboarding/Buttons/ButtonCta.tsx
  packages/suite/src/components/onboarding/Buttons/ButtonSkip.tsx
  packages/suite/src/components/onboarding/Layouts/OnboardingLayout.tsx
  packages/suite/src/components/onboarding/NeueOption/index.tsx
  packages/suite/src/components/onboarding/ProgressBar/index.tsx
  packages/suite/src/components/onboarding/index.ts
  packages/suite/src/components/suite/CollapsibleBox/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(onboarding): Create wallet and backup step
  packages/suite/src/actions/onboarding/onboardingActions.ts
  packages/suite/src/components/backup/BackupSeedCard.tsx
  packages/suite/src/components/backup/BackupSeedCards.tsx
  packages/suite/src/components/backup/index.ts
  packages/suite/src/components/onboarding/index.ts
  packages/suite/src/middlewares/suite/buttonRequestMiddleware.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/backup/index.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/Backup/index.tsx
  packages/suite/src/views/onboarding/steps/CreateOrRecover/index.tsx
  packages/suite/src/views/onboarding/steps/ResetDevice/index.tsx
  packages/suite/src/views/onboarding/steps/Security/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): add explicit removeButtonRequests action
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/middlewares/suite/buttonRequestMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): recovery step
  packages/suite/src/actions/recovery/recoveryActions.ts
  packages/suite/src/components/recovery/SelectRecoveryType.tsx
  packages/suite/src/components/recovery/SelectRecoveryWord.tsx
  packages/suite/src/components/recovery/SelectWordCount.tsx
  packages/suite/src/components/recovery/index.tsx
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useRecovery.ts
  packages/suite/src/middlewares/recovery/recoveryMiddleware.ts
  packages/suite/src/views/onboarding/steps/Recovery/RecoveryStepBox.tsx
  packages/suite/src/views/onboarding/steps/Recovery/index.tsx
  packages/suite/src/views/recovery/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): Add Coins (basic settings) step
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/BasicSettingsStepBox.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(onboarding): remove unused components
  packages/suite/src/actions/onboarding/__fixtures__/onboardingActions.ts
  packages/suite/src/actions/onboarding/onboardingActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/components/onboarding/ConnectDevicePrompt/index.tsx
  packages/suite/src/components/onboarding/Hologram/index.tsx
  packages/suite/src/components/onboarding/ProgressBar/index.tsx
  packages/suite/src/components/suite/HomescreenGallery/index.tsx
  packages/suite/src/config/onboarding/steps.ts
  packages/suite/src/constants/onboarding/steps.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/types/onboarding/index.ts
  packages/suite/src/utils/onboarding/__tests__/steps.test.ts
  packages/suite/src/utils/suite/__fixtures__/device.ts
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/index.tsx
  packages/suite/src/views/onboarding/steps/Hologram/components/Hologram.tsx
  packages/suite/src/views/onboarding/steps/Hologram/index.tsx
  packages/suite/src/views/onboarding/steps/NewOrUsed/index.tsx
  packages/suite/src/views/onboarding/steps/Pair/components/Bridge/Container.ts
  packages/suite/src/views/onboarding/steps/Pair/components/Bridge/index.tsx
  packages/suite/src/views/onboarding/steps/Pair/index.tsx
  packages/suite/src/views/onboarding/steps/Pin/index.tsx
  packages/suite/src/views/onboarding/steps/Recovery/RecoveryStepBox.tsx
  packages/suite/src/views/onboarding/steps/ResetDevice/index.tsx
  packages/suite/src/views/onboarding/steps/SelectDevice/index.tsx
  packages/suite/src/views/onboarding/steps/Skip/index.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/DataAnalytics.tsx
  packages/suite/src/views/onboarding/steps/Welcome/index.tsx
  packages/suite/src/views/suite/analytics/index.tsx
  packages/suite/src/views/suite/index.tsx
  packages/suite/src/views/suite/welcome/index.tsx
  tmp_onboarding-todos.md
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): pin step
  packages/components/src/components/Modal/index.tsx
  packages/suite/src/components/suite/PinInput/index.tsx
  packages/suite/src/components/suite/PinMatrix/index.tsx
  packages/suite/src/components/suite/modals/Pin/index.tsx
  packages/suite/src/views/onboarding/steps/Pin/PinStepBox.tsx
  packages/suite/src/views/onboarding/steps/Pin/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat: intermediary firmware update
  packages/rollout/README.md
  packages/rollout/integration/get-binary-modifications.ts
  packages/rollout/jest.config.integration.js
  packages/rollout/package.json
  packages/rollout/src/index.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/firmware/Initial.tsx
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
  packages/suite/src/views/firmware/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(onboarding): final step
  packages/suite/src/components/suite/HomescreenGallery/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/components/suite/modals/BackgroundGallery/index.tsx
  packages/suite/src/constants/suite/device.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/onboarding/steps/BasicSettings/BasicSettingsStepBox.tsx
  packages/suite/src/views/onboarding/steps/Final/index.tsx
  packages/suite/src/views/settings/device/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): handling various not-so-ideal device states
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/DeviceIsUsedHere.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/IsSameDevice.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/Reconnect.tsx
  packages/suite/src/views/onboarding/unexpected-states/index.tsx
  tmp_onboarding-todos.md
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): changelog bg color in fw update flow
  packages/suite/src/components/firmware/Initial.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(components): device animation
  packages/components/package.json
  packages/components/src/components/DeviceAnimation/images/TT_Cabel.png
  packages/components/src/components/DeviceAnimation/images/TT_Device.png
  packages/components/src/components/DeviceAnimation/index.stories.tsx
  packages/components/src/components/DeviceAnimation/index.tsx
  packages/components/src/components/DeviceAnimation/lottie/TT_Connect_Text.json
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/suite/src/components/onboarding/ConnectDevicePrompt/index.tsx
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(onboarding): coin selection step
  packages/suite/src/components/firmware/OnboardingStepBox.tsx
  packages/suite/src/components/onboarding/Box/Box.tsx
  packages/suite/src/components/onboarding/Buttons/ButtonCta.tsx
  packages/suite/src/components/onboarding/Coin/Coin.tsx
  packages/suite/src/components/onboarding/CoinsGroup/CoinsGroup.tsx
  packages/suite/src/components/onboarding/index.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/onboarding/steps/BasicSettings/AdvancedSetup.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/BasicSettingsStepBox.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/CustomBackend.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/Tor.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! feat(onboarding): Welcome step (1)
  packages/suite/src/support/messages.ts
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/SecurityCheck.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(desktop): mac desktop icon updated (512x512 + 512x512@2x)
  packages/suite-data/files/images/icons/512x512.icns
Owners: @keraf

fixup! feat(onboarding): coin selection step
  packages/suite/src/components/onboarding/Buttons/ButtonCta.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/AdvancedSetup.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(desktop): mac desktop icon updated (512x512 + 512x512@2x)
  packages/suite-data/files/images/icons/512x512.icns
Owners: @keraf

fix(intermediary-fw): add intermediaryInstalled flag
  packages/suite/src/actions/firmware/constants/firmware.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/components/firmware/FirmwareInstallation.tsx
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
  packages/suite/src/reducers/firmware/firmwareReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(accounts): account scroll window glitch
  packages/suite/src/components/wallet/AccountsMenu/components/AnimationWrapper/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(tooltips): UI/UX improved, CSS refactored, rich content support, new tooltips added
  CHANGELOG.md
  packages/components/package.json
  packages/components/src/components/Tooltip/all.stories.tsx
  packages/components/src/components/Tooltip/index.stories.tsx
  packages/components/src/components/Tooltip/index.tsx
  packages/components/src/components/Tooltip/tippy.style.ts
  packages/components/src/index.ts
  packages/components/src/support/Story.tsx
  packages/suite-web-landing/support/styles.ts
  packages/suite/src/components/suite/NoRatesTooltip/index.tsx
  packages/suite/src/components/suite/QuestionTooltip/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/AddWalletButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/ColHeader/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/AddAccountButton.tsx
  packages/suite/src/components/suite/modals/AddToken/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/support/suite/styles/global.ts
  packages/suite/src/views/dashboard/components/PortfolioCard/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/OpReturn/index.tsx
  packages/suite/src/views/wallet/send/components/Raw/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fixup! fix(intermediary-fw): add intermediaryInstalled flag
  packages/suite/src/actions/firmware/firmwareActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! feat(onboarding): coin selection step
  packages/suite/src/components/onboarding/Box/Box.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(news-api): convert limit param to integer
  packages/news-api/src/index.ts
  packages/news-api/src/server.ts
Owners: @keraf

fix(accounts): account scroll window glitch
  packages/suite/src/components/wallet/AccountsMenu/components/AnimationWrapper/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! feat(onboarding): coin selection step
  packages/suite/src/components/onboarding/Box/Box.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/onboarding/steps/BasicSettings/AdvancedSetup.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/CustomBackend.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/Tor.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): Welcome step (1)
  packages/suite/package.json
  packages/suite/src/components/onboarding/ConnectDevicePrompt/index.tsx
  packages/suite/src/components/onboarding/ConnectDevicePromptManager/components/NoDeviceDetected.tsx
  packages/suite/src/components/onboarding/ConnectDevicePromptManager/components/NoTransport.tsx
  packages/suite/src/components/onboarding/ConnectDevicePromptManager/components/UnexpectedDeviceState.tsx
  packages/suite/src/components/onboarding/ConnectDevicePromptManager/index.tsx
  packages/suite/src/components/onboarding/Hologram/HologramAnimation.tsx
  packages/suite/src/components/onboarding/Hologram/index.tsx
  packages/suite/src/components/onboarding/Layouts/OnboardingLayout.tsx
  packages/suite/src/components/onboarding/Layouts/WelcomeLayout.tsx
  packages/suite/src/components/onboarding/ProgressBar/index.tsx
  packages/suite/src/components/onboarding/Text/index.tsx
  packages/suite/src/components/onboarding/TroubleshootingTips/index.tsx
  packages/suite/src/components/onboarding/index.ts
  packages/suite/src/components/suite/Preloader/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/config/onboarding/steps.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/onboarding/index.ts
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/DataAnalytics.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/SecurityCheck.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/index.tsx
  packages/suite/src/views/onboarding/steps/Welcome/index.tsx
  packages/suite/src/views/suite/welcome/index.tsx
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): base UI components
  packages/components/src/components/DeviceImage/index.tsx
  packages/components/src/components/form/Input/index.tsx
  packages/components/src/components/typography/Link/index.tsx
  packages/components/src/images/icons/arrow_right_long.svg
  packages/components/src/images/trezor/T1_hires.png
  packages/components/src/images/trezor/T1_hires@2x.png
  packages/components/src/images/trezor/T2_hires.png
  packages/components/src/images/trezor/T2_hires@2x.png
  packages/components/src/support/types/index.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite/src/components/firmware/Button.tsx
  packages/suite/src/components/firmware/ProgressBar.tsx
  packages/suite/src/components/onboarding/Box/Box.tsx
  packages/suite/src/components/onboarding/Buttons/ButtonCta.tsx
  packages/suite/src/components/onboarding/Buttons/ButtonSkip.tsx
  packages/suite/src/components/onboarding/Layouts/OnboardingLayout.tsx
  packages/suite/src/components/onboarding/NeueOption/index.tsx
  packages/suite/src/components/onboarding/ProgressBar/index.tsx
  packages/suite/src/components/onboarding/index.ts
  packages/suite/src/components/suite/CollapsibleBox/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(onboarding): Firmware install/update step (2)
  packages/suite/src/components/firmware/FirmwareInitial.tsx
  packages/suite/src/components/firmware/FirmwareInstallation.tsx
  packages/suite/src/components/firmware/FirmwareOffer.tsx
  packages/suite/src/components/firmware/OnboardingStepBox.tsx
  packages/suite/src/components/firmware/ReconnectDevicePrompt.tsx
  packages/suite/src/components/firmware/index.tsx
  packages/suite/src/components/onboarding/Layouts/OnboardingLayout.tsx
  packages/suite/src/components/suite/Backdrop/index.tsx
  packages/suite/src/hooks/suite/useFirmware.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/firmware/index.ts
  packages/suite/src/utils/suite/__fixtures__/device.ts
  packages/suite/src/utils/suite/__tests__/device.test.ts
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(onboarding): add useOnboarding hook
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useOnboarding.ts
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/DataAnalytics.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): Create wallet and backup step
  packages/suite/src/actions/onboarding/onboardingActions.ts
  packages/suite/src/components/backup/BackupSeedCard.tsx
  packages/suite/src/components/backup/BackupSeedCards.tsx
  packages/suite/src/components/backup/index.ts
  packages/suite/src/components/onboarding/index.ts
  packages/suite/src/middlewares/suite/buttonRequestMiddleware.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/backup/index.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/Backup/index.tsx
  packages/suite/src/views/onboarding/steps/CreateOrRecover/index.tsx
  packages/suite/src/views/onboarding/steps/ResetDevice/index.tsx
  packages/suite/src/views/onboarding/steps/Security/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): add explicit removeButtonRequests action
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/middlewares/suite/buttonRequestMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): recovery step
  packages/suite/src/actions/recovery/recoveryActions.ts
  packages/suite/src/components/recovery/SelectRecoveryType.tsx
  packages/suite/src/components/recovery/SelectRecoveryWord.tsx
  packages/suite/src/components/recovery/SelectWordCount.tsx
  packages/suite/src/components/recovery/index.tsx
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useRecovery.ts
  packages/suite/src/middlewares/recovery/recoveryMiddleware.ts
  packages/suite/src/views/onboarding/steps/Recovery/RecoveryStepBox.tsx
  packages/suite/src/views/onboarding/steps/Recovery/index.tsx
  packages/suite/src/views/recovery/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): pin step
  packages/components/src/components/Modal/index.tsx
  packages/suite/src/components/suite/PinInput/index.tsx
  packages/suite/src/components/suite/PinMatrix/index.tsx
  packages/suite/src/components/suite/modals/Pin/index.tsx
  packages/suite/src/views/onboarding/steps/Pin/PinStepBox.tsx
  packages/suite/src/views/onboarding/steps/Pin/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore(onboarding): remove unused components
  packages/suite/src/actions/onboarding/__fixtures__/onboardingActions.ts
  packages/suite/src/actions/onboarding/onboardingActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/components/onboarding/ConnectDevicePrompt/index.tsx
  packages/suite/src/components/onboarding/Hologram/index.tsx
  packages/suite/src/components/onboarding/ProgressBar/index.tsx
  packages/suite/src/components/suite/HomescreenGallery/index.tsx
  packages/suite/src/config/onboarding/steps.ts
  packages/suite/src/constants/onboarding/steps.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/types/onboarding/index.ts
  packages/suite/src/utils/onboarding/__tests__/steps.test.ts
  packages/suite/src/utils/suite/__fixtures__/device.ts
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/index.tsx
  packages/suite/src/views/onboarding/steps/Hologram/components/Hologram.tsx
  packages/suite/src/views/onboarding/steps/Hologram/index.tsx
  packages/suite/src/views/onboarding/steps/NewOrUsed/index.tsx
  packages/suite/src/views/onboarding/steps/Pair/components/Bridge/Container.ts
  packages/suite/src/views/onboarding/steps/Pair/components/Bridge/index.tsx
  packages/suite/src/views/onboarding/steps/Pair/index.tsx
  packages/suite/src/views/onboarding/steps/Pin/index.tsx
  packages/suite/src/views/onboarding/steps/Recovery/RecoveryStepBox.tsx
  packages/suite/src/views/onboarding/steps/ResetDevice/index.tsx
  packages/suite/src/views/onboarding/steps/SelectDevice/index.tsx
  packages/suite/src/views/onboarding/steps/Skip/index.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/DataAnalytics.tsx
  packages/suite/src/views/onboarding/steps/Welcome/index.tsx
  packages/suite/src/views/suite/analytics/index.tsx
  packages/suite/src/views/suite/index.tsx
  packages/suite/src/views/suite/welcome/index.tsx
  tmp_onboarding-todos.md
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): handling various not-so-ideal device states
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/DeviceIsUsedHere.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/IsSameDevice.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/Reconnect.tsx
  packages/suite/src/views/onboarding/unexpected-states/index.tsx
  tmp_onboarding-todos.md
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): Add Coins (basic settings) step
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/BasicSettingsStepBox.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): final step
  packages/suite/src/components/suite/HomescreenGallery/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/components/suite/modals/BackgroundGallery/index.tsx
  packages/suite/src/constants/suite/device.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/onboarding/steps/BasicSettings/BasicSettingsStepBox.tsx
  packages/suite/src/views/onboarding/steps/Final/index.tsx
  packages/suite/src/views/settings/device/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: intermediary firmware update
  packages/rollout/README.md
  packages/rollout/integration/get-binary-modifications.ts
  packages/rollout/jest.config.integration.js
  packages/rollout/package.json
  packages/rollout/src/index.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/firmware/Initial.tsx
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
  packages/suite/src/views/firmware/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(suite): changelog bg color in fw update flow
  packages/suite/src/components/firmware/Initial.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(components): device animation
  packages/components/package.json
  packages/components/src/components/DeviceAnimation/images/TT_Cabel.png
  packages/components/src/components/DeviceAnimation/images/TT_Device.png
  packages/components/src/components/DeviceAnimation/index.stories.tsx
  packages/components/src/components/DeviceAnimation/index.tsx
  packages/components/src/components/DeviceAnimation/lottie/TT_Connect_Text.json
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/suite/src/components/onboarding/ConnectDevicePrompt/index.tsx
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22
