Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix(suite): add blockchainActions unsubscribe method
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(metadata): rename userData to fileSystem
  packages/suite-desktop/src-electron/metadata.ts
  packages/suite-native/src/services/metadata/FileSystemProvider.ts
  packages/suite/src/actions/suite/__fixtures__/metadataActions.ts
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/config/suite/features.ts
  packages/suite/src/services/metadata/FileSystemProvider.ts
  packages/suite/src/types/suite/metadata.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix: optimize nested modals height to prevent overflow
  packages/suite/src/components/suite/PinInput/index.tsx
  packages/suite/src/components/suite/WordInput/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/components/suite/modals/Pin/index.tsx
  packages/suite/src/components/suite/modals/Word/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add missing link to trezor support
  packages/suite/src/support/messages.ts
  packages/suite/src/views/onboarding/steps/Pair/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): use static BuildId for Next.js
  packages/suite-desktop/next.config.js
Owners: @keraf, @szymonlesisz

feat(suite-desktop): bundle Tor daemon binaries for {linux,mac,win}-x64
  packages/suite-data/config.ts
  packages/suite-data/files/tor/linux-x64/libcrypto.so.1.1
  packages/suite-data/files/tor/linux-x64/libevent-2.1.so.7
  packages/suite-data/files/tor/linux-x64/libssl.so.1.1
  packages/suite-data/files/tor/linux-x64/tor
  packages/suite-data/files/tor/linux-x64/torrc
  packages/suite-data/files/tor/mac-x64/libevent-2.1.7.dylib
  packages/suite-data/files/tor/mac-x64/torrc
  packages/suite-data/files/tor/win-x64/libcrypto-1_1-x64.dll
  packages/suite-data/files/tor/win-x64/libevent-2-1-7.dll
  packages/suite-data/files/tor/win-x64/libevent_core-2-1-7.dll
  packages/suite-data/files/tor/win-x64/libevent_extra-2-1-7.dll
  packages/suite-data/files/tor/win-x64/libgcc_s_seh-1.dll
  packages/suite-data/files/tor/win-x64/libssl-1_1-x64.dll
  packages/suite-data/files/tor/win-x64/libssp-0.dll
  packages/suite-data/files/tor/win-x64/libwinpthread-1.dll
  packages/suite-data/files/tor/win-x64/torrc
  packages/suite-data/files/tor/win-x64/zlib1.dll
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

chore: update icons and add background to dmg installer
  packages/suite-data/files/images/icons/512x512.icns
  packages/suite-data/files/images/icons/512x512.png
  packages/suite-data/files/images/icons/background.tiff
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix(suite-desktop): use static BuildId for Next.js
  packages/suite-desktop/next.config.js
Owners: @keraf, @szymonlesisz

Remove ONG from list of supported tokens for buy crypto
  packages/suite/src/utils/wallet/coinmarket/__tests__/buyUtils.test.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: use payment method icons tailored for Suite, improve desing
  packages/suite/src/components/wallet/CoinmarketBuyOfferInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketBuyProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketPaymentType/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): graph causes render errors
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipAccount/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipDashboard/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): discreet effect cut off
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/BaseTargetLayout/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: unaligned checkboxes and redundant buttons
  packages/suite/src/components/backup/PreBackupCheckboxes.tsx
  packages/suite/src/views/backup/index.tsx
  packages/suite/src/views/recovery/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Remove ONG from list of supported tokens for buy crypto
  packages/suite/src/utils/wallet/coinmarket/__tests__/buyUtils.test.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: use payment method icons tailored for Suite, improve desing
  packages/suite/src/components/wallet/CoinmarketBuyOfferInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketBuyProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketPaymentType/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): graph causes render errors
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipAccount/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipDashboard/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-desktop): bundle Tor daemon binaries for {linux,mac,win}-x64
  packages/suite-data/config.ts
  packages/suite-data/files/tor/linux-x64/libcrypto.so.1.1
  packages/suite-data/files/tor/linux-x64/libevent-2.1.so.7
  packages/suite-data/files/tor/linux-x64/libssl.so.1.1
  packages/suite-data/files/tor/linux-x64/tor
  packages/suite-data/files/tor/linux-x64/torrc
  packages/suite-data/files/tor/mac-x64/libevent-2.1.7.dylib
  packages/suite-data/files/tor/mac-x64/torrc
  packages/suite-data/files/tor/win-x64/libcrypto-1_1-x64.dll
  packages/suite-data/files/tor/win-x64/libevent-2-1-7.dll
  packages/suite-data/files/tor/win-x64/libevent_core-2-1-7.dll
  packages/suite-data/files/tor/win-x64/libevent_extra-2-1-7.dll
  packages/suite-data/files/tor/win-x64/libgcc_s_seh-1.dll
  packages/suite-data/files/tor/win-x64/libssl-1_1-x64.dll
  packages/suite-data/files/tor/win-x64/libssp-0.dll
  packages/suite-data/files/tor/win-x64/libwinpthread-1.dll
  packages/suite-data/files/tor/win-x64/torrc
  packages/suite-data/files/tor/win-x64/zlib1.dll
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix(suite): discreet effect cut off
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/BaseTargetLayout/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(metadata): use aliased import for services
  CHANGELOG.md
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-native/src/services/suite/metadata/DropboxProvider.ts
  packages/suite-native/src/services/suite/metadata/FileSystemProvider.ts
  packages/suite-native/src/services/suite/metadata/GoogleProvider.ts
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/services/suite/metadata/DropboxProvider.ts
  packages/suite/src/services/suite/metadata/FileSystemProvider.ts
  packages/suite/src/services/suite/metadata/GoogleProvider.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix(suite): graph tooltips overflow
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: use payment method icons tailored for Suite, improve desing
  packages/suite/src/components/wallet/CoinmarketBuyOfferInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketBuyProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketPaymentType/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

design: Trezor Suite beta landing page update
  packages/landing-page/components/Layout/index.tsx
  packages/landing-page/components/StartLayout/index.tsx
  packages/landing-page/pages/index.tsx
Owners: @keraf, @robertbrada

fixup! fix: functionality issues and style
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @szymonlesisz

fix: functionality issues and style
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @szymonlesisz

fixup! fix: functionality issues and style
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @szymonlesisz

fixup! fixup! fix: functionality issues and style
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix: functionality issues and style
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @szymonlesisz

fix(suite): PinInput validate pin lenght using declared constant
  packages/suite/src/components/suite/PinInput/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): PinInput do not use "password" type, use input from "trezor/components"
  packages/suite/src/components/suite/PinInput/components/ButtonPin/index.tsx
  packages/suite/src/components/suite/PinInput/components/InputPin/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: functionality issues and style
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @szymonlesisz

design: Trezor Suite beta landing page update
  packages/landing-page/components/Layout/index.tsx
  packages/landing-page/components/StartLayout/index.tsx
  packages/landing-page/pages/index.tsx
Owners: @keraf, @robertbrada

design: Trezor Suite beta landing page update
  packages/landing-page/components/Layout/index.tsx
  packages/landing-page/components/StartLayout/index.tsx
  packages/landing-page/pages/index.tsx
Owners: @keraf, @robertbrada

fix: use external link
  packages/suite/src/components/wallet/CoinmarketFooter/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: invity link
  packages/suite/src/components/wallet/CoinmarketFooter/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: use Link component again
  packages/suite/src/components/wallet/CoinmarketFooter/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: allow invity external url
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

fix: detail padding
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/PaymentFailed/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: remove border from hover tx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/PaymentFailed/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(metadata): rename userData to fileSystem
  packages/suite-desktop/src-electron/metadata.ts
  packages/suite-native/src/services/metadata/FileSystemProvider.ts
  packages/suite/src/actions/suite/__fixtures__/metadataActions.ts
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/config/suite/features.ts
  packages/suite/src/services/metadata/FileSystemProvider.ts
  packages/suite/src/types/suite/metadata.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

chore(metadata): use aliased import for services
  CHANGELOG.md
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-native/src/services/suite/metadata/DropboxProvider.ts
  packages/suite-native/src/services/suite/metadata/FileSystemProvider.ts
  packages/suite-native/src/services/suite/metadata/GoogleProvider.ts
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/services/suite/metadata/DropboxProvider.ts
  packages/suite/src/services/suite/metadata/FileSystemProvider.ts
  packages/suite/src/services/suite/metadata/GoogleProvider.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
