Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

chore: remove Makefile in favor of shell scripts
  .eslintignore
  .npmignore
  Makefile
  package.json
  scripts/build-lib.sh
  scripts/publish-lib.sh
  src/.eslintignore
Owners: none

chore: remove Makefile in favor of shell scripts
  packages/transport/packages/transport/trezor-link/trezor-link/.eslintignore
  packages/transport/packages/transport/trezor-link/trezor-link/.npmignore
  packages/transport/packages/transport/trezor-link/trezor-link/Makefile
  packages/transport/packages/transport/trezor-link/trezor-link/package.json
  packages/transport/packages/transport/trezor-link/trezor-link/scripts/build-lib.sh
  packages/transport/packages/transport/trezor-link/trezor-link/scripts/publish-lib.sh
  packages/transport/packages/transport/trezor-link/trezor-link/src/.eslintignore
Owners: none

ci: replace travis with github actions
  packages/transport/packages/transport/trezor-link/trezor-link/.github/workflows/tests.yml
  packages/transport/packages/transport/trezor-link/trezor-link/.npmignore
  packages/transport/packages/transport/trezor-link/trezor-link/.travis.yml
  packages/transport/packages/transport/trezor-link/trezor-link/README.md
Owners: none

chore: remove Makefile in favor of shell scripts
  trezor-link/.eslintignore
  trezor-link/.npmignore
  trezor-link/Makefile
  trezor-link/package.json
  trezor-link/scripts/build-lib.sh
  trezor-link/scripts/publish-lib.sh
  trezor-link/src/.eslintignore
Owners: none

ci: replace travis with github actions
  .github/workflows/tests.yml
  .npmignore
  .travis.yml
  README.md
Owners: none

chore: remove Makefile in favor of shell scripts
  packages/transport/.eslintignore
  packages/transport/.npmignore
  packages/transport/Makefile
  packages/transport/package.json
  packages/transport/scripts/build-lib.sh
  packages/transport/scripts/publish-lib.sh
  packages/transport/src/.eslintignore
Owners: none

chore: remove Makefile in favor of shell scripts
  packages/transport/trezor-link/trezor-link/.eslintignore
  packages/transport/trezor-link/trezor-link/.npmignore
  packages/transport/trezor-link/trezor-link/Makefile
  packages/transport/trezor-link/trezor-link/package.json
  packages/transport/trezor-link/trezor-link/scripts/build-lib.sh
  packages/transport/trezor-link/trezor-link/scripts/publish-lib.sh
  packages/transport/trezor-link/trezor-link/src/.eslintignore
Owners: none

ci: replace travis with github actions
  packages/transport/.github/workflows/tests.yml
  packages/transport/.npmignore
  packages/transport/.travis.yml
  packages/transport/README.md
Owners: none

ci: replace travis with github actions
  packages/transport/trezor-link/trezor-link/.github/workflows/tests.yml
  packages/transport/trezor-link/trezor-link/.npmignore
  packages/transport/trezor-link/trezor-link/.travis.yml
  packages/transport/trezor-link/trezor-link/README.md
Owners: none

ci: replace travis with github actions
  trezor-link/.github/workflows/tests.yml
  trezor-link/.npmignore
  trezor-link/.travis.yml
  trezor-link/README.md
Owners: none

fix(auto-updater): skipped updates return now correct update to UI
  packages/suite-desktop/src-electron/modules/auto-updater.ts
Owners: @keraf, @szymonlesisz

fix(auto-updater): skipped updates return now correct update to UI
  packages/suite-desktop/src-electron/modules/auto-updater.ts
Owners: @keraf, @szymonlesisz

fix(auto-updater): skipped updates return now correct update to UI
  packages/suite-desktop/src-electron/modules/auto-updater.ts
Owners: @keraf, @szymonlesisz

chore: update trezor-connect@8.1.26
  packages/suite-data/files/connect/data/firmware/2/releases.json
  packages/suite-data/files/connect/data/messages/messages.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.66b893e57a1ae1dd871e.js
  packages/suite-data/files/connect/js/iframe.8971db8994d47a835970.js
  packages/suite-data/files/connect/workers/ripple-worker.5c4760bb43dccf440277.js
  packages/suite-data/files/connect/workers/ripple-worker.e8db46d6b3e15892b80e.js
  packages/suite/package.json
  patches/trezor-connect+8.1.25-extended.patch
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(desktop): incorrect reset for auto-updater manual check flag
  packages/suite-desktop/src-electron/modules/auto-updater.ts
Owners: @keraf, @szymonlesisz

fix(suite): remove unused redux container from suite/views/notifications
  packages/suite/src/views/suite/notifications/Container.tsx
  packages/suite/src/views/suite/notifications/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): remove "retry" button from toast/activity notification
  packages/suite/src/components/suite/hocNotification/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(desktop): incorrect reset for auto-updater manual check flag
  packages/suite-desktop/src-electron/modules/auto-updater.ts
Owners: @keraf, @szymonlesisz

chore: update babel dependencies
  package.json
  packages/blockchain-link/package.json
  packages/components/package.json
  packages/suite-native/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(send): bech32 address validation function
  packages/suite/src/utils/wallet/__tests__/validation.test.ts
  packages/suite/src/utils/wallet/validation.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): bech32 address validation function
  packages/suite/src/utils/wallet/__tests__/validation.test.ts
  packages/suite/src/utils/wallet/validation.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.26
  packages/suite-data/files/connect/data/firmware/2/releases.json
  packages/suite-data/files/connect/data/messages/messages.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.66b893e57a1ae1dd871e.js
  packages/suite-data/files/connect/js/iframe.8971db8994d47a835970.js
  packages/suite-data/files/connect/workers/ripple-worker.5c4760bb43dccf440277.js
  packages/suite-data/files/connect/workers/ripple-worker.e8db46d6b3e15892b80e.js
  packages/suite/package.json
  patches/trezor-connect+8.1.25-extended.patch
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

docs(changelog): update to reflect latest release
  CHANGELOG.md
Owners: none

chore(translations): Create a translations directory if it doesn't exist
  packages/suite/package.json
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(components): TrezorLogo dark mode adjustments
  packages/components/src/components/logos/TrezorLogo/index.stories.tsx
  packages/components/src/components/logos/TrezorLogo/index.tsx
  packages/components/src/components/logos/index.stories.tsx
  packages/components/src/images/trezor_logo_suite.svg
Owners: @keraf, @slowbackspace, @robertbrada

chore(onboarding): route adjustment
  packages/suite-native/src/actions/suite/routerActions.ts
  packages/suite-native/src/support/suite/router.config.ts
  packages/suite-web/pages/onboarding/index.tsx
  packages/suite/src/actions/suite/__fixtures__/routerActions.ts
  packages/suite/src/actions/suite/routerActions.ts
  packages/suite/src/components/suite/Preloader/index.tsx
  packages/suite/src/constants/suite/routes.ts
  packages/suite/src/middlewares/onboarding/__tests__/onboardingMiddleware.test.ts
  packages/suite/src/middlewares/suite/__tests__/suiteMiddleware.test.ts
  packages/suite/src/utils/suite/__tests__/router.test.ts
Owners: @slowbackspace, @szymonlesisz, @keraf, @mroz22, @robertbrada

temp: initialRun always set to true
  packages/suite/src/actions/suite/storageActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(onboarding): move onboarding types
  packages/suite/src/actions/onboarding/onboardingActions.ts
  packages/suite/src/config/onboarding/steps.ts
  packages/suite/src/reducers/onboarding/onboardingReducer.ts
  packages/suite/src/types/onboarding/index.ts
  packages/suite/src/utils/onboarding/__tests__/steps.test.ts
  packages/suite/src/utils/onboarding/steps.ts
  packages/suite/src/views/onboarding/unexpected-states/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor: Factor isUnlocked to a separate function
  packages/suite/src/reducers/suite/__tests__/deviceReducer.test.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(components): add Warning component
  packages/components/src/components/Warning/index.stories.tsx
  packages/components/src/components/Warning/index.tsx
  packages/components/src/index.native.ts
  packages/components/src/index.ts
Owners: @keraf, @slowbackspace, @robertbrada

feat: Add CofirmButton
  packages/suite/src/components/firmware/Button.tsx
  packages/suite/src/components/firmware/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: Don't use pin_protection to determine whether device is locked
  packages/suite/src/reducers/suite/__tests__/deviceReducer.test.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: #2242 Add safety checks settings
  CHANGELOG.md
  packages/integration-tests/projects/suite-web/tests/settings/safety-checks.test.ts
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/SafetyChecks/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat: Do not override features when device is locked
  packages/suite/src/reducers/suite/__fixtures__/deviceReducer.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(components): new Radio button component with Suite design
  packages/components/src/components/form/RadioButton/index.stories.tsx
  packages/components/src/components/form/RadioButton/index.tsx
  packages/components/src/components/form/index.stories.tsx
  packages/components/src/index.native.ts
  packages/components/src/index.ts
Owners: @keraf, @slowbackspace, @robertbrada

style: Remove commented code
  packages/suite/src/reducers/suite/deviceReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): Welcome step (1)
  packages/suite/package.json
  packages/suite/src/components/onboarding/ConnectDevicePrompt/index.tsx
  packages/suite/src/components/onboarding/ConnectDevicePromptManager/components/NoDeviceDetected.tsx
  packages/suite/src/components/onboarding/ConnectDevicePromptManager/components/NoTransport.tsx
  packages/suite/src/components/onboarding/ConnectDevicePromptManager/components/UnexpectedDeviceState.tsx
  packages/suite/src/components/onboarding/ConnectDevicePromptManager/index.tsx
  packages/suite/src/components/onboarding/Hologram/HologramAnimation.tsx
  packages/suite/src/components/onboarding/Hologram/index.tsx
  packages/suite/src/components/onboarding/Layouts/OnboardingLayout.tsx
  packages/suite/src/components/onboarding/Layouts/WelcomeLayout.tsx
  packages/suite/src/components/onboarding/ProgressBar/index.tsx
  packages/suite/src/components/onboarding/Text/index.tsx
  packages/suite/src/components/onboarding/TroubleshootingTips/index.tsx
  packages/suite/src/components/onboarding/index.ts
  packages/suite/src/components/suite/Preloader/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/config/onboarding/steps.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/onboarding/index.ts
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/DataAnalytics.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/SecurityCheck.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/index.tsx
  packages/suite/src/views/onboarding/steps/Welcome/index.tsx
  packages/suite/src/views/suite/welcome/index.tsx
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): base UI components
  packages/components/src/components/DeviceImage/index.tsx
  packages/components/src/components/form/Input/index.tsx
  packages/components/src/components/typography/Link/index.tsx
  packages/components/src/images/icons/arrow_right_long.svg
  packages/components/src/images/trezor/T1_hires.png
  packages/components/src/images/trezor/T1_hires@2x.png
  packages/components/src/images/trezor/T2_hires.png
  packages/components/src/images/trezor/T2_hires@2x.png
  packages/components/src/support/types/index.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite/src/components/firmware/ProgressBar.tsx
  packages/suite/src/components/onboarding/Box/Box.tsx
  packages/suite/src/components/onboarding/Buttons/ButtonCta.tsx
  packages/suite/src/components/onboarding/Buttons/ButtonSkip.tsx
  packages/suite/src/components/onboarding/Layouts/OnboardingLayout.tsx
  packages/suite/src/components/onboarding/NeueOption/index.tsx
  packages/suite/src/components/onboarding/ProgressBar/index.tsx
  packages/suite/src/components/onboarding/index.ts
  packages/suite/src/components/suite/CollapsibleBox/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore(onboarding): add useOnboarding hook
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useOnboarding.ts
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/DataAnalytics.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(onboarding): handle UI.CLOSE_WINDOW events by removing button requests from device (useful for detecting cancelled confirmation)
  packages/suite/src/actions/suite/constants/suiteConstants.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/middlewares/suite/buttonRequestMiddleware.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
