Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(suite): add missing await to isDBAvailable() (#2996)
  packages/suite-storage/src/native/index.ts
  packages/suite/src/actions/suite/storageActions.ts
Owners: @slowbackspace, @keraf, @szymonlesisz, @mroz22, @robertbrada

fix(suite): add white border around qr code (#3001)
  packages/suite/src/components/suite/QrCode/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite-desktop): update electron to 11
  packages/suite-desktop/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz

style(components): lighter color for scrollbaar thumb
  packages/components/src/config/colors.ts
Owners: @keraf, @slowbackspace, @robertbrada

chore: download messages
  packages/suite-data/files/translations/en.json
Owners: @keraf

chore: download messages
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix(nix): check whether nixos-fix-binaries script is run in nix-shell [skip ci]
  nixos-fix-binaries.sh
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

[skip ci] 8.1.0 experiments
  packages/suite/package.json
  packages/suite/src/services/suite/metadata/DropboxProvider.ts
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style(components): lighter color for scrollbar thumb (#3006)
  packages/components/src/config/colors.ts
Owners: @keraf, @slowbackspace, @robertbrada

fix(suite-desktop): move request headers to work with dev builds (required by new Bridge)
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix: allow only 2 decimals in fiatt input
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(dark-mode): update secondary btn, tooltip, dropdown and select bg colors
  packages/components/src/components/Dropdown/index.tsx
  packages/components/src/components/buttons/Button/index.tsx
  packages/components/src/components/form/CleanSelect/index.tsx
  packages/components/src/components/form/Select/index.tsx
  packages/components/src/config/colors.ts
  packages/suite/src/components/suite/Settings/components/Row.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(dark-mode): bg color for secondary btn and tooltips (#3010)
  packages/components/src/components/Dropdown/index.tsx
  packages/components/src/components/buttons/Button/index.tsx
  packages/components/src/components/form/CleanSelect/index.tsx
  packages/components/src/components/form/Select/index.tsx
  packages/components/src/config/colors.ts
  packages/suite/src/components/suite/Settings/components/Row.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: don't scroll add acount modal when menu opened
  packages/components/src/components/form/Select/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat: hide cursor in searchable input
  packages/components/src/components/form/CleanSelect/index.tsx
  packages/components/src/components/form/Select/index.tsx
  packages/suite/src/components/suite/Settings/components/Analytics.tsx
  packages/suite/src/components/suite/Settings/components/TextColumn.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/views/settings/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/TokenSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: don't scroll add acount modal when menu opened
  packages/components/src/components/form/Select/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat: hide cursor in searchable input
  packages/components/src/components/form/CleanSelect/index.tsx
  packages/components/src/components/form/Select/index.tsx
  packages/suite/src/components/suite/Settings/components/Analytics.tsx
  packages/suite/src/components/suite/Settings/components/TextColumn.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/views/settings/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/TokenSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite): better send form responsivity
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add ability to place input error to the right side
  packages/components/src/components/form/Input/index.stories.tsx
  packages/components/src/components/form/Input/index.tsx
  packages/suite/src/views/wallet/send/components/Fees/components/CustomFee/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(invity): allow only 2 decimals in fiat input
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): discreet mode cut off in accounts
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(components): clean select hover
  packages/components/src/components/form/CleanSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

CI - replace caches using GIT_CLEAN_FLAGS
  .gitlab-ci.yml
  ci/install-and-build.yml
Owners: @keraf, @mroz22

CI - Add yarn install to each job, use cache form GIT_CLEAN_FLAGS excludes
  .gitlab-ci.yml
  ci/install-and-build.yml
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/rollout.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-native.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
  ci/prebuild.yml
Owners: @keraf, @mroz22

CI - Replace caches with GIT_CLEAN_FLAGS (#3015)
  .gitlab-ci.yml
  ci/install-and-build.yml
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/rollout.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-native.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
  ci/prebuild.yml
Owners: @keraf, @mroz22

docs: add --bridge-dev flag to docs
  docs/packages/suite-desktop.md
Owners: none

feat: add ability to place input error to the right side
  packages/components/src/components/form/Input/index.stories.tsx
  packages/components/src/components/form/Input/index.tsx
  packages/suite/src/views/wallet/send/components/Fees/components/CustomFee/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(components): clean select hover
  packages/components/src/components/form/CleanSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(suite): better send form responsivity
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(landing): remove arch from mac/win binaries for now
  packages/landing-page/pages/wallet/start/index.tsx
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/utils/navigator.ts
Owners: @keraf, @robertbrada

feat(suite): graphs shadow opacity adjusted
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: tests
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: tests
  packages/suite/src/utils/wallet/coinmarket/__tests__/buyUtils.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity):buy offers in dark mode
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(landing): download button menu z-index order
  packages/suite-web-landing/pages/index.tsx
Owners: none

fix(suite): use arm64 consistently (i.e. aarch64 -> arm64)
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite): use arm64 consistently (i.e. aarch64 -> arm64)
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(landing): remove arch from mac/win binaries for now
  packages/landing-page/pages/wallet/start/index.tsx
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/utils/navigator.ts
Owners: @keraf, @robertbrada

fix(landing): download button menu z-index order
  packages/suite-web-landing/pages/index.tsx
Owners: none
