Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix: smaller image in "Your wallet is almost ready" step to prevent scrollbars showing
  packages/suite/src/views/onboarding/steps/Security/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci: fix rysnc commands
  ci/packages/suite-desktop.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

chore: bump trezor-connect 8.1.6
  packages/suite-data/files/connect/data/config.json
  packages/suite-data/files/connect/data/firmware/2/releases.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.69d42a7efea1bb253306.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

ci: fix rysnc commands
  ci/packages/suite-desktop.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

chore: bump trezor-connect 8.1.6
  packages/suite-data/files/connect/data/config.json
  packages/suite-data/files/connect/data/firmware/2/releases.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.69d42a7efea1bb253306.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

ci: rename artifacts to Trezor-Suite*, add platform to filename
  .gitlab-ci.yml
  packages/landing-page/pages/wallet/start/index.tsx
  packages/suite-data/files/images/icons/512x512.ico
  packages/suite-desktop/package.json
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/utils/navigator.ts
Owners: @keraf, @robertbrada, @szymonlesisz

fix: adjusting a modal content so we don't need to show scrollbars
  packages/suite/src/components/backup/AfterBackupCheckboxes.tsx
  packages/suite/src/components/backup/PreBackupCheckboxes.tsx
  packages/suite/src/components/suite/CheckItem/index.tsx
  packages/suite/src/components/suite/DeviceInvalidModeLayout/index.tsx
  packages/suite/src/components/suite/modals/WipeDevice/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): validate ERC20 balance when using "set-max" option
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add missing 404 page to suite-web and suite-desktop
  packages/suite-desktop/pages/404.tsx
  packages/suite-web/pages/404.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

ci: rename artifacts to Trezor-Suite*, add platform to filename
  .gitlab-ci.yml
  packages/landing-page/pages/wallet/start/index.tsx
  packages/suite-data/files/images/icons/512x512.ico
  packages/suite-desktop/package.json
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/utils/navigator.ts
Owners: @keraf, @robertbrada, @szymonlesisz

chore: update landing copy
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite-web-landing/pages/index.tsx
Owners: none

fix(send): validate ERC20 balance when using "set-max" option
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update landing copy
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite-web-landing/pages/index.tsx
Owners: none

fix: adjusting a modal content so we don't need to show scrollbars
  packages/suite/src/components/backup/AfterBackupCheckboxes.tsx
  packages/suite/src/components/backup/PreBackupCheckboxes.tsx
  packages/suite/src/components/suite/CheckItem/index.tsx
  packages/suite/src/components/suite/DeviceInvalidModeLayout/index.tsx
  packages/suite/src/components/suite/modals/WipeDevice/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: smaller image in "Your wallet is almost ready" step to prevent scrollbars showing
  packages/suite/src/views/onboarding/steps/Security/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): validate ERC20 balance when using "set-max" option
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update landing copy
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite-web-landing/pages/index.tsx
Owners: none

fix: smaller image in "Your wallet is almost ready" step to prevent scrollbars showing
  packages/suite/src/views/onboarding/steps/Security/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: adjusting a modal content so we don't need to show scrollbars
  packages/suite/src/components/backup/AfterBackupCheckboxes.tsx
  packages/suite/src/components/backup/PreBackupCheckboxes.tsx
  packages/suite/src/components/suite/CheckItem/index.tsx
  packages/suite/src/components/suite/DeviceInvalidModeLayout/index.tsx
  packages/suite/src/components/suite/modals/WipeDevice/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(fw-update): webusb button was missing
  packages/suite/src/components/firmware/ReconnectInBootloader.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(translation): return plain text instead of message id
  packages/suite/src/utils/firmware/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(fw-update): webusb button was missing
  packages/suite/src/components/firmware/ReconnectInBootloader.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update copy
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix(translation): return plain text instead of message id
  packages/suite/src/utils/firmware/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(fw-update): webusb button was missing
  packages/suite/src/components/firmware/ReconnectInBootloader.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(translation): return plain text instead of message id
  packages/suite/src/utils/firmware/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Make add-account modal usable in invity exchange
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/AddAccount/Container.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
  packages/suite/src/components/suite/modals/AddAccount/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): set "isDirty" also on FeeLevel change
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update copy
  packages/suite-data/files/translations/en.json
Owners: @keraf

chore: use Translation component in fw progress
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/utils/firmware/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

hotfix(send): hotfix hide RBF feature flag
  packages/suite/src/config/suite/features.ts
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormFields.ts
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update copy
  packages/suite-data/files/translations/en.json
Owners: @keraf

hotfix(send): hotfix hide RBF feature flag
  packages/suite/src/config/suite/features.ts
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormFields.ts
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

hotfix(send): hotfix hide RBF feature flag
  packages/suite/src/config/suite/features.ts
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormFields.ts
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(desktop): add missing camera permissions in macos
  packages/suite-desktop/entitlements.mac.inherit.plist
Owners: @keraf, @szymonlesisz

fix(desktop): add missing camera permissions in macos
  packages/suite-desktop/entitlements.mac.inherit.plist
Owners: @keraf, @szymonlesisz

fix(desktop): add missing camera permissions in macos
  packages/suite-desktop/entitlements.mac.inherit.plist
Owners: @keraf, @szymonlesisz

refactor(suite-components): FormattedCryptoAmount using uppercase css
  packages/suite/src/components/suite/FormattedCryptoAmount/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-components): FiatValue with disabled HiddenPlaceholder
  packages/suite/src/components/suite/FiatValue/Container.ts
  packages/suite/src/components/suite/FiatValue/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): do not use HiddenPlaceholder
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/index.tsx
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
  packages/suite/src/views/wallet/send/components/TotalSent/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
