Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

feat: account menu skeleton
  packages/suite/src/components/suite/Skeleton/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/SkeletonTransactionsGraph/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: skeleton for account page
  packages/suite/src/components/wallet/AccountMode/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/components/AccountNavigation/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/config/wallet/menu.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: search for option in all sub-categories
  packages/components/src/components/form/Select/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat: skeletons for account summary, transactions list
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/SummaryCards/components/InfoCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(e2e): check if discovery is in progrress based on visibility of a progress bar
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/google-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/switching-providers.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/suite/src/components/wallet/AccountMode/LoadingOtherAccounts.tsx
  packages/suite/src/components/wallet/DiscoveryProgress/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fixup! feat: skeletons for account summary, transactions list
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/SummaryCards/components/InfoCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! chore(e2e): check if discovery is in progrress based on visibility of a progress bar
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-duplicate.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase-disabled.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/remembering-devices.test.ts
  packages/integration-tests/projects/suite-web/tests/wallet/discovery.test.ts
Owners: @mroz22

chore(e2e): add fake loading to help e2e tests
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

halp
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/remembering-devices.test.ts
Owners: @mroz22

Revert "fixup! chore(e2e): check if discovery is in progrress based on visibility of a progress bar"
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-duplicate.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase-disabled.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/remembering-devices.test.ts
  packages/integration-tests/projects/suite-web/tests/wallet/discovery.test.ts
Owners: @mroz22

e2e: put @dashboard/loading back
  packages/suite/src/components/suite/TransactionsGraph/components/SkeletonTransactionsGraph/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

e2e: fix passphrase.test
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @mroz22

fix(suite-desktop): rename build:lib command to build:electron to prevent postinstall from failing
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix(suite-desktop): rename build:lib command to build:electron to prevent postinstall from failing
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix(suite-desktop): fit text in modal without scroll bar
  packages/suite/src/views/suite/bridge/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: reorganize switch in button requests
  packages/integration-tests/projects/suite-web/snapshots/onboarding/firmware-update.test.ts/Onboarding - firmware update -- firmware update error.snap.png
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/support/utils/test-env.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/firmware-update.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/button-requests.test.ts
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/suite/modals/Pin/index.tsx
  packages/suite/src/components/suite/modals/confirm/Fingerprint/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/reducers/firmware/firmwareReducer.ts
  packages/suite/src/utils/firmware/index.ts
  packages/suite/src/views/firmware/index.tsx
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(nix): add shebang to the fix script
  nixos-fix-binaries.sh
Owners: none

feat(suite): open Github issue from debug settings
  packages/suite/src/services/github.ts
  packages/suite/src/views/settings/debug/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): open Github issue from debug settings
  packages/suite/src/services/github.ts
  packages/suite/src/views/settings/debug/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(nix): add shebang to the fix script
  nixos-fix-binaries.sh
Owners: none

feat: allow multiselect in account search using control key
  packages/suite/src/actions/wallet/accountSearchActions.ts
  packages/suite/src/components/suite/modals/AddAccount/components/AddAccountButton.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
  packages/suite/src/reducers/wallet/accountSearchReducer.ts
  packages/suite/src/utils/wallet/__tests__/accountUtils.test.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/views/dashboard/components/AssetsCard/components/Asset/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): remove BCH Fork notification
  packages/suite/src/components/wallet/AccountAnnouncement/BCHFork.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/index.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(e2e-desktop): add spectron [skip ci]
  ci/packages/suite-desktop.yml
  docs/testing/e2e.md
  docs/testing/index.md
  packages/suite-desktop/package.json
  packages/suite-desktop/test/index.js
  yarn.lock
Owners: @keraf, @mroz22, @szymonlesisz

chore(suite): remove BCH Fork notification
  packages/suite/src/components/wallet/AccountAnnouncement/BCHFork.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/index.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): custom Timerange component
  packages/components/package.json
  packages/components/src/components/Timerange/index.stories.tsx
  packages/components/src/components/Timerange/index.style.ts
  packages/components/src/components/Timerange/index.tsx
  packages/components/src/components/Timerange/react-datepicker.style.ts
  packages/components/src/index.ts
  packages/suite/src/support/suite/styles/global.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(suite): refactoring to make use of custom Timerange component for graphs/history, dark mode
  packages/components/src/components/Dropdown/index.tsx
  packages/components/src/components/Timerange/index.stories.tsx
  packages/components/src/components/Timerange/index.style.tsx
  packages/components/src/components/Timerange/index.tsx
  packages/components/src/components/Timerange/react-datepicker.style.ts
  packages/components/src/index.ts
  packages/suite/src/actions/wallet/graphActions.ts
  packages/suite/src/components/suite/TransactionsGraph/components/CustomXAxisTick/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/RangeSelector/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
  packages/suite/src/config/suite/settings.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/support/suite/styles/global.ts
  packages/suite/src/types/wallet/graph.ts
  packages/suite/src/utils/suite/date.ts
  packages/suite/src/utils/wallet/graphUtils.ts
  packages/suite/src/views/dashboard/components/PortfolioCard/components/DashboardGraph/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Header/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(suite): refactoring to make use of custom Timerange component for graphs/history, dark mode
  packages/components/src/components/Dropdown/index.tsx
  packages/components/src/components/Timerange/index.stories.tsx
  packages/components/src/components/Timerange/index.style.tsx
  packages/components/src/components/Timerange/index.tsx
  packages/components/src/components/Timerange/react-datepicker.style.ts
  packages/components/src/index.ts
  packages/suite/src/actions/wallet/graphActions.ts
  packages/suite/src/components/suite/TransactionsGraph/components/CustomXAxisTick/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/RangeSelector/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
  packages/suite/src/config/suite/settings.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/support/suite/styles/global.ts
  packages/suite/src/types/wallet/graph.ts
  packages/suite/src/utils/suite/date.ts
  packages/suite/src/utils/wallet/graphUtils.ts
  packages/suite/src/views/dashboard/components/PortfolioCard/components/DashboardGraph/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Header/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(suite): custom Timerange component
  packages/components/package.json
  packages/components/src/components/Timerange/index.stories.tsx
  packages/components/src/components/Timerange/index.style.ts
  packages/components/src/components/Timerange/index.tsx
  packages/components/src/components/Timerange/react-datepicker.style.ts
  packages/components/src/index.ts
  packages/suite/src/support/suite/styles/global.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite-desktop): fit text in modal without scroll bar
  packages/suite/src/views/suite/bridge/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

1.7.1
  packages/transport/package.json
Owners: none

1.7.1
  trezor-link/package.json
Owners: none

1.7.1
  package.json
Owners: none

1.7.1
  packages/transport/packages/transport/trezor-link/trezor-link/package.json
Owners: none

1.7.1
  packages/transport/trezor-link/trezor-link/package.json
Owners: none

fixup! chore: reorganize switch in button requests
  packages/suite/src/components/suite/modals/confirm/Fingerprint/index.tsx
  packages/suite/src/views/firmware/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci: adjust assetPrefix in landing page build
  ci/packages/landing-page.yml
Owners: @keraf, @mroz22

ci: adjust assetPrefix in landing page build
  ci/packages/landing-page.yml
Owners: @keraf, @mroz22

chore: reorganize switch in button requests
  packages/integration-tests/projects/suite-web/snapshots/onboarding/firmware-update.test.ts/Onboarding - firmware update -- firmware update error.snap.png
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/support/utils/test-env.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/firmware-update.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/button-requests.test.ts
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/suite/modals/Pin/index.tsx
  packages/suite/src/components/suite/modals/confirm/Fingerprint/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/reducers/firmware/firmwareReducer.ts
  packages/suite/src/utils/firmware/index.ts
  packages/suite/src/views/firmware/index.tsx
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fixup! chore(e2e): add fake loading to help e2e tests
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(components): update ltc, btg logos
  packages/components/src/images/coins/btg.svg
  packages/components/src/images/coins/ltc.svg
Owners: @keraf, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
