Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

feat(transactions): search
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/config/suite/features.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/ExportAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): search by date
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(transactions): refactor export
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/utils/suite/export.ts
  packages/suite/src/utils/wallet/exportTransactions.ts
  packages/suite/src/views/dashboard/components/PortfolioCard/components/DashboardGraph/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): search by amount
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): add exclude operator to search
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): keyboard shortcut for search (strl + f)
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): AND (&) and OR (|) operators for searches
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs(transactions): add transaction search and export documentation
  docs/features/transactions/export-button.png
  docs/features/transactions/export.md
  docs/features/transactions/search-button.png
  docs/features/transactions/search.md
Owners: none

fix(ci): remove nested node_modules in clear_cache job
  ci/environment.yml
Owners: @keraf, @mroz22

fix(transactions): pagination and XRP support for search and export
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/random.ts
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/ExportAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Pagination/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(ci): remove nested node_modules in clear_cache job
  ci/environment.yml
Owners: @keraf, @mroz22

fix: getAccountInfo optimalization
  packages/suite/src/actions/wallet/__fixtures__/blockchainActions.ts
  packages/suite/src/actions/wallet/__tests__/blockchainActions.test.ts
  packages/suite/src/actions/wallet/accountActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feature(invity): Add coinmarket spend
  packages/suite-data/files/spend/index.html
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/modules/http-receiver.ts
  packages/suite-desktop/src-electron/modules/window-controls.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/global.d.ts
  packages/suite/package.json
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/coinmarketSellActions.ts
  packages/suite/src/actions/wallet/constants/coinmarketSellConstants.ts
  packages/suite/src/actions/wallet/constants/index.ts
  packages/suite/src/components/suite/modals/confirm/CoinmarketLeaveSpend/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/Navigation/index.tsx
  packages/suite/src/constants/suite/routes.ts
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/hooks/wallet/useCoinmarketSpend.ts
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/services/suite/invityAPI.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/coinmarketSpend.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/views/wallet/coinmarket/spend/components/Spend/index.tsx
  packages/suite/src/views/wallet/coinmarket/spend/index.tsx
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite): make account visible if it is not empty anymore
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/actions/wallet/selectedAccountActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feature(invity): Add coinmarket spend
  packages/suite-data/files/spend/index.html
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/modules/http-receiver.ts
  packages/suite-desktop/src-electron/modules/window-controls.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/global.d.ts
  packages/suite/package.json
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/coinmarketSellActions.ts
  packages/suite/src/actions/wallet/constants/coinmarketSellConstants.ts
  packages/suite/src/actions/wallet/constants/index.ts
  packages/suite/src/components/suite/modals/confirm/CoinmarketLeaveSpend/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/Navigation/index.tsx
  packages/suite/src/constants/suite/routes.ts
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/hooks/wallet/useCoinmarketSpend.ts
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/services/suite/invityAPI.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/coinmarketSpend.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/views/wallet/coinmarket/spend/components/Spend/index.tsx
  packages/suite/src/views/wallet/coinmarket/spend/index.tsx
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

tests(e2e): add possibility to mock discovery
  packages/blockchain-link/tests/websocket/fixtures/blockbook.json
  packages/blockchain-link/tests/websocket/index.js
  packages/integration-tests/projects/suite-web/fixtures/with-utxo.json
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/google-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/switching-providers.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase-input.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/integration-tests/projects/suite-web/tests/wallet/backend-disconnected.test.ts
  packages/integration-tests/projects/suite-web/tests/wallet/discovery.test.ts
  packages/integration-tests/projects/suite-web/tests/wallet/send.test.ts
  packages/suite/src/components/wallet/AccountMode/BackendDisconnected.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs: Add build:libs to setup steps
  README.md
Owners: none

feat: Display announcements
  packages/suite/src/components/suite/Announcements/Announcement.tsx
  packages/suite/src/components/suite/Announcements/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: Fetch announcements from API
  packages/suite/src/components/suite/Announcements/UseFetchAnnouncements.ts
  packages/suite/src/components/suite/Announcements/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: Fetch Announcements continuously
  packages/suite/src/components/suite/Announcements/UseFetchAnnouncements.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: Make announcements dismissible
  packages/suite/src/components/suite/Announcements/Announcement.tsx
  packages/suite/src/components/suite/Announcements/UseFetchAnnouncements.ts
  packages/suite/src/components/suite/Announcements/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: Persist dismissed announcements
  packages/suite/src/components/suite/Announcements/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(RBF): static modal template
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Indicator.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): add exclude operator to search
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): AND (&) and OR (|) operators for searches
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): keyboard shortcut for search (strl + f)
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): search by amount
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs(transactions): add transaction search and export documentation
  docs/features/transactions/export-button.png
  docs/features/transactions/export.md
  docs/features/transactions/search-button.png
  docs/features/transactions/search.md
Owners: none

style(transactions): no results msg, search input tooltip
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/random.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/NoSearchResults/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): search
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/config/suite/features.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/ExportAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): search by label
  packages/suite/src/utils/wallet/__fixtures__/searchTransactions.json
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(transactions): pagination and XRP support for search and export
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/random.ts
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/ExportAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Pagination/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: txs search box design
  packages/components/src/components/form/Input/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(transactions): add search operators to dates
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): search by date
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(transactions): refactor export
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/utils/suite/export.ts
  packages/suite/src/utils/wallet/exportTransactions.ts
  packages/suite/src/views/dashboard/components/PortfolioCard/components/DashboardGraph/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: initial theming support
  packages/components/src/components/buttons/Button/index.native.tsx
  packages/components/src/support/ThemeProvider.tsx
  packages/components/src/utils/env.ts
  packages/components/src/utils/hooks.ts
  packages/suite-native/ios/Podfile.lock
  packages/suite-native/src/App.tsx
  packages/suite-native/src/components/suite/DeviceImage/index.tsx
  packages/suite-native/src/components/suite/DeviceSelector/index.tsx
  packages/suite-native/src/components/suite/Drawer/index.tsx
  packages/suite-native/src/components/suite/Layout/index.tsx
  packages/suite-native/src/components/suite/Preloader/index.tsx
  packages/suite-native/src/components/suite/Text/index.tsx
  packages/suite-native/src/components/suite/Translation/index.tsx
  packages/suite-native/src/support/suite/ThemeProvider.tsx
  packages/suite-native/src/support/suite/styles.ts
  packages/suite-native/src/utils/suite/env.ts
  packages/suite-native/src/views/dashboard/index.tsx
  packages/suite-native/src/views/suite/backup/index.tsx
  packages/suite-native/src/views/suite/firmware/index.tsx
  packages/suite-native/src/views/suite/onboarding/components/InitialRun/index.tsx
  packages/suite-native/src/views/suite/onboarding/index.tsx
  packages/suite-native/src/views/suite/switch-device/index.tsx
  packages/suite/src/components/suite/Labeling/components/Wallet/index.tsx
  packages/suite/src/components/suite/Translation/components/BaseTranslation/index.tsx
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useTheme.ts
  packages/suite/src/support/suite/ThemeProvider.tsx
  packages/suite/src/utils/suite/theme.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: native, native-components resolvers
  packages/components/src/utils/hooks.ts
  packages/suite-native/babel.config.js
  packages/suite-native/src/App.tsx
  packages/suite-native/src/actions/suite/routerActions.ts
  packages/suite-native/src/components/suite/DeviceSelector/index.tsx
  packages/suite-native/src/components/suite/Drawer/index.tsx
  packages/suite-native/src/components/suite/Layout/index.tsx
  packages/suite-native/src/components/suite/Preloader/index.tsx
  packages/suite-native/src/components/suite/Text/index.tsx
  packages/suite-native/src/components/suite/Translation/index.tsx
  packages/suite-native/src/support/suite/RouterBuilder.tsx
  packages/suite-native/src/support/suite/router.config.ts
  packages/suite-native/src/views/dashboard/index.tsx
  packages/suite-native/src/views/passwords/index.tsx
  packages/suite-native/src/views/settings/coins/index.tsx
  packages/suite-native/src/views/settings/device/index.tsx
  packages/suite-native/src/views/settings/index.tsx
  packages/suite-native/src/views/suite/backup/index.tsx
  packages/suite-native/src/views/suite/firmware/index.tsx
  packages/suite-native/src/views/suite/onboarding/components/InitialRun/index.tsx
  packages/suite-native/src/views/suite/onboarding/index.tsx
  packages/suite-native/src/views/suite/switch-device/index.tsx
  packages/suite-native/src/views/wallet/index.tsx
  packages/suite-native/src/views/wallet/receive/index.tsx
  packages/suite-native/src/views/wallet/send/index.tsx
  packages/suite-native/src/views/wallet/sign-verify/index.tsx
  packages/suite-native/tsconfig.json
  packages/suite/src/actions/suite/logActions.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite): redact more fields in the log
  packages/suite/src/utils/suite/__tests__/logUtils.test.ts
  packages/suite/src/utils/suite/logUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(desktop): add logger and module loading refactor
  docs/misc/desktop_logger.md
  docs/packages/suite-desktop.md
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/build.js
  packages/suite-desktop/scripts/dev.js
  packages/suite-desktop/src-electron/__tests__/logger.test.ts
  packages/suite-desktop/src-electron/app.ts
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/libs/info.ts
  packages/suite-desktop/src-electron/libs/logger.ts
  packages/suite-desktop/src-electron/libs/modules.ts
  packages/suite-desktop/src-electron/libs/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/libs/processes/BridgeProcess.ts
  packages/suite-desktop/src-electron/libs/screen.ts
  packages/suite-desktop/src-electron/libs/user-data.ts
  packages/suite-desktop/src-electron/libs/utils.ts
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src-electron/modules/bridge.ts
  packages/suite-desktop/src-electron/modules/csp.ts
  packages/suite-desktop/src-electron/modules/dev-tools.ts
  packages/suite-desktop/src-electron/modules/event-logging/app.ts
  packages/suite-desktop/src-electron/modules/event-logging/contents.ts
  packages/suite-desktop/src-electron/modules/event-logging/process.ts
  packages/suite-desktop/src-electron/modules/external-links.ts
  packages/suite-desktop/src-electron/modules/file-protocol.ts
  packages/suite-desktop/src-electron/modules/http-receiver.ts
  packages/suite-desktop/src-electron/modules/menu.ts
  packages/suite-desktop/src-electron/modules/metadata.ts
  packages/suite-desktop/src-electron/modules/request-filter.ts
  packages/suite-desktop/src-electron/modules/shortcuts.ts
  packages/suite-desktop/src-electron/modules/tor.ts
  packages/suite-desktop/src-electron/modules/window-controls.ts
  yarn.lock
Owners: @keraf, @szymonlesisz
