Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf

/packages/suite-native @slowbackspace @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

style: nicer disconnected device wwarning
  packages/suite/src/components/suite/modals/confirm/Address/components/DeviceDisconnected.tsx
  packages/suite/src/components/suite/modals/confirm/Address/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: lint
  packages/components/src/components/Modal/index.stories.tsx
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

feat (design): update Receive page design
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/QrCode/index.tsx
  packages/suite/src/components/suite/modals/confirm/Action/index.tsx
  packages/suite/src/components/suite/modals/confirm/Address/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/dom.ts
  packages/suite/src/views/wallet/receive/Container.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: remove successText property passed to ConfirmOnDevice in confirm modals
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
  packages/suite/src/components/suite/modals/confirm/Action/index.tsx
  packages/suite/src/components/suite/modals/confirm/Address/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

refactor: block addr modal closing based on existing prop
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/receiveActions.ts
  packages/suite/src/reducers/suite/modalReducer.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore: cleanup unused code
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: two-step confirm modal
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
  packages/components/src/config/animations.ts
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/receiveActions.ts
  packages/suite/src/components/suite/modals/confirm/Address/index.tsx
  packages/suite/src/components/suite/modals/confirm/UnverifiedAddress/index.tsx
  packages/suite/src/hooks/suite/useDevice.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

style: box with fresh address
  packages/suite/src/components/suite/modals/confirm/UnverifiedAddress/index.tsx
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: confirm addr modal flickering
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/receiveActions.ts
  packages/suite/src/reducers/suite/modalReducer.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: fake modal reducer in receiveActions tests
  packages/suite/src/actions/wallet/__tests__/receiveActions.test.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: lint and unit tests
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
  packages/suite/src/actions/wallet/__fixtures__/receiveActions.ts
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

feat (components): add trezor logo to icons
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/trezor_logo.svg
Owners: @keraf, @slowbackspace, @robertbrada

fix (integration-tests): close confirm-addr modal after confirmation
  packages/components/src/components/Modal/index.tsx
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

fix (integration-tests): try to close the modal really hard
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @mroz22

fix (integration-tests): click on first confirm-on-device-button
  packages/integration-tests/projects/suite-web/tests/metadata/address-labeling.test.ts
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

chore: fix lint, ts
  packages/suite/src/views/wallet/receive/Container.ts
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: reflect changes in integration tests
  packages/integration-tests/projects/suite-web/tests/metadata/address-labeling.test.ts
  packages/suite/src/components/suite/modals/confirm/Address/index.tsx
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

style: restyle address component
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore: remove unused code
  packages/components/src/config/animations.ts
Owners: @keraf, @slowbackspace, @robertbrada

fix (components): render text wrapper only if successText is passed
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

refactor: use optional chaining
  packages/suite/src/hooks/suite/useDevice.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add processMode field that allows blocking close window event in confirm-addr modal
  packages/suite/src/actions/suite/constants/suiteConstants.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/actions/wallet/receiveActions.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
  packages/suite/src/reducers/suite/modalReducer.ts
  packages/suite/src/types/suite/index.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: move to action blocking to separate middleware, add comments
  packages/suite/src/actions/wallet/receiveActions.ts
  packages/suite/src/middlewares/suite/actionBlockerMiddleware.ts
  packages/suite/src/middlewares/suite/index.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/types/suite/index.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: update selected device on processMode change, better ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/hooks/suite/useDevice.ts
  packages/suite/src/types/suite/index.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: unit tests
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/wallet/__fixtures__/receiveActions.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: send form fee layout fix
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: jumping fee-box height while changing fee
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): Fiat input call composeTransaction regardless of the input errors
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: account name overflow in accounts menu
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: setLayout called from useEffect instead of useMemo
  packages/suite/src/components/settings/SettingsLayout/index.tsx
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/views/dashboard/index.tsx
  packages/suite/src/views/passwords/index.tsx
  packages/suite/src/views/portfolio/index.tsx
  packages/suite/src/views/suite/notifications/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: account name overflow in accounts menu
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: condition for deciding if the action should be blocked
  packages/suite/src/middlewares/suite/actionBlockerMiddleware.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Remove unused redirect
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/Redirect.tsx
Owners: @keraf

Fix: Generic account name changed to network name
  packages/components/src/components/Modal/index.tsx
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/de.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/ru.json
  packages/suite/src/components/suite/Labeling/components/Account/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

style: hid account type in transaction list
  packages/suite/src/components/suite/Labeling/components/Account/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: setLayout called from useEffect instead of useMemo
  packages/suite/src/components/settings/SettingsLayout/index.tsx
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/views/dashboard/index.tsx
  packages/suite/src/views/passwords/index.tsx
  packages/suite/src/views/portfolio/index.tsx
  packages/suite/src/views/suite/notifications/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

revert(send): calculateFiat getValues params
  packages/suite/src/hooks/wallet/useSendFormFields.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

revert(send): calculateFiat getValues params
  packages/suite/src/hooks/wallet/useSendFormFields.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat (components): add trezor logo to icons
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/trezor_logo.svg
Owners: @keraf, @slowbackspace, @robertbrada

fix (components): lint
  packages/components/src/config/animations.ts
Owners: @keraf, @slowbackspace, @robertbrada
