Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

feat(onboarding): coin selection step
  packages/suite/src/components/firmware/OnboardingStepBox.tsx
  packages/suite/src/components/onboarding/Box/Box.tsx
  packages/suite/src/components/onboarding/Coin/Coin.tsx
  packages/suite/src/components/onboarding/CoinsGroup/CoinsGroup.tsx
  packages/suite/src/components/onboarding/index.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/onboarding/steps/BasicSettings/AdvancedSetup.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/BasicSettingsStepBox.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/CustomBackend.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/Tor.tsx
  packages/suite/src/views/onboarding/steps/BasicSettings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(intermediary-fw): add intermediaryInstalled flag
  packages/suite/src/actions/firmware/constants/firmware.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/components/firmware/FirmwareInitial.tsx
  packages/suite/src/components/firmware/FirmwareInstallation.tsx
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
  packages/suite/src/reducers/firmware/firmwareReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(tooltips): UI/UX improved, CSS refactored, rich content support, new tooltips added
  CHANGELOG.md
  packages/components/package.json
  packages/components/src/components/Tooltip/all.stories.tsx
  packages/components/src/components/Tooltip/index.stories.tsx
  packages/components/src/components/Tooltip/index.tsx
  packages/components/src/components/Tooltip/tippy.style.ts
  packages/components/src/index.ts
  packages/components/src/support/Story.tsx
  packages/suite-web-landing/support/styles.ts
  packages/suite/src/components/suite/NoRatesTooltip/index.tsx
  packages/suite/src/components/suite/QuestionTooltip/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/AddWalletButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/ColHeader/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/AddAccountButton.tsx
  packages/suite/src/components/suite/modals/AddToken/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/support/suite/styles/global.ts
  packages/suite/src/views/dashboard/components/PortfolioCard/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/OpReturn/index.tsx
  packages/suite/src/views/wallet/send/components/Raw/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(settings): Add/remove custom backend misbehaving
  packages/suite/src/components/suite/modals/AdvancedCoinSettings/components/CustomBlockbookUrls.tsx
  packages/suite/src/reducers/wallet/__fixtures__/settingsReducer.ts
  packages/suite/src/reducers/wallet/__tests__/settingsReducer.test.ts
  packages/suite/src/reducers/wallet/settingsReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(onboarding): Add handling for "fw fingerprint check" request
  packages/suite/src/components/firmware/Fingerprint.tsx
  packages/suite/src/components/suite/modals/confirm/Fingerprint/index.tsx
  packages/suite/src/hooks/suite/useFirmware.ts
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(e2e): update for neue onboarding [wip]
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/firmware-update.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/hologram.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/steps-order.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-create-wallet.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-recovery-advanced.test.ts
  packages/suite/src/components/firmware/Error.tsx
  packages/suite/src/components/firmware/ReconnectDevicePrompt.tsx
  packages/suite/src/components/onboarding/ConnectDevicePrompt/index.tsx
  packages/suite/src/views/onboarding/steps/Security/index.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/DataAnalytics.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/SecurityCheck.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

test(e2e): update for neue onboarding [wip]
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/firmware-update.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/hologram.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/steps-order.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-create-wallet.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-recovery-advanced.test.ts
  packages/suite/src/components/firmware/Error.tsx
  packages/suite/src/components/firmware/ReconnectDevicePrompt.tsx
  packages/suite/src/components/onboarding/ConnectDevicePrompt/index.tsx
  packages/suite/src/views/onboarding/steps/Security/index.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/DataAnalytics.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/PreOnboardingSetup/SecurityCheck.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(settings): Add/remove custom backend misbehaving
  packages/suite/src/components/suite/modals/AdvancedCoinSettings/components/CustomBlockbookUrls.tsx
  packages/suite/src/reducers/wallet/__fixtures__/settingsReducer.ts
  packages/suite/src/reducers/wallet/__tests__/settingsReducer.test.ts
  packages/suite/src/reducers/wallet/settingsReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): set useEmptyPassphrase to false after enabling passphrase protection during generating a seed/seed recovery
  packages/suite/src/actions/recovery/recoveryActions.ts
  packages/suite/src/actions/settings/deviceSettingsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): cherrypicked integration test changes from feat/tschuss-next
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
Owners: @mroz22

chore(desktop): rename get os methods
  packages/suite-desktop/src-electron/libs/user-data.ts
  packages/suite-desktop/src-electron/modules/analytics.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/suite/Backdrop/index.tsx
  packages/suite/src/components/suite/Modal/index.tsx
  packages/suite/src/utils/suite/env.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

feat(suite): fetch, decode, store config and filter valid messages
  packages/integration-tests/projects/suite-web/snapshots/firmware/firmware.test.ts/outdated notification banner.snap.png
  packages/suite-desktop/next.config.js
  packages/suite-native/src/utils/suite/env.ts
  packages/suite-web/next.config.js
  packages/suite/package.json
  packages/suite/src/actions/suite/__fixtures__/messageSystemActions.ts
  packages/suite/src/actions/suite/__tests__/messageSystemActions.test.ts
  packages/suite/src/actions/suite/constants/index.ts
  packages/suite/src/actions/suite/constants/messageSystemConstants.ts
  packages/suite/src/actions/suite/messageSystemActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/middlewares/suite/__tests__/messageSystemMiddleware.test.ts
  packages/suite/src/middlewares/suite/index.ts
  packages/suite/src/middlewares/suite/messageSystemMiddleware.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/__fixtures__/messageSystemReducer.ts
  packages/suite/src/reducers/suite/__tests__/messageSystemReducer.test.ts
  packages/suite/src/reducers/suite/index.ts
  packages/suite/src/reducers/suite/messageSystemReducer.ts
  packages/suite/src/storage/definitions.ts
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/__fixtures__/messageSystem.ts
  packages/suite/src/utils/suite/__tests__/messageSystem.test.ts
  packages/suite/src/utils/suite/env.ts
  packages/suite/src/utils/suite/messageSystem.ts
Owners: @mroz22, @keraf, @szymonlesisz, @slowbackspace, @robertbrada

feat(suite-data): add msg-system schema, config, types and signing logic
  packages/suite-data/.gitignore
  packages/suite-data/config.ts
  packages/suite-data/package.json
  packages/suite-data/src/browser-detection/index.ts
  packages/suite-data/src/message-system/config/config.v1.json
  packages/suite-data/src/message-system/constants/index.ts
  packages/suite-data/src/message-system/schema/config.schema.v1.json
  packages/suite-data/src/message-system/scripts/generate-types.ts
  packages/suite-data/src/message-system/scripts/sign-config.ts
  packages/suite-data/src/message-system/scripts/validate-config.ts
  packages/suite-data/tsconfig.json
  packages/suite/.gitignore
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat(ci): validate, sign config jobs
  .gitlab-ci.yml
  ci/packages/suite-data.yml
  ci/packages/suite-web.yml
  ci/releases.yml
  ci/validation.yml
Owners: @keraf, @mroz22

docs: msg-system
  docs/SUMMARY.md
  docs/misc/message_system.md
Owners: none

feat(suite): redesign, prioritise banners and add message system banner
  packages/components/src/config/colors.ts
  packages/components/src/images/icons/info.svg
  packages/components/src/images/icons/warning.svg
  packages/suite/src/components/suite/Banners/FailedBackup.tsx
  packages/suite/src/components/suite/Banners/MessageSystemBanner.tsx
  packages/suite/src/components/suite/Banners/NoBackup.tsx
  packages/suite/src/components/suite/Banners/OnlineStatus.tsx
  packages/suite/src/components/suite/Banners/UpdateBridge.tsx
  packages/suite/src/components/suite/Banners/UpdateFirmware.tsx
  packages/suite/src/components/suite/Banners/components/Wrapper.tsx
  packages/suite/src/components/suite/Banners/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

test(e2e): update for neue onboarding [wip] vol 2
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/google-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/switching-providers.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-create-wallet.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-recovery-fail.test.ts
  packages/suite/src/components/firmware/OnboardingStepBox.tsx
  packages/suite/src/views/onboarding/steps/ResetDevice/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(README): improvements for new devs
  README.md
Owners: none

fix(suite): set useEmptyPassphrase to false after enabling passphrase protection during generating a seed/seed recovery
  packages/suite/src/actions/recovery/recoveryActions.ts
  packages/suite/src/actions/settings/deviceSettingsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-data): add msg-system schema, config, types and signing logic
  packages/suite-data/.gitignore
  packages/suite-data/config.ts
  packages/suite-data/package.json
  packages/suite-data/src/browser-detection/index.ts
  packages/suite-data/src/message-system/config/config.v1.json
  packages/suite-data/src/message-system/constants/index.ts
  packages/suite-data/src/message-system/schema/config.schema.v1.json
  packages/suite-data/src/message-system/scripts/generate-types.ts
  packages/suite-data/src/message-system/scripts/sign-config.ts
  packages/suite-data/src/message-system/scripts/validate-config.ts
  packages/suite-data/tsconfig.json
  packages/suite/.gitignore
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite): cherrypicked integration test changes from feat/tschuss-next
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
Owners: @mroz22

docs: msg-system
  docs/SUMMARY.md
  docs/misc/message_system.md
Owners: none

feat(ci): validate, sign config jobs
  .gitlab-ci.yml
  ci/packages/suite-data.yml
  ci/packages/suite-web.yml
  ci/releases.yml
  ci/validation.yml
Owners: @keraf, @mroz22

feat(suite): redesign, prioritise banners and add message system banner
  packages/components/src/config/colors.ts
  packages/components/src/images/icons/info.svg
  packages/components/src/images/icons/warning.svg
  packages/suite/src/components/suite/Banners/FailedBackup.tsx
  packages/suite/src/components/suite/Banners/MessageSystemBanner.tsx
  packages/suite/src/components/suite/Banners/NoBackup.tsx
  packages/suite/src/components/suite/Banners/OnlineStatus.tsx
  packages/suite/src/components/suite/Banners/UpdateBridge.tsx
  packages/suite/src/components/suite/Banners/UpdateFirmware.tsx
  packages/suite/src/components/suite/Banners/components/Wrapper.tsx
  packages/suite/src/components/suite/Banners/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(suite): fetch, decode, store config and filter valid messages
  packages/integration-tests/projects/suite-web/snapshots/firmware/firmware.test.ts/outdated notification banner.snap.png
  packages/suite-desktop/next.config.js
  packages/suite-native/src/utils/suite/env.ts
  packages/suite-web/next.config.js
  packages/suite/package.json
  packages/suite/src/actions/suite/__fixtures__/messageSystemActions.ts
  packages/suite/src/actions/suite/__tests__/messageSystemActions.test.ts
  packages/suite/src/actions/suite/constants/index.ts
  packages/suite/src/actions/suite/constants/messageSystemConstants.ts
  packages/suite/src/actions/suite/messageSystemActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/middlewares/suite/__tests__/messageSystemMiddleware.test.ts
  packages/suite/src/middlewares/suite/index.ts
  packages/suite/src/middlewares/suite/messageSystemMiddleware.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/__fixtures__/messageSystemReducer.ts
  packages/suite/src/reducers/suite/__tests__/messageSystemReducer.test.ts
  packages/suite/src/reducers/suite/index.ts
  packages/suite/src/reducers/suite/messageSystemReducer.ts
  packages/suite/src/storage/definitions.ts
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/__fixtures__/messageSystem.ts
  packages/suite/src/utils/suite/__tests__/messageSystem.test.ts
  packages/suite/src/utils/suite/env.ts
  packages/suite/src/utils/suite/messageSystem.ts
Owners: @mroz22, @keraf, @szymonlesisz, @slowbackspace, @robertbrada

chore(desktop): rename get os methods
  packages/suite-desktop/src-electron/libs/user-data.ts
  packages/suite-desktop/src-electron/modules/analytics.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/suite/Backdrop/index.tsx
  packages/suite/src/components/suite/Modal/index.tsx
  packages/suite/src/utils/suite/env.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix(e2e): skip failing analytics test on localhost
  packages/integration-tests/package.json
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  yarn.lock
Owners: @mroz22

feat(analytics): track desktop actions to stable log
  docs/misc/analytics.md
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): version 1.8 improvements
  docs/misc/analytics.md
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/env.ts
Owners: @mroz22, @slowbackspace, @szymonlesisz, @keraf, @robertbrada

feat(analytics): track desktop actions to stable log
  docs/misc/analytics.md
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): version 1.8 improvements
  docs/misc/analytics.md
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/env.ts
Owners: @mroz22, @slowbackspace, @szymonlesisz, @keraf, @robertbrada

fix(e2e): skip failing analytics test on localhost
  packages/integration-tests/package.json
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  yarn.lock
Owners: @mroz22

fix(desktop): #3654 Clear desktop storage on app reset
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/libs/store.ts
  packages/suite-desktop/src-electron/modules/store.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/global.d.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: #2282 Warn when safety_checks are disabled
  packages/integration-tests/projects/suite-web/tests/suite/safety-checks-warning.test.ts
  packages/suite/src/components/suite/Banners/SafetyChecks.tsx
  packages/suite/src/components/suite/Banners/index.tsx
  packages/suite/src/support/messages.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(invity): Implement WAITING_FOR_USER Buy status
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/Status/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/WaitingForUser/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(desktop): #3654 Clear desktop storage on app reset
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/libs/store.ts
  packages/suite-desktop/src-electron/modules/store.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/global.d.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: #2282 Warn when safety_checks are disabled
  packages/integration-tests/projects/suite-web/tests/suite/safety-checks-warning.test.ts
  packages/suite/src/components/suite/Banners/SafetyChecks.tsx
  packages/suite/src/components/suite/Banners/index.tsx
  packages/suite/src/support/messages.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(invity): Implement WAITING_FOR_USER Buy status
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/Status/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/WaitingForUser/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs(changelog): remove Changelog
  CHANGELOG.md
Owners: none

fix(dashboard): asset card in dark mode, store to persistent storage
  packages/suite/src/actions/suite/__fixtures__/suiteActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/views/dashboard/components/AssetsCard/components/AssetGrid/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
