Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fixup! fix: dark mode icons
  packages/suite/src/components/wallet/CoinmarketBuyProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketExchangeProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketPaymentType/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

wip
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(e2e): after skeletons passphrase-numbering newly added test fixed
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
Owners: @mroz22

wip
  .gitlab-ci.yml
  packages/suite/src/components/firmware/CheckSeed.tsx
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/firmware/Initial.tsx
  packages/suite/src/components/firmware/NoNewFirmware.tsx
  packages/suite/src/components/firmware/OnboardingInitial.tsx
  packages/suite/src/components/firmware/PartiallyDone.tsx
  packages/suite/src/components/firmware/ReconnectInBootloader.tsx
  packages/suite/src/components/firmware/ReconnectInNormal.tsx
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
  packages/suite/src/reducers/firmware/firmwareReducer.ts
  packages/suite/src/utils/suite/device.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): refactor desktop updater and prioritize updater modal
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src/support/DesktopUpdater.tsx
  packages/suite-desktop/src/support/DesktopUpdater/Available.tsx
  packages/suite-desktop/src/support/DesktopUpdater/Downloading.tsx
  packages/suite-desktop/src/support/DesktopUpdater/Ready.tsx
  packages/suite-desktop/src/support/DesktopUpdater/styles.ts
  packages/suite/src/components/suite/Preloader/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(e2e): after skeletons passphrase-numbering newly added test fixed
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
Owners: @mroz22

fix(invity): dark mode icons (#3132)
  packages/components/src/config/colors.ts
  packages/suite/src/components/wallet/CoinmarketBuyProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketExchangeProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketPaymentType/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

wip tests mac gui
  docker/docker-suite-test-mac.sh
  docker/docker-suite-test.sh
Owners: @mroz22

fix: add more validation messages
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: work on proper types
  packages/components/src/components/form/Select/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(rbf): disable rbf as default + display coin symbol in ChangeFee form
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(rbf): disable rbf as default
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(rbf): disable rbf as default
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(transactions): refactor export
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/utils/suite/export.ts
  packages/suite/src/utils/wallet/exportTransactions.ts
  packages/suite/src/views/dashboard/components/PortfolioCard/components/DashboardGraph/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): search
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/config/suite/features.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/ExportAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix ETH balance is used when trying to exchange some ERC20 tokens
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/ReceiveCryptoSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix ETH balance is used when trying to exchange some ERC20 tokens
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/ReceiveCryptoSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix ETH balance is used when trying to exchange some ERC20 tokens
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/ReceiveCryptoSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(nix): call git lfs pull in native/nix build script
  ci/packages/suite-desktop.yml
  shell.nix
Owners: @keraf, @mroz22

feat(nix): call git lfs pull in native/nix build script
  ci/packages/suite-desktop.yml
  shell.nix
Owners: @keraf, @mroz22

fix: types for grouped options
  packages/components/src/components/form/Select/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

feat: scrolling to option in select on keypress (#3024)
  packages/components/src/components/form/Select/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: add .yarn to gitignore [skip ci]
  .gitignore
Owners: none

chore: upgrade cypress to 5.0.0
  packages/integration-tests/projects/suite-web/run_tests.js
Owners: @mroz22

cypress6.1.0
  docker/docker-compose.suite-ci.yml
  docker/test-runner/Dockerfile
  packages/integration-tests/package.json
  packages/integration-tests/projects/suite-web/run_tests.js
  packages/integration-tests/projects/suite-web/tests/dashboard/dashboard.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase-disabled.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/remembering-devices.test.ts
  yarn.lock
Owners: @mroz22

cypress6.1.0
  docker/docker-compose.suite-ci.yml
  docker/test-runner/Dockerfile
  packages/integration-tests/package.json
  packages/integration-tests/projects/suite-web/run_tests.js
  packages/integration-tests/projects/suite-web/tests/dashboard/dashboard.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase-disabled.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/remembering-devices.test.ts
  yarn.lock
Owners: @mroz22

chore: upgrade cypress to 5.0.0
  packages/integration-tests/projects/suite-web/run_tests.js
Owners: @mroz22

chore: Select and CleanSelect unified
  packages/components/src/components/form/CleanSelect/index.stories.tsx
  packages/components/src/components/form/CleanSelect/index.tsx
  packages/components/src/components/form/Select/index.tsx
  packages/components/src/components/form/index.stories.tsx
  packages/components/src/index.ts
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Footer/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/FiatSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/ReceiveCryptoSelect/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/TokenSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(invity): electron receiver address
  packages/suite/src/constants/wallet/coinmarket/buy.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/utils/suite/env.ts
  packages/suite/src/utils/wallet/coinmarket/__tests__/buyUtils.test.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/WaitingForPayment/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix/exchange-layout
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: Select and CleanSelect unified
  packages/components/src/components/form/CleanSelect/index.stories.tsx
  packages/components/src/components/form/CleanSelect/index.tsx
  packages/components/src/components/form/Select/index.tsx
  packages/components/src/components/form/index.stories.tsx
  packages/components/src/index.ts
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Footer/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/FiatSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/ReceiveCryptoSelect/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/TokenSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix/exchange-layout
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

design: removed soon badge from exchange feature
  packages/suite-web-landing/pages/index.tsx
Owners: none

design: removed soon badge from exchange feature
  packages/suite-web-landing/pages/index.tsx
Owners: none

feat: display different value when tx sent to self
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): electron receiver address
  packages/suite/src/constants/wallet/coinmarket/buy.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/utils/suite/env.ts
  packages/suite/src/utils/wallet/coinmarket/__tests__/buyUtils.test.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/WaitingForPayment/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! ci(suite-desktop): gpg sign artefacts in codesign targets
  packages/suite-desktop/scripts/gnupg-sign.sh
Owners: @keraf, @szymonlesisz

fix: self token transfer UI support
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci(suite-desktop): gpg sign artefacts in codesign targets
  ci/packages/suite-desktop.yml
  packages/suite-desktop/scripts/gnupg-sign.sh
  shell.nix
Owners: @keraf, @mroz22, @szymonlesisz

fix: backup warning
  packages/suite/src/middlewares/wallet/discoveryMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
