Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

chore: update react-markdown package
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): hide amounts in account transactions
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): enable google provider
  packages/suite-data/files/oauth/oauth_receiver.html
  packages/suite-desktop/src-electron/config.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-native/src/utils/suite/oauth.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/constants/metadataConstants.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/config/suite/features.ts
  packages/suite/src/middlewares/wallet/__tests__/walletMiddleware.test.ts
  packages/suite/src/services/google.ts
  packages/suite/src/services/suite/metadata/DropboxProvider.ts
  packages/suite/src/services/suite/metadata/FileSystemProvider.ts
  packages/suite/src/services/suite/metadata/GoogleProvider.ts
  packages/suite/src/types/suite/metadata.ts
  packages/suite/src/utils/suite/oauth.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

test(e2e): extend e2e metadata tests to google provider
  packages/integration-tests/projects/suite-web/plugins/google.js
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/stubs/metadata.ts
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/google-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/switching-providers.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
Owners: @mroz22

feat(suite-desktop): enable build for linux-arm64
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
Owners: @keraf, @szymonlesisz

refactor(suite-desktop): use archs explicitly when calling electron-builder
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

feat(suite-desktop): add architecture to artifact names
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/os_linux_arm64.svg
  packages/landing-page/pages/wallet/start/index.tsx
  packages/suite-data/files/translations/en.json
  packages/suite-desktop/package.json
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/utils/navigator.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(suite-data): add tor binary for linux-arm64
  packages/suite-data/files/bin/tor/linux-arm64/libcrypto.so.1.1
  packages/suite-data/files/bin/tor/linux-arm64/libevent-2.1.so.6
  packages/suite-data/files/bin/tor/linux-arm64/libssl.so.1.1
  packages/suite-data/files/bin/tor/linux-arm64/tor
  packages/suite-data/files/bin/tor/linux-arm64/torrc
Owners: @keraf

fix(suite-web-landing): Fix dropdown menu width
  packages/suite-web-landing/components/Download/index.tsx
Owners: none

chore: update react-markdown package (#2980)
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): discreet mode cut off in accounts
  packages/suite/src/components/wallet/CoinBalance/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

!fixup fix(suite): discreet mode cut off in accounts
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
  packages/suite/src/components/wallet/CoinBalance/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: disable proceed with exchange below-minimum offers
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/List/Quote/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: fix some typos
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: fix some typos
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: coin selector search also by name
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): validate zero amount
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): validate zero amount - cleanup
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): required empty input in buy
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(e2e): extend e2e metadata tests to google provider
  packages/integration-tests/projects/suite-web/plugins/google.js
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/stubs/metadata.ts
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/google-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/switching-providers.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
Owners: @mroz22

feat(metadata): enable google provider
  packages/suite-data/files/oauth/oauth_receiver.html
  packages/suite-desktop/src-electron/config.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-native/src/utils/suite/oauth.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/constants/metadataConstants.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/config/suite/features.ts
  packages/suite/src/middlewares/wallet/__tests__/walletMiddleware.test.ts
  packages/suite/src/services/google.ts
  packages/suite/src/services/suite/metadata/DropboxProvider.ts
  packages/suite/src/services/suite/metadata/FileSystemProvider.ts
  packages/suite/src/services/suite/metadata/GoogleProvider.ts
  packages/suite/src/types/suite/metadata.ts
  packages/suite/src/utils/suite/oauth.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix: disable proceed with exchange below-minimum offers
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/List/Quote/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): validate zero amount
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): validate zero amount - cleanup
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: coin selector search also by name
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): required empty input in buy
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite-desktop): use archs explicitly when calling electron-builder
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

feat(suite-data): add tor binary for linux-arm64
  packages/suite-data/files/bin/tor/linux-arm64/libcrypto.so.1.1
  packages/suite-data/files/bin/tor/linux-arm64/libevent-2.1.so.6
  packages/suite-data/files/bin/tor/linux-arm64/libssl.so.1.1
  packages/suite-data/files/bin/tor/linux-arm64/tor
  packages/suite-data/files/bin/tor/linux-arm64/torrc
Owners: @keraf

feat(suite-desktop): add architecture to artifact names
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/os_linux_arm64.svg
  packages/landing-page/pages/wallet/start/index.tsx
  packages/suite-data/files/translations/en.json
  packages/suite-desktop/package.json
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/utils/navigator.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(suite-desktop): enable build for linux-arm64
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
Owners: @keraf, @szymonlesisz

chore(metadata): upgrade dropbox lib [skip ci]
  packages/integration-tests/projects/suite-web/plugins/dropbox.js
  packages/suite/package.json
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/suite/constants/metadataConstants.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/services/suite/metadata/DropboxProvider.ts
  yarn.lock
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

chore: update theme colors
  packages/components/src/components/Scrollbar/index.tsx
  packages/components/src/config/colors.ts
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: update icons
  packages/components/src/components/logos/CoinLogo/coins.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/coins/bch.svg
  packages/components/src/images/coins/btc.svg
  packages/components/src/images/coins/btctestnet.svg
  packages/components/src/images/coins/btg.svg
  packages/components/src/images/coins/dash.svg
  packages/components/src/images/coins/dgb.svg
  packages/components/src/images/coins/doge.svg
  packages/components/src/images/coins/etc.svg
  packages/components/src/images/coins/eth.svg
  packages/components/src/images/coins/ltc.svg
  packages/components/src/images/coins/nem.svg
  packages/components/src/images/coins/nmc.svg
  packages/components/src/images/coins/rinkeby.svg
  packages/components/src/images/coins/trop.svg
  packages/components/src/images/coins/txrp.svg
  packages/components/src/images/coins/vtc.svg
  packages/components/src/images/coins/xem.svg
  packages/components/src/images/coins/xlm.svg
  packages/components/src/images/coins/xrp.svg
  packages/components/src/images/coins/xtz.svg
  packages/components/src/images/coins/zec.svg
Owners: @keraf, @slowbackspace, @robertbrada

fix: scroll behaviour in firefox
  packages/suite/src/components/suite/MenuSecondary/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
  packages/suite/src/support/suite/styles/global.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: messages
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/redirect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): add missing await to isDBAvailable()
  packages/suite-storage/src/native/index.ts
  packages/suite/src/actions/suite/storageActions.ts
Owners: @slowbackspace, @keraf, @szymonlesisz, @mroz22, @robertbrada

fix: messages
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/redirect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: tests
  packages/suite/src/utils/wallet/coinmarket/__tests__/buyUtils.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite-desktop): update electron to 11
  packages/suite-desktop/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz

fix(suite): add white border around qr code so it is recognized even in dark mode
  packages/suite/src/components/suite/QrCode/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
