Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf

/packages/suite-native @slowbackspace @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix: typo in comment
  packages/suite/src/components/suite/NavigationBar/components/MainNavigation/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: exchange button removed
  packages/suite/src/components/suite/NavigationBar/components/MainNavigation/index.tsx
  packages/suite/src/constants/suite/menu.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: typo in comment
  packages/suite/src/components/suite/NavigationBar/components/MainNavigation/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Minor visual fixes
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/Status/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore(blockchain-link): update dependencies
  package.json
  packages/blockchain-link/package.json
  packages/components/package.json
  packages/integration-tests/package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-web/package.json
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

chore(blockchain-link): update version
  packages/blockchain-link/CHANGELOG.md
  packages/blockchain-link/package.json
Owners: @keraf

refactor(send): move uncontrolled fields registration to useSendFormOutputs hook
  packages/suite/src/hooks/wallet/useSendFormOutputs.ts
  packages/suite/src/views/wallet/send/components/Outputs/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(send): Fiat component - remove watcher, save draft after currency change
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: progress-bar natively in Modal component
  packages/components/src/components/Modal/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

Open GET quotes in electron window
  packages/suite-desktop/src-electron/electron.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore(blockchain-link): update dependencies
  package.json
  packages/blockchain-link/package.json
  packages/components/package.json
  packages/integration-tests/package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-web/package.json
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

chore(blockchain-link): update version
  packages/blockchain-link/CHANGELOG.md
  packages/blockchain-link/package.json
Owners: @keraf

style: typo fix
  packages/suite/src/components/suite/NavigationBar/components/MainNavigation/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Open POST window with form
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): add "isDirty" field and display "Clear all" button conditionaly
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/views/wallet/send/components/Header/components/Clear/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: remove external networks
  packages/suite/src/actions/settings/constants/walletSettings.ts
  packages/suite/src/actions/settings/walletSettingsActions.ts
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkExternal.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkUnavailable.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
  packages/suite/src/components/suite/modals/AddAccount/index.tsx
  packages/suite/src/config/wallet/externalNetworks.ts
  packages/suite/src/config/wallet/index.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/wallet/__tests__/settingsReducer.test.ts
  packages/suite/src/reducers/wallet/settingsReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/views/settings/wallet/components/Coin/index.tsx
  packages/suite/src/views/settings/wallet/index.tsx
  packages/suite/test/health/urls.test.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): add "isDirty" field and display "Clear all" button conditionaly
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/views/wallet/send/components/Header/components/Clear/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(send): Fiat component - remove watcher, save draft after currency change
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(send): move uncontrolled fields registration to useSendFormOutputs hook
  packages/suite/src/hooks/wallet/useSendFormOutputs.ts
  packages/suite/src/views/wallet/send/components/Outputs/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: bg-color, z-index, progress-computation
  packages/components/src/components/Modal/index.stories.tsx
  packages/components/src/components/Modal/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

Complete buy trade detail functionality
  packages/suite-data/files/images/svg/coinmarket-error.svg
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/coinmarketBuyDetail.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/PaymentFailed/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/PaymentProcessing/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/PaymentSuccessful/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/WaitingForPayment/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Filter account transactions by account
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Handle buy offers with only alternative available
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: bg-color, z-index, progress-computation
  packages/components/src/components/Modal/index.stories.tsx
  packages/components/src/components/Modal/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

feat: progress-bar natively in Modal component
  packages/components/src/components/Modal/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

Reset buy reducer when switching the accounts
  packages/suite/src/actions/wallet/coinmarketBuyActions.ts
  packages/suite/src/actions/wallet/constants/coinmarketBuyConstants.ts
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): set "isDirty" in "composeDraft"
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Add assetPrefix to url
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
  yarn.lock
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

bump db version
  packages/suite/src/storage/index.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(send): unify eth and xrp "composeTransaction", fix "totalSpent" in ERC20 transfer
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
  packages/suite/src/actions/wallet/send/sendFormRippleActions.ts
  packages/suite/src/actions/wallet/sendFormActions.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): TotalSent component with ERC20 values
  packages/suite/src/views/wallet/send/components/TotalSent/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

move styles
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/Status/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/components/wallet/CoinmarketTransactionId/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Footer/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/Footer/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/Inputs/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

remove validator
  packages/suite/package.json
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/Inputs/index.tsx
  yarn.lock
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Fix: Generic account name changed to network name
  packages/components/src/components/Modal/index.tsx
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/de.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/ru.json
  packages/suite/src/components/suite/Labeling/components/Account/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

fix: remove console.log
  packages/components/src/components/Modal/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

style: hid account type in transaction list
  packages/suite/src/components/suite/Labeling/components/Account/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: decimals check
  packages/suite/src/hooks/wallet/useCoinmarketBuyForm.ts
  packages/suite/src/types/wallet/coinmarketBuyForm.ts
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: inconsistent margin between activity/send
  packages/suite/src/views/wallet/send/components/Header/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

add basic confirm bubbles
  packages/components/src/components/Modal/index.stories.tsx
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
  packages/components/src/config/animations.ts
  packages/suite/src/components/suite/modals/confirm/Action/index.tsx
  packages/suite/src/components/suite/modals/confirm/Address/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

fix (components): lint
  packages/components/src/config/animations.ts
Owners: @keraf, @slowbackspace, @robertbrada
