Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

Fix: feerate (#3349)
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/wallet/Fees/components/FeeDetails.tsx
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: auth only if device is not locked
  packages/suite/src/middlewares/wallet/discoveryMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): consistency (Fee Level -> Fee rate)
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: auth only if device is not locked
  packages/suite/src/middlewares/wallet/discoveryMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: auth only if device is not locked
  packages/suite/src/middlewares/wallet/discoveryMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): review modal delivery time displays '0'
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): consistency (Fee Level -> Fee rate)
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): review modal delivery time displays '0'
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: Fee copy
  packages/suite/src/components/wallet/Fees/components/EstimatedMiningTime.tsx
  packages/suite/src/components/wallet/Fees/components/FeeCustom.tsx
  packages/suite/src/components/wallet/Fees/components/FeeDetails.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(auto-updater): skip if APPIMAGE is not set
  packages/suite-desktop/src-electron/modules/auto-updater.ts
Owners: @keraf, @szymonlesisz

fix: Fee copy
  packages/suite/src/components/wallet/Fees/components/EstimatedMiningTime.tsx
  packages/suite/src/components/wallet/Fees/components/FeeCustom.tsx
  packages/suite/src/components/wallet/Fees/components/FeeDetails.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): consistency (Fee Level -> Fee rate)
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: Fee copy
  packages/suite/src/components/wallet/Fees/components/EstimatedMiningTime.tsx
  packages/suite/src/components/wallet/Fees/components/FeeCustom.tsx
  packages/suite/src/components/wallet/Fees/components/FeeDetails.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): review modal delivery time displays '0'
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(desktop): new auto-updater enabling behaviour
  docs/packages/suite-desktop.md
  packages/suite-desktop/src-electron/__tests__/logger.test.ts
  packages/suite-desktop/src-electron/app.ts
  packages/suite-desktop/src-electron/config.ts
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/libs/info.ts
  packages/suite-desktop/src-electron/libs/logger.ts
  packages/suite-desktop/src-electron/libs/modules.ts
  packages/suite-desktop/src-electron/libs/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/modules/analytics.ts
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src-electron/modules/bridge.ts
  packages/suite-desktop/src-electron/modules/event-logging/process.ts
  packages/suite-desktop/src-electron/modules/file-protocol.ts
  packages/suite-desktop/src-electron/modules/http-receiver.ts
  packages/suite-desktop/src-electron/modules/menu.ts
  packages/suite-desktop/src-electron/modules/metadata.ts
  packages/suite-desktop/src-electron/modules/tor.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src-electron/tsconfig.json
  packages/suite-desktop/src/support/DesktopUpdater.tsx
  packages/suite/src/actions/suite/constants/desktopUpdateConstants.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/config/suite/features.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/views/settings/index.tsx
  tsconfig.json
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(auto-updater): skip if APPIMAGE is not set
  packages/suite-desktop/src-electron/modules/auto-updater.ts
Owners: @keraf, @szymonlesisz

fix(desktop): new auto-updater enabling behaviour
  docs/packages/suite-desktop.md
  packages/suite-desktop/src-electron/__tests__/logger.test.ts
  packages/suite-desktop/src-electron/app.ts
  packages/suite-desktop/src-electron/config.ts
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/libs/info.ts
  packages/suite-desktop/src-electron/libs/logger.ts
  packages/suite-desktop/src-electron/libs/modules.ts
  packages/suite-desktop/src-electron/libs/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/modules/analytics.ts
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src-electron/modules/bridge.ts
  packages/suite-desktop/src-electron/modules/event-logging/process.ts
  packages/suite-desktop/src-electron/modules/file-protocol.ts
  packages/suite-desktop/src-electron/modules/http-receiver.ts
  packages/suite-desktop/src-electron/modules/menu.ts
  packages/suite-desktop/src-electron/modules/metadata.ts
  packages/suite-desktop/src-electron/modules/tor.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src-electron/tsconfig.json
  packages/suite-desktop/src/support/DesktopUpdater.tsx
  packages/suite/src/actions/suite/constants/desktopUpdateConstants.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/config/suite/features.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/views/settings/index.tsx
  tsconfig.json
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(suite): Custom FormattedDate component
  packages/suite-desktop/src/support/DesktopUpdater/Available.tsx
  packages/suite/src/components/suite/FormattedDate/index.tsx
  packages/suite/src/components/suite/Notifications/components/NotificationList/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/AffectedTransactions/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/TransactionTimestamp/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/SummaryCards/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.22
  packages/suite-data/files/connect/data/firmware/1/releases.json
  packages/suite-data/files/connect/data/firmware/2/releases.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.f6dbb1b5271dcb7155b3.js
  packages/suite/package.json
  patches/trezor-connect+8.1.21-extended.patch
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.22
  packages/suite-data/files/connect/data/firmware/1/releases.json
  packages/suite-data/files/connect/data/firmware/2/releases.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.f6dbb1b5271dcb7155b3.js
  packages/suite/package.json
  patches/trezor-connect+8.1.21-extended.patch
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.22
  packages/suite-data/files/connect/data/firmware/1/releases.json
  packages/suite-data/files/connect/data/firmware/2/releases.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.f6dbb1b5271dcb7155b3.js
  packages/suite/package.json
  patches/trezor-connect+8.1.21-extended.patch
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.22
  packages/suite-data/files/connect/data/firmware/1/releases.json
  packages/suite-data/files/connect/data/firmware/2/releases.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.f6dbb1b5271dcb7155b3.js
  packages/suite/package.json
  patches/trezor-connect+8.1.21-extended.patch
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(docs): update changelog
  CHANGELOG.md
Owners: none

chore(desktop): update electron to 11.2.1
  packages/suite-desktop/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz

fix(suite-data): downgrade bridge binaries to 2.0.27
  packages/suite-data/files/bin/bridge/linux-x64/trezord
  packages/suite-data/files/bin/bridge/mac-x64/trezord
  packages/suite-data/files/bin/bridge/win-x64/trezord.exe
Owners: @keraf

fix(suite-data): downgrade bridge binaries to 2.0.27
  packages/suite-data/files/bin/bridge/linux-x64/trezord
  packages/suite-data/files/bin/bridge/mac-x64/trezord
  packages/suite-data/files/bin/bridge/win-x64/trezord.exe
Owners: @keraf

chore(all): bump versions to 21.2.2 [RELEASE ONLY]
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

chore(e2e): disable snapshot comparison of changelog
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
Owners: @mroz22

chore(e2e): disable snapshot comparison of changelog
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
Owners: @mroz22

chore(tests): fix rollout
  packages/rollout/integration/fresh-devices.ts
Owners: @mroz22

fix(invity): switch name of exchange inputs
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/types/wallet/coinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Footer/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/SendCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): switch name of exchange inputs
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/types/wallet/coinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Footer/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/SendCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(ci): changelog check
  .github/workflows/changelog.yml
Owners: none

feat(ci): changelog check
  .github/workflows/changelog.yml
Owners: none

fix(suite): throw custom error on non-200 status codes from fiat rates provider, don't send the errors to sentry
  packages/suite/src/config/suite/sentry.ts
  packages/suite/src/services/coingecko.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(storage): check if IDB is supported before each db operation (no support in ff incognito/tor browser)
  CHANGELOG.md
  packages/suite-storage/src/native/index.ts
  packages/suite-storage/src/web/index.ts
  packages/suite/src/actions/suite/__tests__/storageActions.test.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/support/tests/setupJest.ts
Owners: @slowbackspace, @keraf, @szymonlesisz, @mroz22, @robertbrada

chore(suite): Custom FormattedDate component
  packages/suite-desktop/src/support/DesktopUpdater/Available.tsx
  packages/suite/src/components/suite/FormattedDate/index.tsx
  packages/suite/src/components/suite/Notifications/components/NotificationList/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/AffectedTransactions/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/TransactionTimestamp/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/SummaryCards/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

docs(ci): document the changelog check
  docs/misc/changelog.md
Owners: none

test(e2e): blackout expectedly changing parts of snapshots
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/suite/src/components/firmware/Initial.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fixup! docs(ci): document the changelog check
  docs/SUMMARY.md
Owners: none

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
