Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

feat: #2796 Remove temporary code for Zcash fork
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/constants/wallet/sendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): discreet mode enabled for all sensitive info on TX detail view
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): smooth out blur frame of TX ID and in assets table
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/config/suite/animation.ts
  packages/suite/src/views/wallet/send/components/Outputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): Exchange - Receiving address tooltip wording
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: change suite-web dev server port
  packages/suite-web/package.json
  packages/suite-web/scripts/httpsServer.js
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada

fix: @release-it/bumper dependency version
  package.json
  yarn.lock
Owners: none

fix: change suite-web dev server port
  packages/suite-web/package.json
  packages/suite-web/scripts/httpsServer.js
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada

fix(suite): smooth out blur frame of FIAT rates on TX detail view
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: align the logged path with the actual path
  packages/suite-data/src/message-system/scripts/sign-config.ts
Owners: @keraf

chore: Refactor copy-static-files script
  packages/suite-data/config.ts
  packages/suite-data/index.ts
Owners: @keraf

chore: Fail early on missing static files
  README.md
  packages/suite-data/index.ts
Owners: @keraf

fix: align the logged path with the actual path (#3777)
  packages/suite-data/src/message-system/scripts/sign-config.ts
Owners: @keraf

docs(connect): document ?trezor-connect-src
  docs/SUMMARY.md
  docs/packages/connect/debugging.md
Owners: none

docs(connect): document how to add new firmwares
  docs/SUMMARY.md
  docs/packages/connect/bump.md
  docs/packages/connect/index.md
  docs/releases/adding-new-firmwares.md
  docs/releases/deployment/index.md
  docs/releases/deployment/web.md
  docs/releases/environments.md
  docs/releases/index.md
Owners: none

chore: Fail early on missing static files
  README.md
  packages/suite-data/index.ts
Owners: @keraf

chore: Refactor copy-static-files script
  packages/suite-data/config.ts
  packages/suite-data/index.ts
Owners: @keraf

docs(connect): document ?trezor-connect-src
  docs/SUMMARY.md
  docs/packages/connect/debugging.md
Owners: none

docs(connect): document how to add new firmwares
  docs/SUMMARY.md
  docs/packages/connect/bump.md
  docs/packages/connect/index.md
  docs/releases/adding-new-firmwares.md
  docs/releases/deployment/index.md
  docs/releases/deployment/web.md
  docs/releases/environments.md
  docs/releases/index.md
Owners: none

chore: update trezor-connect@8.1.27
  packages/suite-data/files/connect/data/firmware/1/releases.json
  packages/suite-data/files/connect/data/messages/messages.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.22a104faf830d977dd98.js
  packages/suite-data/files/connect/js/iframe.55ab7c4f211a4c64bb84.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite): discreet mode enabled for all sensitive info on TX detail view
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): smooth out blur frame of FIAT rates on TX detail view
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): smooth out blur frame of TX ID and in assets table
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/config/suite/animation.ts
  packages/suite/src/views/wallet/send/components/Outputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(libs): remove release-it
  package.json
  yarn.lock
Owners: none

chore(ci): remove release-it
  ci/release-it.yml
  ci/releases.yml
  docs/releases/versioning.md
Owners: @keraf, @mroz22

fix(invity): Sell Crypto: functionality of the button "Get this Offer"
  packages/suite/src/hooks/wallet/useCoinmarketSellOffers.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/coinmarketSellOffers.ts
  packages/suite/src/views/wallet/coinmarket/sell/offers/Offers/List/Quote/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(rollout): fix per new releases
  packages/rollout/integration/fresh-devices.ts
Owners: @mroz22

fix(rollout): fix per new releases
  packages/rollout/integration/fresh-devices.ts
Owners: @mroz22

chore(libs): remove release-it
  package.json
  yarn.lock
Owners: none

chore(ci): remove release-it
  ci/release-it.yml
  ci/releases.yml
  docs/releases/versioning.md
Owners: @keraf, @mroz22

feat(suite): apply new color and font weight in Account Menu
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): add hover state for items in Account Menu
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): new style for Add account button
  packages/components/src/components/buttons/Button/index.stories.tsx
  packages/components/src/components/buttons/Button/index.tsx
  packages/components/src/components/buttons/index.stories.tsx
  packages/suite/src/components/suite/AddAccountButton/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(suite): ETH tokens moved to own tab next to Overview tab
  packages/suite-desktop/pages/accounts/tokens/index.tsx
  packages/suite-web/pages/accounts/tokens/index.tsx
  packages/suite/src/components/suite/AppNavigation/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/components/AccountNavigation/index.tsx
  packages/suite/src/constants/suite/routes.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/tokens/components/NoTokens/index.tsx
  packages/suite/src/views/wallet/tokens/components/TokenList/index.tsx
  packages/suite/src/views/wallet/tokens/index.tsx
  packages/suite/src/views/wallet/transactions/components/TokenList/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

feat(suite): add badge on ETH accounts indicating number of individual Tokens
  packages/components/src/components/buttons/Button/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/TokensCount.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(invity): Pending buy - double transaction ID
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/PaymentFailed/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/WaitingForUser/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): react-hook-form update
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): react-hook-form update
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): Sell Crypto: functionality of the button "Get this Offer"
  packages/suite/src/hooks/wallet/useCoinmarketSellOffers.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/coinmarketSellOffers.ts
  packages/suite/src/views/wallet/coinmarket/sell/offers/Offers/List/Quote/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(ci): github-cli automatic release to github
  .gitlab-ci.yml
  ci/docker/base/Dockerfile
  ci/releases.yml
Owners: @keraf, @mroz22

feat(ci): github-cli automatic release to github
  .gitlab-ci.yml
  ci/docker/base/Dockerfile
  ci/releases.yml
Owners: @keraf, @mroz22

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
