Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

chore(changelog): add changelog for 20.1.1 [skip ci]
  CHANGELOG.md
Owners: none

changelog: add
  CHANGELOG.md
Owners: none

changelog: add [skip ci]
  CHANGELOG.md
Owners: none

feat: OS icons added
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/os_linux.svg
  packages/components/src/images/icons/os_mac.svg
  packages/components/src/images/icons/os_windows.svg
Owners: @keraf, @slowbackspace, @robertbrada

feat: Trezor Suite desktop downloads landing page
  packages/components/src/config/colors.ts
  packages/suite-data/files/images/suite-web-landing/feature1.png
  packages/suite-data/files/images/suite-web-landing/feature2.png
  packages/suite-data/files/images/suite-web-landing/feature3.png
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/components/Feature/index.tsx
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite-web-landing/pages/index.tsx
  packages/suite-web-landing/support/styles.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/navigator.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

style: fix TS
  packages/suite-web-landing/components/Feature/index.tsx
Owners: none

chore: fix TS types
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: Trezor Suite desktop downloads landing page - basic animations added
  packages/suite-web-landing/components/Feature/index.tsx
  packages/suite-web-landing/desc.d.ts
  packages/suite-web-landing/package.json
  packages/suite-web-landing/pages/index.tsx
  yarn.lock
Owners: none

chore: cleanup TS definitions
  packages/suite-web-landing/next-env.d.ts
Owners: none

chore: platform/navigator util cleanup
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/types/index.ts
  packages/suite-web-landing/utils/navigator.ts
Owners: none

style: fix TS
  packages/suite-web-landing/components/Download/index.tsx
Owners: none

feat - trezor suite logo added
  packages/components/src/components/logos/TrezorLogo/index.stories.tsx
  packages/components/src/components/logos/TrezorLogo/logos.ts
  packages/components/src/components/logos/index.stories.tsx
  packages/components/src/images/trezor_logo_suite.svg
  packages/components/src/support/types/index.ts
Owners: @keraf, @slowbackspace, @robertbrada

fix: fully clickable download button area
  packages/suite-web-landing/components/Download/index.tsx
Owners: none

feat: Trezor Suite desktop downloads landing page - mobile / tablet view adjustments
  packages/suite-web-landing/components/Feature/index.tsx
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite-web-landing/pages/index.tsx
Owners: none

chore: add suite landing page
  .gitlab-ci.yml
  ci/packages/suite-web-landing.yml
  packages/suite-data/config.ts
  packages/suite-data/index.ts
  packages/suite-web-landing/.eslintignore
  packages/suite-web-landing/.eslintrc.js
  packages/suite-web-landing/.gitignore
  packages/suite-web-landing/babel.config.js
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite-web-landing/next-env.d.ts
  packages/suite-web-landing/next.config.js
  packages/suite-web-landing/package.json
  packages/suite-web-landing/pages/_app.tsx
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web-landing/pages/index.tsx
  packages/suite-web-landing/scripts/s3sync.sh
  packages/suite-web-landing/support/styles.ts
  packages/suite-web-landing/tsconfig.json
  tsconfig.json
Owners: @keraf, @mroz22

chore: optimize Trezor Suite SVG logo
  packages/components/src/images/trezor_logo_suite.svg
Owners: @keraf, @slowbackspace, @robertbrada

chore: Trezor Suite desktop downloads landing page - animation library updated
  packages/suite-web-landing/components/Feature/index.tsx
  packages/suite-web-landing/desc.d.ts
  packages/suite-web-landing/package.json
  packages/suite-web-landing/pages/index.tsx
  yarn.lock
Owners: none

fix: dropdown z-index
  packages/suite-web-landing/pages/index.tsx
Owners: none

chore: platform util moved to the LP module + platform type fix + platform fall back to linux
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/types/index.ts
  packages/suite-web-landing/utils/navigator.ts
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: footer link base domain
  packages/suite-web-landing/components/Layout/index.tsx
Owners: none

style: fix eslint issues in navigator util
  packages/suite/src/utils/suite/navigator.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: fix TS typings error
  packages/suite-web-landing/next-env.d.ts
Owners: none

style: fix TS code style
  packages/suite-web-landing/pages/index.tsx
Owners: none

fix: download button padding
  packages/suite-web-landing/components/Download/index.tsx
Owners: none

feat: add auto updater control on settings page
  packages/suite/src/services/github.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! chore: fix review comments.
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/DesktopUpdater.tsx
Owners: @keraf, @szymonlesisz

feat: add version skipping
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/electron-next.d.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src-electron/store.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/support/suite/DesktopUpdater.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

style: nicer styles for changelog
  packages/suite/src/support/suite/DesktopUpdater.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: code clean up for review
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-native/tsconfig.json
  packages/suite/src/components/suite/hocNotification/components/withAction.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/middlewares/suite/toastMiddleware.ts
  packages/suite/src/reducers/suite/notificationReducer.ts
  packages/suite/src/support/suite/DesktopUpdater.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

feat: add cancel download button and removed toasts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/support/suite/DesktopUpdater.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs: update desktop updater documentation
  docs/misc/desktop_updates.md
Owners: none

fix: move DesktopUpdater component under IntlProvider
  packages/suite-desktop/pages/_app.tsx
Owners: @keraf, @szymonlesisz

fix: gloal definition
  index.d.ts
  packages/suite/global.d.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: initial work on auto updater
  index.d.ts
  packages/suite-desktop/package.json
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/src/actions/suite/constants/desktopUpdateConstants.ts
  packages/suite/src/actions/suite/constants/index.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/reducers/suite/index.ts
  packages/suite/src/support/suite/DesktopUpdater.tsx
  packages/suite/src/types/suite/desktop.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/file.ts
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: fix review comments.
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/DesktopUpdater.tsx
  packages/suite-native/tsconfig.json
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

style: proper UI for desktop updater
  packages/suite/src/support/suite/DesktopUpdater.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: toast notifications support for desktop updater
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/components/suite/hocNotification/components/withAction.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/reducers/suite/notificationReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add option to override autoClose property on toast notifications
  packages/suite/src/middlewares/suite/toastMiddleware.ts
  packages/suite/src/reducers/suite/notificationReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: type check
  packages/suite/src/reducers/suite/notificationReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): add missing messages
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
