Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

chore: cleanup
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: add divider between standard and hidden wallet options
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: font update, distorted layout fix
  packages/landing-page/components/Layout/index.tsx
  packages/landing-page/components/StartLayout/index.tsx
  packages/suite-data/files/images/landing/hero.svg
Owners: @keraf, @robertbrada

close partner window
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix: return null instead of empty element
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Custom protocol for desktop redirects
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/electron.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(intl): message id mismatch
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): disable unused languages, sync crowdin
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/de.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/ru.json
  packages/suite-native/src/actions/settings/languageActions.ts
  packages/suite/l10n.config.json
  packages/suite/src/actions/suite/__tests__/storageActions.test.ts
  packages/suite/src/config/suite/languages.ts
  packages/suite/src/utils/suite/__tests__/l10n.test.ts
Owners: @keraf, @slowbackspace, @szymonlesisz, @mroz22, @robertbrada

add missing translations, move styles
  packages/suite/src/components/wallet/CoinmarketFooter/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix account navigation params inconsistency
  packages/suite/src/components/suite/AppNavigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fill only empty account parameters
  packages/suite/src/components/suite/AppNavigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): css fixes, overflows of long labels
  packages/suite/src/components/suite/Labeling/components/Account/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/Edit.tsx
  packages/suite/src/components/suite/Labeling/components/Wallet/index.tsx
  packages/suite/src/components/suite/Labeling/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): include metadata in account search fn. rename tests
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
  packages/suite/src/utils/wallet/__tests__/accountUtils.test.ts
  packages/suite/src/utils/wallet/accountUtils.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(metadata): show device.label in device menu button if available
  packages/suite/src/components/suite/Labeling/components/Account/index.tsx
  packages/suite/src/components/suite/Labeling/components/Wallet/index.tsx
  packages/suite/src/components/suite/Labeling/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): use svg instead of png for dropbox and google drive icons. adjust modal more to design
  packages/components/src/components/Icon/icons.ts
  packages/components/src/images/icons/dropbox.svg
  packages/components/src/images/icons/google-drive.svg
  packages/suite-data/files/images/png/dropbox.png
  packages/suite-data/files/images/png/google-drive.png
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

docs(metadata): Update METADATA.md
  packages/suite/docs/METADATA.md
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): do not interrupt auth process with metadata keys request
  packages/suite/src/actions/wallet/discoveryActions.ts
  packages/suite/src/middlewares/suite/metadataMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: account menu - inconsistent parameters
  packages/suite/src/components/suite/AppNavigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(metadata): move metadata key generation after passphrase confirmation + eslint files
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/token-expires.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
Owners: @mroz22

fix(components): SwitchDevice modal display only devices with state
  packages/integration-tests/projects/suite-web/tests/suite/remembering-devices.test.ts
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix: use selectedAccount params
  packages/suite/src/components/suite/AppNavigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: use router only once
  packages/suite/src/components/suite/AppNavigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: simplify code
  packages/suite/src/components/suite/AppNavigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(integration): add missing "@retry" to test
  packages/integration-tests/projects/suite-web/tests/onboarding/create-wallet-t1.test.ts
Owners: @mroz22

chore(intl): disable unused languages, sync crowdin
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/de.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/ru.json
  packages/suite-native/src/actions/settings/languageActions.ts
  packages/suite/l10n.config.json
  packages/suite/src/actions/suite/__tests__/storageActions.test.ts
  packages/suite/src/config/suite/languages.ts
  packages/suite/src/utils/suite/__tests__/l10n.test.ts
Owners: @keraf, @slowbackspace, @szymonlesisz, @mroz22, @robertbrada

fix(intl): message id mismatch
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(components): bring back old lock icon as LOCK_ACTIVE
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/lock_active.svg
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

style: change font-weight for wallet description
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseRectangle/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(components): rename Icon's prop usePointerCursor to useCursorPointer
  packages/components/src/components/Icon/index.tsx
  packages/components/src/components/form/Input/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/Edit.tsx
  packages/suite/src/components/suite/QuestionTooltip/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/DeviceHeaderButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/components/DestinationTag/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: update icons
  packages/components/src/images/icons/lock.svg
  packages/components/src/images/icons/wallet.svg
Owners: @keraf, @slowbackspace, @robertbrada

fix(components): h1 import
  packages/components/src/components/Modal/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix: tmp remove animate prop
  packages/suite/src/components/suite/modals/PassphraseSource/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update passphrase copy
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseRectangle/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add confirm bubbles to passphrase modals
  packages/suite/src/components/suite/modals/PassphraseOnDevice/index.tsx
  packages/suite/src/components/suite/modals/PassphraseSource/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(components): font size in modal's heading
  packages/components/src/components/Modal/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

style: add divider between standard and hidden wallet options
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: cleanup
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: update design for wallet selection
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseRectangle/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: update design for passphrase modals
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseRectangle/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
  packages/suite/src/components/suite/modals/PassphraseDuplicate/index.tsx
  packages/suite/src/components/suite/modals/PassphraseSource/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix unclosed root tag
  packages/components/src/images/icons/lock_active.svg
Owners: @keraf, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
