Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

feat(components): add icons
  packages/components/src/components/Icon/icons.ts
  packages/components/src/images/icons/feedback.svg
  packages/components/src/images/icons/support.svg
Owners: @keraf, @slowbackspace, @robertbrada

feat: add instanceId reference to feedback form
  packages/suite/src/components/suite/BetaBadge/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: higher z-index for beta badge
  packages/components/src/components/others/SecurityCard/index.tsx
  packages/suite/src/components/suite/BetaBadge/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: separate intl for review n send and send buttons
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/send/components/ReviewButton/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs: document versioning and introduce mdbook
  docs/.gitignore
  docs/SUMMARY.md
  docs/book.toml
  docs/index.md
  docs/misc/index.md
  docs/misc/versioning.md
Owners: none

fix: remove duplicated CypressExportStore
  packages/suite-web/pages/_app.tsx
  packages/suite-web/support/CypressExportStore.tsx
  packages/suite/src/support/suite/CypressExportStore.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada, @szymonlesisz

fix: global types declarations
  index.d.ts
  packages/suite-desktop/next-env.d.ts
  packages/suite-web/next-env.d.ts
  packages/suite/global.d.ts
  packages/suite/src/utils/suite/oauth.ts
  packages/suite/tsconfig.json
  tsconfig.json
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

docs: document versioning and introduce mdbook (#2427)
  docs/.gitignore
  docs/SUMMARY.md
  docs/book.toml
  docs/index.md
  docs/misc/index.md
  docs/misc/versioning.md
Owners: none

chore: update trezor-connect 8.1.5 (#2475)
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.50b820714216cce5e538.js
  packages/suite-data/files/connect/js/iframe.a54b2190ff109515d92e.js
  packages/suite-data/files/connect/workers/ripple-worker.9fb07c0368820b90956a.js
  packages/suite-data/files/connect/workers/ripple-worker.a7b3184353b9b0cf6e84.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

ci(suite-desktop): update codesigning
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

fix: global types declarations
  index.d.ts
  packages/suite-desktop/next-env.d.ts
  packages/suite-web/next-env.d.ts
  packages/suite/global.d.ts
  packages/suite/src/utils/suite/oauth.ts
  packages/suite/tsconfig.json
  tsconfig.json
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix: remove duplicated CypressExportStore
  packages/suite-web/pages/_app.tsx
  packages/suite-web/support/CypressExportStore.tsx
  packages/suite/src/support/suite/CypressExportStore.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada, @szymonlesisz

feat: disable close on click and handle dismissing notification via NOTIFICATION.CLOSE
  packages/suite/src/middlewares/suite/toastMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(e2e): close toast hiding button. skip flaky test
  packages/integration-tests/projects/suite-web/tests/metadata/token-expires.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/create-wallet-t1.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/create-wallet-t2.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/suite/src/components/suite/ToastNotification/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat: top-right position, move visual props to component
  packages/suite/src/components/suite/ToastContainer/index.tsx
  packages/suite/src/components/suite/ToastNotification/index.tsx
  packages/suite/src/middlewares/suite/toastMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: bump react-toastify
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add missing default icons in activity screen
  packages/suite/src/components/suite/ToastNotification/index.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/notification.ts
  packages/suite/src/views/suite/notifications/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add blue color for info toast notifications
  packages/components/src/config/colors.ts
  packages/suite/src/components/suite/ToastNotification/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(integration-tests): click on menu item hidden behind notification
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @mroz22

feat: style ToastNotification, add variant prop
  packages/suite-desktop/pages/_app.tsx
  packages/suite-web/pages/_app.tsx
  packages/suite/src/components/suite/ToastContainer/index.tsx
  packages/suite/src/components/suite/ToastNotification/index.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/components/suite/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

feat: show close button in toast notification by default
  packages/suite/src/components/suite/ToastNotification/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: fix lint
  packages/components/src/components/loaders/Loader/index.stories.tsx
  packages/components/src/components/loaders/Loader/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(firmware): retry button. fix #2410
  packages/suite/src/components/firmware/OnboardingInitial.tsx
  packages/suite/src/views/onboarding/steps/Firmware/Container.ts
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(firmware): code readability, review issues
  packages/integration-tests/projects/suite-web/tests/onboarding/create-wallet-t1.test.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/components/firmware/CheckSeed.tsx
  packages/suite/src/middlewares/suite/__tests__/firmwareMiddleware.test.ts
  packages/suite/src/reducers/firmware/firmwareReducer.ts
  packages/suite/src/utils/firmware/index.ts
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/firmware/index.tsx
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
  packages/suite/src/views/onboarding/steps/ResetDevice/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat: top-right position, move visual props to component
  packages/suite/src/components/suite/ToastContainer/index.tsx
  packages/suite/src/components/suite/ToastNotification/index.tsx
  packages/suite/src/middlewares/suite/toastMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: show close button in toast notification by default
  packages/suite/src/components/suite/ToastNotification/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add blue color for info toast notifications
  packages/components/src/config/colors.ts
  packages/suite/src/components/suite/ToastNotification/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(integration-tests): click on menu item hidden behind notification
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @mroz22

fix: add missing default icons in activity screen
  packages/suite/src/components/suite/ToastNotification/index.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/notification.ts
  packages/suite/src/views/suite/notifications/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: style ToastNotification, add variant prop
  packages/suite-desktop/pages/_app.tsx
  packages/suite-web/pages/_app.tsx
  packages/suite/src/components/suite/ToastContainer/index.tsx
  packages/suite/src/components/suite/ToastNotification/index.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/components/suite/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

feat: disable close on click and handle dismissing notification via NOTIFICATION.CLOSE
  packages/suite/src/middlewares/suite/toastMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(e2e): close toast hiding button. skip flaky test
  packages/integration-tests/projects/suite-web/tests/metadata/token-expires.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/create-wallet-t1.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/create-wallet-t2.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/suite/src/components/suite/ToastNotification/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

chore: bump react-toastify
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: fix lint
  packages/components/src/components/loaders/Loader/index.stories.tsx
  packages/components/src/components/loaders/Loader/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix: loader simpler design for better performance in Chrome + cleanup of available properties
  packages/components/src/components/loaders/Loader/all.stories.tsx
  packages/components/src/components/loaders/Loader/index.stories.tsx
  packages/components/src/components/loaders/Loader/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix: add discreet mode, add account labeling
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: electron leftovers, remove unused variables
  packages/suite-desktop/src-electron/electron.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: add labeling to coinmarket top panel
  packages/suite/src/components/wallet/CoinmarketTopPanel/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: disable button when name not changed
  packages/suite/src/views/settings/device/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Change imports
  packages/suite/src/components/suite/modals/confirm/CoinmarketBuyTerms/index.tsx
  packages/suite/src/hooks/suite/useRedirect.ts
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/reducers/wallet/__tests__/coinmarketReducer.test.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/views/suite/coinmarket-redirect/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/PaymentFailed/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/PaymentProcessing/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/PaymentSuccessful/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/WaitingForPayment/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
