Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

chore: remove unused dependencies
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite-support): use hooks instead of redux-connect
  packages/suite-desktop/src/support/BridgeStatus.ts
  packages/suite/src/support/suite/ConnectedIntlProvider.tsx
  packages/suite/src/support/suite/ErrorBoundary.tsx
  packages/suite/src/support/suite/OnlineStatus.tsx
  packages/suite/src/support/suite/Resize.tsx
  packages/suite/src/support/suite/Router.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: removed double check for the same value
  packages/suite/src/components/firmware/Initial.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

design: new way of displaying changelog
  packages/suite/src/components/firmware/Initial.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: type-checks, rebase modifications
  packages/suite/src/components/firmware/Initial.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): fix case when downloading partial account metadata resulted in unexpected undefined in accounts reducer
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/services/metadata/DropboxProvider.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: comparing asset symbols in lowercase
  packages/suite/src/components/suite/FiatValue/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: changed component name for better clarity
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(receive): address row should not be clickable, reveal is only on 'reveal' button
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

design: using componetns from the same package
  packages/suite/src/views/onboarding/steps/ResetDevice/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(dropbox): fix metadata files location for scoped app
  packages/suite/src/services/metadata/DropboxProvider.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): fix case when downloading partial account metadata resulted in unexpected undefined in accounts reducer
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/services/metadata/DropboxProvider.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(receive): address row should not be clickable, reveal is only on 'reveal' button
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! chore: use l10n message for window titles
  packages/suite/src/components/wallet/CoinmarketLayout/index.tsx
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/index.tsx
  packages/suite/src/views/wallet/details/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
  packages/suite/src/views/wallet/send/index.tsx
  packages/suite/src/views/wallet/sign-verify/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add intl support for suite-web-landing
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite-web-landing/components/Translation/index.tsx
  packages/suite-web-landing/package.json
  packages/suite-web-landing/pages/index.tsx
  packages/suite-web-landing/support/styles.ts
  packages/suite/package.json
  packages/suite/src/components/suite/FormattedNumber/index.tsx
  packages/suite/src/components/suite/Translation/components/BaseTranslation/index.tsx
  packages/suite/src/components/suite/Translation/components/ConnectedHelperTooltip/index.tsx
  packages/suite/src/components/suite/Translation/components/HelperTooltip/index.tsx
  packages/suite/src/components/suite/Translation/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/support/suite/ConnectedIntlProvider.tsx
  packages/suite/src/types/suite/index.ts
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: link doesn't propagate events to parent
  packages/components/src/components/typography/Link/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

feat: add intl support for suite-web-landing
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite-web-landing/components/Translation/index.tsx
  packages/suite-web-landing/package.json
  packages/suite-web-landing/pages/index.tsx
  packages/suite-web-landing/support/styles.ts
  packages/suite/package.json
  packages/suite/src/components/suite/FormattedNumber/index.tsx
  packages/suite/src/components/suite/Translation/components/BaseTranslation/index.tsx
  packages/suite/src/components/suite/Translation/components/ConnectedHelperTooltip/index.tsx
  packages/suite/src/components/suite/Translation/components/HelperTooltip/index.tsx
  packages/suite/src/components/suite/Translation/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/support/suite/ConnectedIntlProvider.tsx
  packages/suite/src/types/suite/index.ts
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: link doesn't propagate events to parent
  packages/components/src/components/typography/Link/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

test(homescreen): introduce isValid tests
  packages/suite/src/utils/suite/__tests__/homescreen.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(homescreen): isValid
  packages/suite/src/utils/suite/homescreen.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite-desktop): simplify bridge launching code
  packages/suite-desktop/src-electron/bridge.ts
Owners: @keraf, @szymonlesisz

fix(nix): use system 7za binary [skip ci]
  shell.nix
Owners: none

refactor(suite-desktop): simplify bridge launching code
  packages/suite-desktop/src-electron/bridge.ts
Owners: @keraf, @szymonlesisz

fixup! chore: use l10n message for window titles
  packages/suite/src/components/wallet/CoinmarketLayout/index.tsx
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/index.tsx
  packages/suite/src/views/wallet/details/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
  packages/suite/src/views/wallet/send/index.tsx
  packages/suite/src/views/wallet/sign-verify/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: use l10n message for window titles
  packages/suite/src/components/wallet/CoinmarketLayout/index.tsx
  packages/suite/src/views/wallet/details/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
  packages/suite/src/views/wallet/send/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: remove graph for rates for the past week
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/utils/suite/__tests__/date.test.ts
  packages/suite/src/utils/suite/date.ts
  packages/suite/src/views/dashboard/components/AssetsCard/components/LastWeekGraph/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci: move linters to prebuild stage; use empty 'needs' so they can run right away
  .gitlab-ci.yml
  ci/prebuild.yml
Owners: @keraf, @mroz22

ci: add few more missing 'needs', rename suite.yml
  .gitlab-ci.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-misc.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

chore(ci): use 'needs' instead of 'dependencies'
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

chore: bump version for November release
  docs/misc/versioning.md
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

fix: translations for buy crypto
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: bump version for November release
  docs/misc/versioning.md
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

fix: translations for buy crypto
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs: add link to review process
  docs/SUMMARY.md
  docs/misc/review.md
Owners: none

chore: remove graph for rates for the past week
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/utils/suite/__tests__/date.test.ts
  packages/suite/src/utils/suite/date.ts
  packages/suite/src/views/dashboard/components/AssetsCard/components/LastWeekGraph/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

update: intl messages
  packages/suite-data/files/translations/en.json
Owners: @keraf

ci: add few more missing 'needs', rename suite.yml
  .gitlab-ci.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-misc.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

chore(ci): use 'needs' instead of 'dependencies'
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

ci: move linters to prebuild stage; use empty 'needs' so they can run right away
  .gitlab-ci.yml
  ci/prebuild.yml
Owners: @keraf, @mroz22

fix: subscribe message spam on blockbook
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
