Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(firmware-update): error with fetching binary in desktop
  packages/rollout/package.json
  packages/rollout/src/utils/fetch.ts
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.6351ae2798a11f0e0f03.js
  packages/suite-data/files/connect/js/iframe.a54b2190ff109515d92e.js
  yarn.lock
Owners: @mroz22, @keraf

fix(suite-desktop): don't try to run bridge on unsupported systems
  packages/suite-desktop/src-electron/bridge.ts
Owners: @keraf, @szymonlesisz

feat(analytics): log 'fromFwVersion' field
  docs/SUMMARY.md
  docs/misc/analytics.md
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/components/firmware/Fingerprint.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(style): fix analytics style (after welcome modal) to fit new modals design better
  packages/suite/src/views/suite/analytics/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(style): fix analytics style (after welcome modal) to fit new modals design better
  packages/suite/src/views/suite/analytics/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: remove conditional hooks
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix payment gate return paths
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix tests
  packages/suite/src/utils/wallet/coinmarket/__tests__/buyUtils.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(style): fix analytics style (after welcome modal) to fit new modals design better
  packages/suite/src/views/suite/analytics/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): don't try to run bridge on unsupported systems
  packages/suite-desktop/src-electron/bridge.ts
Owners: @keraf, @szymonlesisz

feat(metadata): animate metadata value on mouse hover
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: fix margin between notifications
  packages/suite/src/components/suite/NotificationCard/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/DeviceHeaderButton/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: make spinner spin slower, update color
  packages/components/src/components/loaders/Loader/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

feat(analytics): log 'fromFwVersion' field
  docs/SUMMARY.md
  docs/misc/analytics.md
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/components/firmware/Fingerprint.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(firmware-update): error with fetching binary in desktop
  packages/rollout/package.json
  packages/rollout/src/utils/fetch.ts
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.6351ae2798a11f0e0f03.js
  packages/suite-data/files/connect/js/iframe.a54b2190ff109515d92e.js
  yarn.lock
Owners: @mroz22, @keraf

style: code restructuring. work in progress
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

styles: work in progress on Input/Output tab
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs(analytics): improve docs
  docs/misc/analytics.md
Owners: none

chore: code simplification
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: overall improvemens of new tx-detail - in progress
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

style: improved UX for opening tx-detail modal
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/TransactionHeading/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/TransactionTimestamp/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: tx-detail modal - code cleanup
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: deleted old files
  packages/suite/src/components/suite/modals/TransactionDetail/components/Box/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BoxRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/FiatDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: date timezone adjustment in tx details modal
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: responsivity improvements
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: don't show total input/output values for ethereum/xrp transactions
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): add missing intl
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: layout distorted
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: fix ts
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: messages update after rebase
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): separate message for hidden wallet modal's description
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs(analytics): improve docs
  docs/misc/analytics.md
Owners: none

Minor fixes requested by review
  packages/suite/src/components/suite/QuestionTooltip/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update suite icon
  packages/suite-data/files/images/icons/512x512.icns
  packages/suite-data/files/images/icons/512x512.ico
  packages/suite-data/files/images/icons/512x512.png
Owners: @keraf

fix: date timezone adjustment in tx details modal
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: fix ts
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: layout distorted
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: improved UX for opening tx-detail modal
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/TransactionHeading/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/TransactionTimestamp/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: messages update after rebase
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: don't show total input/output values for ethereum/xrp transactions
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
