Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix: protobuf "wire_type" option support
  trezor-link/src/lowlevel/send.js
Owners: none

fix: protobuf "wire_type" option support
  packages/transport/trezor-link/trezor-link/src/lowlevel/send.js
Owners: none

fix: protobuf "wire_type" option support
  packages/transport/packages/transport/trezor-link/trezor-link/src/lowlevel/send.js
Owners: none

1.7.2
  packages/transport/packages/transport/trezor-link/trezor-link/package.json
Owners: none

1.7.2
  packages/transport/trezor-link/trezor-link/package.json
Owners: none

1.7.2
  trezor-link/package.json
Owners: none

1.7.2
  package.json
Owners: none

1.7.2
  packages/transport/package.json
Owners: none

chore(suite-desktop): update electron to 11.1.1
  packages/suite-desktop/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz

chore(suite-data): cleanup T2 homescreens
  packages/suite-data/files/images/png/homescreens/t2/anonymous.png
  packages/suite-data/files/images/png/homescreens/t2/bitcoin_gold.png
  packages/suite-data/files/images/png/homescreens/t2/btc.png
  packages/suite-data/files/images/png/homescreens/t2/dash.png
  packages/suite-data/files/images/png/homescreens/t2/decred.png
  packages/suite-data/files/images/png/homescreens/t2/default.png
  packages/suite-data/files/images/png/homescreens/t2/digibyte.png
  packages/suite-data/files/images/png/homescreens/t2/doge.png
  packages/suite-data/files/images/png/homescreens/t2/eth.png
  packages/suite-data/files/images/png/homescreens/t2/fujicoin.png
  packages/suite-data/files/images/png/homescreens/t2/hodl.png
  packages/suite-data/files/images/png/homescreens/t2/ltc.png
  packages/suite-data/files/images/png/homescreens/t2/monacoin.png
  packages/suite-data/files/images/png/homescreens/t2/moon.png
  packages/suite-data/files/images/png/homescreens/t2/namecoin.png
  packages/suite-data/files/images/png/homescreens/t2/polis.png
  packages/suite-data/files/images/png/homescreens/t2/trezor.png
  packages/suite-data/files/images/png/homescreens/t2/vertcoin.png
  packages/suite-data/files/images/png/homescreens/t2/xmr.png
  packages/suite-data/files/images/png/homescreens/t2/zec.png
  packages/suite/src/constants/suite/homescreens.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite-data): update tor binaries
  packages/suite-data/files/bin/tor/linux-x64/libcrypto.so.1.1
  packages/suite-data/files/bin/tor/linux-x64/libssl.so.1.1
  packages/suite-data/files/bin/tor/linux-x64/tor
  packages/suite-data/files/bin/tor/mac-x64/libevent-2.1.7.dylib
  packages/suite-data/files/bin/tor/mac-x64/tor
  packages/suite-data/files/bin/tor/win-x64/libcrypto-1_1-x64.dll
  packages/suite-data/files/bin/tor/win-x64/libssl-1_1-x64.dll
  packages/suite-data/files/bin/tor/win-x64/tor.exe
Owners: @keraf

chore: update homescreen unit tests fixtures
  packages/suite/src/utils/suite/__tests__/homescreen.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update to 2021 signing key
  packages/landing-page/pages/wallet/start/index.tsx
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite/src/constants/suite/urls.ts
Owners: @keraf, @robertbrada, @szymonlesisz, @mroz22, @slowbackspace

chore(suite-data): cleanup T2 homescreens (#3210)
  packages/suite-data/files/images/png/homescreens/t2/anonymous.png
  packages/suite-data/files/images/png/homescreens/t2/bitcoin_gold.png
  packages/suite-data/files/images/png/homescreens/t2/btc.png
  packages/suite-data/files/images/png/homescreens/t2/dash.png
  packages/suite-data/files/images/png/homescreens/t2/decred.png
  packages/suite-data/files/images/png/homescreens/t2/default.png
  packages/suite-data/files/images/png/homescreens/t2/digibyte.png
  packages/suite-data/files/images/png/homescreens/t2/doge.png
  packages/suite-data/files/images/png/homescreens/t2/eth.png
  packages/suite-data/files/images/png/homescreens/t2/fujicoin.png
  packages/suite-data/files/images/png/homescreens/t2/hodl.png
  packages/suite-data/files/images/png/homescreens/t2/ltc.png
  packages/suite-data/files/images/png/homescreens/t2/monacoin.png
  packages/suite-data/files/images/png/homescreens/t2/moon.png
  packages/suite-data/files/images/png/homescreens/t2/namecoin.png
  packages/suite-data/files/images/png/homescreens/t2/polis.png
  packages/suite-data/files/images/png/homescreens/t2/trezor.png
  packages/suite-data/files/images/png/homescreens/t2/vertcoin.png
  packages/suite-data/files/images/png/homescreens/t2/xmr.png
  packages/suite-data/files/images/png/homescreens/t2/zec.png
  packages/suite/src/constants/suite/homescreens.ts
  packages/suite/src/utils/suite/__tests__/homescreen.test.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

ci: build android version of suite-native
  .gitlab-ci.yml
  ci/packages/suite-native.yml
Owners: @keraf, @mroz22

chore: basic android build working
  packages/components/package.json
  packages/suite-native/babel.config.js
  packages/suite-native/metro.config.js
  packages/suite-native/package.json
  packages/suite-native/src/components/suite/Preloader/index.tsx
  packages/suite-native/src/support/suite/router.config.ts
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/package.json
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/reducers/suite/resizeReducer.ts
  packages/suite/src/support/suite/Tor.tsx
  packages/suite/src/utils/suite/env.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: whole tile is clickable
  packages/suite/src/views/dashboard/components/NewsFeed/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add button loading in buy
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeOffers.ts
  packages/suite/src/types/wallet/coinmarketBuyOffers.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add button loading in exchanges
  packages/suite/src/hooks/wallet/useCoinmarketExchangeOffers.ts
  packages/suite/src/types/wallet/coinmarketExchangeOffers.ts
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/SendTransaction/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: make loading button also disabled
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update to 2021 signing key
  packages/landing-page/pages/wallet/start/index.tsx
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite/src/constants/suite/urls.ts
Owners: @keraf, @robertbrada, @szymonlesisz, @mroz22, @slowbackspace

chore(suite-desktop): update electron to 11.1.1
  packages/suite-desktop/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz

refactor(invity): timers
  packages/suite/src/components/wallet/CoinmarketRefreshTime/index.tsx
  packages/suite/src/components/wallet/index.tsx
  packages/suite/src/hooks/suite/useTimeInterval.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeOffers.ts
  packages/suite/src/types/wallet/coinmarketBuyOffers.ts
  packages/suite/src/types/wallet/coinmarketExchangeOffers.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: tests-adjusted
  packages/integration-tests/projects/suite-web/tests/backup/t2-fail.test.ts
  packages/suite/src/views/dashboard/components/SecurityFeatures/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix: disabled dashboard button when backup failed (#3199)
  packages/integration-tests/projects/suite-web/tests/backup/t2-fail.test.ts
  packages/suite/src/views/dashboard/components/SecurityFeatures/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

e2e: use bridge proxy
  docker/docker-compose.suite-ci.yml
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/tests/backup/t2-misc.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t2-device-settings.test.ts
Owners: @mroz22

e2e: use bridge proxy (#3220)
  docker/docker-compose.suite-ci.yml
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/tests/backup/t2-misc.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t2-device-settings.test.ts
Owners: @mroz22

fix: fw update with multiple devices using forceRemember approach
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
  packages/suite/src/middlewares/suite/__tests__/firmwareMiddleware.test.ts
  packages/suite/src/reducers/firmware/firmwareReducer.ts
  packages/suite/src/reducers/suite/__fixtures__/deviceReducer.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
  packages/suite/src/utils/suite/__fixtures__/device.ts
  packages/suite/src/utils/suite/device.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): add new payment messages
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: show tx-detail modal in notification
  packages/suite/src/components/suite/hocNotification/components/withTransaction.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(invity): timers
  packages/suite/src/components/wallet/CoinmarketRefreshTime/index.tsx
  packages/suite/src/components/wallet/index.tsx
  packages/suite/src/hooks/suite/useTimeInterval.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeOffers.ts
  packages/suite/src/types/wallet/coinmarketBuyOffers.ts
  packages/suite/src/types/wallet/coinmarketExchangeOffers.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): allow awaiting onBlockMined by returning a promise
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/actions/wallet/blockchainActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): custom erc20 tokens
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/actions/wallet/constants/index.ts
  packages/suite/src/actions/wallet/constants/token.ts
  packages/suite/src/actions/wallet/tokenActions.ts
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/components/suite/modals/AddToken/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/index.tsx
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/notificationReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/transactions/components/TokenList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: preserve selected levels
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/ReceiveCryptoSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: headline changed when backup failed
  packages/suite/src/views/dashboard/components/SecurityFeatures/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): allow awaiting onBlockMined by returning a promise
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/actions/wallet/blockchainActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): custom erc20 tokens
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/actions/wallet/constants/index.ts
  packages/suite/src/actions/wallet/constants/token.ts
  packages/suite/src/actions/wallet/tokenActions.ts
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/components/suite/modals/AddToken/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/index.tsx
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/notificationReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/transactions/components/TokenList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(ci): remove image
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

fix: preserve selected levels
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/ReceiveCryptoSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): add new payment messages
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
