Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf

/packages/suite-native @slowbackspace @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix: lint and unit tests
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
  packages/suite/src/actions/wallet/__fixtures__/receiveActions.ts
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

chore: remove unused code
  packages/components/src/config/animations.ts
Owners: @keraf, @slowbackspace, @robertbrada

feat: add processMode field that allows blocking close window event in confirm-addr modal
  packages/suite/src/actions/suite/constants/suiteConstants.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/actions/wallet/receiveActions.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
  packages/suite/src/reducers/suite/modalReducer.ts
  packages/suite/src/types/suite/index.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: two-step confirm modal
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
  packages/components/src/config/animations.ts
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/receiveActions.ts
  packages/suite/src/components/suite/modals/confirm/Address/index.tsx
  packages/suite/src/components/suite/modals/confirm/UnverifiedAddress/index.tsx
  packages/suite/src/hooks/suite/useDevice.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

add basic confirm bubbles
  packages/components/src/components/Modal/index.stories.tsx
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
  packages/components/src/config/animations.ts
  packages/suite/src/components/suite/modals/confirm/Action/index.tsx
  packages/suite/src/components/suite/modals/confirm/Address/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

style: restyle address component
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore: fix lint, ts
  packages/suite/src/views/wallet/receive/Container.ts
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore: cleanup unused code
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

refactor: block addr modal closing based on existing prop
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/receiveActions.ts
  packages/suite/src/reducers/suite/modalReducer.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: inconsistent margin between activity/send
  packages/suite/src/views/wallet/send/components/Header/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: condition for deciding if the action should be blocked
  packages/suite/src/middlewares/suite/actionBlockerMiddleware.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: remove successText property passed to ConfirmOnDevice in confirm modals
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
  packages/suite/src/components/suite/modals/confirm/Action/index.tsx
  packages/suite/src/components/suite/modals/confirm/Address/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

fix (integration-tests): close confirm-addr modal after confirmation
  packages/components/src/components/Modal/index.tsx
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

fix: confirm addr modal flickering
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/receiveActions.ts
  packages/suite/src/reducers/suite/modalReducer.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: fake modal reducer in receiveActions tests
  packages/suite/src/actions/wallet/__tests__/receiveActions.test.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: move to action blocking to separate middleware, add comments
  packages/suite/src/actions/wallet/receiveActions.ts
  packages/suite/src/middlewares/suite/actionBlockerMiddleware.ts
  packages/suite/src/middlewares/suite/index.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/types/suite/index.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix (integration-tests): try to close the modal really hard
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @mroz22

fix: reflect changes in integration tests
  packages/integration-tests/projects/suite-web/tests/metadata/address-labeling.test.ts
  packages/suite/src/components/suite/modals/confirm/Address/index.tsx
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

fix (integration-tests): click on first confirm-on-device-button
  packages/integration-tests/projects/suite-web/tests/metadata/address-labeling.test.ts
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

fix (components): render text wrapper only if successText is passed
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix: lint
  packages/components/src/components/Modal/index.stories.tsx
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

feat (design): update Receive page design
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/QrCode/index.tsx
  packages/suite/src/components/suite/modals/confirm/Action/index.tsx
  packages/suite/src/components/suite/modals/confirm/Address/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/dom.ts
  packages/suite/src/views/wallet/receive/Container.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: unit tests
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/wallet/__fixtures__/receiveActions.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

style: nicer disconnected device wwarning
  packages/suite/src/components/suite/modals/confirm/Address/components/DeviceDisconnected.tsx
  packages/suite/src/components/suite/modals/confirm/Address/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

refactor: use optional chaining
  packages/suite/src/hooks/suite/useDevice.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

style: box with fresh address
  packages/suite/src/components/suite/modals/confirm/UnverifiedAddress/index.tsx
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: update selected device on processMode change, better ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/hooks/suite/useDevice.ts
  packages/suite/src/types/suite/index.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore: layout logic redesigned, cleanup
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

style: comments improvement
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): nitpick in TotalSent component
  packages/suite/src/views/wallet/send/components/TotalSent/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

web: add manifest.json which enables Progressive Web App
  packages/suite-data/files/browser-detection/manifest.json
  packages/suite-data/files/images/icons/192x192.png
  packages/suite-web/pages/_document.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada

chore: remove unused intl
  packages/suite/src/support/messages.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add url to trezor.io/coins
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: remove external networks
  packages/suite/src/actions/settings/constants/walletSettings.ts
  packages/suite/src/actions/settings/walletSettingsActions.ts
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkExternal.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkUnavailable.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
  packages/suite/src/components/suite/modals/AddAccount/index.tsx
  packages/suite/src/config/wallet/externalNetworks.ts
  packages/suite/src/config/wallet/index.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/wallet/__tests__/settingsReducer.test.ts
  packages/suite/src/reducers/wallet/settingsReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/views/settings/wallet/components/Coin/index.tsx
  packages/suite/src/views/settings/wallet/index.tsx
  packages/suite/test/health/urls.test.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore: remove unnecessary spread array spread
  packages/suite/test/health/urls.test.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Add descriptor to trade, use descriptor to filter accounts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/wallet/coinmarketBuyActions.ts
  packages/suite/src/actions/wallet/coinmarketExchangeActions.ts
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/storage/CHANGELOG.md
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore(version): drop "-beta" from version string
  CHANGELOG.md
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @slowbackspace, @mroz22

feat(components): adjust components for buy + fixes
  .prettierignore
  packages/components/src/components/DeviceImage/index.tsx
  packages/components/src/components/Icon/icons.ts
  packages/components/src/components/form/CleanSelect/index.stories.tsx
  packages/components/src/components/form/CleanSelect/index.tsx
  packages/components/src/components/form/index.stories.tsx
  packages/components/src/images/icons/coinmarket.svg
  packages/components/src/index.ts
  packages/news-api/.eslintignore
  packages/suite-data/test/test-same-svgs.ts
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/TokenSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22

feat(metadata): show device.label in device menu button if available
  packages/suite/src/components/suite/Labeling/components/Account/index.tsx
  packages/suite/src/components/suite/Labeling/components/Wallet/index.tsx
  packages/suite/src/components/suite/Labeling/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore: remove unnecessary spread array spread
  packages/suite/test/health/urls.test.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada
