Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

Revert "chore: update styled components, minor version"
  packages/components/package.json
  packages/suite-desktop/package.json
  packages/suite-web/package.json
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite-desktop): save window dimension on window close
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/store.ts
Owners: @keraf, @szymonlesisz

fix(suite-web-landing): Fix dropdown menu width
  packages/suite-web-landing/components/Download/index.tsx
Owners: none

fix(suite-desktop): don't trigger bridge update dialog for bridge 2.0.27 and newer
  packages/suite/src/components/suite/Notifications/UpdateBridge.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Revert "chore: update styled components, minor version" (#2945)
  packages/components/package.json
  packages/suite-desktop/package.json
  packages/suite-web/package.json
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: account name
  packages/suite/src/components/wallet/CoinmarketBuyOfferInfo/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(e2e): make test pass
  packages/integration-tests/projects/suite-web/tests/backup/t2-misc.test.ts
Owners: @mroz22

chore: bump version to 20.11.2
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

fix: don't focus on element created for copying text to clipboard (prevents scrolling to the end of page in ff)
  packages/suite/src/utils/suite/dom.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: long label in info
  packages/suite/src/components/wallet/CoinmarketBuyOfferInfo/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-desktop): enable linux-arm64 build
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
Owners: @keraf, @szymonlesisz

fix(landing): add arch to desktop download files
  packages/landing-page/pages/wallet/start/index.tsx
  packages/suite-web-landing/components/Download/index.tsx
Owners: @keraf, @robertbrada

fix(suite-desktop): return valid html and add content-type header to HttpHeceiver request handler
  packages/suite-desktop/src-electron/http-receiver.ts
Owners: @keraf, @szymonlesisz

fix: messages ids
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: sync messages
  packages/suite-data/files/translations/en.json
Owners: @keraf

feat(nix): replace bundled binaries in electron build cache [skip ci]
  .gitignore
  shell.nix
Owners: none

chore: coinMarket related async await refactoring
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketCommonActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionBitcoinActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionEthereumActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionRippleActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketCommonActions.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionBitcoinActions.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionRippleActions.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/components/CustomFee/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! feat(analytics): report backup_type, router changes, session length
  packages/suite/src/middlewares/suite/__tests__/suiteMiddleware.test.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): report backup_type, router changes, session length
  docs/misc/analytics.md
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/reducers/suite/analyticsReducer.ts
  packages/suite/src/utils/suite/env.ts
Owners: @mroz22, @slowbackspace, @szymonlesisz, @keraf, @robertbrada

refactor(nix): move fixing binaries to a separate shell script [skip ci]
  nixos-fix-binaries.sh
  shell.nix
Owners: none

fixup! fix(suite-desktop): return valid html and add content-type header to HttpHeceiver request handler
  packages/suite-desktop/src-electron/http-receiver.ts
Owners: @keraf, @szymonlesisz

Fix account name in buy Info (#2955)
  packages/suite/src/components/wallet/CoinmarketBuyOfferInfo/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): don't trigger bridge update dialog for bridge 2.0.27 and newer
  packages/suite/src/components/suite/Notifications/UpdateBridge.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(e2e): make test pass
  packages/integration-tests/projects/suite-web/tests/backup/t2-misc.test.ts
Owners: @mroz22

chore: sync messages
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix: messages ids
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): report backup_type, router changes, session length
  docs/misc/analytics.md
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/__tests__/suiteMiddleware.test.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/reducers/suite/analyticsReducer.ts
  packages/suite/src/utils/suite/env.ts
Owners: @mroz22, @slowbackspace, @szymonlesisz, @keraf, @robertbrada

fix: don't focus on element created for copying text to clipboard (prevents scrolling to the end of page in ff)
  packages/suite/src/utils/suite/dom.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): return valid html and add content-type header to HttpHeceiver request handler
  packages/suite-desktop/src-electron/http-receiver.ts
Owners: @keraf, @szymonlesisz

fix: cache buy country select
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Footer/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: cache buy country select
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Footer/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): handle selected account change (utxo, balance)
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): calculate pending balance before received notification
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/actions/wallet/selectedAccountActions.ts
  packages/suite/src/actions/wallet/sendFormActions.ts
  packages/suite/src/utils/wallet/accountUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): select last used device after STORAGE.LOADED
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(send): add sign-push tx tests with pending account balance/utxo calculation
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.tsx
  packages/suite/src/support/tests/hooksHelper.tsx
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/views/wallet/send/components/ReviewButton/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Add invity.io to allowed domains in destop versions
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

fix: add invity.io to allowed domains in destop versions (#2975)
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

fix: hide amounts in account transactions
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): add more events
  docs/misc/analytics.md
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  packages/suite/src/actions/recovery/recoveryActions.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/__fixtures__/analytics.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(analytics): add more events
  docs/misc/analytics.md
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  packages/suite/src/actions/recovery/recoveryActions.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/__fixtures__/analytics.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
