Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix: hide coinmarket from the menu
  packages/suite/src/config/wallet/menu.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: suite-web-landing link with assetPrefix
  packages/suite-web-landing/components/Layout/index.tsx
Owners: none

chore: yarn.lock
  yarn.lock
Owners: none

chore: yarn.lock
  yarn.lock
Owners: none

ci(suite-web): reorganize build and deploy tasks
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/suite-native.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
  packages/landing-page/scripts/s3sync.sh
  packages/suite-web-landing/scripts/s3sync.sh
  packages/suite-web/scripts/s3sync.sh
Owners: @keraf, @mroz22, @robertbrada, @slowbackspace

fix(suite-web-landing): use relative paths for "web" links
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/components/Layout/index.tsx
Owners: none

fix(metadata): do not swallow error in fetchMetadata action
  packages/suite-native/src/services/metadata/DropboxProvider.ts
  packages/suite-native/src/services/metadata/GoogleProvider.ts
  packages/suite/src/actions/suite/metadataActions.ts
Owners: @slowbackspace, @szymonlesisz, @keraf, @mroz22, @robertbrada

ci(suite-web): reorganize build and deploy tasks
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/suite-native.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
  packages/landing-page/scripts/s3sync.sh
  packages/suite-web-landing/scripts/s3sync.sh
  packages/suite-web/scripts/s3sync.sh
Owners: @keraf, @mroz22, @robertbrada, @slowbackspace

fix(suite-web-landing): use relative paths for "web" links
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/components/Layout/index.tsx
Owners: none

fix(metadata): do not swallow error in fetchMetadata action
  packages/suite-native/src/services/metadata/DropboxProvider.ts
  packages/suite-native/src/services/metadata/GoogleProvider.ts
  packages/suite/src/actions/suite/metadataActions.ts
Owners: @slowbackspace, @szymonlesisz, @keraf, @mroz22, @robertbrada

fix: error in formatting date while it's undefined
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/SummaryCards/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: scroll to the top of txs list when going to a next page
  packages/suite/src/components/dashboard/Section/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: timeline component in txs list cut off between first 3 and rest of the targets
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(landing-page): use relative path for "web" links
  packages/landing-page/pages/wallet/start/index.tsx
Owners: @keraf, @robertbrada

ci(deploy): unify deploy to dev stages
  .gitlab-ci.yml
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

fix: double scrollbar in overview tab when browser window height was less than 600px
  packages/suite/src/components/suite/SuiteLayout/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update intl
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

docs: production and staging envs [skip ci]
  docs/deployment/index.md
  docs/deployment/web.md
Owners: none

fixup! docs: production and staging envs [skip ci]
  docs/deployment/web.md
Owners: none

fix(landing-page): fix deploy to staging
  packages/landing-page/scripts/s3sync.sh
Owners: @keraf, @robertbrada

ci: simplify s3sync scripts
  packages/landing-page/scripts/s3sync.sh
  packages/suite-web-landing/scripts/s3sync.sh
  packages/suite-web/scripts/s3sync.sh
Owners: @keraf, @robertbrada, @slowbackspace, @mroz22

fix: promote some auth errors notifications from warning to error variant
  packages/suite/src/components/suite/hocNotification/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs: production and staging envs [skip ci]
  docs/deployment/index.md
  docs/deployment/web.md
Owners: none

fix(landing-page): use correct relative paths
  packages/landing-page/pages/index.tsx
  packages/landing-page/pages/wallet/start/index.tsx
Owners: @keraf, @robertbrada

fix(landing-page): don't use assetPrefix
  ci/packages/landing-page.yml
  docs/deployment/web.md
  packages/landing-page/pages/index.tsx
Owners: @keraf, @mroz22, @robertbrada

fix(landing-page): fix lint
  packages/landing-page/pages/index.tsx
Owners: @keraf, @robertbrada

feat: scroll to the top of txs list when going to a next page
  packages/suite/src/components/dashboard/Section/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: double scrollbar in overview tab when browser window height was less than 600px
  packages/suite/src/components/suite/SuiteLayout/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: promote some auth errors notifications from warning to error variant
  packages/suite/src/components/suite/hocNotification/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: error in formatting date while it's undefined
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/SummaryCards/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: timeline component in txs list cut off between first 3 and rest of the targets
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update intl
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(send): clear "compose" errors when switching between levels
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
  packages/suite/src/hooks/wallet/useSendFormFields.ts
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): ReviewTransaction modal - remove "Total ETH" element when sending ERC20
  packages/suite/src/components/suite/modals/ReviewTransaction/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): Token (ERC20) balance position in Amount input
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: failed backup notif now has continue button
  packages/integration-tests/projects/suite-web/tests/backup/fail-t2.test.ts
  packages/suite/src/components/suite/Notifications/FailedBackup.tsx
  packages/suite/src/views/backup/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

chore: "split continue" and "continue setup"
  packages/suite/src/components/suite/Notifications/FailedBackup.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): RBF state (on/off) displayed in Locktime option
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: don't render wallet name for device without state
  packages/suite/src/components/suite/Labeling/components/Wallet/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(components): ConfirmOnDevice steps unique key
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
