Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

chore: change trezor icon in connect your device modal
  packages/suite/src/components/suite/ProgressBar/components/HelpBuyIcons.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(send): distinguish Locktime timestamp/blockheight in ReviewTransaction modal
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
  packages/suite/src/constants/wallet/sendForm.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: exclude unsupported from coin filter
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: review fixes
  packages/suite/src/components/suite/Labeling/components/Wallet/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: change trezor icon in connect your device modal
  packages/suite/src/components/suite/ProgressBar/components/HelpBuyIcons.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: review fixes
  packages/suite/src/components/suite/Labeling/components/Wallet/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: "split continue" and "continue setup"
  packages/suite/src/components/suite/Notifications/FailedBackup.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: don't render wallet name for device without state
  packages/suite/src/components/suite/Labeling/components/Wallet/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: failed backup notif now has continue button
  packages/integration-tests/projects/suite-web/tests/backup/fail-t2.test.ts
  packages/suite/src/components/suite/Notifications/FailedBackup.tsx
  packages/suite/src/views/backup/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix: Desktop landing page - new feedback link
  packages/suite-web-landing/components/Layout/index.tsx
Owners: none

fix: Desktop landing page - retina feature images
  packages/suite-data/files/images/suite-web-landing/feature1.png
  packages/suite-data/files/images/suite-web-landing/feature2.png
  packages/suite-data/files/images/suite-web-landing/feature3.png
  packages/suite-web-landing/components/Feature/index.tsx
  packages/suite-web-landing/pages/index.tsx
Owners: @keraf

docs: typos
  docs/SUMMARY.md
  docs/deployment/index.md
  docs/deployment/web.md
  shell.nix
Owners: none

fix: exclude unsupported from coin filter
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs: typos
  docs/SUMMARY.md
  docs/deployment/index.md
  docs/deployment/web.md
  shell.nix
Owners: none

fix(send): clear "compose" errors when switching between levels
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
  packages/suite/src/hooks/wallet/useSendFormFields.ts
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(send): distinguish Locktime timestamp/blockheight in ReviewTransaction modal
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
  packages/suite/src/constants/wallet/sendForm.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(send): RBF state (on/off) displayed in Locktime option
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(send): Token (ERC20) balance position in Amount input
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(send): ReviewTransaction modal - remove "Total ETH" element when sending ERC20
  packages/suite/src/components/suite/modals/ReviewTransaction/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(components): ConfirmOnDevice steps unique key
  packages/components/src/components/prompts/ConfirmOnDevice/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix: Desktop landing page - new feedback link
  packages/suite-web-landing/components/Layout/index.tsx
Owners: none

fix: Desktop landing page - retina feature images
  packages/suite-data/files/images/suite-web-landing/feature1.png
  packages/suite-data/files/images/suite-web-landing/feature2.png
  packages/suite-data/files/images/suite-web-landing/feature3.png
  packages/suite-web-landing/components/Feature/index.tsx
  packages/suite-web-landing/pages/index.tsx
Owners: @keraf

test: add features utils test
  packages/suite/src/config/suite/features.ts
  packages/suite/src/utils/suite/__tests__/features.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add build time feature flags
  docs/SUMMARY.md
  docs/misc/feature_flags.md
  packages/suite/docs/README.md
  packages/suite/src/config/suite/features.ts
  packages/suite/src/utils/suite/features.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test: add mock flags for features test
  packages/suite/src/utils/suite/__tests__/features.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: move common component to components
  packages/suite/src/components/wallet/EstimatedMiningTime/index.tsx
  packages/suite/src/components/wallet/index.tsx
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add GOOGLE_DRIVE_SYNC flag and wrap Google Drive auth button in flag
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/config/suite/features.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: show correct details for token transaction
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: layout distorted
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test: add features utils test
  packages/suite/src/config/suite/features.ts
  packages/suite/src/utils/suite/__tests__/features.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add GOOGLE_DRIVE_SYNC flag and wrap Google Drive auth button in flag
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/config/suite/features.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test: add mock flags for features test
  packages/suite/src/utils/suite/__tests__/features.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add build time feature flags
  docs/SUMMARY.md
  docs/misc/feature_flags.md
  packages/suite/docs/README.md
  packages/suite/src/config/suite/features.ts
  packages/suite/src/utils/suite/features.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci: add release/* into auto-run branches [skip ci]
  ci/packages/landing-page.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

fix: add back commit hash tooltip and version button
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: disable updater when running dev build
  packages/suite-desktop/src/support/DesktopUpdater.tsx
Owners: @keraf, @szymonlesisz

fix(landing): change .zip to .dmg for Mac desktop build
  packages/landing-page/pages/wallet/start/index.tsx
Owners: @keraf, @robertbrada

chore: remove unused desktopApi method and add deprecation notice for send method.
  packages/suite-desktop/src-electron/preload.ts
Owners: @keraf, @szymonlesisz

fix(suite-web-landing): change .zip to .dmg for Mac desktop build
  packages/suite-web-landing/components/Download/index.tsx
Owners: none

build: change mac target platform from zip to dmg
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
