Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix(tests): mock resize reducer in send form tests
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: comments improvement
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: layout fix for more fee options
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Add option to restrict search input length in CleanSelect
  packages/components/src/components/form/CleanSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

Add option to restrict search input length in CleanSelect
  packages/components/src/components/form/CleanSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

Add option to restrict search input length in CleanSelect
  packages/components/src/components/form/CleanSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

Restrict countries select search length
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Footer/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Make CoinmarketBuyTerms cancelable
  packages/suite/src/components/suite/modals/confirm/CoinmarketBuyTerms/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(components): SwitchDevice modal display only devices with state
  packages/integration-tests/projects/suite-web/tests/suite/remembering-devices.test.ts
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

test(integration): add missing "@retry" to test
  packages/integration-tests/projects/suite-web/tests/onboarding/create-wallet-t1.test.ts
Owners: @mroz22

fix(metadata): do not interrupt auth process with metadata keys request
  packages/suite/src/actions/wallet/discoveryActions.ts
  packages/suite/src/middlewares/suite/metadataMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(metadata): move metadata key generation after passphrase confirmation + eslint files
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/token-expires.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
Owners: @mroz22

docs(metadata): Update METADATA.md
  packages/suite/docs/METADATA.md
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: loader simpler design for better performance in Chrome + cleanup of available properties
  packages/components/src/components/loaders/Loader/all.stories.tsx
  packages/components/src/components/loaders/Loader/index.stories.tsx
  packages/components/src/components/loaders/Loader/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

feat(components): add icons
  packages/components/src/components/Icon/icons.ts
  packages/components/src/images/icons/feedback.svg
  packages/components/src/images/icons/support.svg
Owners: @keraf, @slowbackspace, @robertbrada

feat: add beta badge
  packages/components/src/components/Dropdown/index.tsx
  packages/components/src/config/variables.ts
  packages/suite-desktop/src-electron/config.ts
  packages/suite/src/components/suite/BetaBadge/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat: add instanceId reference to feedback form
  packages/suite/src/components/suite/BetaBadge/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect 8.1.5
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.50b820714216cce5e538.js
  packages/suite-data/files/connect/js/iframe.a54b2190ff109515d92e.js
  packages/suite-data/files/connect/workers/ripple-worker.9fb07c0368820b90956a.js
  packages/suite-data/files/connect/workers/ripple-worker.a7b3184353b9b0cf6e84.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

style: fix notification button hover color
  packages/suite/src/components/suite/NotificationCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: update design of context notification
  packages/components/src/components/buttons/Button/index.tsx
  packages/suite/src/components/suite/NotificationCard/index.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/XRPReserve.tsx
  packages/suite/src/components/wallet/AccountMode/AuthConfirmFailed.tsx
  packages/suite/src/components/wallet/AccountMode/BackendDisconnected.tsx
  packages/suite/src/components/wallet/AccountMode/DeviceUnavailable.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

style: NotificationCard improvements
  packages/suite/src/components/suite/NotificationCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: update device unavailable msg in switch device modal
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/DeviceHeaderButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
  packages/suite/src/components/suite/SwitchDevice/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: passing data-test attr
  packages/suite/src/components/suite/NotificationCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(components): passing data-test attr to Button
  packages/components/src/components/buttons/Button/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/DeviceHeaderButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
  packages/suite/src/components/wallet/AccountMode/AuthConfirmFailed.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: review fixes
  packages/suite/src/components/wallet/AccountAnnouncement/XRPReserve.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci: hide beta e2e job
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

style: higher z-index for beta badge
  packages/components/src/components/others/SecurityCard/index.tsx
  packages/suite/src/components/suite/BetaBadge/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: separate intl for review n send and send buttons
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/send/components/ReviewButton/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: NotificationCard improvements
  packages/suite/src/components/suite/NotificationCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: update device unavailable msg in switch device modal
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/DeviceHeaderButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
  packages/suite/src/components/suite/SwitchDevice/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: update design of context notification
  packages/components/src/components/buttons/Button/index.tsx
  packages/suite/src/components/suite/NotificationCard/index.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/XRPReserve.tsx
  packages/suite/src/components/wallet/AccountMode/AuthConfirmFailed.tsx
  packages/suite/src/components/wallet/AccountMode/BackendDisconnected.tsx
  packages/suite/src/components/wallet/AccountMode/DeviceUnavailable.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: review fixes
  packages/suite/src/components/wallet/AccountAnnouncement/XRPReserve.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: fix notification button hover color
  packages/suite/src/components/suite/NotificationCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(components): passing data-test attr to Button
  packages/components/src/components/buttons/Button/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/DeviceHeaderButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
  packages/suite/src/components/wallet/AccountMode/AuthConfirmFailed.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: passing data-test attr
  packages/suite/src/components/suite/NotificationCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci: hide beta e2e job
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

chore: new url
  packages/suite/src/constants/suite/urls.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

design: check-seed modal progress-bar update
  packages/suite/src/views/recovery/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add beta badge
  packages/components/src/components/Dropdown/index.tsx
  packages/components/src/config/variables.ts
  packages/suite-desktop/src-electron/config.ts
  packages/suite/src/components/suite/BetaBadge/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: new url
  packages/suite/src/constants/suite/urls.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
