Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

style: code restructuring. work in progress
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: overall improvemens of new tx-detail - in progress
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: code simplification
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

styles: work in progress on Input/Output tab
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: responsivity improvements
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: tx-detail modal - code cleanup
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): add missing intl
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: deleted old files
  packages/suite/src/components/suite/modals/TransactionDetail/components/Box/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BoxRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/FiatDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): separate message for hidden wallet modal's description
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix buy form behaviour and error handling
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Footer/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: Trezor Suite desktop downloads landing page
  packages/components/src/config/colors.ts
  packages/suite-data/files/images/suite-web-landing/feature1.png
  packages/suite-data/files/images/suite-web-landing/feature2.png
  packages/suite-data/files/images/suite-web-landing/feature3.png
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/components/Feature/index.tsx
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite-web-landing/pages/index.tsx
  packages/suite-web-landing/support/styles.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/navigator.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: add suite landing page
  .gitlab-ci.yml
  ci/packages/suite-web-landing.yml
  packages/suite-data/config.ts
  packages/suite-data/index.ts
  packages/suite-web-landing/.eslintignore
  packages/suite-web-landing/.eslintrc.js
  packages/suite-web-landing/.gitignore
  packages/suite-web-landing/babel.config.js
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite-web-landing/next-env.d.ts
  packages/suite-web-landing/next.config.js
  packages/suite-web-landing/package.json
  packages/suite-web-landing/pages/_app.tsx
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web-landing/pages/index.tsx
  packages/suite-web-landing/scripts/s3sync.sh
  packages/suite-web-landing/support/styles.ts
  packages/suite-web-landing/tsconfig.json
  tsconfig.json
Owners: @keraf, @mroz22

feat: Trezor Suite desktop downloads landing page - mobile / tablet view adjustments
  packages/suite-web-landing/components/Feature/index.tsx
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite-web-landing/pages/index.tsx
Owners: none

chore: fix TS typings error
  packages/suite-web-landing/next-env.d.ts
Owners: none

style: fix TS
  packages/suite-web-landing/components/Feature/index.tsx
Owners: none

feat - trezor suite logo added
  packages/components/src/components/logos/TrezorLogo/index.stories.tsx
  packages/components/src/components/logos/TrezorLogo/logos.ts
  packages/components/src/components/logos/index.stories.tsx
  packages/components/src/images/trezor_logo_suite.svg
  packages/components/src/support/types/index.ts
Owners: @keraf, @slowbackspace, @robertbrada

style: fix eslint issues in navigator util
  packages/suite/src/utils/suite/navigator.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: OS icons added
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/os_linux.svg
  packages/components/src/images/icons/os_mac.svg
  packages/components/src/images/icons/os_windows.svg
Owners: @keraf, @slowbackspace, @robertbrada

feat: Trezor Suite desktop downloads landing page - basic animations added
  packages/suite-web-landing/components/Feature/index.tsx
  packages/suite-web-landing/desc.d.ts
  packages/suite-web-landing/package.json
  packages/suite-web-landing/pages/index.tsx
  yarn.lock
Owners: none

fix: dropdown z-index
  packages/suite-web-landing/pages/index.tsx
Owners: none

chore: Trezor Suite desktop downloads landing page - animation library updated
  packages/suite-web-landing/components/Feature/index.tsx
  packages/suite-web-landing/desc.d.ts
  packages/suite-web-landing/package.json
  packages/suite-web-landing/pages/index.tsx
  yarn.lock
Owners: none

style: fix TS
  packages/suite-web-landing/components/Download/index.tsx
Owners: none

style: fix TS code style
  packages/suite-web-landing/pages/index.tsx
Owners: none

Move redirect code to wallet/coinmarket
  packages/suite-desktop/pages/coinmarket-redirect/index.tsx
  packages/suite-web/pages/coinmarket-redirect/index.tsx
  packages/suite/src/hooks/wallet/useCoinmarketRedirect.ts
  packages/suite/src/views/wallet/coinmarket/redirect/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

chore: fix TS types
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: optimize Trezor Suite SVG logo
  packages/components/src/images/trezor_logo_suite.svg
Owners: @keraf, @slowbackspace, @robertbrada

chore: cleanup TS definitions
  packages/suite-web-landing/next-env.d.ts
Owners: none

Fix detection of available providers
  packages/suite/src/hooks/wallet/useCoinmarketBuyForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: footer link base domain
  packages/suite-web-landing/components/Layout/index.tsx
Owners: none

style: proper word-breaking (break on whole words) in toast
  packages/suite/src/components/suite/ToastNotification/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci(nix): add darwin frameworks
  shell.nix
Owners: none

ci(suite-desktop): update codesign targets to use nix-shell
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

chore: update suite icon
  packages/suite-data/files/images/icons/512x512.icns
  packages/suite-data/files/images/icons/512x512.ico
  packages/suite-data/files/images/icons/512x512.png
Owners: @keraf

chore: sync intl
  packages/suite-data/files/translations/en.json
Owners: @keraf

chore: platform util moved to the LP module + platform type fix + platform fall back to linux
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/types/index.ts
  packages/suite-web-landing/utils/navigator.ts
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: ts-ignore, merge menu items, texts in select
  packages/suite/src/components/wallet/CoinmarketFooter/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/Navigation/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/coinmarketBuyOffers.ts
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Footer/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: fully clickable download button area
  packages/suite-web-landing/components/Download/index.tsx
Owners: none

style: proper word-breaking (break on whole words) in toast
  packages/suite/src/components/suite/ToastNotification/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: platform/navigator util cleanup
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/types/index.ts
  packages/suite-web-landing/utils/navigator.ts
Owners: none

fix: download button padding
  packages/suite-web-landing/components/Download/index.tsx
Owners: none

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
