Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix: dynamically loading password strenght indicator
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(receive): add missing params to trezor-connect call
  packages/suite/src/actions/wallet/receiveActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: select correctly invityAPI server in debug options
  packages/suite/src/views/settings/debug/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Force remember device on redirect to buy crypto payment gate
  packages/suite/src/actions/suite/__tests__/storageActions.test.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/actions/wallet/coinmarketCommonActions.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/storage.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/WaitingForPayment/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: connect 8.1.17
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.69d42a7efea1bb253306.js
  packages/suite-data/files/connect/js/iframe.c999ce3f8655a48daa75.js
  packages/suite-data/files/connect/workers/blockbook-worker.0b43ab06e42d97448894.js
  packages/suite-data/files/connect/workers/blockbook-worker.97bf124d6c0c92a164f5.js
  packages/suite-data/files/connect/workers/ripple-worker.99ea782e5c3fb4c9842e.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: connect 8.1.17
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.69d42a7efea1bb253306.js
  packages/suite-data/files/connect/js/iframe.c999ce3f8655a48daa75.js
  packages/suite-data/files/connect/workers/blockbook-worker.0b43ab06e42d97448894.js
  packages/suite-data/files/connect/workers/blockbook-worker.97bf124d6c0c92a164f5.js
  packages/suite-data/files/connect/workers/ripple-worker.99ea782e5c3fb4c9842e.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(fw-update): remove error workaround
  packages/suite/src/actions/firmware/__fixtures__/firmwareActions.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: added roadmap link
  packages/suite-data/files/translations/en.json
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: add tor status and fetch request domain converter
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-web/pages/_app.tsx
  packages/suite/src/actions/suite/__fixtures__/suiteActions.ts
  packages/suite/src/actions/suite/constants/suiteConstants.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/actions/suite/trezorConnectActions.ts
  packages/suite/src/components/suite/TorLink/index.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/support/suite/Tor.tsx
  packages/suite/src/utils/suite/tor.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

feat: TOR navigation control design
  packages/components/src/components/Icon/icons.ts
  packages/components/src/components/Tooltip/index.tsx
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/tor.svg
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/TooltipContentTor/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat: TOR settings
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: display tor status and run bundled tor
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/processes/TorProcess.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/actions/suite/trezorConnectActions.ts
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/support/suite/Tor.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(passphrase): fix behaviour of backspace/del if carret not at the end
  CHANGELOG.md
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(passhprase): fix another cases and add more tests
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/utils/suite/dom.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix: fix column alignment in transaction item
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/BaseTargetLayout/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): create useTranslation hook
  packages/suite/src/hooks/suite/useTranslation.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): unify Translation component usage
  packages/suite/src/components/suite/Labeling/components/Account/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/DeviceHeaderButton/index.tsx
  packages/suite/src/components/suite/Ticker/index.tsx
  packages/suite/src/components/suite/ToastNotification/index.tsx
  packages/suite/src/components/suite/hocNotification/components/withTransaction.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/AccountTypeSelect.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/AddAccountButton.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkInternal.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkUnavailable.tsx
  packages/suite/src/components/suite/modals/AddAccount/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
  packages/suite/src/components/wallet/WalletLayout/components/AccountLoader.tsx
  packages/suite/src/utils/suite/__fixtures__/device.ts
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/__tests__/accountUtils.test.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/views/suite/notifications/index.tsx
  packages/suite/src/views/wallet/details/index.tsx
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/SummaryCards/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): injectIntl > useTranslation
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/Container.tsx
  packages/suite/src/components/suite/WordInput/index.tsx
  packages/suite/src/components/suite/modals/AdvancedCoinSettings/components/CustomBlockbookUrls.tsx
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/views/dashboard/components/SecurityFeatures/Container.ts
  packages/suite/src/views/onboarding/steps/Firmware/Container.ts
  packages/suite/src/views/onboarding/steps/Pair/components/Bridge/index.tsx
  packages/suite/src/views/settings/debug/Container.ts
  packages/suite/src/views/settings/device/Container.ts
  packages/suite/src/views/suite/device-recovery-mode/Container.ts
  packages/suite/src/views/wallet/receive/Container.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
  packages/suite/src/views/wallet/sign-verify/Container.ts
  packages/suite/src/views/wallet/transactions/Container.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: useRef instead of createRef
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: display tor status and run bundled tor
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/processes/TorProcess.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/actions/suite/trezorConnectActions.ts
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/support/suite/Tor.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: TOR settings
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add tor status and fetch request domain converter
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-web/pages/_app.tsx
  packages/suite/src/actions/suite/__fixtures__/suiteActions.ts
  packages/suite/src/actions/suite/constants/suiteConstants.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/actions/suite/trezorConnectActions.ts
  packages/suite/src/components/suite/TorLink/index.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/support/suite/Tor.tsx
  packages/suite/src/utils/suite/tor.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

feat: TOR navigation control design
  packages/components/src/components/Icon/icons.ts
  packages/components/src/components/Tooltip/index.tsx
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/tor.svg
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/TooltipContentTor/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite): use trezor cdn for coingecko api rates
  packages/suite/src/config/suite/fiat.ts
  packages/suite/src/services/coingecko.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(news-api): use dynamic for medium news feed
  packages/news-api/src/config.ts
Owners: @keraf

fix(suite-desktop): drop coingecko.com and medium.com from allowed domains
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

docs: bump changelog
  CHANGELOG.md
Owners: none

fix(passhprase): fix another cases and add more tests
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/utils/suite/dom.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

chore: useRef instead of createRef
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(passphrase): fix behaviour of backspace/del if carret not at the end
  CHANGELOG.md
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

chore(desktop): fix style
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

chore(desktop): fix style (now for real)
  packages/suite/src/config/suite/fiat.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: bump version for December beta release
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

chore: bump version for November public release
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

refactor(suite): remove unnecessary async from transactionActions
  packages/suite/src/actions/wallet/transactionActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): metadataActions
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): logActions
  packages/suite/src/actions/suite/logActions.ts
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): unify desktopUpdateActions
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): unify onboarding/firmware actions
  packages/suite/src/actions/backup/backupActions.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/actions/onboarding/onboardingActions.ts
  packages/suite/src/actions/recovery/recoveryActions.ts
  packages/suite/src/types/firmware/index.ts
  packages/suite/src/types/onboarding/index.ts
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): modalActions
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
