Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(transactions): ERC20 token amount search
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(transactions): add length limit on search
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: ETH replace transaction (rbf)
  CHANGELOG.md
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/utils/wallet/sendFormUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: add ethereum specific values to TransactionDetail
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): default gas price without decimals
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/utils/wallet/sendFormUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): ETH failed transactions
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/TransactionHeading/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/TransactionTypeIcon/index.tsx
  packages/suite/src/components/wallet/TransactionItem/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): switch recommended gas limit while using custom level
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/form/useFees.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(transactions): add length limit on search
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(transactions): ERC20 token amount search
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: add ethereum specific values to TransactionDetail
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): default gas price without decimals
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/utils/wallet/sendFormUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): ETH failed transactions
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/TransactionHeading/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/TransactionTypeIcon/index.tsx
  packages/suite/src/components/wallet/TransactionItem/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: ETH replace transaction (rbf)
  CHANGELOG.md
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/utils/wallet/sendFormUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): switch recommended gas limit while using custom level
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/form/useFees.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(e2e): improve bridge page test
  packages/integration-tests/projects/suite-web/snapshots/suite/bridge.test.ts/bridge modal.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/bridge.test.ts/udev rules modal.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/static-pages.test.ts/Static pages accessible even without device -- bridge.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/static-pages.test.ts/Static pages accessible even without device -- version.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/version-page.test.ts/There is a hidden route (not accessible in UI) -- version.snap.png
  packages/integration-tests/projects/suite-web/tests/suite/bridge.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/version-page.test.ts
  packages/suite/src/views/suite/bridge/index.tsx
  packages/suite/src/views/suite/device-connect/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(send): calculateMax util console.error
  packages/suite/src/utils/wallet/sendFormUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): correct removing from stack in logReducer
  packages/suite/src/reducers/suite/logReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): calculateMax util console.error
  packages/suite/src/utils/wallet/sendFormUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): correct removing from stack in logReducer
  packages/suite/src/reducers/suite/logReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.24
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.72b8aee3a4feb990067e.js
  packages/suite-data/files/connect/js/iframe.b3cdb40439d551f872e0.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.24
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.72b8aee3a4feb990067e.js
  packages/suite-data/files/connect/js/iframe.b3cdb40439d551f872e0.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(send): composeTransaction.feePerByte for custom FeeLevel
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): composeTransaction.feePerByte for custom FeeLevel
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(all): bump version to 21.4.0
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

fix(docs) add 'dry-run' to release-it command
  docs/releases/versioning.md
Owners: none

fix(ci): run suite-web build stable also for codesign
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

chore(ci): clean up release jobs
  .gitlab-ci.yml
  ci/packages/landing-page.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
  ci/packages/suite.yml
  ci/releases.yml
Owners: @keraf, @mroz22

chore(docs): remove release-it docs vor version bumping
  docs/releases/versioning.md
Owners: none

chore(docs): update CHANGELOG
  CHANGELOG.md
Owners: none

fix(storage): run storageActions.init onlye if db is accessible
  packages/suite/src/actions/suite/storageActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(storage): run storageActions.init onlye if db is accessible
  packages/suite/src/actions/suite/storageActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(all): bump version to 21.3.1 [RELEASE ONLY]
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

fix(ci): run suite-web build stable also for codesign
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

chore(ci): clean up release jobs
  .gitlab-ci.yml
  ci/packages/landing-page.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
  ci/packages/suite.yml
  ci/releases.yml
Owners: @keraf, @mroz22

fix(storage): run storageActions.init onlye if db is accessible
  packages/suite/src/actions/suite/storageActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(transactions): ERC20 token amount without operator search
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(transactions): ERC20 token amount without operator search
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(transactions): ERC20 token amount without operator search
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.25
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.72b8aee3a4feb990067e.js
  packages/suite-data/files/connect/js/iframe.8971db8994d47a835970.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.25
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.72b8aee3a4feb990067e.js
  packages/suite-data/files/connect/js/iframe.8971db8994d47a835970.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada
