Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

feat(suite-desktop): add pre-release runtime flag
  docs/packages/suite-desktop.md
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix(suite-desktop): add never publish parameter on prod builds
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

feat(suite-desktop): add pre-release runtime flag
  docs/packages/suite-desktop.md
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

chore: update intl
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/backup/AfterBackupCheckboxes.tsx
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/firmware/OnboardingInitial.tsx
  packages/suite/src/components/firmware/ReconnectInNormal.tsx
  packages/suite/src/components/recovery/SelectRecoveryType.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/firmware/index.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/Backup/index.tsx
  packages/suite/src/views/onboarding/steps/CreateOrRecover/index.tsx
  packages/suite/src/views/onboarding/steps/Hologram/index.tsx
  packages/suite/src/views/onboarding/steps/Pair/index.tsx
  packages/suite/src/views/onboarding/steps/Pin/index.tsx
  packages/suite/src/views/onboarding/steps/Recovery/index.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/IsSameDevice.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(analytics): adjust endpoints, add logged events, improve tests
  docs/misc/analytics.md
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/__fixtures__/analytics.ts
  packages/suite/src/utils/suite/env.ts
Owners: @mroz22, @slowbackspace, @szymonlesisz, @keraf, @robertbrada

fix(metadata): dropbox token renewal
  packages/integration-tests/projects/suite-web/plugins/dropbox.js
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(metadata): dropbox token renewal
  packages/integration-tests/projects/suite-web/plugins/dropbox.js
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

chore(analytics): adjust endpoints, add logged events, improve tests
  docs/misc/analytics.md
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/__fixtures__/analytics.ts
  packages/suite/src/utils/suite/env.ts
Owners: @mroz22, @slowbackspace, @szymonlesisz, @keraf, @robertbrada

fix(metadata): dropbox token renewal
  packages/integration-tests/projects/suite-web/plugins/dropbox.js
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

chore(analytics): adjust endpoints, add logged events, improve tests
  docs/misc/analytics.md
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/__fixtures__/analytics.ts
  packages/suite/src/utils/suite/env.ts
Owners: @mroz22, @slowbackspace, @szymonlesisz, @keraf, @robertbrada

chore: move common component to components
  packages/suite/src/components/wallet/EstimatedMiningTime/index.tsx
  packages/suite/src/components/wallet/index.tsx
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: account transactions header, exchange type in reducer
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: remove unused isBeta() util
  packages/suite/src/utils/suite/__tests__/build.test.ts
  packages/suite/src/utils/suite/build.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: disable signing for dmg
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix: disable signing for dmg
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix(suite-desktop): enable macOS notarization again
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

docs(e2e): move and update docs on e2e
  docs/SUMMARY.md
  docs/tests/e2e-web.md
  docs/tests/index.md
  packages/integration-tests/projects/suite-web/README.md
Owners: @mroz22

fix: change default window size behavior
  packages/suite-desktop/src-electron/store.ts
Owners: @keraf, @szymonlesisz

fix(suite-desktop): enable macOS notarization again
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix: ts
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: remove dead code
  packages/suite/src/actions/onboarding/__fixtures__/newsletterActions.ts
  packages/suite/src/actions/onboarding/__tests__/newsletterActions.test.ts
  packages/suite/src/actions/onboarding/constants/calls.ts
  packages/suite/src/actions/onboarding/constants/events.ts
  packages/suite/src/actions/onboarding/constants/onboarding.ts
  packages/suite/src/actions/onboarding/newsletterActions.ts
  packages/suite/src/actions/onboarding/onboardingActions.ts
  packages/suite/src/actions/recovery/__tests__/recoveryActions.test.ts
  packages/suite/src/reducers/onboarding/newsletterReducer.ts
  packages/suite/src/reducers/onboarding/onboardingReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/onboarding/events.ts
  packages/suite/src/types/onboarding/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): notarize on mac only when APPLEID is provided
  packages/suite-desktop/scripts/notarize.js
Owners: @keraf, @szymonlesisz

fix(suite-desktop): include latest*.yml to artifacts
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

feature: make trade tab active
  packages/suite/src/config/wallet/menu.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci: make macos builds manual for now
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

ci: fix staging environment names and urls
  .gitlab-ci.yml
  ci/packages/landing-page.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

fix: change default window size behavior
  packages/suite-desktop/src-electron/store.ts
Owners: @keraf, @szymonlesisz

docs(e2e): move and update docs on e2e
  docs/SUMMARY.md
  docs/tests/e2e-web.md
  docs/tests/index.md
  packages/integration-tests/projects/suite-web/README.md
Owners: @mroz22

chore: remove unused isBeta() util
  packages/suite/src/utils/suite/__tests__/build.test.ts
  packages/suite/src/utils/suite/build.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: remove dead code
  packages/suite/src/actions/onboarding/__fixtures__/newsletterActions.ts
  packages/suite/src/actions/onboarding/__tests__/newsletterActions.test.ts
  packages/suite/src/actions/onboarding/constants/calls.ts
  packages/suite/src/actions/onboarding/constants/events.ts
  packages/suite/src/actions/onboarding/constants/onboarding.ts
  packages/suite/src/actions/onboarding/newsletterActions.ts
  packages/suite/src/actions/onboarding/onboardingActions.ts
  packages/suite/src/actions/recovery/__tests__/recoveryActions.test.ts
  packages/suite/src/reducers/onboarding/newsletterReducer.ts
  packages/suite/src/reducers/onboarding/onboardingReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/onboarding/events.ts
  packages/suite/src/types/onboarding/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

sync intl
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/firmware/NoNewFirmware.tsx
  packages/suite/src/components/wallet/AccountException/FirmwareUnsupported.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): notarize on mac only when APPLEID is provided
  packages/suite-desktop/scripts/notarize.js
Owners: @keraf, @szymonlesisz

fix(suite-desktop): include latest*.yml to artifacts
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

ci: make macos builds manual for now
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

ci: fix staging environment names and urls
  .gitlab-ci.yml
  ci/packages/landing-page.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

ci: don't fail rsync when some of the desktop binaries are not available
  ci/packages/suite-desktop.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

ci: don't fail rsync when some of the desktop binaries are not available
  ci/packages/suite-desktop.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

sync intl
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/firmware/NoNewFirmware.tsx
  packages/suite/src/components/wallet/AccountException/FirmwareUnsupported.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

sync intl
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/firmware/NoNewFirmware.tsx
  packages/suite/src/components/wallet/AccountException/FirmwareUnsupported.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: bump trezor-connect 8.1.6
  packages/suite-data/files/connect/data/config.json
  packages/suite-data/files/connect/data/firmware/2/releases.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.69d42a7efea1bb253306.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada
