Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf

/packages/suite-native @slowbackspace @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

docs: maybe generate docs screenshots from tests [skip ci]
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/support/utils/docs.ts
Owners: @mroz22

Get custom error in offers list in case of min/max value
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Fix fiat/crypto amount entry in buy crypto form
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(typo): google drive -> Google Drive
  packages/integration-tests/projects/suite-web/plugins/google.js
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/suite/src/services/google.ts
  packages/suite/src/support/messages.ts
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

fix(send): setLastUsedFeeLevel in useEffect with error check
  packages/suite/src/hooks/wallet/useSendFormFields.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/views/wallet/send/components/Fees/components/CustomFee/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Use stored invity API url
  packages/suite/src/hooks/wallet/useCoinmarket.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): updating metadata for accounts in storage
  packages/suite/docs/METADATA.md
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/views/settings/Container.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): dont dispose metadata on provider disconnect
  packages/integration-tests/projects/suite-web/stubs/metadata.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/services/google.ts
  packages/suite/src/views/settings/index.tsx
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

fix(metadata): context menu should disappear onclick on confirm address on device. fix #2358
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): closing edit field should not select wallet (fix #2357)
  packages/suite/src/components/suite/Labeling/components/Metadata/Edit.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

docs(metadata): add metadata docs
  packages/suite/docs/METADATA.md
  packages/suite/docs/README.md
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/utils/suite/metadata.ts
  packages/suite/src/utils/suite/oauth.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): show account label in xpub modal if available. resolve #2341
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/confirm/Xpub/Container.tsx
  packages/suite/src/components/suite/modals/confirm/Xpub/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/details/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): setLastUsedFeeLevel in useEffect with error check
  packages/suite/src/hooks/wallet/useSendFormFields.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/views/wallet/send/components/Fees/components/CustomFee/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat(send): add "isInteger" validation
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/__tests__/validation.test.ts
  packages/suite/src/utils/wallet/validation.ts
  packages/suite/src/views/wallet/send/components/Fees/components/CustomFee/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/components/DestinationTag/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

docs(send): update errors description
  packages/suite/docs/SEND.md
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): style provider modal
  packages/suite-data/files/images/png/dropbox.png
  packages/suite-data/files/images/png/fake1.png
  packages/suite-data/files/images/png/fake2.png
  packages/suite-data/files/images/png/google-drive.png
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

test(metadata): add e2e test for remembered device and metadata disconnecting / disabling
  packages/integration-tests/projects/suite-web/plugins/google.js
  packages/integration-tests/projects/suite-web/stubs/metadata.ts
  packages/integration-tests/projects/suite-web/tests/metadata/enable-in-settings.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/views/settings/index.tsx
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

fix(metadata): capitalize provider in settings. close #2381
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): change behavior when user declines labeling on device -> disable metadata setting. resolve #2315
  packages/integration-tests/projects/suite-web/tests/backup/misc-t2.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-labeling.test.ts
  packages/suite/src/actions/suite/__fixtures__/metadataActions.ts
  packages/suite/src/actions/suite/metadataActions.ts
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

ci: allow windows build failure temporarily
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

ci: allow windows build failure temporarily
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

fix(ci): allow windows build deploy to fail
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

fix(send): FeeLevels reversed order (Low > High)
  packages/suite/src/actions/wallet/blockchainActions.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: exchange button removed
  packages/suite/src/components/suite/NavigationBar/components/MainNavigation/index.tsx
  packages/suite/src/constants/suite/menu.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(typo): use "an" before words starting with "e" and "i"
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/de.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/ru.json
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/__fixtures__/device.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Fix links in account transactions
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Cache last used accountDescriptor used for InvityAPI key
  packages/suite/src/services/suite/invityAPI.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Use useCoinmarketBuyDetail hook to update buy trade status
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
  packages/suite/src/types/wallet/coinmarketBuyDetail.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update sendform dependencies
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): do not display "set-max" button if form has errors
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Add rewrite key for storage action
  packages/suite/src/actions/suite/storageActions.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Revert "Add rewrite key for storage action"
  packages/suite/src/actions/suite/storageActions.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

remove pulse anim from t-device-confirm
  packages/suite-data/files/images/svg/t-device-confirm.svg
Owners: @keraf

perf: optimalize css spinner perf
  packages/components/src/components/loaders/FluidSpinner/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix: handle upsert in addItems just like in addItem
  packages/suite-storage/src/native/index.ts
  packages/suite-storage/src/web/index.ts
Owners: @slowbackspace, @keraf

fix: revert removing key param, add upsert as 4th param to addItem
  packages/suite-storage/src/native/index.ts
  packages/suite-storage/src/web/index.ts
  packages/suite/src/actions/suite/storageActions.ts
Owners: @slowbackspace, @keraf, @mroz22, @robertbrada

chore: fix lint
  packages/suite-storage/src/web/index.ts
Owners: @slowbackspace, @keraf

feat: show 9 numbers (integral+fractional part), indicate truncating with "..."
  packages/suite/src/utils/wallet/__tests__/balanceUtils.test.ts
  packages/suite/src/utils/wallet/balanceUtils.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: incorrect illustration in passphrase duplication modal
  packages/suite/src/components/suite/modals/PassphraseDuplicate/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): saveDraft with errors check
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada
