Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(desktop): macOS close button behavior
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix(desktop): macOS close button behavior
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix(desktop): macOS close button behavior
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix(suite): reconnection copy
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat(suite): add blog post URL to Bitcoin Cash hard fork
  packages/suite/src/components/wallet/AccountAnnouncement/BCHFork.tsx
  packages/suite/src/constants/suite/urls.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: review missing/broken JSDoc annotations
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/suite/routerActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/actions/wallet/graphActions.ts
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
  packages/suite/src/services/coingecko.ts
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/utils/suite/date.ts
  packages/suite/src/utils/wallet/graphUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): add blog post URL to Bitcoin Cash hard fork
  packages/suite/src/components/wallet/AccountAnnouncement/BCHFork.tsx
  packages/suite/src/constants/suite/urls.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): reconnection copy
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): set absolute path for dev resources
  packages/suite-desktop/src-electron/constants.ts
Owners: @keraf, @szymonlesisz

fix(suite-desktop): close devtools before closing the window
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix(suite-desktop): close devtools before closing the window
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

test(send): refactor useSendForm hook tests
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/SendIndex.tsx
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.ts
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.tsx
  packages/suite/src/support/tests/hooksHelper.tsx
  packages/suite/src/support/tests/setupJest.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(send): drop redux-connect from send index
  packages/suite/src/views/wallet/send/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): set absolute path for dev resources
  packages/suite-desktop/src-electron/constants.ts
Owners: @keraf, @szymonlesisz

style: add .editorconfig [skip ci]
  .editorconfig
Owners: none

feat(ci): introduce release commit messages check
  ci/packages/suite-misc.yml
  ci/scripts/check_release_commit_messages.sh
Owners: @keraf, @mroz22

feat(send): drop redux-connect from send index
  packages/suite/src/views/wallet/send/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(send): refactor useSendForm hook tests
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/SendIndex.tsx
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.ts
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.tsx
  packages/suite/src/support/tests/hooksHelper.tsx
  packages/suite/src/support/tests/setupJest.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: packages/suite/package.json to reduce vulnerabilities
  packages/suite/package.json
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(static notification): update should not appear if missing backup
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/suite/src/components/suite/Notifications/UpdateFirmware.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(tor): fixed onion link inconsistencies and enabled link warning on desktop when Tor is enabled
  packages/suite-desktop/src-electron/electron.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/actions/suite/constants/suiteConstants.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/suite/BetaBadge/index.tsx
  packages/suite/src/components/suite/ExternalLink/index.tsx
  packages/suite/src/components/suite/ReadMoreLink/index.tsx
  packages/suite/src/components/suite/TrezorLink/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(static notification): update should not appear if missing backup
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/suite/src/components/suite/Notifications/UpdateFirmware.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(analytics): don't report until user was given chance to opt-out
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): fix hanging bridge spinner and display recommendation on bridge updating for desktop users
  packages/suite/src/support/messages.ts
  packages/suite/src/views/suite/bridge/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(onboarding): button containing link should not be underlined
  packages/suite/src/views/onboarding/unexpected-states/components/IsNotNewDevice.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(copy): mistype on fw update screen and missing translation added
  packages/suite/src/components/firmware/ReconnectInNormal.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(e2e): unskip and finish some tests
  packages/integration-tests/projects/suite-web/tests/dashboard/dashboard.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t1-device-settings.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t2-device-settings.test.ts
Owners: @mroz22

fix(onboarding): button containing link should not be underlined
  packages/suite/src/views/onboarding/unexpected-states/components/IsNotNewDevice.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! fix(copy): mistype on fw update screen and missing translation added
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(analytics): don't report until user was given chance to opt-out
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(components): dropdown proper positioning
  packages/components/src/components/Dropdown/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(tor): fixed onion link inconsistencies and enabled link warning on desktop when Tor is enabled
  packages/suite-desktop/src-electron/electron.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/actions/suite/constants/suiteConstants.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/suite/BetaBadge/index.tsx
  packages/suite/src/components/suite/ExternalLink/index.tsx
  packages/suite/src/components/suite/ReadMoreLink/index.tsx
  packages/suite/src/components/suite/TrezorLink/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): auto restarting option for processes
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/processes/BridgeProcess.ts
  packages/suite-desktop/src/support/BridgeStatus.ts
Owners: @keraf, @szymonlesisz

fix(analytics): don't report until user was given chance to opt-out
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(tor): fixed onion link inconsistencies and enabled link warning on desktop when Tor is enabled
  packages/suite-desktop/src-electron/electron.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/actions/suite/constants/suiteConstants.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/suite/BetaBadge/index.tsx
  packages/suite/src/components/suite/ExternalLink/index.tsx
  packages/suite/src/components/suite/ReadMoreLink/index.tsx
  packages/suite/src/components/suite/TrezorLink/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

test(e2e): unskip and finish some tests
  packages/integration-tests/projects/suite-web/tests/dashboard/dashboard.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t1-device-settings.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t2-device-settings.test.ts
Owners: @mroz22

fix(components): dropdown proper positioning
  packages/components/src/components/Dropdown/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fixup! fix(suite-desktop): auto restarting option for processes
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
Owners: @keraf, @szymonlesisz

fix(suite-desktop): fix hanging bridge spinner and display recommendation on bridge updating for desktop users
  packages/suite/src/support/messages.ts
  packages/suite/src/views/suite/bridge/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): auto restarting option for processes
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/processes/BridgeProcess.ts
  packages/suite-desktop/src/support/BridgeStatus.ts
Owners: @keraf, @szymonlesisz
