Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix(suite): throw custom error on non-200 status codes from fiat rates provider, don't send the errors to sentry
  packages/suite/src/config/suite/sentry.ts
  packages/suite/src/services/coingecko.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): discovery progress bar not visible
  CHANGELOG.md
  packages/suite/src/components/wallet/DiscoveryProgress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(ci): changelog check
  .github/workflows/changelog.yml
Owners: none

docs(ci): document the changelog check
  docs/misc/changelog.md
Owners: none

fixup! docs(ci): document the changelog check
  docs/SUMMARY.md
Owners: none

fix(storage): check if IDB is supported before each db operation (no support in ff incognito/tor browser)
  CHANGELOG.md
  packages/suite-storage/src/native/index.ts
  packages/suite-storage/src/web/index.ts
  packages/suite/src/actions/suite/__tests__/storageActions.test.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/support/tests/setupJest.ts
Owners: @slowbackspace, @keraf, @szymonlesisz, @mroz22, @robertbrada

fix(transactions): search optimization and incorrect pagination display for coin
  CHANGELOG.md
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(desktop): add cooldown delay to process restart when exitting
  packages/suite-desktop/src-electron/libs/processes/BaseProcess.ts
Owners: @keraf, @szymonlesisz

fix(desktop): add cooldown delay to process restart when exitting
  packages/suite-desktop/src-electron/libs/processes/BaseProcess.ts
Owners: @keraf, @szymonlesisz

fix(transactions): search optimization and incorrect pagination display for coin
  CHANGELOG.md
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(Invity): fix token exchange condition
  CHANGELOG.md
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

updated Info
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

chore: update bug template (#3410)
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

fix(ci): revert changelog check
  .github/workflows/changelog.yml
  docs/SUMMARY.md
  docs/misc/changelog.md
Owners: none

fix(Invity): fix token exchange condition
  CHANGELOG.md
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): hide fee row in tx details for pending eth txs
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): subtract fee from tx.amount for btc-like sent txs
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): discovery progress bar not visible (#3404)
  CHANGELOG.md
  packages/suite/src/components/wallet/DiscoveryProgress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

e2e(@group:device-management): update snapshots
  packages/integration-tests/projects/suite-web/snapshots/firmware/firmware.test.ts/initial.snap.png
Owners: @mroz22

test(e2e): blackout expectedly changing parts of snapshots
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/suite/src/components/firmware/Initial.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(send): ETH erc20 estimated gas limit
  packages/suite/src/utils/wallet/sendFormUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-landing): text overflow in feature box
  packages/suite-web-landing/components/Feature/index.tsx
Owners: none

fix(send): ETH erc20 estimated gas limit
  packages/suite/src/utils/wallet/sendFormUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): ETH erc20 estimated gas limit
  packages/suite/src/utils/wallet/sendFormUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(all): bump versions to 21.2.3 [RELEASE ONLY]
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

feat(ci): deploy signed binaries to staging
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

fix(invity): switch name of exchange inputs
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/types/wallet/coinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Footer/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/SendCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(Invity): fix token exchange condition
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(transactions): search optimization and incorrect pagination display for coin
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-landing): text overflow in feature box (#3419)
  packages/suite-web-landing/components/Feature/index.tsx
Owners: none

chore(e2e): disable snapshot comparison of changelog
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
Owners: @mroz22

nix: increase node memory
  shell.nix
Owners: none

fix(ci): update Cypress to 6.4.0
  docker/docker-compose.suite-ci.yml
  docker/test-runner/Dockerfile
  packages/integration-tests/package.json
  yarn.lock
Owners: @mroz22

chore(docs): update changelog
  CHANGELOG.md
Owners: none

fix(ci): update Cypress to 6.4.0
  docker/docker-compose.suite-ci.yml
  docker/test-runner/Dockerfile
  packages/integration-tests/package.json
  yarn.lock
Owners: @mroz22

test(e2e): blackout expectedly changing parts of snapshots (#3417)
  packages/integration-tests/projects/suite-web/snapshots/firmware/firmware.test.ts/initial.snap.png
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/suite/src/components/firmware/Initial.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

nix: increase node memory
  shell.nix
Owners: none

fix(blockchain-link): check if available balance is zero before marking account as empty
  CHANGELOG.md
  packages/blockchain-link/CHANGELOG.md
  packages/blockchain-link/src/workers/blockbook/utils.ts
  packages/blockchain-link/tests/unit/fixtures/getAccountInfo-blockbook.ts
Owners: @szymonlesisz, @keraf

fix(blockchain-link): check if available balance is zero before marking account as empty
  CHANGELOG.md
  packages/blockchain-link/CHANGELOG.md
  packages/blockchain-link/src/workers/blockbook/utils.ts
  packages/blockchain-link/tests/unit/fixtures/getAccountInfo-blockbook.ts
Owners: @szymonlesisz, @keraf

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
