Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @vdovhanych, @mroz22, @Nodonisko, @tomasklim, @marekrjpolak, @szymonlesisz, @jvaclavik, @adamhavel, @martykan, @karliatto, @trezor/suite-mobile, @matejkriz, @komret, @MiroslavProchazka, @tsusanka

CODEOWNERS:

/.github/workflows @vdovhanych

/docker @vdovhanych @mroz22

/scripts @Nodonisko

/packages/analytics @tomasklim

/packages/blockchain-link @mroz22 @marekrjpolak

/packages/blockchain-link-utils @marekrjpolak

/packages/blockchain-link-types @marekrjpolak

/packages/coinjoin @marekrjpolak @szymonlesisz

/packages/components @jvaclavik @adamhavel

/packages/connect @mroz22 @szymonlesisz @martykan

/packages/connect-common @mroz22 @szymonlesisz @martykan

/packages/connect-examples @mroz22 @szymonlesisz @martykan

/packages/connect-explorer @mroz22 @szymonlesisz @martykan

/packages/connect-iframe @mroz22 @szymonlesisz @martykan

/packages/connect-plugin-ethereum @mroz22 @szymonlesisz @martykan

/packages/connect-plugin-stellar @mroz22 @szymonlesisz @martykan

/packages/connect-popup @mroz22 @szymonlesisz @martykan

/packages/connect-web @mroz22 @szymonlesisz @martykan

/packages/connect-webextension @mroz22 @karliatto @martykan

/packages/icons @trezor/suite-mobile

/suite-common/message-system @tomasklim @matejkriz

/suite-common/token-definitions @tomasklim

/packages/suite-analytics @tomasklim

/packages/suite-build @komret

/packages/suite-data @komret

/packages/suite-desktop @komret

/packages/suite-desktop-ui @komret

/packages/suite-desktop-api @szymonlesisz @marekrjpolak

/suite-native @trezor/suite-mobile

/packages/suite-storage @matejkriz

/packages/transport @mroz22

/packages/transport-native @trezor/suite-mobile @Nodonisko

/packages/theme @Nodonisko @jvaclavik @adamhavel

/packages/urls @marekrjpolak

/packages/utils @karliatto

/packages/node-utils @karliatto

/packages/utxo-lib @szymonlesisz

/packages/styles @Nodonisko @jvaclavik @adamhavel

/packages/suite/src/support/messages.ts @MiroslavProchazka

/suite-common/graph @trezor/suite-mobile @Nodonisko

/packages/connect/src/data/deviceAuthenticityConfig.ts @tsusanka

/packages/schema-utils @martykan

/packages/connect-explorer-theme @martykan

fix(connect): keepSession with changing useCardanoDerivation
  packages/connect/e2e/tests/device/keepSession.test.ts
  packages/connect/src/device/Device.ts
  scripts/ci/connect-test-matrix-generator.js
Owners: @mroz22, @szymonlesisz, @martykan, @Nodonisko

fixup! chore(suite-native): use new Networks structure
  suite-native/discovery/src/discoveryConfigSlice.ts
  suite-native/discovery/src/discoveryThunks.ts
  suite-native/discovery/src/utils.ts
Owners: @trezor/suite-mobile

fixup! chore(suite-native): use new Networks structure
  suite-common/wallet-core/src/discovery/discoveryThunks.ts
  suite-native/discovery/src/discoveryThunks.ts
  suite-native/discovery/src/utils.ts
  suite-native/module-add-accounts/src/hooks/useAddCoinAccount.ts
Owners: @trezor/suite-mobile

feat(module-connect-popup): handle device not connected
  suite-native/module-connect-popup/src/screens/ConnectPopupScreen.tsx
Owners: @trezor/suite-mobile

feat(connect): add deeplink config to connect
  packages/connect/src/types/settings.ts
Owners: @mroz22, @szymonlesisz, @martykan

feat(connect-deeplink): create package
  packages/connect-deeplink/package.json
  packages/connect-deeplink/src/index.ts
  packages/connect-deeplink/tsconfig.json
Owners: none

feat(connect-deeplink-example): new example react-native app for deeplinks
  suite-native/connect-deeplink-example/.gitignore
  suite-native/connect-deeplink-example/App.tsx
  suite-native/connect-deeplink-example/app.json
  suite-native/connect-deeplink-example/babel.config.js
  suite-native/connect-deeplink-example/index.js
  suite-native/connect-deeplink-example/package.json
  suite-native/connect-deeplink-example/tsconfig.json
  tsconfig.json
  yarn.lock
Owners: @trezor/suite-mobile

fix(suite): Refactor EVM banners (#14386)
  packages/components/src/components/Badge/Badge.stories.tsx
  packages/components/src/components/Badge/Badge.tsx
  packages/suite/src/components/wallet/WalletLayout/AccountBanners/BannerPoints.tsx
  packages/suite/src/components/wallet/WalletLayout/AccountBanners/CloseableBanner.tsx
  packages/suite/src/components/wallet/WalletLayout/AccountBanners/EvmExplanationBanner.tsx
  packages/suite/src/views/dashboard/DashboardPassphraseBanner.tsx
Owners: @jvaclavik, @adamhavel

fix(connect): keepSession with changing useCardanoDerivation
  packages/connect/e2e/tests/device/keepSession.test.ts
  packages/connect/src/device/Device.ts
  scripts/ci/connect-test-matrix-generator.js
Owners: @mroz22, @szymonlesisz, @martykan, @Nodonisko

fix(connect): auto-acquire device after it was released elsewhere
  packages/connect/src/device/Device.ts
  packages/connect/src/device/DeviceList.ts
Owners: @mroz22, @szymonlesisz, @martykan

chore(connect): update device authenticity config
  packages/connect/src/data/deviceAuthenticityConfig.ts
Owners: @tsusanka

fix(utils): correctly removing event listeners
  packages/utils/src/scheduleAction.ts
  packages/utils/tests/scheduleAction.test.ts
Owners: @karliatto

feat(suite-native): send form normal fee level validation
  suite-native/module-send/src/components/FeeOptionsList.tsx
  suite-native/module-send/src/screens/SendOutputsScreen.tsx
  suite-native/module-send/src/sendFormThunks.ts
  suite-native/module-send/src/sendOutputsFormSchema.ts
Owners: @trezor/suite-mobile

docs(connect-explorer): step by step tutorial to build connect webextension
  packages/connect-explorer/next-env.d.ts
  packages/connect-explorer/src/components/GuideIndex.tsx
  packages/connect-explorer/src/pages/guides.mdx
  packages/connect-explorer/src/pages/guides/webextension-implementation-tutorial.mdx
  packages/connect-explorer/src/pages/index.mdx
Owners: @mroz22, @szymonlesisz, @martykan

feat(connect-explorer-theme): enable icons for dropdown menu
  packages/connect-explorer-theme/src/components/menu.tsx
Owners: @martykan

feat(connect): push tx permission
  packages/connect-popup/src/view/permissions.ts
  packages/connect/src/api/composeTransaction.ts
  packages/connect/src/api/pushTransaction.ts
  packages/connect/src/api/signTransaction.ts
  packages/connect/src/core/AbstractMethod.ts
  packages/connect/src/events/ui-request.ts
Owners: @mroz22, @szymonlesisz, @martykan

chore(connect): device state saving refactor
  packages/connect/src/core/index.ts
  packages/connect/src/device/Device.ts
  packages/connect/src/device/StateStorage.ts
  packages/connect/src/events/device.ts
Owners: @mroz22, @szymonlesisz, @martykan

draft(suite): bump gas by at least 1 gwei
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/TxDetailModal/ChangeFee/ChangeFee.tsx
Owners: none

fix(connect): fw releases value for custom device model
  packages/connect/src/data/__tests__/firmwareInfo.test.ts
  packages/connect/src/data/firmwareInfo.ts
Owners: @mroz22, @szymonlesisz, @martykan

docs(connect-explorer): step by step tutorial to build connect webextension
  packages/connect-explorer/next-env.d.ts
  packages/connect-explorer/src/components/GuideIndex.tsx
  packages/connect-explorer/src/pages/guides.mdx
  packages/connect-explorer/src/pages/guides/webextension-implementation-tutorial.mdx
  packages/connect-explorer/src/pages/index.mdx
Owners: @mroz22, @szymonlesisz, @martykan

feat(connect-explorer-theme): enable icons for dropdown menu
  packages/connect-explorer-theme/src/components/menu.tsx
Owners: @martykan

test(transport-test): add multi-device test
  packages/transport-test/e2e/bridge/multi-devices.test.ts
Owners: none

test(transport-test): update controller to work with multiple connected devices
  packages/transport-test/e2e/bridge/controller.ts
Owners: none

feat(suite-native): only show one skeleton for discovery in progress
  suite-native/assets/src/components/Assets.tsx
  suite-native/assets/src/components/DiscoveryAssetsLoader.tsx
Owners: @trezor/suite-mobile

chore(suite-native): workaround removal due to updated connect
  suite-native/discovery/src/discoveryThunks.ts
Owners: @trezor/suite-mobile

fix(connect): fw releases value for custom device model
  packages/connect/src/data/__tests__/firmwareInfo.test.ts
  packages/connect/src/data/firmwareInfo.ts
Owners: @mroz22, @szymonlesisz, @martykan

feat(suite): add H4 component
  packages/components/src/components/typography/Heading/Heading.tsx
Owners: @jvaclavik, @adamhavel

feat(suite): update modals to use NewModal component
  packages/suite/src/components/suite/modals/ReduxModal/CopyAddressModal.tsx
  packages/suite/src/components/suite/modals/ReduxModal/DeviceConfirmationModal/NoBackupModal.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UnhideTokenModal.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/ApplicationLogModal.tsx
Owners: none

feat(components): update NewModal component
  packages/components/src/components/NewModal/NewModal.tsx
Owners: @jvaclavik, @adamhavel

chore(suite-native): workaround removal due to updated connect
  suite-native/discovery/src/discoveryThunks.ts
Owners: @trezor/suite-mobile

feat(suite-native): only show one skeleton for discovery in progress
  suite-native/assets/src/components/Assets.tsx
  suite-native/assets/src/components/DiscoveryAssetsLoader.tsx
Owners: @trezor/suite-mobile

fix(suite-native): send form flow minor layout fixes
  packages/theme/src/boxShadows.ts
  suite-native/atoms/src/Hint.tsx
  suite-native/module-send/package.json
  suite-native/module-send/src/components/AddressOriginHelpButton.tsx
  suite-native/module-send/src/components/AddressReviewStep.tsx
  suite-native/module-send/src/components/FeesFooter.tsx
  suite-native/module-send/src/components/RecipientsSummary.tsx
  suite-native/module-send/src/components/ReviewOutputCard.tsx
  suite-native/module-send/src/components/ReviewOutputItemValues.tsx
  suite-native/module-send/src/components/ReviewOutputSummaryItem.tsx
  suite-native/module-send/src/useSendAmountTransformers.ts
  suite-native/module-send/tsconfig.json
  suite-native/navigation/src/components/Screen.tsx
  suite-native/navigation/src/components/ScreenContentWrapper.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailData.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailIncludedCoins.tsx
  suite-native/transactions/src/components/TransactionDetail/TransactionDetailSummary.tsx
  yarn.lock
Owners: @Nodonisko, @jvaclavik, @adamhavel, @trezor/suite-mobile

fix(suite): send address review bottom sheets converted to alerts
  suite-native/alerts/package.json
  suite-native/alerts/src/alertsAtoms.ts
  suite-native/alerts/src/components/AlertSheet.tsx
  suite-native/alerts/tsconfig.json
  suite-native/atoms/src/TitleHeader/TitleHeader.tsx
  suite-native/module-send/package.json
  suite-native/module-send/src/components/AddressOriginHelpButton.tsx
  suite-native/module-send/src/components/AddressReviewHelpSheet.tsx
  suite-native/module-send/src/components/CompareAddressHelpButton.tsx
  suite-native/module-send/tsconfig.json
Owners: @trezor/suite-mobile

fix(suite-native): wallet switcher removed from send account list
  suite-native/module-send/src/screens/SendAccountsScreen.tsx
Owners: @trezor/suite-mobile

fix(suite-native): transaction detail icon light stroke
  suite-common/icons-deprecated/assets/icons/arrowURightDownLight.svg
  suite-common/icons-deprecated/assets/icons/placeholderLight.svg
  suite-common/icons-deprecated/assets/icons/receiveLight.svg
  suite-common/icons-deprecated/assets/icons/sendLight.svg
  suite-common/icons-deprecated/assets/icons/shuffleLight.svg
  suite-common/icons-deprecated/src/icons.ts
  suite-native/transactions/src/components/TransactionsList/TransactionIcon.tsx
Owners: @trezor/suite-mobile

fix(suite-native): send form validations and focus events handling
  suite-native/forms/package.json
  suite-native/forms/src/hooks/useField.ts
  suite-native/module-send/src/components/CryptoAmountInput.tsx
  suite-native/module-send/src/components/FiatAmountInput.tsx
  suite-native/module-send/src/components/SendScreen.tsx
Owners: @trezor/suite-mobile
