Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

ci(suite-desktop): deploy DMG instead of ZIP for macOS
  ci/packages/suite-desktop.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

fix: style for version tooltip on settings page
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: code cleanup
  packages/suite-desktop/src/support/DesktopUpdater.tsx
Owners: @keraf, @szymonlesisz

fix: auto updater cancel and download progress
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/electron.ts
  patches/electron-updater+4.3.5.patch
  yarn.lock
Owners: @keraf, @szymonlesisz

feat: add disable-csp runtime flag
  docs/SUMMARY.md
  docs/packages/index.md
  docs/packages/suite-desktop.md
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

chore: update targets for all platforms
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

test(e2e): rework from google to dropbox
  packages/integration-tests/projects/suite-web/plugins/dropbox.js
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/stubs/metadata.ts
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/token-expires.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/suite/src/actions/suite/__fixtures__/metadataActions.ts
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withDropdown.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/services/metadata/DropboxProvider.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/__tests__/metadata.test.ts
  packages/suite/src/utils/suite/dom.ts
  packages/suite/src/utils/suite/metadata.ts
  packages/suite/src/utils/suite/oauth.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/Target/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(metadata): disconnect provider on auth error
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/Target/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: set GOOGLE_DRIVE_SYNC to false
  packages/suite/src/config/suite/features.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add disable-csp runtime flag
  docs/SUMMARY.md
  docs/packages/index.md
  docs/packages/suite-desktop.md
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix: style for version tooltip on settings page
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: remove unused desktopApi method and add deprecation notice for send method.
  packages/suite-desktop/src-electron/preload.ts
Owners: @keraf, @szymonlesisz

fix: disable updater when running dev build
  packages/suite-desktop/src/support/DesktopUpdater.tsx
Owners: @keraf, @szymonlesisz

chore: update targets for all platforms
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix(suite-web-landing): change .zip to .dmg for Mac desktop build
  packages/suite-web-landing/components/Download/index.tsx
Owners: none

chore: code cleanup
  packages/suite-desktop/src/support/DesktopUpdater.tsx
Owners: @keraf, @szymonlesisz

fix: auto updater cancel and download progress
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/electron.ts
  patches/electron-updater+4.3.5.patch
  yarn.lock
Owners: @keraf, @szymonlesisz

build: change mac target platform from zip to dmg
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix(landing): change .zip to .dmg for Mac desktop build
  packages/landing-page/pages/wallet/start/index.tsx
Owners: @keraf, @robertbrada

fix: add back commit hash tooltip and version button
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci(suite-desktop): deploy DMG instead of ZIP for macOS
  ci/packages/suite-desktop.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

fix: layout distorted
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: review fixes
  packages/integration-tests/projects/suite-web/plugins/dropbox.js
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/Target/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

test: skip flaky test
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
Owners: @mroz22

fix: show correct details for token transaction
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: replaced wrong url
  packages/suite-web-landing/components/Layout/index.tsx
Owners: none

feat(suite-desktop): add pre-release runtime flag
  docs/packages/suite-desktop.md
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix(metadata): disconnect provider on auth error
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/Target/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test: skip flaky test
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
Owners: @mroz22

chore: review fixes
  packages/integration-tests/projects/suite-web/plugins/dropbox.js
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/Target/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix: set GOOGLE_DRIVE_SYNC to false
  packages/suite/src/config/suite/features.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(e2e): rework from google to dropbox
  packages/integration-tests/projects/suite-web/plugins/dropbox.js
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/stubs/metadata.ts
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/token-expires.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/suite/src/actions/suite/__fixtures__/metadataActions.ts
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withDropdown.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/services/metadata/DropboxProvider.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/__tests__/metadata.test.ts
  packages/suite/src/utils/suite/dom.ts
  packages/suite/src/utils/suite/metadata.ts
  packages/suite/src/utils/suite/oauth.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/Target/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(suite-desktop): add pre-release runtime flag
  docs/packages/suite-desktop.md
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix: replaced wrong url
  packages/suite-web-landing/components/Layout/index.tsx
Owners: none

feat: add Trade to app menu with coming soon badge
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/trade.svg
  packages/suite/src/components/suite/AppNavigation/index.tsx
  packages/suite/src/config/wallet/menu.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

Revert "feat(suite-desktop): add pre-release runtime flag"
  docs/packages/suite-desktop.md
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix(ci): fix mac desktop build
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

feat: add Trade to app menu with coming soon badge
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/trade.svg
  packages/suite/src/components/suite/AppNavigation/index.tsx
  packages/suite/src/config/wallet/menu.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: update intl
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/backup/AfterBackupCheckboxes.tsx
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/firmware/OnboardingInitial.tsx
  packages/suite/src/components/firmware/ReconnectInNormal.tsx
  packages/suite/src/components/recovery/SelectRecoveryType.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/firmware/index.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/Backup/index.tsx
  packages/suite/src/views/onboarding/steps/CreateOrRecover/index.tsx
  packages/suite/src/views/onboarding/steps/Hologram/index.tsx
  packages/suite/src/views/onboarding/steps/Pair/index.tsx
  packages/suite/src/views/onboarding/steps/Pin/index.tsx
  packages/suite/src/views/onboarding/steps/Recovery/index.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/IsSameDevice.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): add never publish parameter on prod builds
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz
