Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix(suite): reload the app right after removing db
  packages/suite/src/support/suite/ErrorBoundary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): reload the app right after removing db
  packages/suite/src/support/suite/ErrorBoundary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Refactor/translations (#2708)
  packages/suite/src/components/suite/Labeling/components/Account/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/DeviceHeaderButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/Container.tsx
  packages/suite/src/components/suite/Ticker/index.tsx
  packages/suite/src/components/suite/ToastNotification/index.tsx
  packages/suite/src/components/suite/WordInput/index.tsx
  packages/suite/src/components/suite/hocNotification/components/withTransaction.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/AccountTypeSelect.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/AddAccountButton.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkInternal.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkUnavailable.tsx
  packages/suite/src/components/suite/modals/AddAccount/index.tsx
  packages/suite/src/components/suite/modals/AdvancedCoinSettings/components/CustomBlockbookUrls.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
  packages/suite/src/components/wallet/WalletLayout/components/AccountLoader.tsx
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/hooks/suite/useTranslation.ts
  packages/suite/src/utils/suite/__fixtures__/device.ts
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/__tests__/accountUtils.test.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/views/dashboard/components/SecurityFeatures/Container.ts
  packages/suite/src/views/onboarding/steps/Firmware/Container.ts
  packages/suite/src/views/onboarding/steps/Pair/components/Bridge/index.tsx
  packages/suite/src/views/settings/debug/Container.ts
  packages/suite/src/views/settings/device/Container.ts
  packages/suite/src/views/suite/device-recovery-mode/Container.ts
  packages/suite/src/views/suite/notifications/index.tsx
  packages/suite/src/views/wallet/details/index.tsx
  packages/suite/src/views/wallet/receive/Container.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
  packages/suite/src/views/wallet/sign-verify/Container.ts
  packages/suite/src/views/wallet/transactions/Container.ts
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/SummaryCards/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! refactor(suite): logActions
  packages/suite/src/actions/suite/logActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! refactor(suite): discoveryActions
  packages/suite/src/actions/wallet/discoveryActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): pass className to tooltip wrapper, unify tooltip styling
  packages/components/src/components/Tooltip/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite-desktop): add dropbox api domain to allow list
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

fix(suite-desktop): add dropbox api domain to allow list
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

refactor(suite): remove unnecessary async from actions (#2684)
  packages/suite-native/src/actions/suite/routerActions.ts
  packages/suite/src/actions/backup/backupActions.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/actions/onboarding/onboardingActions.ts
  packages/suite/src/actions/recovery/recoveryActions.ts
  packages/suite/src/actions/settings/walletSettingsActions.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/actions/suite/logActions.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/suite/notificationActions.ts
  packages/suite/src/actions/suite/resizeActions.ts
  packages/suite/src/actions/suite/routerActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/actions/wallet/accountSearchActions.ts
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/actions/wallet/coinmarketBuyActions.ts
  packages/suite/src/actions/wallet/coinmarketCommonActions.ts
  packages/suite/src/actions/wallet/coinmarketExchangeActions.ts
  packages/suite/src/actions/wallet/discoveryActions.ts
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/actions/wallet/graphActions.ts
  packages/suite/src/actions/wallet/receiveActions.ts
  packages/suite/src/actions/wallet/selectedAccountActions.ts
  packages/suite/src/actions/wallet/sendFormActions.ts
  packages/suite/src/actions/wallet/signVerifyActions.ts
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/types/firmware/index.ts
  packages/suite/src/types/onboarding/index.ts
  packages/suite/src/types/settings/index.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/types/wallet/coinmarketBuyForm.ts
  packages/suite/src/types/wallet/index.ts
Owners: @slowbackspace, @szymonlesisz, @keraf, @mroz22, @robertbrada

fix(suite-desktop): use binary dir as current dir + library dir
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/processes/TorProcess.ts
Owners: @keraf, @szymonlesisz

ci(suite): don't try to reach onion domain during test
  packages/suite/test/health/urls.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): pass className to tooltip wrapper, unify tooltip styling
  packages/components/src/components/Tooltip/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

ci(suite): don't try to reach onion domain during test (#2864)
  packages/suite/test/health/urls.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): discreet mode menu border-top outside mobile view
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): discreet mode menu icon jumps on the first click
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/ActionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(analytics): refactor, less spaghetti
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/actions/suite/constants/analyticsConstants.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/components/suite/Settings/components/Analytics.tsx
  packages/suite/src/hooks/suite/useAnalytics.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/analyticsReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): discreet mode menu icon jumps on the first click
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/ActionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): discreet mode menu border-top outside mobile view
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): use binary dir as current dir + library dir
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/processes/TorProcess.ts
Owners: @keraf, @szymonlesisz

fix(suite): discreet mode menu border-top outside mobile view
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): discreet mode menu icon jumps on the first click
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/ActionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): use binary dir as current dir + library dir
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/processes/TorProcess.ts
Owners: @keraf, @szymonlesisz

fix(suite): fetch account info after blockchain connection
  packages/suite/src/actions/wallet/__fixtures__/blockchainActions.ts
  packages/suite/src/actions/wallet/blockchainActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): unify icon width and height based on passed size
  packages/components/src/components/Icon/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/ActionItem/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite-desktop): add content.dropboxapi.com to request allow list
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

fix(suite): fetch account info after blockchain connection
  packages/suite/src/actions/wallet/__fixtures__/blockchainActions.ts
  packages/suite/src/actions/wallet/blockchainActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): add content.dropboxapi.com to request allow list
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

fix(suite): fetch account info after blockchain connection
  packages/suite/src/actions/wallet/__fixtures__/blockchainActions.ts
  packages/suite/src/actions/wallet/blockchainActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: review missing/broken JSDoc annotations
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/suite/routerActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/actions/wallet/graphActions.ts
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
  packages/suite/src/services/coingecko.ts
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/utils/suite/date.ts
  packages/suite/src/utils/wallet/graphUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): add notify.dropboxapi.com to request allow list [skip ci]
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

fix(suite-desktop): add notify.dropboxapi.com to request allow list
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

refactor(suite): Icons with onClick event has cursor: pointer by default
  packages/components/src/components/Dropdown/index.tsx
  packages/components/src/components/Icon/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/components/DeviceStatus/index.tsx
  packages/suite/src/components/suite/NavigationBar/index.tsx
  packages/suite/src/components/suite/NoRatesTooltip/index.tsx
  packages/suite/src/components/suite/PinInput/components/InputPin/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/ColHeader/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
  packages/suite/src/components/wallet/CoinmarketFooter/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/components/Data/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Address/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/OpReturn/index.tsx
  packages/suite/src/views/wallet/send/components/Raw/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: remove period in front of reconnecting
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix: reconnection copy
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): prevent window duplication on focus
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fixup! chore(analytics): refactor, less spaghetti
  packages/suite/src/actions/suite/analyticsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): unify icon width and height based on passed size
  packages/components/src/components/Icon/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/ActionItem/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

refactor(suite): Icons with onClick event has cursor: pointer by default
  packages/components/src/components/Dropdown/index.tsx
  packages/components/src/components/Icon/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/components/DeviceStatus/index.tsx
  packages/suite/src/components/suite/NavigationBar/index.tsx
  packages/suite/src/components/suite/NoRatesTooltip/index.tsx
  packages/suite/src/components/suite/PinInput/components/InputPin/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/ColHeader/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
  packages/suite/src/components/wallet/CoinmarketFooter/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/components/Data/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Address/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/OpReturn/index.tsx
  packages/suite/src/views/wallet/send/components/Raw/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(suite): add blog post URL to Bitcoin Cash hard fork
  packages/suite/src/components/wallet/AccountAnnouncement/BCHFork.tsx
  packages/suite/src/constants/suite/urls.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(analytics): refactor, less spaghetti (#2816)
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/actions/suite/constants/analyticsConstants.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/components/suite/Settings/components/Analytics.tsx
  packages/suite/src/hooks/suite/useAnalytics.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/analyticsReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
