Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Fix update trade
  packages/suite/src/actions/suite/storageActions.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Format date in transactions
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Remove swr, add react-use hooks
  packages/suite/package.json
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
  yarn.lock
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: handle upsert in addItems just like in addItem
  packages/suite-storage/src/native/index.ts
  packages/suite-storage/src/web/index.ts
Owners: @slowbackspace, @keraf

fix: revert removing key param, add upsert as 4th param to addItem
  packages/suite-storage/src/native/index.ts
  packages/suite-storage/src/web/index.ts
  packages/suite/src/actions/suite/storageActions.ts
Owners: @slowbackspace, @keraf, @mroz22, @robertbrada

chore: fix lint
  packages/suite-storage/src/web/index.ts
Owners: @slowbackspace, @keraf

fix: incorrect illustration in passphrase duplication modal
  packages/suite/src/components/suite/modals/PassphraseDuplicate/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: width of the mobile accounts menu
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Fix question tooltip
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/components/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/components/List/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: deactivate coin filter on outside click
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Handle missing exchange tickers returned from invityAPI
  packages/suite/src/actions/wallet/coinmarketExchangeActions.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Refactor watch hook
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Make offers and quotes responsive
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Make buy inde footer responsive
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Footer/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Add coinmarket utils tests
  packages/suite/jest.config.js
  packages/suite/src/utils/wallet/coinmarket/__fixtures__/buyUtils.ts
  packages/suite/src/utils/wallet/coinmarket/__tests__/buyUtils.test.ts
  packages/suite/src/utils/wallet/coinmarket/__tests__/coinmarketUtils.test.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): saveDraft with errors check
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update sendform dependencies
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): do not display "set-max" button if form has errors
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix: width of the mobile accounts menu
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(balanceUtils): use ellipsis instead of "..."
  packages/suite/src/utils/wallet/__tests__/balanceUtils.test.ts
  packages/suite/src/utils/wallet/balanceUtils.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Add coinmarket reducer and actions tests
  packages/suite/src/actions/wallet/__tests__/coinmarketBuyActions.test.ts
  packages/suite/src/reducers/wallet/__tests__/coinmarketReducer.test.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore: refactor selecting/deselecting coin filter
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(balanceUtils): use ellipsis instead of "..."
  packages/suite/src/utils/wallet/__tests__/balanceUtils.test.ts
  packages/suite/src/utils/wallet/balanceUtils.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: show 9 numbers (integral+fractional part), indicate truncating with "..."
  packages/suite/src/utils/wallet/__tests__/balanceUtils.test.ts
  packages/suite/src/utils/wallet/balanceUtils.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

Minor visual and functional fixes
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat: deactivate coin filter on outside click
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore: refactor selecting/deselecting coin filter
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore(metadata): minor changes from review, added translations, linting
  packages/integration-tests/projects/suite-web/plugins/google.js
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/reducers/suite/notificationReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/index.tsx
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

fix(send): FeeLevels reversed order (Low > High)
  packages/suite/src/actions/wallet/blockchainActions.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

docs(metadata): add metadata docs
  packages/suite/docs/METADATA.md
  packages/suite/docs/README.md
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/utils/suite/metadata.ts
  packages/suite/src/utils/suite/oauth.ts
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

chore(metadata): minor changes from review, added translations, linting
  packages/integration-tests/projects/suite-web/plugins/google.js
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/reducers/suite/notificationReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/index.tsx
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

fix(metadata): context menu should disappear onclick on confirm address on device. fix #2358
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): capitalize provider in settings. close #2381
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

test(metadata): add e2e test for remembered device and metadata disconnecting / disabling
  packages/integration-tests/projects/suite-web/plugins/google.js
  packages/integration-tests/projects/suite-web/stubs/metadata.ts
  packages/integration-tests/projects/suite-web/tests/metadata/enable-in-settings.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/views/settings/index.tsx
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

feat(metadata): dont dispose metadata on provider disconnect
  packages/integration-tests/projects/suite-web/stubs/metadata.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/services/google.ts
  packages/suite/src/views/settings/index.tsx
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

fix(metadata): closing edit field should not select wallet (fix #2357)
  packages/suite/src/components/suite/Labeling/components/Metadata/Edit.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): show account label in xpub modal if available. resolve #2341
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/confirm/Xpub/Container.tsx
  packages/suite/src/components/suite/modals/confirm/Xpub/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/details/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): updating metadata for accounts in storage
  packages/suite/docs/METADATA.md
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/views/settings/Container.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): style provider modal
  packages/suite-data/files/images/png/dropbox.png
  packages/suite-data/files/images/png/fake1.png
  packages/suite-data/files/images/png/fake2.png
  packages/suite-data/files/images/png/google-drive.png
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
Owners: @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): change behavior when user declines labeling on device -> disable metadata setting. resolve #2315
  packages/integration-tests/projects/suite-web/tests/backup/misc-t2.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-labeling.test.ts
  packages/suite/src/actions/suite/__fixtures__/metadataActions.ts
  packages/suite/src/actions/suite/metadataActions.ts
Owners: @mroz22, @keraf, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf

/packages/suite-native @slowbackspace @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
