Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(wallet): account type name
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/suite/modals/AddAccount/components/AccountTypeSelect.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/views/wallet/details/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(wallet): account type name
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/suite/modals/AddAccount/components/AccountTypeSelect.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/views/wallet/details/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

docs: add docs for l10n process
  docs/SUMMARY.md
  docs/misc/localization.md
Owners: none

fix(invity): exchange - amount is too low error persistent #3579
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): track send-raw-transaction action
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/views/wallet/send/components/Raw/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): track total count of connected devices
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/device.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs: add info on how to run cypress on macOS
  docs/tests/e2e-web.md
Owners: none

feat(analytics): track total count of connected devices
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/device.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): track send-raw-transaction action
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/views/wallet/send/components/Raw/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): auto-lock device settings
  packages/integration-tests/projects/suite-web/tests/settings/t1-device-settings.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t2-device-settings.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/date.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(components): redesign select
  packages/components/src/components/form/Select/index.tsx
  packages/suite/src/components/suite/Settings/components/ActionColumn.tsx
  packages/suite/src/components/suite/WordInput/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/FiatSelect/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/TokenSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: patch trezor-connect lib
  patches/trezor-connect+8.1.25-extended.patch
Owners: none

feat(icons): more icon updated
  packages/components/src/images/icons/more.svg
Owners: @keraf, @slowbackspace, @robertbrada

feat(suite): Account navigation updates + Account sticky menu
  CHANGELOG.md
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/suite/package.json
  packages/suite/src/components/settings/SettingsMenu/index.tsx
  packages/suite/src/components/suite/AppNavigation/index.tsx
  packages/suite/src/components/suite/AppNavigationPanel/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/components/AccountNavigation/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/components/AccountNavigationSticky/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/index.tsx
  packages/suite/src/config/wallet/menu.tsx
  packages/suite/src/views/wallet/details/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

chore: patch trezor-connect lib
  patches/trezor-connect+8.1.25-extended.patch
Owners: none

feat(suite): auto-lock device settings
  packages/integration-tests/projects/suite-web/tests/settings/t1-device-settings.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t2-device-settings.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/date.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(components): redesign select
  packages/components/src/components/form/Select/index.tsx
  packages/suite/src/components/suite/Settings/components/ActionColumn.tsx
  packages/suite/src/components/suite/WordInput/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/FiatSelect/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/TokenSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

docs: add info on how to run cypress on macOS
  docs/tests/e2e-web.md
Owners: none

fix(invity): Spend - transaction not shown in Trade tab history
  packages/suite-data/files/translations/en.json
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/wallet/__tests__/coinmarketSpendActions.test.ts
  packages/suite/src/actions/wallet/coinmarketBuyActions.ts
  packages/suite/src/actions/wallet/coinmarketExchangeActions.ts
  packages/suite/src/actions/wallet/coinmarketSellActions.ts
  packages/suite/src/actions/wallet/coinmarketSpendActions.ts
  packages/suite/src/actions/wallet/constants/coinmarketBuyConstants.ts
  packages/suite/src/actions/wallet/constants/coinmarketCommonConstants.ts
  packages/suite/src/actions/wallet/constants/coinmarketExchangeConstants.ts
  packages/suite/src/components/wallet/CoinmarketBuyOfferInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketExchangeOfferInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketExchangeProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/SpendTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/Status/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/components/wallet/CoinmarketProviderInfo/index.tsx
  packages/suite/src/components/wallet/index.tsx
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeDetail.ts
  packages/suite/src/hooks/wallet/useCoinmarketSpend.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/wallet/__tests__/coinmarketReducer.test.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/storage/definitions.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/coinmarketBuyDetail.ts
  packages/suite/src/types/wallet/coinmarketCommonTypes.ts
  packages/suite/src/types/wallet/coinmarketExchangeDetail.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/List/Quote/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(translations): missing preposition
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix(translations): Github -> GitHub
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix(translations): criteria plural form
  packages/suite-data/files/translations/en.json
Owners: @keraf

docs: clean up e2e readme and add instructions for Linux
  docs/tests/e2e-web.md
Owners: none

fix(transactions): search on multiple outputs
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): Account navigation updates + Account sticky menu
  CHANGELOG.md
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/suite/package.json
  packages/suite/src/components/settings/SettingsMenu/index.tsx
  packages/suite/src/components/suite/AppNavigation/index.tsx
  packages/suite/src/components/suite/AppNavigationPanel/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/components/AccountNavigation/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/components/AccountNavigationSticky/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/index.tsx
  packages/suite/src/config/wallet/menu.tsx
  packages/suite/src/views/wallet/details/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(icons): more icon updated
  packages/components/src/images/icons/more.svg
Owners: @keraf, @slowbackspace, @robertbrada

fix(translations): missing preposition
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix(translations): Github -> GitHub
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix(translations): criteria plural form
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix(invity): Spend - transaction not shown in Trade tab history
  packages/suite-data/files/translations/en.json
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/wallet/__tests__/coinmarketSpendActions.test.ts
  packages/suite/src/actions/wallet/coinmarketBuyActions.ts
  packages/suite/src/actions/wallet/coinmarketExchangeActions.ts
  packages/suite/src/actions/wallet/coinmarketSellActions.ts
  packages/suite/src/actions/wallet/coinmarketSpendActions.ts
  packages/suite/src/actions/wallet/constants/coinmarketBuyConstants.ts
  packages/suite/src/actions/wallet/constants/coinmarketCommonConstants.ts
  packages/suite/src/actions/wallet/constants/coinmarketExchangeConstants.ts
  packages/suite/src/components/wallet/CoinmarketBuyOfferInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketExchangeOfferInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketExchangeProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/SpendTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/Status/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/components/wallet/CoinmarketProviderInfo/index.tsx
  packages/suite/src/components/wallet/index.tsx
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeDetail.ts
  packages/suite/src/hooks/wallet/useCoinmarketSpend.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/wallet/__tests__/coinmarketReducer.test.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/storage/definitions.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/coinmarketBuyDetail.ts
  packages/suite/src/types/wallet/coinmarketCommonTypes.ts
  packages/suite/src/types/wallet/coinmarketExchangeDetail.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/List/Quote/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(intl): sync crowdin
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(intl): sync crowdin
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat(suite-desktop): add renderer crash recovery system
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/modules/crash-recover.ts
  packages/suite-desktop/src-electron/modules/event-logging/contents.ts
Owners: @keraf, @szymonlesisz

fix(transactions): search on multiple outputs
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(tor): news/blog links properly update to tor links
  packages/suite/src/views/dashboard/components/NewsFeed/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): missing space between the device name and an account name when sending tx
  packages/suite/src/components/suite/Labeling/components/Account/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(tor): news/blog links properly update to tor links
  packages/suite/src/views/dashboard/components/NewsFeed/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): missing space between the device name and an account name when sending tx
  packages/suite/src/components/suite/Labeling/components/Account/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: ltc bech32 accounts migration
  packages/suite/src/storage/CHANGELOG.md
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: enable and use p2wpkh aka bech32 as default for litecoin aka ltc. closes #3399
  packages/suite-data/files/translations/en.json
  packages/suite/src/config/wallet/networks.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/validation.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada
