Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

chore: update changelog
  CHANGELOG.md
Owners: none

fix(suite): UI to inform user about db upgrade being blocked by another instance
  CHANGELOG.md
  packages/suite-data/files/translations/en.json
  packages/suite-storage/src/native/index.ts
  packages/suite-storage/src/web/index.ts
  packages/suite/src/actions/suite/constants/suiteConstants.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/suite/Preloader/components/DatabaseUpgradeModal/index.tsx
  packages/suite/src/components/suite/Preloader/components/InitialLoading/index.tsx
  packages/suite/src/components/suite/Preloader/index.tsx
  packages/suite/src/config/suite/sentry.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/reducers/suite/storageReducer.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @szymonlesisz, @mroz22, @robertbrada

fix(suite): UI to inform user about db upgrade being blocked by another instance
  CHANGELOG.md
  packages/suite-data/files/translations/en.json
  packages/suite-storage/src/native/index.ts
  packages/suite-storage/src/web/index.ts
  packages/suite/src/actions/suite/constants/suiteConstants.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/suite/Preloader/components/DatabaseUpgradeModal/index.tsx
  packages/suite/src/components/suite/Preloader/components/InitialLoading/index.tsx
  packages/suite/src/components/suite/Preloader/index.tsx
  packages/suite/src/config/suite/sentry.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/reducers/suite/storageReducer.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @szymonlesisz, @mroz22, @robertbrada

fix(suite): include tokens in getAccountFiatBalance
  CHANGELOG.md
  packages/suite/src/utils/wallet/accountUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(blockchain-link): dont include fee in tx.amount (btc sent tx), add totalSpent
  packages/blockchain-link/src/types/common.ts
  packages/blockchain-link/src/workers/blockbook/utils.ts
  packages/blockchain-link/src/workers/ripple/utils.ts
  packages/blockchain-link/tests/unit/fixtures/getAccountInfo-blockbook.ts
  packages/blockchain-link/tests/unit/fixtures/getAccountInfo-ripple.ts
  packages/blockchain-link/tests/unit/fixtures/notifications-blockbook.ts
  packages/blockchain-link/tests/unit/fixtures/notifications-ripple.ts
  packages/blockchain-link/tests/unit/fixtures/utils.ts
Owners: @szymonlesisz, @keraf

chore(blockchain-link): prepare 1.0.17
  packages/blockchain-link/CHANGELOG.md
  packages/blockchain-link/package.json
Owners: @szymonlesisz, @keraf

fix(suite): include tokens in getAccountFiatBalance
  CHANGELOG.md
  packages/suite/src/utils/wallet/accountUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(blockchain-link): prepare 1.0.17
  packages/blockchain-link/CHANGELOG.md
  packages/blockchain-link/package.json
Owners: @szymonlesisz, @keraf

fix(blockchain-link): dont include fee in tx.amount (btc sent tx), add totalSpent
  packages/blockchain-link/src/types/common.ts
  packages/blockchain-link/src/workers/blockbook/utils.ts
  packages/blockchain-link/src/workers/ripple/utils.ts
  packages/blockchain-link/tests/unit/fixtures/getAccountInfo-blockbook.ts
  packages/blockchain-link/tests/unit/fixtures/getAccountInfo-ripple.ts
  packages/blockchain-link/tests/unit/fixtures/notifications-blockbook.ts
  packages/blockchain-link/tests/unit/fixtures/notifications-ripple.ts
  packages/blockchain-link/tests/unit/fixtures/utils.ts
Owners: @szymonlesisz, @keraf

fix(analytics): fire suite-ready analytics event even if db isn't loaded yet
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(analytics): fire suite-ready analytics event even if db isn't loaded yet
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(blockchain-link): types circular references
  packages/blockchain-link/src/types/blockbook.ts
  packages/blockchain-link/src/types/index.ts
  packages/blockchain-link/src/types/messages.ts
  packages/blockchain-link/src/types/params.ts
  packages/blockchain-link/src/workers/blockbook/websocket.ts
Owners: @szymonlesisz, @keraf

fix(blockchain-link): add tx.lockTime field
  packages/blockchain-link/CHANGELOG.md
  packages/blockchain-link/src/types/blockbook.ts
  packages/blockchain-link/src/types/common.ts
  packages/blockchain-link/src/workers/blockbook/utils.ts
Owners: @szymonlesisz, @keraf

design: Dropdown dark background adjusted
  packages/components/src/components/Dropdown/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(blockchain-link): types circular references
  packages/blockchain-link/src/types/blockbook.ts
  packages/blockchain-link/src/types/index.ts
  packages/blockchain-link/src/types/messages.ts
  packages/blockchain-link/src/types/params.ts
  packages/blockchain-link/src/workers/blockbook/websocket.ts
Owners: @szymonlesisz, @keraf

fix(blockchain-link): add tx.lockTime field
  packages/blockchain-link/CHANGELOG.md
  packages/blockchain-link/src/types/blockbook.ts
  packages/blockchain-link/src/types/common.ts
  packages/blockchain-link/src/workers/blockbook/utils.ts
Owners: @szymonlesisz, @keraf

chore(libs): update systeminformation to latest
  packages/suite-desktop/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz

chore(libs): update systeminformation to latest
  packages/suite-desktop/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz

fix(suite): specify img width to prevent img expansion
  packages/suite/src/components/suite/images/ConnectDeviceImage/index.tsx
  packages/suite/src/components/suite/modals/WipeDevice/index.tsx
  packages/suite/src/views/backup/index.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/IsNotNewDevice.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/Reconnect.tsx
  packages/suite/src/views/suite/device-connect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): specify img width to prevent img expansion
  packages/suite/src/components/suite/images/ConnectDeviceImage/index.tsx
  packages/suite/src/components/suite/modals/WipeDevice/index.tsx
  packages/suite/src/views/backup/index.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/IsNotNewDevice.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/Reconnect.tsx
  packages/suite/src/views/suite/device-connect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.23
  packages/suite-data/files/connect/data/messages/messages.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.b3cdb40439d551f872e0.js
  packages/suite-data/files/connect/js/iframe.f6dbb1b5271dcb7155b3.js
  packages/suite-data/files/connect/workers/blockbook-worker.61979a30be9469d58144.js
  packages/suite-data/files/connect/workers/blockbook-worker.94ed925163726194918b.js
  packages/suite-data/files/connect/workers/ripple-worker.5c4760bb43dccf440277.js
  packages/suite-data/files/connect/workers/ripple-worker.fc6d6d17a35cbb81f848.js
  packages/suite/package.json
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/utils/wallet/__fixtures__/searchTransactions.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.23
  packages/suite-data/files/connect/data/messages/messages.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.b3cdb40439d551f872e0.js
  packages/suite-data/files/connect/js/iframe.f6dbb1b5271dcb7155b3.js
  packages/suite-data/files/connect/workers/blockbook-worker.61979a30be9469d58144.js
  packages/suite-data/files/connect/workers/blockbook-worker.94ed925163726194918b.js
  packages/suite-data/files/connect/workers/ripple-worker.5c4760bb43dccf440277.js
  packages/suite-data/files/connect/workers/ripple-worker.fc6d6d17a35cbb81f848.js
  packages/suite/package.json
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/utils/wallet/__fixtures__/searchTransactions.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite): adjust calculation in sumTransactions, sumTransactionsFiat
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(storage): db migration for tx.amount and tx.totalSpent
  packages/suite/src/storage/CHANGELOG.md
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): add totalSpent to enhanceTransaction
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(storage): db migration for tx.amount and tx.totalSpent
  packages/suite/src/storage/CHANGELOG.md
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): adjust calculation in sumTransactions, sumTransactionsFiat
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): add totalSpent to enhanceTransaction
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(ci): introduce release automation
  .gitlab-ci.yml
  ci/packages/suite-web.yml
  ci/release-it.yml
  ci/releases.yml
  ci/scripts/fetch_changelog.js
Owners: @keraf, @mroz22

chore(docs): briefly document releases
  docs/SUMMARY.md
  docs/releases/deployment/index.md
  docs/releases/deployment/web.md
  docs/releases/desktop_updates.md
  docs/releases/index.md
  docs/releases/versioning.md
Owners: none

feat(ci): add release-it bumper to easily bump packages' versions
  package.json
  yarn.lock
Owners: none

chore(docs): briefly document releases
  docs/SUMMARY.md
  docs/releases/deployment/index.md
  docs/releases/deployment/web.md
  docs/releases/desktop_updates.md
  docs/releases/index.md
  docs/releases/versioning.md
Owners: none

feat(ci): add release-it for release automation
  package.json
  yarn.lock
Owners: none

feat(ci): introduce release automation
  .gitlab-ci.yml
  ci/packages/suite-web.yml
  ci/release-it.yml
  ci/releases.yml
  ci/scripts/fetch_changelog.js
Owners: @keraf, @mroz22

feat(ci): add release-it bumper to easily bump packages' versions
  package.json
  yarn.lock
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

design: Dropdown dark background adjusted
  packages/components/src/components/Dropdown/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(suite): browser icons on non-supported browser fallback page
  CHANGELOG.md
  packages/suite-data/.gitignore
  packages/suite-data/browser-detection.webpack.js
  packages/suite-data/files/browser-detection/index.js
  packages/suite-data/package.json
  packages/suite-data/src/browser-detection/images/browser-chrome.png
  packages/suite-data/src/browser-detection/images/browser-firefox.png
  packages/suite-data/src/browser-detection/index.ts
  packages/suite-data/src/index.d.ts
  yarn.lock
Owners: @keraf

fix(suite): browser icons on non-supported browser fallback page
  CHANGELOG.md
  packages/suite-data/.gitignore
  packages/suite-data/browser-detection.webpack.js
  packages/suite-data/files/browser-detection/index.js
  packages/suite-data/package.json
  packages/suite-data/src/browser-detection/images/browser-chrome.png
  packages/suite-data/src/browser-detection/images/browser-firefox.png
  packages/suite-data/src/browser-detection/index.ts
  packages/suite-data/src/index.d.ts
  yarn.lock
Owners: @keraf

e2e(@group:suite): update snapshots
  packages/integration-tests/projects/suite-web/snapshots/backup/t2-success.test.ts/backup-confirm-security-screen.snap.png
  packages/integration-tests/projects/suite-web/snapshots/browser/edge.test.ts/browser is not supported at all.snap.png
  packages/integration-tests/projects/suite-web/snapshots/browser/iphone-chrome.test.ts/no webusb support.snap.png
  packages/integration-tests/projects/suite-web/snapshots/browser/outdated-chrome.test.ts/chrome is supported but outdated.snap.png
  packages/integration-tests/projects/suite-web/snapshots/browser/outdated-firefox.test.ts/firefox is supported but outdated.snap.png
  packages/integration-tests/projects/suite-web/snapshots/firmware/firmware.test.ts/check-seed.snap.png
  packages/integration-tests/projects/suite-web/snapshots/firmware/firmware.test.ts/disconnect.snap.png
  packages/integration-tests/projects/suite-web/snapshots/firmware/firmware.test.ts/initial.snap.png
  packages/integration-tests/projects/suite-web/snapshots/firmware/firmware.test.ts/outdated notification banner.snap.png
  packages/integration-tests/projects/suite-web/snapshots/firmware/firmware.test.ts/reconnect in bootloader.snap.png
  packages/integration-tests/projects/suite-web/snapshots/onboarding/firmware-update.test.ts/firmware-confirm fingerprint.snap.png
  packages/integration-tests/projects/suite-web/snapshots/settings/log.test.ts/Log -- open log modal.snap.png
  packages/integration-tests/projects/suite-web/snapshots/settings/log.test.ts/Log -- there is a dropdown menu in settings that opens modal with application logs.snap.png
  packages/integration-tests/projects/suite-web/snapshots/settings/log.test.ts/dropdown expanded.snap.png
  packages/integration-tests/projects/suite-web/snapshots/settings/t1-device-settings.test.ts/Device settings -- t1 - pin mismatch.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/connecting-devices.test.ts/seedless.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/connecting-devices.test.ts/unreadable.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/static-pages.test.ts/Static pages accessible even without device -- bridge.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/static-pages.test.ts/Static pages accessible even without device -- version.snap.png
Owners: @mroz22
