Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(suite): set initial theme during initialRun on SUITE.INIT
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/support/suite/ThemeProvider.tsx
  packages/suite/src/utils/suite/dom.ts
  packages/suite/src/utils/suite/env.ts
Owners: @slowbackspace, @szymonlesisz, @keraf, @mroz22, @robertbrada

style(suite): transparent scrollbar corner
  packages/components/src/components/Scrollbar/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

test(e2e): speed up discovery using empty seed
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/tests/backup/t2-success.test.ts
  packages/integration-tests/projects/suite-web/tests/dashboard/dashboard.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/google-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/switching-providers.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/recovery/t2-dry-run-persistence.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @mroz22

feat: isBitcoinOnly and suiteVersion analytics (#3237)
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/device.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: remove unused message
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): add possibility to display error in metadata provider modal
  packages/suite-desktop/scripts/dev.js
  packages/suite-desktop/src-electron/__fixtures__/http.ts
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/modules/http-receiver.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-native/src/services/suite/metadata/DropboxProvider.ts
  packages/suite-native/src/services/suite/metadata/FileSystemProvider.ts
  packages/suite-native/src/services/suite/metadata/GoogleProvider.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/services/suite/metadata/DropboxProvider.ts
  packages/suite/src/services/suite/metadata/FileSystemProvider.ts
  packages/suite/src/services/suite/metadata/GoogleProvider.ts
  packages/suite/src/types/suite/metadata.ts
  packages/suite/src/utils/suite/oauth.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

test(suite): dark mode test
  packages/integration-tests/projects/suite-web/tests/settings/general.test.ts
  packages/suite/src/components/suite/Settings/components/Theme.tsx
  packages/suite/src/views/settings/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

test(suite): dark theme lint fix
  packages/suite/src/components/suite/Settings/components/Theme.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(e2e): speed up discovery using empty seed
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/tests/backup/t2-success.test.ts
  packages/integration-tests/projects/suite-web/tests/dashboard/dashboard.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/google-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/switching-providers.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/recovery/t2-dry-run-persistence.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @mroz22

test(suite): dark mode fix
  packages/integration-tests/projects/suite-web/tests/settings/general.test.ts
Owners: @mroz22

feat: intermediary firmware update
  packages/rollout/README.md
  packages/rollout/integration/get-binary-modifications.ts
  packages/rollout/jest.config.integration.js
  packages/rollout/package.json
  packages/rollout/src/index.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/firmware/Initial.tsx
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
  packages/suite/src/views/firmware/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

test(e2e): add more general settings tests (#3246)
  packages/integration-tests/projects/suite-web/tests/settings/general.test.ts
  packages/suite/src/components/suite/Settings/components/Theme.tsx
  packages/suite/src/views/settings/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(metadata): add possibility to display error in metadata provider modal
  packages/suite-desktop/scripts/dev.js
  packages/suite-desktop/src-electron/__fixtures__/http.ts
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/modules/http-receiver.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-native/src/services/suite/metadata/DropboxProvider.ts
  packages/suite-native/src/services/suite/metadata/FileSystemProvider.ts
  packages/suite-native/src/services/suite/metadata/GoogleProvider.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/services/suite/metadata/DropboxProvider.ts
  packages/suite/src/services/suite/metadata/FileSystemProvider.ts
  packages/suite/src/services/suite/metadata/GoogleProvider.ts
  packages/suite/src/types/suite/metadata.ts
  packages/suite/src/utils/suite/oauth.ts
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

chore: remove unused message
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: add docker to shell.nix
  shell.nix
Owners: none

chore(deps): update axios dependency
  packages/integration-tests/package.json
  packages/news-api/package.json
  yarn.lock
Owners: @mroz22, @keraf

Chore/deps (#3254)
  packages/integration-tests/package.json
  packages/news-api/package.json
  shell.nix
  yarn.lock
Owners: @mroz22, @keraf

chore(deps): update typescript and related deps
  package.json
  packages/components/package.json
  packages/components/src/components/Dropdown/index.stories.tsx
  packages/news-api/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/libs/processes/BaseProcess.ts
  packages/suite/package.json
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/actions/wallet/__tests__/blockchainActions.test.ts
  packages/suite/src/components/suite/WordInput/index.tsx
  packages/translations-manager/src/services/crowdin/index.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore(deps): update typescript and related deps
  package.json
  packages/components/package.json
  packages/components/src/components/Dropdown/index.stories.tsx
  packages/news-api/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/libs/processes/BaseProcess.ts
  packages/suite/package.json
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/actions/wallet/__tests__/blockchainActions.test.ts
  packages/suite/src/components/suite/WordInput/index.tsx
  packages/translations-manager/src/services/crowdin/index.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore(components): bump deps
  packages/components/package.json
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore(components): bump deps
  packages/components/package.json
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

test(suite): general settings check version
  packages/integration-tests/projects/suite-web/tests/settings/general.test.ts
Owners: @mroz22

test(suite): general settings check version fix
  packages/integration-tests/projects/suite-web/tests/settings/general.test.ts
Owners: @mroz22

build(nix): build node binary modules from source
  nixos-fix-binaries.sh
  shell.nix
Owners: none

build(nix): build node binary modules from source
  nixos-fix-binaries.sh
  shell.nix
Owners: none

chore: enable rbf as default option
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.20
  packages/suite/src/actions/suite/trezorConnectActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(send): rbf ReviewTransaction modal
  packages/suite/src/actions/wallet/sendFormActions.ts
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/AffectedTransactions/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/NoChange/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/middlewares/suite/actionBlockerMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(send): rbf native
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/actions/wallet/sendFormActions.ts
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/hooks/wallet/form/useCompose.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test: transactionUtils
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(suite): analytics-switch general settings fix
  packages/integration-tests/projects/suite-web/tests/settings/general.test.ts
Owners: @mroz22

fix(suite): make account visible if it is not empty anymore
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/actions/wallet/selectedAccountActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! feat(send): rbf native
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(suite): general settings add more (#3257)
  packages/integration-tests/projects/suite-web/tests/settings/general.test.ts
Owners: @mroz22

fix: getAccountInfo optimalization
  packages/suite/src/actions/wallet/__fixtures__/blockchainActions.ts
  packages/suite/src/actions/wallet/__tests__/blockchainActions.test.ts
  packages/suite/src/actions/wallet/accountActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! fixup! feat(send): rbf native
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): search by label
  packages/suite/src/utils/wallet/__fixtures__/searchTransactions.json
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: txs search box design
  packages/components/src/components/form/Input/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

style(transactions): no results msg, search input tooltip
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/random.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/Actions/components/SearchAction/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/NoSearchResults/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(transactions): add search operators to dates
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
