Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(blockchain-link): ETH pending fee
  packages/blockchain-link/src/workers/blockbook/utils.ts
  packages/blockchain-link/tests/unit/fixtures/utils.ts
Owners: @szymonlesisz, @keraf

fix(blockchain-link): add missing types in tx.ethereumSpecific
  packages/blockchain-link/src/types/blockbook.ts
  packages/blockchain-link/src/types/common.ts
Owners: @szymonlesisz, @keraf

release: blockchain-link@1.0.16
  packages/blockchain-link/CHANGELOG.md
  packages/blockchain-link/package.json
Owners: @szymonlesisz, @keraf

chore(copy): inform user that xrp is supported only on TT
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/coins/components/CoinsGroup/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-web-landing): OG image
  CHANGELOG.md
  packages/suite-data/files/images/suite-web-landing/meta.png
  packages/suite-web-landing/components/Metadata/index.tsx
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web-landing/pages/index.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat(suite): shared component for meta tags
  CHANGELOG.md
  packages/suite-data/files/images/meta/meta.png
  packages/suite-web-landing/babel.config.js
  packages/suite-web-landing/components/Metadata/index.tsx
  packages/suite-web-landing/pages/_app.tsx
  packages/suite-web-landing/pages/index.tsx
  packages/suite-web/pages/_app.tsx
  packages/suite/src/components/suite/Metadata/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/suite/bridge/index.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada, @szymonlesisz

fix(suite-web-landing): align text
  packages/suite-web-landing/components/Download/index.tsx
Owners: none

fix(suite-web-landing): align text
  packages/suite-web-landing/components/Download/index.tsx
Owners: none

feat(suite): shared component for meta tags
  CHANGELOG.md
  packages/suite-data/files/images/meta/meta.png
  packages/suite-web-landing/babel.config.js
  packages/suite-web-landing/components/Metadata/index.tsx
  packages/suite-web-landing/pages/_app.tsx
  packages/suite-web-landing/pages/index.tsx
  packages/suite-web/pages/_app.tsx
  packages/suite/src/components/suite/Metadata/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/suite/bridge/index.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada, @szymonlesisz

fix(suite-web-landing): OG image
  CHANGELOG.md
  packages/suite-data/files/images/suite-web-landing/meta.png
  packages/suite-web-landing/components/Metadata/index.tsx
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web-landing/pages/index.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(fiatRates): use contract address to distinguish tokens with same symbol
  CHANGELOG.md
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/wallet/constants/fiatRatesConstants.ts
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/components/suite/FiatValue/Container.ts
  packages/suite/src/components/suite/FiatValue/index.tsx
  packages/suite/src/config/suite/fiat.ts
  packages/suite/src/middlewares/wallet/fiatRatesMiddleware.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/wallet/fiatRatesReducer.ts
  packages/suite/src/services/coingecko.ts
  packages/suite/src/storage/CHANGELOG.md
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
  packages/suite/src/types/wallet/fiatRates.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/views/wallet/transactions/components/TokenList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(blockchain-link): ETH pending fee
  packages/blockchain-link/src/workers/blockbook/utils.ts
  packages/blockchain-link/tests/unit/fixtures/utils.ts
Owners: @szymonlesisz, @keraf

fix(blockchain-link): add missing types in tx.ethereumSpecific
  packages/blockchain-link/src/types/blockbook.ts
  packages/blockchain-link/src/types/common.ts
Owners: @szymonlesisz, @keraf

release: blockchain-link@1.0.16
  packages/blockchain-link/CHANGELOG.md
  packages/blockchain-link/package.json
Owners: @szymonlesisz, @keraf

fix(fiatRates): use contract address to distinguish tokens with same symbol
  CHANGELOG.md
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/wallet/constants/fiatRatesConstants.ts
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/components/suite/FiatValue/Container.ts
  packages/suite/src/components/suite/FiatValue/index.tsx
  packages/suite/src/config/suite/fiat.ts
  packages/suite/src/middlewares/wallet/fiatRatesMiddleware.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/wallet/fiatRatesReducer.ts
  packages/suite/src/services/coingecko.ts
  packages/suite/src/storage/CHANGELOG.md
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
  packages/suite/src/types/wallet/fiatRates.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/views/wallet/transactions/components/TokenList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): format tx.details and refactor transaction details modal
  packages/suite/src/actions/wallet/__fixtures__/blockchainActions.ts
  packages/suite/src/actions/wallet/__tests__/transactionActions.test.ts
  packages/suite/src/components/suite/modals/TransactionDetail/components/AdvancedDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/storage/CHANGELOG.md
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): crash with google translate functionality active in chrome
  packages/suite/src/components/wallet/CoinmarketRefreshTime/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): crash with google translate functionality active in chrome
  packages/suite/src/components/wallet/CoinmarketRefreshTime/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): hide graph and security steps
  packages/suite/src/actions/suite/__fixtures__/suiteActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Header/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/index.tsx
  packages/suite/src/views/dashboard/components/SecurityFeatures/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): reset send context on account change
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-web): disallow Google Chrome to offer the page translation that can manipulate DOM
  packages/suite-web/pages/_document.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada

feat(git): instruct git to union conflicts in CHANGELOG.md
  .gitattributes
Owners: none

feat(ci): add fixup check to Github Actions
  .github/workflows/fixup_check.yml
Owners: none

fix(suite-web): disallow Google Chrome to offer the page translation that can manipulate DOM
  packages/suite-web/pages/_document.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada

fix(intl): typo in custom token tooltip
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-web-landing): add wiki link with instructions for verifying on linux
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite/src/constants/suite/urls.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(docs): remove labels description in README
  README.md
Owners: none

fix(suite-desktop): enforce single instance policy
  packages/suite-desktop/src-electron/app.ts
Owners: @keraf, @szymonlesisz

chore(intl): crowdin sync
  packages/suite-data/files/translations/en.json
Owners: @keraf

feat(ci): add release-it for release automation
  package.json
  yarn.lock
Owners: none

fix(suite-desktop): enforce single instance policy
  packages/suite-desktop/src-electron/app.ts
Owners: @keraf, @szymonlesisz

feat(git): instruct git to union conflicts in CHANGELOG.md
  .gitattributes
Owners: none

feat(suite-web-landing): add wiki link with instructions for verifying on linux
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite/src/constants/suite/urls.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): crowdin sync
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix(intl): typo in custom token tooltip
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(copy): inform user that xrp is supported only on TT
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/coins/components/CoinsGroup/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(ci): add fixup check to Github Actions
  .github/workflows/fixup_check.yml
Owners: none

fix(send): reset send context on account change
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): hide graph and security steps
  packages/suite/src/actions/suite/__fixtures__/suiteActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Header/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/index.tsx
  packages/suite/src/views/dashboard/components/SecurityFeatures/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): format tx.details and refactor transaction details modal
  packages/suite/src/actions/wallet/__fixtures__/blockchainActions.ts
  packages/suite/src/actions/wallet/__tests__/transactionActions.test.ts
  packages/suite/src/components/suite/modals/TransactionDetail/components/AdvancedDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/storage/CHANGELOG.md
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
