Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

Remove testnet coins from invityAPI service
  packages/suite/src/services/suite/invityAPI.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Rename useRedirect to useCoinmarketRedirect
  packages/suite/src/hooks/suite/useCoinmarketRedirect.ts
  packages/suite/src/views/suite/coinmarket-redirect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: url for btc direct, useEffect, add native window prop
  packages/suite-desktop/src-electron/electron.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: remove console.log
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(firmware): retry button. fix #2410
  packages/suite/src/components/firmware/OnboardingInitial.tsx
  packages/suite/src/views/onboarding/steps/Firmware/Container.ts
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(firmware): code readability, review issues
  packages/integration-tests/projects/suite-web/tests/onboarding/create-wallet-t1.test.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/components/firmware/CheckSeed.tsx
  packages/suite/src/middlewares/suite/__tests__/firmwareMiddleware.test.ts
  packages/suite/src/reducers/firmware/firmwareReducer.ts
  packages/suite/src/utils/firmware/index.ts
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/firmware/index.tsx
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
  packages/suite/src/views/onboarding/steps/ResetDevice/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

design: backup modal redesigned and centered
  packages/components/src/components/Modal/index.tsx
  packages/suite/src/views/backup/index.tsx
  packages/suite/src/views/recovery/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: remove unused prop
  packages/suite/src/components/suite/NotificationCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: review comments + tests
  packages/suite/src/components/wallet/CoinmarketTopPanel/index.tsx
  packages/suite/src/utils/wallet/coinmarket/__tests__/buyUtils.test.ts
  packages/suite/src/views/suite/coinmarket-redirect/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: disable button when name not changed
  packages/suite/src/views/settings/device/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

design: backup modal redesigned and centered
  packages/components/src/components/Modal/index.tsx
  packages/suite/src/views/backup/index.tsx
  packages/suite/src/views/recovery/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

design: check-seed modal progress-bar update
  packages/suite/src/views/recovery/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: remove unused prop
  packages/suite/src/components/suite/NotificationCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(e2e): fix firmware e2e test
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
Owners: @mroz22

feat: initial work on auto updater
  index.d.ts
  packages/suite-desktop/package.json
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/src/actions/suite/constants/desktopUpdateConstants.ts
  packages/suite/src/actions/suite/constants/index.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/reducers/suite/index.ts
  packages/suite/src/support/suite/DesktopUpdater.tsx
  packages/suite/src/types/suite/desktop.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/file.ts
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: update old version in storage
  packages/suite/src/storage/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: gloal definition
  index.d.ts
  packages/suite/global.d.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: download progress.
  packages/suite-desktop/package.json
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/VersionCheck.tsx
  packages/suite/src/support/suite/DesktopUpdater.tsx
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: review comments
  packages/suite/src/components/wallet/CoinmarketTopPanel/index.tsx
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(e2e): fix firmware e2e test
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
Owners: @mroz22

fix(send): fixed `useSendForm` call at top level
  packages/suite/src/views/wallet/send/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(intl): duplicit message id
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): add missing messages
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: move DesktopUpdater component under IntlProvider
  packages/suite-desktop/pages/_app.tsx
Owners: @keraf, @szymonlesisz

feat: add option to override autoClose property on toast notifications
  packages/suite/src/middlewares/suite/toastMiddleware.ts
  packages/suite/src/reducers/suite/notificationReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: proper UI for desktop updater
  packages/suite/src/support/suite/DesktopUpdater.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: toast notifications support for desktop updater
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/components/suite/hocNotification/components/withAction.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/reducers/suite/notificationReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

patch(nextjs): add file to allowed protocols for relative urls
  patches/next+9.5.3.patch
Owners: none

patch(nextjs): add file to allowed protocols for relative urls (#2502)
  patches/next+9.5.3.patch
Owners: none

fix(intl): duplicit message id
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: fix margin between notifications
  packages/suite/src/components/suite/NotificationCard/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/DeviceHeaderButton/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: make spinner spin slower, update color
  packages/components/src/components/loaders/Loader/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

feat(metadata): animate metadata value on mouse hover
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: use fade out effect for unconfirmed used addresses
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): change link label to trezor.io/coins in add account modal
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): crowdin sync
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix(send): fixed `useSendForm` call at top level
  packages/suite/src/views/wallet/send/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): crowdin sync
  packages/suite-data/files/translations/en.json
Owners: @keraf

chore(intl): change link label to trezor.io/coins in add account modal
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: use fade out effect for unconfirmed used addresses
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
