Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix(send): set "isDirty" also on FeeLevel change
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add favicon
  packages/landing-page/pages/_app.tsx
  packages/landing-page/pages/_document.tsx
  packages/suite-data/config.ts
  packages/suite-data/files/images/icons/favicon/favicon.png
  packages/suite-web-landing/pages/_app.tsx
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web/pages/_document.tsx
Owners: @keraf, @robertbrada, @slowbackspace, @mroz22

add favicon to the old landing page
  packages/landing-page/pages/_document.tsx
  packages/suite-data/config.ts
Owners: @keraf, @robertbrada

Add changes requested in code review
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
  packages/suite/src/components/suite/modals/AddAccount/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add favicon (#2635)
  packages/landing-page/pages/_app.tsx
  packages/landing-page/pages/_document.tsx
  packages/suite-data/config.ts
  packages/suite-data/files/images/icons/favicon/favicon.png
  packages/suite-web-landing/pages/_app.tsx
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web/pages/_document.tsx
Owners: @keraf, @robertbrada, @slowbackspace, @mroz22

ci: hotfix nix jobs
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

chore(invity): Make add-account modal usable in invity exchange (#2610)
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/AddAccount/Container.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
  packages/suite/src/components/suite/modals/AddAccount/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): account transactions header, exchange type in reducer, enable trade app
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/config/wallet/menu.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: use Translation component in fw progress
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/utils/firmware/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): do not use HiddenPlaceholder
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/index.tsx
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
  packages/suite/src/views/wallet/send/components/TotalSent/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite-components): FormattedCryptoAmount using uppercase css
  packages/suite/src/components/suite/FormattedCryptoAmount/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-components): FiatValue with disabled HiddenPlaceholder
  packages/suite/src/components/suite/FiatValue/Container.ts
  packages/suite/src/components/suite/FiatValue/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update intl
  packages/suite-data/files/translations/en.json
Owners: @keraf

chore: update intl
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix(rollout): refactoring types, unifying module exports, fix package types export
  packages/rollout/integration/fresh-devices.ts
  packages/rollout/integration/with-fw-devices.ts
  packages/rollout/package.json
  packages/rollout/setupJest.ts
  packages/rollout/src/index.ts
  packages/rollout/src/types/index.ts
  packages/rollout/src/utils/__tests__/version.test.ts
  packages/rollout/src/utils/fetch.ts
  packages/rollout/src/utils/parse.ts
  packages/rollout/src/utils/releases.ts
  packages/rollout/src/utils/score.ts
  packages/rollout/src/utils/version.ts
Owners: @mroz22

chore: @trezor/rollout version 1.0.5
  packages/rollout/CHANGELOG.md
  packages/rollout/package.json
Owners: @mroz22

fix(suite): Device.FirmwareReleases properly typed
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/firmware/Initial.tsx
  packages/suite/src/support/tests/setupJest.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Extract form validation types from sendForm for better reuse
  packages/suite/src/components/wallet/InputError/index.tsx
  packages/suite/src/types/wallet/coinmarketBuyForm.ts
  packages/suite/src/types/wallet/form.ts
  packages/suite/src/types/wallet/sendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Extract form validation types from sendForm for better reuse
  packages/suite/src/components/wallet/InputError/index.tsx
  packages/suite/src/types/wallet/coinmarketBuyForm.ts
  packages/suite/src/types/wallet/form.ts
  packages/suite/src/types/wallet/sendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(rollout): refactoring types, unifying module exports, fix package types export
  packages/rollout/integration/fresh-devices.ts
  packages/rollout/integration/with-fw-devices.ts
  packages/rollout/package.json
  packages/rollout/setupJest.ts
  packages/rollout/src/index.ts
  packages/rollout/src/types/index.ts
  packages/rollout/src/utils/__tests__/version.test.ts
  packages/rollout/src/utils/fetch.ts
  packages/rollout/src/utils/parse.ts
  packages/rollout/src/utils/releases.ts
  packages/rollout/src/utils/score.ts
  packages/rollout/src/utils/version.ts
Owners: @mroz22

fix(suite): Device.FirmwareReleases properly typed
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/firmware/Initial.tsx
  packages/suite/src/support/tests/setupJest.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: @trezor/rollout version 1.0.5
  packages/rollout/CHANGELOG.md
  packages/rollout/package.json
Owners: @mroz22

chore: refactor desktop updater code
  packages/suite-desktop/src/support/DesktopUpdater.tsx
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/actions/suite/trezorConnectActions.ts
  packages/suite/src/components/suite/images/ConnectDeviceImage/index.tsx
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/services/suite/invityAPI.ts
  packages/suite/src/utils/suite/env.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
  packages/suite/src/views/settings/index.tsx
  packages/suite/src/views/suite/bridge/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix(suite-desktop): handle auto updater errors
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/DesktopUpdater.tsx
  packages/suite/src/actions/suite/constants/desktopUpdateConstants.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/reducers/suite/notificationReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: refactor desktop updater code
  packages/suite-desktop/src/support/DesktopUpdater.tsx
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/actions/suite/trezorConnectActions.ts
  packages/suite/src/components/suite/images/ConnectDeviceImage/index.tsx
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/services/suite/invityAPI.ts
  packages/suite/src/utils/suite/env.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
  packages/suite/src/views/settings/index.tsx
  packages/suite/src/views/suite/bridge/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix(suite-desktop): handle auto updater errors
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/DesktopUpdater.tsx
  packages/suite/src/actions/suite/constants/desktopUpdateConstants.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/reducers/suite/notificationReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

refactor: move coin filter state to redux
  packages/suite/src/actions/wallet/accountSearchActions.ts
  packages/suite/src/actions/wallet/constants/accountSearch.ts
  packages/suite/src/actions/wallet/constants/index.ts
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
  packages/suite/src/hooks/suite/useAccountSearch.ts
  packages/suite/src/reducers/wallet/accountSearchReducer.ts
  packages/suite/src/reducers/wallet/index.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/views/dashboard/components/AssetsCard/components/Asset/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(nix): pin nix revision to a stable commit [skip ci]
  shell.nix
Owners: none

feat: don't show coin filter if only one coin is enabled
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: adjust buy form padding
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Footer/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: font in offers header
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: padding in quote
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: show "no results" msg if there is no account match for given search input
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor: move searchString to redux, reset when needed
  packages/suite/src/actions/wallet/accountSearchActions.ts
  packages/suite/src/actions/wallet/constants/accountSearch.ts
  packages/suite/src/components/suite/modals/AddAccount/components/AddAccountButton.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
  packages/suite/src/hooks/suite/useAccountSearch.ts
  packages/suite/src/reducers/wallet/accountSearchReducer.ts
  packages/suite/src/views/dashboard/components/AssetsCard/components/Asset/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: add changes to Unreleased part of cahngelog
  CHANGELOG.md
Owners: none

style: adjust margins to better match the design
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor: review fixes
  packages/suite/src/actions/wallet/accountSearchActions.ts
  packages/suite/src/utils/wallet/accountUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(fw-update): fix case of reconnecting model T with pin on, #2650
  packages/suite/src/actions/firmware/firmwareActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(fw-update): make checkbox text clickable, fix #2627
  packages/suite/src/components/firmware/CheckSeed.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(fw-update): retry after error in fw update in onboarding
  packages/integration-tests/projects/suite-web/tests/onboarding/firmware-update.test.ts
  packages/suite/src/actions/firmware/__fixtures__/firmwareActions.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/components/firmware/Button.tsx
  packages/suite/src/components/firmware/Error.tsx
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/firmware/OnboardingInitial.tsx
  packages/suite/src/components/firmware/ReconnectInBootloader.tsx
  packages/suite/src/reducers/firmware/firmwareReducer.ts
  packages/suite/src/utils/firmware/index.ts
  packages/suite/src/views/firmware/index.tsx
  packages/suite/src/views/onboarding/steps/Firmware/Container.ts
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
