Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix: add missing translation
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: max decimals translations
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: refactor verify address component
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/ReceiveOptions/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect 8.1.19
  packages/suite-data/files/connect/data/bridge/latest.txt
  packages/suite-data/files/connect/data/bridge/releases.json
  packages/suite-data/files/connect/data/coins.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.1bf6cd5070b10a517ebd.js
  packages/suite-data/files/connect/js/iframe.8771e344f4978ab26faa.js
  packages/suite-data/files/connect/workers/blockbook-worker.116f8d5317cf8c49c2f9.js
  packages/suite-data/files/connect/workers/blockbook-worker.97bf124d6c0c92a164f5.js
  packages/suite-data/files/connect/workers/ripple-worker.99ea782e5c3fb4c9842e.js
  packages/suite-data/files/connect/workers/ripple-worker.ad597e70f20819f7a320.js
  packages/suite/package.json
  packages/suite/src/support/tests/setupJest.ts
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(send): validate amount below dust
  packages/suite/docs/SEND.md
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect 8.1.19
  packages/suite-data/files/connect/data/bridge/latest.txt
  packages/suite-data/files/connect/data/bridge/releases.json
  packages/suite-data/files/connect/data/coins.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.1bf6cd5070b10a517ebd.js
  packages/suite-data/files/connect/js/iframe.8771e344f4978ab26faa.js
  packages/suite-data/files/connect/workers/blockbook-worker.116f8d5317cf8c49c2f9.js
  packages/suite-data/files/connect/workers/blockbook-worker.97bf124d6c0c92a164f5.js
  packages/suite-data/files/connect/workers/ripple-worker.99ea782e5c3fb4c9842e.js
  packages/suite-data/files/connect/workers/ripple-worker.ad597e70f20819f7a320.js
  packages/suite/package.json
  packages/suite/src/support/tests/setupJest.ts
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(send): validate amount below dust
  packages/suite/docs/SEND.md
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(components): update ltc, btg logos
  packages/components/src/images/coins/btg.svg
  packages/components/src/images/coins/ltc.svg
Owners: @keraf, @slowbackspace, @robertbrada

feat(rbf): create useReplaceTransaction hook
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/hooks/wallet/form/useCompose.ts
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/types/wallet/sendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): enhance transaction with rbf params
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): ui implementation
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/TransactionDetail/components/AdvancedDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/Fees/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/ReplaceButton/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/components/wallet/Fees/components/CustomFee/index.tsx
  packages/suite/src/components/wallet/Fees/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): enable rbf flag/feature
  packages/suite/src/config/suite/features.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! fixup! chore(e2e): add fake loading to help e2e tests
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: reworked skeleton animation
  packages/components/src/config/colors.ts
  packages/suite/src/components/suite/Skeleton/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fixup! feat: skeletons for account summary, transactions list
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/SkeletonTransactionItem/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! style: reworked skeleton animation
  packages/suite/src/components/suite/Skeleton/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): use network.features instead of global flags for RBF
  packages/suite/src/config/wallet/networks.ts
  packages/suite/src/constants/wallet/sendForm.ts
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormFields.ts
  packages/suite/src/reducers/suite/logReducer.ts
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): enhance transaction with rbf params
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): create useReplaceTransaction hook
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/hooks/wallet/form/useCompose.ts
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/types/wallet/sendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): use network.features instead of global flags for RBF
  packages/suite/src/config/wallet/networks.ts
  packages/suite/src/constants/wallet/sendForm.ts
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormFields.ts
  packages/suite/src/reducers/suite/logReducer.ts
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/components/Locktime/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): ui implementation
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/TransactionDetail/components/AdvancedDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/Fees/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/ReplaceButton/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/components/wallet/Fees/components/CustomFee/index.tsx
  packages/suite/src/components/wallet/Fees/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): enable rbf flag/feature
  packages/suite/src/config/suite/features.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(docs): update changelog
  CHANGELOG.md
Owners: none

chore: bump versions to 21.1.0
  CHANGELOG.md
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

ci: use --frozen-lockfile flag
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/rollout.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-native.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
  ci/prebuild.yml
Owners: @keraf, @mroz22

ci: check_lockfile.sh workaround
  ci/environment.yml
  ci/scripts/check_lockfile.sh
Owners: @keraf, @mroz22

chore: add post-merge hook to trigger build:libs and yarn
  .git-hooks/post-merge
Owners: none

ci: remove build:libs from postinstall
  ci/packages/landing-page.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
  package.json
Owners: @keraf, @mroz22

chore: bump versions to 20.12.1 [RELEASE ONLY]
  CHANGELOG.md
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

test(e2e): add assertion for number of requests in metadata
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
Owners: @mroz22

chore(metadata): decrease number of http requests
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/actions/wallet/discoveryActions.ts
  packages/suite/src/middlewares/suite/metadataMiddleware.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fixup! chore(metadata): decrease number of http requests
  packages/suite/src/actions/wallet/discoveryActions.ts
  packages/suite/src/middlewares/suite/metadataMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

wip
  .gitlab-ci.yml
  ci/packages/suite-desktop.yml
  docker/docker-suite-desktop-test.sh
  packages/suite-desktop/test/index.js
Owners: @keraf, @mroz22, @szymonlesisz

chore: add post-merge hook to trigger build:libs and yarn
  .git-hooks/post-merge
Owners: none

ci: check_lockfile.sh workaround
  ci/environment.yml
  ci/scripts/check_lockfile.sh
Owners: @keraf, @mroz22

ci: remove build:libs from postinstall
  ci/packages/landing-page.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
  package.json
Owners: @keraf, @mroz22

ci: use --frozen-lockfile flag
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/rollout.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-native.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
  ci/prebuild.yml
Owners: @keraf, @mroz22

ci: run e2e tests in containers
  .gitignore
  ci/docker/base/Dockerfile
  ci/packages/suite-web.yml
  docker/README.md
  docker/docker-compose.suite-ci.yml
  docker/docker-compose.suite-dev.yml
  docker/docker-compose.suite-test.yml
  docker/trezor-user-env/Dockerfile
  docker/trezor-user-env/controller/bin/trezor-emu-legacy-v1.9.0
  docker/trezor-user-env/controller/bridge.py
  docker/trezor-user-env/controller/common/__init__.py
  docker/trezor-user-env/controller/common/buttons.py
  docker/trezor-user-env/controller/emulator.py
  docker/trezor-user-env/controller/main.py
  docker/trezor-user-env/controller/websocket_server.py
  docker/trezor-user-env/websocket-client.html
  docs/tests/e2e-web.md
  packages/integration-tests/projects/suite-web/run_tests.js
  packages/integration-tests/projects/suite-web/tests/backup/t2-fail.test.ts
  packages/integration-tests/projects/suite-web/tests/backup/t2-misc.test.ts
  packages/integration-tests/projects/suite-web/tests/backup/t2-success.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/edge.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/iphone-chrome.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/outdated-chrome.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/outdated-firefox.test.ts
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/firmware-update.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-create-wallet.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-recovery-fail.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-recovery-persistence.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/unexpected-states.test.ts
  packages/integration-tests/projects/suite-web/tests/recovery/t2-dry-run-persistence.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/general.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/log.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t1-device-settings.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t2-device-settings.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-duplicate.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase-disabled.test.ts
Owners: @keraf, @mroz22

ci: run e2e tests in containers
  .gitignore
  ci/docker/base/Dockerfile
  ci/packages/suite-web.yml
  docker/README.md
  docker/docker-compose.suite-ci.yml
  docker/docker-compose.suite-dev.yml
  docker/docker-compose.suite-test.yml
  docker/trezor-user-env/Dockerfile
  docker/trezor-user-env/controller/bin/trezor-emu-legacy-v1.9.0
  docker/trezor-user-env/controller/bridge.py
  docker/trezor-user-env/controller/common/__init__.py
  docker/trezor-user-env/controller/common/buttons.py
  docker/trezor-user-env/controller/emulator.py
  docker/trezor-user-env/controller/main.py
  docker/trezor-user-env/controller/websocket_server.py
  docker/trezor-user-env/websocket-client.html
  docs/tests/e2e-web.md
  packages/integration-tests/projects/suite-web/run_tests.js
  packages/integration-tests/projects/suite-web/tests/backup/t2-fail.test.ts
  packages/integration-tests/projects/suite-web/tests/backup/t2-misc.test.ts
  packages/integration-tests/projects/suite-web/tests/backup/t2-success.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/edge.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/iphone-chrome.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/outdated-chrome.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/outdated-firefox.test.ts
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/firmware-update.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-create-wallet.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-recovery-fail.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-recovery-persistence.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/unexpected-states.test.ts
  packages/integration-tests/projects/suite-web/tests/recovery/t2-dry-run-persistence.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/general.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/log.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t1-device-settings.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t2-device-settings.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-duplicate.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase-disabled.test.ts
Owners: @keraf, @mroz22

make tests pass with skeletons
  packages/components/src/components/Modal/index.tsx
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-duplicate.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase-disabled.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22, @szymonlesisz
