Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

chore: update repo info in github.ts
  packages/suite/src/services/github.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs: add desktop updates link to summary
  docs/SUMMARY.md
Owners: none

feat: add change log and controls on settings page
  docs/misc/desktop_updates.md
  packages/suite-desktop/package.json
  packages/suite/package.json
  packages/suite/src/services/github.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/support/suite/DesktopUpdater.tsx
  packages/suite/src/views/settings/Container.ts
  packages/suite/src/views/settings/index.tsx
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: add cancellation api (not used yet)
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
Owners: @keraf, @szymonlesisz

fix: download progress.
  packages/suite-desktop/package.json
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/VersionCheck.tsx
  packages/suite/src/support/suite/DesktopUpdater.tsx
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fixup! chore: fix review comments.
  packages/suite-desktop/src/support/DesktopUpdater.tsx
Owners: @keraf, @szymonlesisz

ci: disable native builds (temporarely)
  .gitlab-ci.yml
Owners: none

fixup! chore: fix review comments.
  packages/suite/jest.config.js
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: proper UI for desktop updater
  packages/suite/src/support/suite/DesktopUpdater.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update repo info in github.ts
  packages/suite/src/services/github.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! chore: fix review comments.
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/DesktopUpdater.tsx
Owners: @keraf, @szymonlesisz

fix: download progress.
  packages/suite-desktop/package.json
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/VersionCheck.tsx
  packages/suite/src/support/suite/DesktopUpdater.tsx
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: initial work on auto updater
  index.d.ts
  packages/suite-desktop/package.json
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/src/actions/suite/constants/desktopUpdateConstants.ts
  packages/suite/src/actions/suite/constants/index.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/reducers/suite/index.ts
  packages/suite/src/support/suite/DesktopUpdater.tsx
  packages/suite/src/types/suite/desktop.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/file.ts
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

style: nicer styles for changelog
  packages/suite/src/support/suite/DesktopUpdater.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add auto updater control on settings page
  packages/suite/src/services/github.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: fix review comments.
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src/support/DesktopUpdater.tsx
  packages/suite-native/tsconfig.json
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

docs: add desktop updates link to summary
  docs/SUMMARY.md
Owners: none

fixup! chore: fix review comments.
  packages/suite-desktop/src/support/DesktopUpdater.tsx
Owners: @keraf, @szymonlesisz

chore(intl): add missing messages
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add option to override autoClose property on toast notifications
  packages/suite/src/middlewares/suite/toastMiddleware.ts
  packages/suite/src/reducers/suite/notificationReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add cancel download button and removed toasts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/support/suite/DesktopUpdater.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: gloal definition
  index.d.ts
  packages/suite/global.d.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add change log and controls on settings page
  docs/misc/desktop_updates.md
  packages/suite-desktop/package.json
  packages/suite/package.json
  packages/suite/src/services/github.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/support/suite/DesktopUpdater.tsx
  packages/suite/src/views/settings/Container.ts
  packages/suite/src/views/settings/index.tsx
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: code clean up for review
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-native/tsconfig.json
  packages/suite/src/components/suite/hocNotification/components/withAction.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/middlewares/suite/toastMiddleware.ts
  packages/suite/src/reducers/suite/notificationReducer.ts
  packages/suite/src/support/suite/DesktopUpdater.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

feat: toast notifications support for desktop updater
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/components/suite/hocNotification/components/withAction.tsx
  packages/suite/src/components/suite/hocNotification/index.tsx
  packages/suite/src/reducers/suite/notificationReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs: update desktop updater documentation
  docs/misc/desktop_updates.md
Owners: none

feat: add cancellation api (not used yet)
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
Owners: @keraf, @szymonlesisz

fixup! chore: fix review comments.
  packages/suite/jest.config.js
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add version skipping
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/electron-next.d.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src-electron/store.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/support/suite/DesktopUpdater.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: type check
  packages/suite/src/reducers/suite/notificationReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: move DesktopUpdater component under IntlProvider
  packages/suite-desktop/pages/_app.tsx
Owners: @keraf, @szymonlesisz

fix: add transactions empty state
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Add tests
  packages/suite/src/actions/wallet/__tests__/coinmarketBuyActions.test.ts
  packages/suite/src/actions/wallet/__tests__/coinmarketExchangeActions.test.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix ts
  packages/suite/src/types/wallet/coinmarketBuyOffers.ts
  packages/suite/src/views/wallet/coinmarket/buy/offers/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Remove unused migration 18 from storage changelog
  packages/suite/src/storage/CHANGELOG.md
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: sync intl
  packages/suite-data/files/translations/en.json
Owners: @keraf

changelog: add
  CHANGELOG.md
Owners: none

chore(changelog): add changelog for 20.1.1 [skip ci]
  CHANGELOG.md
Owners: none

changelog: add [skip ci]
  CHANGELOG.md
Owners: none

fix: hide coinmarket from the menu
  packages/suite/src/config/wallet/menu.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
