Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

feat(metadata): local sync
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/metadata.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-native/src/services/metadata/GoogleProvider.ts
  packages/suite-native/src/services/metadata/UserDataProvider.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/config/suite/features.ts
  packages/suite/src/services/metadata/DropboxProvider.ts
  packages/suite/src/services/metadata/GoogleProvider.ts
  packages/suite/src/services/metadata/UserDataProvider.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/suite/metadata.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix(metadata): fix rerender of address metadata
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Invity buy improvements (#2722)
  packages/suite-desktop/src-electron/config.ts
  packages/suite/src/components/wallet/CoinmarketFooter/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/PaymentFailed/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feature: open invity desktop partner window in browser
  packages/suite-data/config.ts
  packages/suite-data/files/buy/buy_receiver.html
  packages/suite-desktop/src-electron/buy.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/http-receiver.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore/update-intl-message
  packages/suite-data/files/translations/en.json
Owners: @keraf

Add handler for POST method switch to payment gate
  packages/suite-desktop/src-electron/config.ts
  packages/suite-desktop/src-electron/http-receiver.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: add redirect to buy flow
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix redirect to payment gate
  packages/suite-desktop/src-electron/electron.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

Fix save trade reducer
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: import
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: use constant as server
  packages/suite/src/constants/wallet/coinmarket/buy.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Go to buy detail after redirect only in destop version
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix return to suite logic
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/http-receiver.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore/update-intl-message
  packages/suite-data/files/translations/en.json
Owners: @keraf

fix(suite): graph tooltips overflow
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix issues requested by code review
  packages/suite-desktop/src-electron/buy.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

Fix issues requested by code review
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): Change popup flow to default browser (#2762)
  packages/suite-data/config.ts
  packages/suite-data/files/buy/buy_receiver.html
  packages/suite-desktop/src-electron/buy.ts
  packages/suite-desktop/src-electron/config.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/http-receiver.ts
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/constants/wallet/coinmarket/buy.ts
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(metadata): fix rerender of address metadata
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(homescreen): introduce isValid tests
  packages/suite/src/utils/suite/__tests__/homescreen.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(homescreen): isValid
  packages/suite/src/utils/suite/homescreen.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: lint and change describe to it to make it visible in verbose output
  packages/suite/src/utils/suite/__tests__/homescreen.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): PinInput validate pin lenght using declared constant
  packages/suite/src/components/suite/PinInput/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): PinInput do not use "password" type, use input from "trezor/components"
  packages/suite/src/components/suite/PinInput/components/ButtonPin/index.tsx
  packages/suite/src/components/suite/PinInput/components/InputPin/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(fw-update): make modal cancellable in check-seed step
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/suite/src/views/firmware/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(invity): Change popup flow to default browser (#2762)
  packages/suite-data/config.ts
  packages/suite-data/files/buy/buy_receiver.html
  packages/suite-desktop/src-electron/buy.ts
  packages/suite-desktop/src-electron/config.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/http-receiver.ts
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/constants/wallet/coinmarket/buy.ts
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

Lower test coverage
  packages/suite/jest.config.js
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-desktop): add console log before notarizing the app [skip ci]
  packages/suite-desktop/scripts/notarize.js
Owners: @keraf, @szymonlesisz

chore(electron): invoke/handle
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/global.d.ts
  packages/suite/src/utils/suite/oauth.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(deps): story-book patch
  packages/components/package.json
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada

chore(deps): various patch dev deps
  package.json
  packages/integration-tests/package.json
  packages/landing-page/package.json
  packages/suite-web/package.json
  yarn.lock
Owners: @mroz22, @keraf, @robertbrada, @slowbackspace

chore(electron): invoke/handle
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/global.d.ts
  packages/suite/src/utils/suite/oauth.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: mac app quit crash
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/utils.ts
Owners: @keraf, @szymonlesisz

fix: packages/suite-web/package.json to reduce vulnerabilities
  packages/suite-web/package.json
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada

fix: choosing icon type conditionally
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: choosing icon type conditionally
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(settings): disable button on empty custom blockbook url field
  packages/suite/src/components/suite/modals/AdvancedCoinSettings/components/CustomBlockbookUrls.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): useDiscovery refactoring, do not use useState (unnecessary re-renders)
  packages/suite/src/hooks/suite/useDiscovery.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update testing-library dependencies
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): unify useSelector usage
  packages/suite/src/components/suite/AppNavigation/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/components/suite/Ticker/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/hooks/suite/useAnalytics.ts
  packages/suite/src/hooks/suite/useDevice.ts
  packages/suite/src/hooks/suite/useFirmware.ts
  packages/suite/src/hooks/suite/useGraph.ts
  packages/suite/src/hooks/wallet/useAccounts.ts
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyForm.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/hooks/wallet/useCoinmarketRedirect.ts
  packages/suite/src/hooks/wallet/useFiatValue.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
