Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

feat(nix): add xhost for e2e tests running on localhost
  shell.nix
Owners: none

feat(docker): add 'set -e' to shell scripts and modify shebang
  docker/docker-suite-dev.sh
  docker/docker-suite-install.sh
  docker/docker-suite-snapshots.sh
  docker/docker-suite-test.sh
Owners: @mroz22

feat(suite-desktop): add context menu for editable elements (input, textarea) with text editing options
  packages/suite-desktop/src-electron/libs/menu.ts
  packages/suite-desktop/src-electron/modules/menu.ts
Owners: @keraf, @szymonlesisz

feat(suite): search network by its label, symbol and in case of (t)XRP also match "ripple"
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/utils/wallet/accountUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-desktop): add context menu for editable elements (input, textarea) with text editing options
  packages/suite-desktop/src-electron/libs/menu.ts
  packages/suite-desktop/src-electron/modules/menu.ts
Owners: @keraf, @szymonlesisz

design: limit number of rendered medium posts
  packages/suite/src/views/dashboard/components/NewsFeed/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-desktop): add VS Code debugging configuration
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  docs/packages/suite-desktop.md
  packages/suite-desktop/src-electron/modules/dev-tools.ts
Owners: @keraf, @szymonlesisz

chore: add shell.nix
  packages/transport/packages/transport/trezor-link/trezor-link/.gitignore
  packages/transport/packages/transport/trezor-link/trezor-link/.npmignore
  packages/transport/packages/transport/trezor-link/trezor-link/shell.nix
Owners: none

chore: add shell.nix
  trezor-link/.gitignore
  trezor-link/.npmignore
  trezor-link/shell.nix
Owners: none

chore: add shell.nix
  packages/transport/trezor-link/trezor-link/.gitignore
  packages/transport/trezor-link/trezor-link/.npmignore
  packages/transport/trezor-link/trezor-link/shell.nix
Owners: none

chore: add shell.nix
  .gitignore
  .npmignore
  shell.nix
Owners: none

chore: add shell.nix
  packages/transport/.gitignore
  packages/transport/.npmignore
  packages/transport/shell.nix
Owners: none

fix: wire_type option support, fixup of e416d6ef25b059043828b6452788d51409049c9b
  packages/transport/trezor-link/trezor-link/src/lowlevel/send.js
Owners: none

fix: wire_type option support, fixup of 549755693dccac29660d21e3bf3046846d812985
  src/lowlevel/send.js
Owners: none

fix: wire_type option support, fixup of 923611a5e585ae001a02b95c76f2688d36f41c53
  packages/transport/src/lowlevel/send.js
Owners: none

fix: wire_type option support, fixup of fb8633fc48a801ec10fc32ed86892b08123fa7a0
  packages/transport/packages/transport/trezor-link/trezor-link/src/lowlevel/send.js
Owners: none

fix: wire_type option support, fixup of 9251fe442be27d255729525f383bdf65d20a9d5c
  trezor-link/src/lowlevel/send.js
Owners: none

1.7.3
  packages/transport/package.json
Owners: none

1.7.3
  packages/transport/trezor-link/trezor-link/package.json
Owners: none

1.7.3
  packages/transport/packages/transport/trezor-link/trezor-link/package.json
Owners: none

1.7.3
  trezor-link/package.json
Owners: none

1.7.3
  package.json
Owners: none

design: limit number of rendered medium posts
  packages/suite/src/views/dashboard/components/NewsFeed/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): search network by its label, symbol and in case of (t)XRP also match "ripple"
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/utils/wallet/accountUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! feat(suite-desktop): add VS Code debugging configuration
  .gitignore
Owners: none

add crush report to gitignore
  .gitignore
Owners: none

fix: fw update with multiple devices using forceRemember approach
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
  packages/suite/src/middlewares/suite/__tests__/firmwareMiddleware.test.ts
  packages/suite/src/reducers/firmware/firmwareReducer.ts
  packages/suite/src/reducers/suite/__fixtures__/deviceReducer.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
  packages/suite/src/utils/suite/__fixtures__/device.ts
  packages/suite/src/utils/suite/device.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): higher delay for clearing a search input in Select
  packages/components/src/components/form/Select/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(suite): disable token select if there are no tokens in the account
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/TokenSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(e2e): add dashboard newsfeed test
  packages/integration-tests/projects/suite-web/tests/dashboard/dashboard.test.ts
  packages/suite/src/views/dashboard/components/NewsFeed/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

test(e2e): add dashboard newsfeed test (#3238)
  packages/integration-tests/projects/suite-web/tests/dashboard/dashboard.test.ts
  packages/suite/src/views/dashboard/components/NewsFeed/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix: lint
  packages/suite/src/views/dashboard/components/NewsFeed/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): higher delay for clearing a search input in Select
  packages/components/src/components/form/Select/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(suite): disable token select if there are no tokens in the account
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/TokenSelect/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: isBitcoinOnly and suiteVersion analytics
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): set initial theme during initialRun on SUITE.INIT
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/support/suite/ThemeProvider.tsx
  packages/suite/src/utils/suite/dom.ts
  packages/suite/src/utils/suite/env.ts
Owners: @slowbackspace, @szymonlesisz, @keraf, @mroz22, @robertbrada

style(suite): transparent scrollbar corner
  packages/components/src/components/Scrollbar/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

feat(suite-desktop): add VS Code debugging configuration
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  docs/packages/suite-desktop.md
  packages/suite-desktop/src-electron/modules/dev-tools.ts
Owners: @keraf, @szymonlesisz

fixup! feat(suite-desktop): add VS Code debugging configuration
  .gitignore
Owners: none

style: code simplified
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/device.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
