Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.25
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.72b8aee3a4feb990067e.js
  packages/suite-data/files/connect/js/iframe.8971db8994d47a835970.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

e2e(@group:suite): update snapshots
  packages/integration-tests/projects/suite-web/snapshots/suite/bridge.test.ts/udev rules modal.snap.png
Owners: @mroz22

test(e2e): improve bridge page test
  packages/integration-tests/projects/suite-web/snapshots/suite/bridge.test.ts/bridge modal.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/bridge.test.ts/udev rules modal.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/static-pages.test.ts/Static pages accessible even without device -- bridge.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/static-pages.test.ts/Static pages accessible even without device -- version.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/version-page.test.ts/There is a hidden route (not accessible in UI) -- version.snap.png
  packages/integration-tests/projects/suite-web/tests/suite/bridge.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/version-page.test.ts
  packages/suite/src/views/suite/bridge/index.tsx
  packages/suite/src/views/suite/device-connect/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

e2e(@group:suite): update snapshots
  packages/integration-tests/projects/suite-web/snapshots/suite/bridge.test.ts/udev rules modal.snap.png
Owners: @mroz22

test(e2e): improve bridge page test
  packages/integration-tests/projects/suite-web/snapshots/suite/bridge.test.ts/bridge modal.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/bridge.test.ts/udev rules modal.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/static-pages.test.ts/Static pages accessible even without device -- bridge.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/static-pages.test.ts/Static pages accessible even without device -- version.snap.png
  packages/integration-tests/projects/suite-web/snapshots/suite/version-page.test.ts/There is a hidden route (not accessible in UI) -- version.snap.png
  packages/integration-tests/projects/suite-web/tests/suite/bridge.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/version-page.test.ts
  packages/suite/src/views/suite/bridge/index.tsx
  packages/suite/src/views/suite/device-connect/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

e2e(@group:suite): update snapshots
  packages/integration-tests/projects/suite-web/snapshots/suite/bridge.test.ts/udev rules modal.snap.png
Owners: @mroz22

fix(suite): show current fiat rate for token amount in tx details modal (eth)
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): add wallet number to every device instance
  CHANGELOG.md
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): show current fiat rate for token amount in tx details modal (eth)
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): pass enhanced txs in TRANSACTION.ADD
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/reducers/wallet/transactionReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): fix incorrect time format
  packages/suite/src/components/suite/FormattedDate/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): pass enhanced txs in TRANSACTION.ADD
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/reducers/wallet/transactionReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): fix incorrect time format
  packages/suite/src/components/suite/FormattedDate/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): specify img width to prevent img expansion
  packages/suite/src/components/recovery/Error.tsx
  packages/suite/src/components/suite/modals/PassphraseDuplicate/index.tsx
  packages/suite/src/views/recovery/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite-desktop): update electron, electron-builder and esbuild
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/build.js
  yarn.lock
Owners: @keraf, @szymonlesisz

fix(suite): specify img width to prevent img expansion
  packages/suite/src/components/recovery/Error.tsx
  packages/suite/src/components/suite/modals/PassphraseDuplicate/index.tsx
  packages/suite/src/views/recovery/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(docs): update CHANGELOG
  CHANGELOG.md
Owners: none

fix(suite): switchDuplicatedDevice race condition
  packages/suite/src/actions/suite/suiteActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite-desktop): update electron, electron-builder and esbuild
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/build.js
  yarn.lock
Owners: @keraf, @szymonlesisz

fix(suite): switchDuplicatedDevice race condition
  packages/suite/src/actions/suite/suiteActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: dry run analytics
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/views/recovery/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): redesign banner
  packages/components/src/config/colors.ts
  packages/components/src/images/icons/info.svg
  packages/components/src/images/icons/warning.svg
  packages/suite/src/components/suite/Banners/FailedBackup.tsx
  packages/suite/src/components/suite/Banners/NoBackup.tsx
  packages/suite/src/components/suite/Banners/OnlineStatus.tsx
  packages/suite/src/components/suite/Banners/UpdateBridge.tsx
  packages/suite/src/components/suite/Banners/UpdateFirmware.tsx
  packages/suite/src/components/suite/Banners/components/Wrapper.tsx
  packages/suite/src/components/suite/Banners/index.tsx
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(suite): Account navigation updates + Account sticky menu
  CHANGELOG.md
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/suite/package.json
  packages/suite/src/components/settings/SettingsMenu/index.tsx
  packages/suite/src/components/suite/AppNavigation/index.tsx
  packages/suite/src/components/suite/AppNavigationPanel/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/components/AccountNavigation/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/components/AccountNavigationSticky/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/index.tsx
  packages/suite/src/config/wallet/menu.tsx
  yarn.lock
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(suite): db migration; polish msg system condition check functions
  packages/suite-data/message-system/messages/test-message-v1.json
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/env.ts
  packages/suite/src/utils/suite/messageSystem.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat(suite): show/dismiss message system banner; prioritise banners
  packages/suite/src/actions/suite/constants/messageSystemConstants.ts
  packages/suite/src/actions/suite/messageSystemActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/components/suite/Banners/MessageSystemBanner.tsx
  packages/suite/src/components/suite/Banners/index.tsx
  packages/suite/src/middlewares/suite/messageSystemMiddleware.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/messageSystemReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor wip
  packages/components/src/config/colors.ts
  packages/components/src/images/icons/info.svg
  packages/components/src/images/icons/warning.svg
  packages/suite/package.json
  packages/suite/src/actions/suite/constants/messageSystemConstants.ts
  packages/suite/src/actions/suite/messageSystemActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/components/suite/Banners/components/Wrapper.tsx
  packages/suite/src/middlewares/suite/messageSystemMiddleware.ts
  packages/suite/src/reducers/suite/messageSystemReducer.ts
  packages/suite/src/storage/definitions.ts
  packages/suite/src/utils/suite/messageSystem.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(sentry): return event in beforeSend hook
  packages/suite/src/config/suite/sentry.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

static components (WIP)
  packages/suite/src/views/onboarding/steps/Welcome/DataAnalytics.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/Box.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/BoxImage.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

wip
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! static components (WIP)
  packages/suite/src/components/onboarding/Box/Box.tsx
  packages/suite/src/views/onboarding/steps/Welcome/DataAnalytics.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/Box.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/BoxImage.tsx
  packages/suite/src/views/onboarding/steps/Welcome/components/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! wip: step 1
  packages/suite/src/components/onboarding/Layouts/OnboardingLayout.tsx
  packages/suite/src/components/onboarding/Layouts/WelcomeLayout.tsx
  packages/suite/src/components/onboarding/ProgressBar/index.tsx
  packages/suite/src/components/onboarding/index.ts
  packages/suite/src/components/suite/Preloader/index.tsx
  packages/suite/src/views/onboarding/steps/Welcome/SecurityCheck.tsx
  packages/suite/src/views/onboarding/steps/Welcome/UnexpectedDeviceState.tsx
  packages/suite/src/views/onboarding/steps/Welcome/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

step 2 (firmware install) wip
  packages/suite/src/config/onboarding/steps.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor wip 2
  packages/components/src/config/colors.ts
  packages/suite-data/message-system/messages/test-message-v1.json
  packages/suite-data/message-system/schema.json
  packages/suite/src/actions/suite/constants/messageSystemConstants.ts
  packages/suite/src/actions/suite/messageSystemActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/components/suite/Banners/MessageSystemBanner.tsx
  packages/suite/src/components/suite/Banners/index.tsx
  packages/suite/src/constants/suite/keys.ts
  packages/suite/src/middlewares/suite/messageSystemMiddleware.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/messageSystemReducer.ts
  packages/suite/src/storage/definitions.ts
  packages/suite/src/types/suite/messageSystem.d.ts
  packages/suite/src/utils/suite/messageSystem.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(bridge): update Bridge to 2.0.31
  packages/suite-data/files/bin/bridge/linux-arm64/trezord
  packages/suite-data/files/bin/bridge/linux-x64/trezord
  packages/suite-data/files/bin/bridge/mac-x64/trezord
  packages/suite-data/files/bin/bridge/win-x64/trezord.exe
Owners: @keraf

fixup! fixup! wip: step 1
  packages/suite/src/components/onboarding/Layouts/OnboardingLayout.tsx
  packages/suite/src/components/onboarding/ProgressBar/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Update analytics.md
  docs/misc/analytics.md
Owners: none

fix(sentry): return event in beforeSend hook
  packages/suite/src/config/suite/sentry.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! step 2 (firmware install) wip
  packages/suite/src/components/onboarding/Layouts/OnboardingLayout.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! fixup! static components (WIP)
  packages/suite/src/components/onboarding/Box/Box.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! fixup! fixup! wip: step 1
  packages/suite/src/components/onboarding/Layouts/OnboardingLayout.tsx
  packages/suite/src/components/onboarding/ProgressBar/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
