Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(blockchain-link): typed event listeners
  packages/blockchain-link/src/index.ts
  packages/blockchain-link/src/types/events.ts
Owners: @szymonlesisz, @keraf

chore: update blockchain-link dependencies
  packages/blockchain-link/package.json
  packages/integration-tests/package.json
  packages/landing-page/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @robertbrada, @slowbackspace

feat(blockchain-link): add transaction details
  packages/blockchain-link/src/types/common.ts
  packages/blockchain-link/src/types/responses.ts
  packages/blockchain-link/src/workers/blockbook/utils.ts
  packages/blockchain-link/src/workers/ripple/utils.ts
Owners: @szymonlesisz, @keraf

fix(blockchain-link): remove artificial workersDependencies, expose lib/build files, expose types
  packages/blockchain-link/README.md
  packages/blockchain-link/package.json
  packages/blockchain-link/src/index.ts
Owners: @szymonlesisz, @keraf

chore: update deprecated filed in jest.configs
  packages/blockchain-link/jest.config.unit.js
  packages/components/jest.config.js
  packages/suite/jest.config.health.js
Owners: @szymonlesisz, @keraf, @slowbackspace, @robertbrada, @mroz22

test(blockchain-link): transaction details
  packages/blockchain-link/tests/unit/fixtures/getAccountInfo-blockbook.ts
  packages/blockchain-link/tests/unit/fixtures/getAccountInfo-ripple.ts
  packages/blockchain-link/tests/unit/fixtures/notifications-blockbook.ts
  packages/blockchain-link/tests/unit/fixtures/notifications-ripple.ts
Owners: @szymonlesisz, @keraf

blockchain-link 1.0.15
  packages/blockchain-link/CHANGELOG.md
  packages/blockchain-link/package.json
Owners: @szymonlesisz, @keraf

fix: merge inputs
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add and order buttons
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: fee layout
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: transaction export
  packages/components/src/components/Dropdown/index.tsx
  packages/suite/package.json
  packages/suite/src/config/suite/features.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/array.ts
  packages/suite/src/utils/suite/export.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
  packages/suite/src/workers/export.worker.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

refactor(suite): transactionUtils, move "enhanceTransaction" from accountUtils
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionEthereumActions.ts
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
  packages/suite/src/components/suite/hocNotification/components/withTransaction.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/__tests__/accountUtils.test.ts
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! fix(suite-desktop): force app to close on Mac on update install
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix(dark-mode): incorrectly declared color instead of background (#3029)
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/wallet/AccountException/FirmwareUnsupported.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
  packages/suite/src/components/wallet/DiscoveryProgress/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
  packages/suite/src/views/wallet/sign-verify/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

tests(e2e): fix flaky passphrase test
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-duplicate.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @mroz22

tests(e2e): fix flaky tests (#3061)
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-duplicate.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @mroz22

chore: yarn.lock
  yarn.lock
Owners: none

chore: yarn.lock
  yarn.lock
Owners: none

fix(suite-desktop): ignore error display while auto-updater is checking
  packages/suite/src/actions/suite/desktopUpdateActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(landing-page): fix typo in installer extension detection
  packages/landing-page/pages/wallet/start/index.tsx
Owners: @keraf, @robertbrada

fix(landing-page): fix typo in installer extension detection
  packages/landing-page/pages/wallet/start/index.tsx
Owners: @keraf, @robertbrada

test(blockchain-link): transaction details
  packages/blockchain-link/tests/unit/fixtures/getAccountInfo-blockbook.ts
  packages/blockchain-link/tests/unit/fixtures/getAccountInfo-ripple.ts
  packages/blockchain-link/tests/unit/fixtures/notifications-blockbook.ts
  packages/blockchain-link/tests/unit/fixtures/notifications-ripple.ts
Owners: @szymonlesisz, @keraf

chore: update deprecated filed in jest.configs
  packages/blockchain-link/jest.config.unit.js
  packages/components/jest.config.js
  packages/suite/jest.config.health.js
Owners: @szymonlesisz, @keraf, @slowbackspace, @robertbrada, @mroz22

feat(blockchain-link): add transaction details
  packages/blockchain-link/src/types/common.ts
  packages/blockchain-link/src/types/responses.ts
  packages/blockchain-link/src/workers/blockbook/utils.ts
  packages/blockchain-link/src/workers/ripple/utils.ts
Owners: @szymonlesisz, @keraf

fix(blockchain-link): remove artificial workersDependencies, expose lib/build files, expose types
  packages/blockchain-link/README.md
  packages/blockchain-link/package.json
  packages/blockchain-link/src/index.ts
Owners: @szymonlesisz, @keraf

blockchain-link 1.0.15
  packages/blockchain-link/CHANGELOG.md
  packages/blockchain-link/package.json
Owners: @szymonlesisz, @keraf

fix(blockchain-link): typed event listeners
  packages/blockchain-link/src/index.ts
  packages/blockchain-link/src/types/events.ts
Owners: @szymonlesisz, @keraf

chore: update blockchain-link dependencies
  packages/blockchain-link/package.json
  packages/integration-tests/package.json
  packages/landing-page/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @robertbrada, @slowbackspace

refactor(suite): transactionUtils, move "enhanceTransaction" from accountUtils
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionEthereumActions.ts
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
  packages/suite/src/components/suite/hocNotification/components/withTransaction.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/__tests__/accountUtils.test.ts
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect 8.1.19
  packages/suite/src/actions/suite/trezorConnectActions.ts
  packages/suite/src/support/tests/setupJest.ts
  patches/trezor-connect+8.1.18-extended.patch
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): enhance transaction with rbf params
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): create useReplaceTransaction hook
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/hooks/wallet/useReplaceTransaction.ts
  packages/suite/src/types/wallet/sendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): ui implementation
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): enable rbf flag/feature
  packages/suite/src/config/suite/features.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: change order in list header
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: eth format, font in offer info
  packages/suite/src/components/wallet/CoinmarketExchangeOfferInfo/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: fonts in offer info
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: scrolling to option in select on keypress
  packages/components/src/components/form/Select/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fixup! feat(rbf): ui implementation
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! feat(rbf): ui implementation
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
