Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fixup! fixup! feat(rbf): ui implementation
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! fixup! fixup! feat(rbf): ui implementation
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): transactionUtils, move "enhanceTransaction" from accountUtils
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionEthereumActions.ts
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
  packages/suite/src/components/suite/hocNotification/components/withTransaction.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/__tests__/accountUtils.test.ts
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! feat(rbf): enhance transaction with rbf params
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! feat(rbf): create useReplaceTransaction hook
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/hooks/wallet/useReplaceTransaction.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! fixup! fixup! fixup! feat(rbf): ui implementation
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/Fees/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/wallet/Fees/components/CustomFee/index.tsx
  packages/suite/src/components/wallet/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(intl): downgrade react-intl babel plugin to make intl extraction work again
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: new empty account screen
  packages/suite-data/files/images/svg/wallet-empty-neue.png
  packages/suite-data/files/images/svg/wallet-empty-neue@2x.png
  packages/suite/src/actions/suite/__fixtures__/suiteActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/components/suite/images/Image/index.tsx
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/transactions/components/AccountEmpty/components/Bech32Banner/index.tsx
  packages/suite/src/views/wallet/transactions/components/AccountEmpty/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: new empty account screen (#3067)
  packages/suite-data/files/images/svg/wallet-empty-neue.png
  packages/suite-data/files/images/svg/wallet-empty-neue@2x.png
  packages/suite/package.json
  packages/suite/src/actions/suite/__fixtures__/suiteActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/components/suite/images/Image/index.tsx
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/transactions/components/AccountEmpty/components/Bech32Banner/index.tsx
  packages/suite/src/views/wallet/transactions/components/AccountEmpty/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: show text status when device state changes
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Exchange improvements (#3059)
  packages/suite/src/components/wallet/CoinmarketExchangeOfferInfo/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: show text status when device state changes
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): force app to close on Mac on update install (#3056)
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fixup! fixup! feat(rbf): create useReplaceTransaction hook
  packages/suite/src/hooks/wallet/useRbfForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! fixup! fixup! fixup! fixup! feat(rbf): ui implementation
  packages/suite/src/components/suite/modals/TransactionDetail/components/AdvancedDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

design: unified margins in account tab layouts
  packages/suite/src/components/wallet/CoinmarketLayout/index.tsx
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: max decimals translations
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: refactor verify address component
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/ReceiveOptions/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add missing translation
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! fixup! fixup! fixup! fixup! fixup! feat(rbf): ui implementation
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/wallet/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect 8.1.19
  packages/suite/src/actions/suite/trezorConnectActions.ts
  packages/suite/src/support/tests/setupJest.ts
  patches/trezor-connect+8.1.18-extended.patch
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): enhance transaction with rbf params
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): create useReplaceTransaction hook
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/hooks/wallet/form/useCompose.ts
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/types/wallet/sendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): ui implementation
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/TransactionDetail/components/AdvancedDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/Fees/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/components/wallet/Fees/components/CustomFee/index.tsx
  packages/suite/src/components/wallet/Fees/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(rbf): enable rbf flag/feature
  packages/suite/src/config/suite/features.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! feat(rbf): ui implementation
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/wallet/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(ci): run codesign build automatically
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

design: unified margins in account tab layouts
  packages/suite/src/components/wallet/CoinmarketLayout/index.tsx
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(dark-mode): dont reset theme on db error
  packages/suite/src/support/suite/ThemeProvider.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-web-landing): add links to signatures
  packages/landing-page/pages/wallet/start/index.tsx
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @robertbrada, @szymonlesisz, @mroz22, @slowbackspace

fix(dark-mode): dont reset theme on db error (#3080)
  packages/suite/src/support/suite/ThemeProvider.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-web-landing): add links to signatures (#3081)
  packages/landing-page/pages/wallet/start/index.tsx
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @robertbrada, @szymonlesisz, @mroz22, @slowbackspace

fix(dark-mode): qrcode bg in xpub modal
  packages/suite/src/components/suite/QrCode/index.tsx
  packages/suite/src/components/suite/modals/confirm/Xpub/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(dark-mode): qrcode bg in xpub modal (#3082)
  packages/suite/src/components/suite/QrCode/index.tsx
  packages/suite/src/components/suite/modals/confirm/Xpub/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-desktop): make autoupdate on Windows silent
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

feat: add base skeleton elements
  packages/suite/src/components/suite/Skeleton/index.tsx
  packages/suite/src/components/suite/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: use loading skeletons for assets in the dashboard
  packages/suite/src/views/dashboard/components/AssetsCard/components/Asset/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: hide spinner in portfolio graph while waiting for a device
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Loading/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): transaction graph skeleton
  packages/suite/src/components/suite/TransactionsGraph/components/SkeletonTransactionsGraph/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Loading/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): dont show loading spinner after submitting a passphrase
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
