Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

feat(suite-desktop): configure the interval to wait for process to gracefully exit
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/processes/BridgeProcess.ts
Owners: @keraf, @szymonlesisz

feat(suite-desktop): configure the interval to wait for process to gracefully exit (#2804)
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/processes/BridgeProcess.ts
Owners: @keraf, @szymonlesisz

fix: not overlapping device name
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/components/DeviceStatus/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-web-landing): Add OG meta tags
  packages/suite-data/files/images/suite-web-landing/mega.png
  packages/suite-web-landing/pages/_document.tsx
Owners: @keraf

fix(send): animated outputs overflow
  packages/suite/src/views/wallet/send/components/Outputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-web-landing): Add OG meta tags (#2806)
  packages/suite-data/files/images/suite-web-landing/mega.png
  packages/suite-web-landing/pages/_document.tsx
Owners: @keraf

chore(fw-update): remove error workaround
  packages/suite/src/actions/firmware/__fixtures__/firmwareActions.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: not so perfect type
  packages/suite/src/views/wallet/send/components/Outputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

perf(suite-data): optimize large PNGs with pngquant [skip ci]
  packages/suite-data/files/browser-detection/browser-chrome.png
  packages/suite-data/files/browser-detection/browser-firefox.png
  packages/suite-data/files/images/icons/512x512.png
  packages/suite-data/files/images/icons/favicon/favicon.png
  packages/suite-data/files/images/suite-web-landing/feature1.png
  packages/suite-data/files/images/suite-web-landing/feature2.png
  packages/suite-data/files/images/suite-web-landing/feature3.png
  packages/suite-data/files/images/suite-web-landing/mega.png
Owners: @keraf

fix(suite-desktop): Unify title bar on MacOS
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/window_maximize_mac.svg
  packages/components/src/images/icons/window_restore_mac.svg
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz

chore: bch fork notif
  packages/suite/src/components/suite/NotificationCard/index.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/BCHFork.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: bump typescript patch version (#2798)
  package.json
  yarn.lock
Owners: none

chore: changed test action data
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
  packages/integration-tests/projects/suite-web/tests/backup/t2-misc.test.ts
  packages/suite/src/views/backup/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat: show devive status as animated text
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/components/DeviceStatus/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: not overlapping device name
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/components/DeviceStatus/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): Unify title bar on MacOS (#2805)
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/window_maximize_mac.svg
  packages/components/src/images/icons/window_restore_mac.svg
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz

fix(suite): dont offer fresh address for which there is pending tx
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/receive/Container.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: "add hiddent wallet" translation
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/AddWalletButton/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(intl): wrong message id
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): crowdin sync
  packages/suite-data/files/translations/en.json
Owners: @keraf

chore: changed test action data
  packages/integration-tests/projects/suite-web/tests/backup/t2-fail.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-create-wallet.test.ts
Owners: @mroz22

Fix/pending tx unused addr (#2821)
  packages/suite/src/actions/wallet/selectedAccountActions.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/receive/Container.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: "add hiddent wallet" translation
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/AddWalletButton/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

Fix/send form anim (#2817)
  packages/suite/src/views/wallet/send/components/Outputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: changed test action data
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
  packages/integration-tests/projects/suite-web/tests/backup/t2-fail.test.ts
  packages/integration-tests/projects/suite-web/tests/backup/t2-misc.test.ts
Owners: @mroz22

design: checkbox alignment
  packages/suite/src/components/backup/PreBackupCheckboxes.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): remove unused urls, fix https [skip ci]
  packages/suite/src/constants/suite/urls.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): add csvPareser utility
  packages/suite/src/utils/wallet/__tests__/csvParser.test.ts
  packages/suite/src/utils/wallet/csvParser.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): add DropZone component
  packages/suite/src/components/suite/DropZone/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(send): ImportTransaction from csv
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/ImportTransaction/components/DelimiterForm.tsx
  packages/suite/src/components/suite/modals/ImportTransaction/components/ExampleCSV.tsx
  packages/suite/src/components/suite/modals/ImportTransaction/index.tsx
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormImport.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/views/wallet/send/components/Header/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(intl): wrong message id
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(intl): crowdin sync
  packages/suite-data/files/translations/en.json
Owners: @keraf

chore: bch fork notif
  packages/suite/src/components/suite/NotificationCard/index.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/BCHFork.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: dynamically loading password strenght indicator
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(receive): add missing params to trezor-connect call
  packages/suite/src/actions/wallet/receiveActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

design: checkbox alignment
  packages/suite/src/components/backup/PreBackupCheckboxes.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Force remember device on redirect to buy crypto payment gate
  packages/suite/src/actions/suite/__tests__/storageActions.test.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/actions/wallet/coinmarketCommonActions.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/middlewares/wallet/storageMiddleware.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/storage.ts
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/WaitingForPayment/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): add DropZone component
  packages/suite/src/components/suite/DropZone/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): add csvPareser utility
  packages/suite/src/utils/wallet/__tests__/csvParser.test.ts
  packages/suite/src/utils/wallet/csvParser.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(send): ImportTransaction from csv
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/components/suite/modals/ImportTransaction/components/DelimiterForm.tsx
  packages/suite/src/components/suite/modals/ImportTransaction/components/ExampleCSV.tsx
  packages/suite/src/components/suite/modals/ImportTransaction/index.tsx
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormImport.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/views/wallet/send/components/Header/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
