Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

chore(suite-desktop): refactor (splitting into modules and libs)
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/build.js
  packages/suite-desktop/scripts/dev.js
  packages/suite-desktop/src-electron/__tests__/http.test.ts
  packages/suite-desktop/src-electron/app.ts
  packages/suite-desktop/src-electron/electron-next.d.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/libs/buy.ts
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/libs/menu.ts
  packages/suite-desktop/src-electron/libs/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/libs/processes/BridgeProcess.ts
  packages/suite-desktop/src-electron/libs/processes/TorProcess.ts
  packages/suite-desktop/src-electron/libs/screen.ts
  packages/suite-desktop/src-electron/libs/store.ts
  packages/suite-desktop/src-electron/libs/user-data.ts
  packages/suite-desktop/src-electron/libs/utils.ts
  packages/suite-desktop/src-electron/metadata.ts
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src-electron/modules/bridge.ts
  packages/suite-desktop/src-electron/modules/csp.ts
  packages/suite-desktop/src-electron/modules/dev-tools.ts
  packages/suite-desktop/src-electron/modules/external-links.ts
  packages/suite-desktop/src-electron/modules/file-protocol.ts
  packages/suite-desktop/src-electron/modules/http-receiver.ts
  packages/suite-desktop/src-electron/modules/menu.ts
  packages/suite-desktop/src-electron/modules/metadata.ts
  packages/suite-desktop/src-electron/modules/request-filter.ts
  packages/suite-desktop/src-electron/modules/shortcuts.ts
  packages/suite-desktop/src-electron/modules/tor.ts
  packages/suite-desktop/src-electron/modules/window-controls.ts
  packages/suite-desktop/src-electron/store.ts
  packages/suite-desktop/src-electron/tsconfig.json
  packages/suite-desktop/tsconfig.json
Owners: @keraf, @szymonlesisz

fix: long tx id
  packages/suite/src/components/wallet/CoinmarketExchangeOfferInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketTransactionId/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

tests(e2e): use new trezor-user-env, fix, unskip, rework, adapt, overcome
  ci/packages/suite-web.yml
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-create-wallet.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-recovery-advanced.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-recovery-basic.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-create-wallet.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-recovery-fail.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-recovery-persistence.test.ts
  packages/integration-tests/projects/suite-web/tests/recovery/t1-dry-run.test.ts
  packages/integration-tests/projects/suite-web/tests/recovery/t2-dry-run-persistence.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t1-device-settings.test.ts
Owners: @keraf, @mroz22

fix(invity): cannot select undiscovered account
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/ReceiveOptions/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: searching multi-char strings
  packages/components/src/components/form/Select/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(invity): cannot select undiscovered account
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/ReceiveOptions/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): cannot select undiscovered account
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/ReceiveOptions/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(desktop): Missing offset for notifications
  packages/suite/src/support/suite/styles/notifications.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

work on proper reference type
  packages/components/src/components/form/Select/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix: script in desktop
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix(desktop): Missing offset for notifications
  packages/suite/src/support/suite/styles/notifications.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(desktop): Missing offset for notifications
  packages/suite/src/support/suite/styles/notifications.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add more validation messages
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(desktop): Missing offset for notifications [RELEASE ONLY]
  packages/suite/src/constants/suite/layout.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): dev:prepare
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix: dark mode icons
  packages/components/src/config/colors.ts
  packages/suite/src/components/wallet/CoinmarketBuyProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketExchangeProviderInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketPaymentType/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite-data): use LFS for storing Bridge+Tor binaries
  .gitattributes
  packages/suite-data/files/bin/tor/linux-arm64/libcrypto.so.1.1
  packages/suite-data/files/bin/tor/linux-arm64/libevent-2.1.so.6
  packages/suite-data/files/bin/tor/linux-arm64/libssl.so.1.1
  packages/suite-data/files/bin/tor/linux-arm64/tor
  packages/suite-data/files/bin/tor/linux-x64/libcrypto.so.1.1
  packages/suite-data/files/bin/tor/linux-x64/libevent-2.1.so.7
  packages/suite-data/files/bin/tor/linux-x64/libssl.so.1.1
  packages/suite-data/files/bin/tor/linux-x64/tor
  packages/suite-data/files/bin/tor/mac-x64/libevent-2.1.7.dylib
  packages/suite-data/files/bin/tor/win-x64/libcrypto-1_1-x64.dll
  packages/suite-data/files/bin/tor/win-x64/libevent-2-1-7.dll
  packages/suite-data/files/bin/tor/win-x64/libevent_core-2-1-7.dll
  packages/suite-data/files/bin/tor/win-x64/libevent_extra-2-1-7.dll
  packages/suite-data/files/bin/tor/win-x64/libgcc_s_seh-1.dll
  packages/suite-data/files/bin/tor/win-x64/libssl-1_1-x64.dll
  packages/suite-data/files/bin/tor/win-x64/libssp-0.dll
  packages/suite-data/files/bin/tor/win-x64/libwinpthread-1.dll
  packages/suite-data/files/bin/tor/win-x64/zlib1.dll
Owners: @keraf

fix(metadata): fix no reaction when connecting to provider
  packages/suite/src/utils/suite/oauth.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: hidden wallet number
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
  packages/suite/src/reducers/suite/deviceReducer.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(suite-data): use LFS for storing Bridge+Tor binaries
  .gitattributes
  packages/suite-data/files/bin/tor/linux-arm64/libcrypto.so.1.1
  packages/suite-data/files/bin/tor/linux-arm64/libevent-2.1.so.6
  packages/suite-data/files/bin/tor/linux-arm64/libssl.so.1.1
  packages/suite-data/files/bin/tor/linux-arm64/tor
  packages/suite-data/files/bin/tor/linux-x64/libcrypto.so.1.1
  packages/suite-data/files/bin/tor/linux-x64/libevent-2.1.so.7
  packages/suite-data/files/bin/tor/linux-x64/libssl.so.1.1
  packages/suite-data/files/bin/tor/linux-x64/tor
  packages/suite-data/files/bin/tor/mac-x64/libevent-2.1.7.dylib
  packages/suite-data/files/bin/tor/win-x64/libcrypto-1_1-x64.dll
  packages/suite-data/files/bin/tor/win-x64/libevent-2-1-7.dll
  packages/suite-data/files/bin/tor/win-x64/libevent_core-2-1-7.dll
  packages/suite-data/files/bin/tor/win-x64/libevent_extra-2-1-7.dll
  packages/suite-data/files/bin/tor/win-x64/libgcc_s_seh-1.dll
  packages/suite-data/files/bin/tor/win-x64/libssl-1_1-x64.dll
  packages/suite-data/files/bin/tor/win-x64/libssp-0.dll
  packages/suite-data/files/bin/tor/win-x64/libwinpthread-1.dll
  packages/suite-data/files/bin/tor/win-x64/zlib1.dll
Owners: @keraf

fix(suite-data): downgrade bridge binaries to 2.0.27 [RELEASE ONLY]
  packages/suite-data/files/bin/bridge/linux-x64/trezord
  packages/suite-data/files/bin/bridge/mac-x64/trezord
  packages/suite-data/files/bin/bridge/win-x64/trezord.exe
Owners: @keraf

fix: hidden wallet number
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
  packages/suite/src/reducers/suite/deviceReducer.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(recovery): send u2f counter in params
  packages/suite/src/actions/recovery/recoveryActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci: clear cache job
  ci/environment.yml
Owners: @keraf, @mroz22

CI base image - fix missing attrs
  ci/docker/base/Dockerfile
Owners: @keraf, @mroz22

ci: use latest base image (contains docker and docker-compose)
  .gitlab-ci.yml
Owners: none

fix(metadata): use plain window.open in desktop
  packages/suite/src/utils/suite/oauth.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(landing): use absolute URLs for og:image and twitter:image meta tags
  packages/suite-web-landing/pages/_document.tsx
  packages/suite/src/constants/suite/urls.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci: dont run e2e/browsers in parallel
  ci/packages/suite-web.yml
  docs/tests/e2e-web.md
  packages/integration-tests/projects/suite-web/tests/browser/edge.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/iphone-chrome.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/outdated-chrome.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/outdated-firefox.test.ts
Owners: @keraf, @mroz22

fix(landing): use absolute URLs for og:image and twitter:image meta tags
  packages/suite-web-landing/pages/_document.tsx
  packages/suite/src/constants/suite/urls.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): fix no reaction when connecting to provider
  packages/suite/src/utils/suite/oauth.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): use plain window.open in desktop
  packages/suite/src/utils/suite/oauth.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): fix no reaction when connecting to provider
  packages/suite/src/utils/suite/oauth.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): use plain window.open in desktop
  packages/suite/src/utils/suite/oauth.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): unify account fallback/error screens
  packages/suite/src/components/wallet/AccountException/AccountNotEnabled.tsx
  packages/suite/src/components/wallet/AccountException/AccountNotExists.tsx
  packages/suite/src/components/wallet/AccountException/AccountNotLoaded.tsx
  packages/suite/src/components/wallet/AccountException/AuthFailed.tsx
  packages/suite/src/components/wallet/AccountException/DiscoveryEmpty.tsx
  packages/suite/src/components/wallet/AccountException/DiscoveryFailed.tsx
  packages/suite/src/components/wallet/AccountException/FirmwareUnsupported.tsx
  packages/suite/src/components/wallet/AccountException/components/Wrapper.tsx
  packages/suite/src/components/wallet/AccountExceptionLayout/index.tsx
  packages/suite/src/components/wallet/index.tsx
  packages/suite/src/views/wallet/transactions/components/NoTransactions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci: skip mysteriously failing test
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-recovery-basic.test.ts
Owners: @mroz22

ci: skip mysteriously failing test
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-recovery-basic.test.ts
Owners: @mroz22

ci: dont run e2e/browsers in parallel
  ci/packages/suite-web.yml
  docs/tests/e2e-web.md
  packages/integration-tests/projects/suite-web/tests/browser/edge.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/iphone-chrome.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/outdated-chrome.test.ts
  packages/integration-tests/projects/suite-web/tests/browser/outdated-firefox.test.ts
Owners: @keraf, @mroz22

feat(suite): add loading skeletons
  packages/components/src/components/Modal/index.tsx
  packages/components/src/config/colors.ts
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/google-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/switching-providers.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-duplicate.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase-disabled.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/suite/src/components/suite/Skeleton/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/SkeletonTransactionsGraph/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
  packages/suite/src/components/wallet/AccountMode/LoadingOtherAccounts.tsx
  packages/suite/src/components/wallet/AccountMode/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/components/AccountNavigation/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
  packages/suite/src/components/wallet/DiscoveryProgress/index.tsx
  packages/suite/src/components/wallet/WalletLayout/components/AccountLoader.tsx
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/config/wallet/menu.tsx
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useLoadingSkeleton.ts
  packages/suite/src/views/dashboard/components/AssetsCard/components/Asset/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Loading/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/SkeletonTransactionItem/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/SummaryCards/components/InfoCard/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22, @szymonlesisz

feat(suite): add loading skeletons
  packages/components/src/components/Modal/index.tsx
  packages/components/src/config/colors.ts
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/address-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/google-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/interval-fetching.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/output-labeling.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/switching-providers.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-duplicate.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase-disabled.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/suite/src/components/suite/Skeleton/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/SkeletonTransactionsGraph/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
  packages/suite/src/components/wallet/AccountMode/LoadingOtherAccounts.tsx
  packages/suite/src/components/wallet/AccountMode/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/components/AccountNavigation/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
  packages/suite/src/components/wallet/DiscoveryProgress/index.tsx
  packages/suite/src/components/wallet/WalletLayout/components/AccountLoader.tsx
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/config/wallet/menu.tsx
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useLoadingSkeleton.ts
  packages/suite/src/views/dashboard/components/AssetsCard/components/Asset/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Loading/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/SkeletonTransactionItem/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/SummaryCards/components/InfoCard/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22, @szymonlesisz
