Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix: review
  packages/suite/src/components/suite/AppNavigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(components): fix unclosed SVG root tag (#2464)
  packages/components/src/images/icons/lock_active.svg
Owners: @keraf, @slowbackspace, @robertbrada

Switch desktop windows handler
  packages/suite-data/config.ts
  packages/suite-data/files/buy/buy_receiver.html
  packages/suite-desktop/src-electron/buy.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

remove console log and variable
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

remove unused variable
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

move styles
  packages/suite/src/components/wallet/CoinmarketBuyOfferInfo/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix account menu - inconsistent parameters (#2462)
  packages/suite/src/components/suite/AppNavigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix ts
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

feat: increased margin of graph-type selection box
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/TransactionSummaryDropdown/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: cancel button removed from add-account modal
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

merge from develop
  packages/suite/src/components/suite/AppNavigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

design: global bottom-padding increased
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci(codesign): update code signing targets
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

design: removed white background from news button
  packages/suite/src/views/dashboard/components/NewsFeed/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

change buy receiver path
  packages/suite/src/utils/wallet/coinmarket/buyUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

css spinners
  packages/components/src/components/buttons/Button/index.tsx
  packages/components/src/components/loaders/Loader/all.stories.tsx
  packages/components/src/components/loaders/Loader/index.stories.tsx
  packages/components/src/components/loaders/Loader/index.tsx
  packages/components/src/components/loaders/Spinner/all.stories.tsx
  packages/components/src/components/loaders/Spinner/index.stories.tsx
  packages/components/src/components/loaders/Spinner/index.tsx
  packages/components/src/index.ts
  packages/suite/src/components/suite/NotificationCard/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
  packages/suite/src/components/suite/modals/AdvancedCoinSettings/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/IODetails/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Loading/index.tsx
  packages/suite/src/views/suite/bridge/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/SummaryCards/components/InfoCard/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

perf: optimalize css spinner perf
  packages/components/src/components/loaders/FluidSpinner/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

remove pulse anim from t-device-confirm
  packages/suite-data/files/images/svg/t-device-confirm.svg
Owners: @keraf

fix: disabled spinners on dashboard
  packages/components/src/components/loaders/FluidSpinner/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Loading/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

Add coming soon for exchange and spend
  packages/suite/src/components/wallet/CoinmarketLayout/components/Navigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Remove exchange code from buy only branch
  packages/suite/src/utils/wallet/coinmarket/__fixtures__/exchangeUtils.ts
  packages/suite/src/utils/wallet/coinmarket/__tests__/exchangeUtils.test.ts
  packages/suite/src/utils/wallet/coinmarket/exchangeUtils.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/Footer/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/components/List/Quote/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/components/List/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/components/SelectedOffer/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/index.tsx
  packages/suite/src/views/wallet/coinmarket/spend/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Remove additional unnecessary exchange files from buy only branch
  packages/suite-desktop/pages/accounts/coinmarket/exchange/index.tsx
  packages/suite-desktop/pages/accounts/coinmarket/exchange/offers/index.tsx
  packages/suite-web/pages/accounts/coinmarket/exchange/index.tsx
  packages/suite-web/pages/accounts/coinmarket/exchange/offers/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

Move comming soon a bit to the top
  packages/suite/src/components/wallet/CoinmarketLayout/components/Navigation/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Revert "fix: disabled spinners on dashboard"
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Loading/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(news-api): cleanup unused environments
  packages/news-api/src/config.ts
  packages/news-api/src/index.ts
  packages/news-api/src/server.ts
Owners: @keraf

fix(suite): use only production news API
  packages/suite/src/hooks/dashboard/useNews.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Revert "fix: disabled spinners on dashboard"
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Loading/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

remove pulse anim from t-device-confirm
  packages/suite-data/files/images/svg/t-device-confirm.svg
Owners: @keraf

perf: optimalize css spinner perf
  packages/components/src/components/loaders/FluidSpinner/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix: disabled spinners on dashboard
  packages/components/src/components/loaders/FluidSpinner/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Loading/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite): use only production news API
  packages/suite/src/hooks/dashboard/useNews.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(news-api): cleanup unused environments
  packages/news-api/src/config.ts
  packages/news-api/src/index.ts
  packages/news-api/src/server.ts
Owners: @keraf

design: global bottom-padding increased
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: increased margin of graph-type selection box
  packages/suite/src/views/wallet/transactions/components/TransactionSummary/components/TransactionSummaryDropdown/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

design: removed white background from news button
  packages/suite/src/views/dashboard/components/NewsFeed/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: cancel button removed from add-account modal
  packages/suite/src/components/suite/modals/AddAccount/components/Wrapper.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: layout logic redesigned, cleanup
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: send form fee layout fix
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: return null instead of empty element
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: jumping fee-box height while changing fee
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
