Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

test(suite): useDiscovery hook tests
  packages/suite/jest.config.js
  packages/suite/src/hooks/suite/__fixtures__/useDiscovery.ts
  packages/suite/src/hooks/suite/__tests__/useDiscovery.test.tsx
  packages/suite/src/support/tests/hooksHelper.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(settings): disable button on empty custom blockbook url field
  packages/suite/src/components/suite/modals/AdvancedCoinSettings/components/CustomBlockbookUrls.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(fw-update): make modal cancellable in check-seed step
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/suite/src/views/firmware/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

test(homescreen): introduce isValid tests
  packages/suite/src/utils/suite/__tests__/homescreen.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(homescreen): isValid
  packages/suite/src/utils/suite/homescreen.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: lint and change describe to it to make it visible in verbose output
  packages/suite/src/utils/suite/__tests__/homescreen.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update testing-library dependencies
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(suite): useDiscovery hook tests
  packages/suite/jest.config.js
  packages/suite/src/hooks/suite/__fixtures__/useDiscovery.ts
  packages/suite/src/hooks/suite/__tests__/useDiscovery.test.tsx
  packages/suite/src/support/tests/hooksHelper.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): unify useSelector usage
  packages/suite/src/components/suite/AppNavigation/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/components/suite/Ticker/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/index.tsx
  packages/suite/src/hooks/suite/useAnalytics.ts
  packages/suite/src/hooks/suite/useDevice.ts
  packages/suite/src/hooks/suite/useFirmware.ts
  packages/suite/src/hooks/suite/useGraph.ts
  packages/suite/src/hooks/wallet/useAccounts.ts
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyDetail.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyForm.ts
  packages/suite/src/hooks/wallet/useCoinmarketBuyOffers.ts
  packages/suite/src/hooks/wallet/useCoinmarketRedirect.ts
  packages/suite/src/hooks/wallet/useFiatValue.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): useDiscovery refactoring, do not use useState (unnecessary re-renders)
  packages/suite/src/hooks/suite/useDiscovery.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: mac app quit crash
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/utils.ts
Owners: @keraf, @szymonlesisz

refactor(suite-desktop): unify bundling of bridge and tor binaries
  packages/suite-data/config.ts
  packages/suite-data/files/bin/tor/linux-x64/libcrypto.so.1.1
  packages/suite-data/files/bin/tor/linux-x64/libevent-2.1.so.7
  packages/suite-data/files/bin/tor/linux-x64/libssl.so.1.1
  packages/suite-data/files/bin/tor/linux-x64/tor
  packages/suite-data/files/bin/tor/linux-x64/torrc
  packages/suite-data/files/bin/tor/mac-x64/libevent-2.1.7.dylib
  packages/suite-data/files/bin/tor/mac-x64/torrc
  packages/suite-data/files/bin/tor/win-x64/libcrypto-1_1-x64.dll
  packages/suite-data/files/bin/tor/win-x64/libevent-2-1-7.dll
  packages/suite-data/files/bin/tor/win-x64/libevent_core-2-1-7.dll
  packages/suite-data/files/bin/tor/win-x64/libevent_extra-2-1-7.dll
  packages/suite-data/files/bin/tor/win-x64/libgcc_s_seh-1.dll
  packages/suite-data/files/bin/tor/win-x64/libssl-1_1-x64.dll
  packages/suite-data/files/bin/tor/win-x64/libssp-0.dll
  packages/suite-data/files/bin/tor/win-x64/libwinpthread-1.dll
  packages/suite-data/files/bin/tor/win-x64/torrc
  packages/suite-data/files/bin/tor/win-x64/zlib1.dll
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/bridge.ts
Owners: @keraf, @szymonlesisz

refactor(suite): useDebounce > useAsyncDebounce (and remove post async "ignore" case)
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useAsyncDebounce.ts
  packages/suite/src/hooks/suite/useDebounce.ts
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): handle bech32 addresses in uppercase and display convert button
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/validation.ts
  packages/suite/src/views/wallet/send/components/Outputs/components/Address/components/Convert/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Address/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): Preloader component with hooks
  packages/suite/src/components/suite/Preloader/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): PortfolioCard invalid key (causes react-render error)
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Exception/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): SwitchDevice component, remove unnecessary variable
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/AddWalletButton/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): remove crazy re-exports in types
  packages/suite/src/types/firmware/index.ts
  packages/suite/src/types/onboarding/index.ts
  packages/suite/src/types/settings/index.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): remove crazy re-exports in types
  packages/suite/src/types/firmware/index.ts
  packages/suite/src/types/onboarding/index.ts
  packages/suite/src/types/settings/index.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): handle bech32 addresses in uppercase and display convert button
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/validation.ts
  packages/suite/src/views/wallet/send/components/Outputs/components/Address/components/Convert/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Address/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): useDebounce > useAsyncDebounce (and remove post async "ignore" case)
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useAsyncDebounce.ts
  packages/suite/src/hooks/suite/useDebounce.ts
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): Preloader component with hooks
  packages/suite/src/components/suite/Preloader/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): SwitchDevice component, remove unnecessary variable
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/AddWalletButton/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): PortfolioCard invalid key (causes react-render error)
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Exception/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(deps): various minor dev deps
  yarn.lock
Owners: none

feat(metadata): display address label as a fallback in tx lists if tx label does not exist yet
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/Target/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/TargetAddressLabel/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): display address label as a fallback in tx lists if tx label does not exist yet
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/Target/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/TargetAddressLabel/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: select correctly invityAPI server in debug options
  packages/suite/src/views/settings/debug/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(analytics): add wallet event was not reported
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/AddWalletButton/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(suite): update z-cash tx params for canocopy fork
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/constants/wallet/sendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: send form UI improvements
  packages/suite/src/hooks/wallet/__tests__/SendIndex.tsx
  packages/suite/src/views/wallet/send/components/Options/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Address/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/TokenSelect/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/index.tsx
  packages/suite/src/views/wallet/send/components/ReviewButton/index.tsx
  packages/suite/src/views/wallet/send/components/TotalSent/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): long label truncating (#2653)
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withDropdown.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(analytics): add wallet event was not reported
  packages/integration-tests/projects/suite-web/tests/suite/analytics.test.ts
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/AddWalletButton/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat: send form UI improvements
  packages/suite/src/hooks/wallet/__tests__/SendIndex.tsx
  packages/suite/src/views/wallet/send/components/Options/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Address/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/Fiat/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/components/TokenSelect/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/components/Amount/index.tsx
  packages/suite/src/views/wallet/send/components/Outputs/index.tsx
  packages/suite/src/views/wallet/send/components/ReviewButton/index.tsx
  packages/suite/src/views/wallet/send/components/TotalSent/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): long label truncating (#2653)
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withDropdown.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): update z-cash tx params for canocopy fork
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/constants/wallet/sendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: bump typescript patch version
  package.json
  yarn.lock
Owners: none

fix(suite): updating account's addresses now triggers updating selectedAccount
  packages/suite/src/actions/wallet/selectedAccountActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: new way of launching processes
  docs/packages/suite-desktop.md
  package.json
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/bridge.ts
  packages/suite-desktop/src-electron/constants.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/processes/BridgeProcess.ts
  yarn.lock
Owners: @keraf, @szymonlesisz

feat: new way of launching processes (#2788)
  docs/packages/suite-desktop.md
  package.json
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/bridge.ts
  packages/suite-desktop/src-electron/constants.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/processes/BridgeProcess.ts
  yarn.lock
Owners: @keraf, @szymonlesisz

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
