Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

feat(trezor-components): Truncate text component
  packages/components/package.json
  packages/components/src/components/Truncate/index.stories.tsx
  packages/components/src/components/Truncate/index.tsx
  packages/components/src/index.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada

chore: move TransactionItem to shared wallet-components
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/BaseTargetLayout/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/Target/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/TargetAddressLabel/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/TokenTransferAddressLabel/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/TransactionHeading/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/TransactionTimestamp/index.tsx
  packages/suite/src/components/wallet/TransactionItem/components/TransactionTypeIcon/index.tsx
  packages/suite/src/components/wallet/TransactionItem/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: use hooks in HiddenPlaceholder
  packages/suite/src/components/suite/HiddenPlaceholder/Container.ts
  packages/suite/src/components/suite/HiddenPlaceholder/index.tsx
  packages/suite/src/components/suite/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): word-break specified for FromattedCryptoAmount
  packages/suite/src/components/suite/FormattedCryptoAmount/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: enable rbf as default option
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: updated design for rbf in tx detail modal
  packages/suite/src/components/suite/modals/TransactionDetail/components/AdvancedDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChainedTxs/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/AffectedTransactions/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/GreyCard/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/NoChange/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/WarnHeader/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/components/wallet/TransactionItem/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/suite/string.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(trezor-components): Truncate text component
  packages/components/package.json
  packages/components/src/components/Truncate/index.stories.tsx
  packages/components/src/components/Truncate/index.tsx
  packages/components/src/index.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada

feat(send): rbf native
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/actions/wallet/sendFormActions.ts
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/hooks/wallet/form/useCompose.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.20
  packages/integration-tests/projects/suite-web/support/utils/device.ts
  packages/rollout/setupJest.ts
  packages/suite-data/files/connect/data/config.json
  packages/suite-data/files/connect/data/messages/messages.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.1bf6cd5070b10a517ebd.js
  packages/suite-data/files/connect/js/iframe.9cd600cdb5561a35c213.js
  packages/suite-data/files/connect/workers/blockbook-worker.116f8d5317cf8c49c2f9.js
  packages/suite-data/files/connect/workers/blockbook-worker.61979a30be9469d58144.js
  packages/suite-data/files/connect/workers/ripple-worker.ad597e70f20819f7a320.js
  packages/suite-data/files/connect/workers/ripple-worker.fc6d6d17a35cbb81f848.js
  packages/suite/package.json
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionBitcoinActions.ts
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/support/tests/setupJest.ts
  patches/trezor-connect+8.1.21-extended.patch
  yarn.lock
Owners: @mroz22, @keraf, @szymonlesisz, @slowbackspace, @robertbrada

feat(send): rbf ReviewTransaction modal
  packages/suite-web/package.json
  packages/suite/src/actions/wallet/sendFormActions.ts
  packages/suite/src/components/suite/modals/CoinmarketReviewTransaction/components/Detail.tsx
  packages/suite/src/components/suite/modals/CoinmarketReviewTransaction/components/Output.tsx
  packages/suite/src/components/suite/modals/CoinmarketReviewTransaction/index.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/Container.ts
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Detail.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Indicator.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/OutputElement.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/OutputList.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Success.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AdvancedDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChainedTxs/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/AffectedTransactions/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/components/NoChange/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/middlewares/suite/actionBlockerMiddleware.ts
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada, @szymonlesisz

feat(suite): Broadcast icon added
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/broadcast.svg
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
  packages/suite/src/views/wallet/send/components/Options/components/BitcoinOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/EthereumOptions/index.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

test: transactionUtils
  packages/suite/src/utils/wallet/__fixtures__/transactionUtils.ts
  packages/suite/src/utils/wallet/__tests__/transactionUtils.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(all): bump versions to 21.3.0
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

chore(all): bump versions to 21.2.1 [RELEASE ONLY]
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

fix(suite): Transaction review fee per byte limit to 3 decimals to prevent breaking to more lines
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): show RBF status for confirmed tx, drop RBF ON/OFF from tx detail
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(intl): plural form when there are multiple pending txs in the list
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/DayHeader/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): don't reset coin filter when adding account that belongs to selected coin
  packages/suite/src/components/suite/modals/AddAccount/components/AddAccountButton.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): don't reset coin filter when adding account that belongs to selected coin
  packages/suite/src/components/suite/modals/AddAccount/components/AddAccountButton.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(intl): plural form when there are multiple pending txs in the list
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/DayHeader/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): Transaction review fee per byte limit to 3 decimals to prevent breaking to more lines
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): Transaction review fee per byte limit to 3 decimals to prevent breaking to more lines
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): make whole transaction heading row clickable
  packages/suite/src/components/wallet/TransactionItem/components/TransactionHeading/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): show custom token symbol when available
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): handle correctly send amount of custom tokens
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): show RBF status for confirmed tx, drop RBF ON/OFF from tx detail
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): show custom token symbol when available
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): handle correctly send amount of custom tokens
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): show RBF status for confirmed tx, drop RBF ON/OFF from tx detail
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/index.tsx
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): show custom token symbol when available
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): handle correctly send amount of custom tokens
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): use fee rates from precomposedTransaction
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(rbf): hide form if tx is not possible to replace
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): add missing tx size
  packages/suite/src/components/wallet/Fees/components/FeeDetails.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: getFeeRate util, decimals validation
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): make whole transaction heading row clickable
  packages/suite/src/components/wallet/TransactionItem/components/TransactionHeading/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-data): update tor binaries
  packages/suite-data/files/bin/tor/linux-x64/tor
  packages/suite-data/files/bin/tor/mac-x64/libevent-2.1.7.dylib
  packages/suite-data/files/bin/tor/mac-x64/tor
  packages/suite-data/files/bin/tor/win-x64/tor.exe
Owners: @keraf

fix(suite-data): update tor binaries
  packages/suite-data/files/bin/tor/linux-x64/tor
  packages/suite-data/files/bin/tor/mac-x64/libevent-2.1.7.dylib
  packages/suite-data/files/bin/tor/mac-x64/tor
  packages/suite-data/files/bin/tor/win-x64/tor.exe
Owners: @keraf

fix(suite-data): update tor binaries
  packages/suite-data/files/bin/tor/linux-x64/tor
  packages/suite-data/files/bin/tor/mac-x64/libevent-2.1.7.dylib
  packages/suite-data/files/bin/tor/mac-x64/tor
  packages/suite-data/files/bin/tor/win-x64/tor.exe
Owners: @keraf

Fix: feerate (#3349)
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/components/suite/modals/TransactionDetail/components/ChangeFee/index.tsx
  packages/suite/src/components/wallet/Fees/components/FeeDetails.tsx
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
