Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

refactor(suite): unify walletSettingsActions
  packages/suite/src/actions/settings/walletSettingsActions.ts
  packages/suite/src/types/settings/index.ts
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): analyticsActions
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): notificationActions
  packages/suite/src/actions/suite/notificationActions.ts
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): resize and routeActions
  packages/suite-native/src/actions/suite/routerActions.ts
  packages/suite/src/actions/suite/resizeActions.ts
  packages/suite/src/actions/suite/routerActions.ts
  packages/suite/src/types/suite/index.ts
Owners: @slowbackspace, @szymonlesisz, @keraf, @mroz22, @robertbrada

refactor(suite): coinmarketBuyActions
  packages/suite/src/actions/wallet/coinmarketBuyActions.ts
  packages/suite/src/types/wallet/coinmarketBuyForm.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): accountActions
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): accountSearchActions
  packages/suite/src/actions/wallet/accountSearchActions.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): storage and suite Actions
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/types/suite/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): blockchainActions
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): fiatRatesActions
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): graphActions
  packages/suite/src/actions/wallet/graphActions.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): receiveActions
  packages/suite/src/actions/wallet/receiveActions.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): sendFormActions
  packages/suite/src/actions/wallet/sendFormActions.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): discoveryActions
  packages/suite/src/actions/wallet/discoveryActions.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): selectedAccountActions
  packages/suite/src/actions/wallet/selectedAccountActions.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): coinMarketExchange and common actions
  packages/suite/src/actions/wallet/coinmarketCommonActions.ts
  packages/suite/src/actions/wallet/coinmarketExchangeActions.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): signVerifyActions
  packages/suite/src/actions/wallet/signVerifyActions.ts
  packages/suite/src/types/wallet/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(tor): hide tor settings for non-desktop platforms
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: fix column alignment in transaction item
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/BaseTargetLayout/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(tor): custom backed not clearing properly when tor is switched off
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): added github and sentry to domain allow list
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

fix(tor): set custom backend for tor after app is initialised
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): remove colour changing titlebar when tor is enabled
  packages/components/src/config/colors.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz

fix(tor): hide tor settings for non-desktop platforms
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): added github and sentry to domain allow list
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

fix(tor): set custom backend for tor after app is initialised
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): remove colour changing titlebar when tor is enabled
  packages/components/src/config/colors.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz

chore: added roadmap link
  packages/suite-data/files/translations/en.json
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

trivial changes
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

fix(suite): reload the app right after removing db
  packages/suite/src/support/suite/ErrorBoundary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(tor): hide tor settings for non-desktop platforms
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): added github and sentry to domain allow list
  packages/suite-desktop/src-electron/config.ts
Owners: @keraf, @szymonlesisz

chore(suite): update bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

fix(tor): set custom backend for tor after app is initialised
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(tor): custom backed not clearing properly when tor is switched off
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): remove colour changing titlebar when tor is enabled
  packages/components/src/config/colors.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz

fix(tor): custom backed not clearing properly when tor is switched off
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: fix column alignment in transaction item
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/BaseTargetLayout/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: added roadmap link
  packages/suite-data/files/translations/en.json
  packages/suite-web-landing/components/Layout/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite): show target's amount for each "sent to self" target
  packages/suite/src/utils/wallet/transactionUtils.ts
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/Target/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/TransactionHeading/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
