Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(ci): skip .yarn in yamllint
  .yamllint.yml
Owners: none

fix(landing): remove arch from mac/win binaries for now
  packages/landing-page/pages/wallet/start/index.tsx
  packages/suite-web-landing/components/Download/index.tsx
  packages/suite-web-landing/utils/navigator.ts
Owners: @keraf, @robertbrada

fix(landing): add arch to Linux x86_64 [skip ci]
  packages/landing-page/pages/wallet/start/index.tsx
Owners: @keraf, @robertbrada

fix(invity):buy offers in dark mode
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity):buy offers in dark mode
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: eth feeLimit in compose
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionEthereumActions.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/components/CustomFee/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): detect popup close
  packages/suite/src/utils/suite/oauth.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: ts
  packages/suite/src/types/wallet/coinmarketExchangeForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): ethereum fee limit (#3028)
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionEthereumActions.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/types/wallet/coinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/components/CustomFee/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: disabled options while submit progress
  packages/components/src/components/form/SelectBar/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(suite-desktop): move request headers to work with dev builds (required by new Bridge)
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix: disabled options while submit progress
  packages/components/src/components/form/SelectBar/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: update titles
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(dark-mode): incorrectly declared color instead of background
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/wallet/AccountException/FirmwareUnsupported.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
  packages/suite/src/components/wallet/DiscoveryProgress/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
  packages/suite/src/views/wallet/sign-verify/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(dark-mode): incorrectly declared color instead of background (#3029)
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/wallet/AccountException/FirmwareUnsupported.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/BuyTransaction/index.tsx
  packages/suite/src/components/wallet/CoinmarketLayout/components/AccountTransactions/components/ExchangeTransaction/index.tsx
  packages/suite/src/components/wallet/DiscoveryProgress/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
  packages/suite/src/views/wallet/sign-verify/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: max input limits
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): graphs shadow opacity adjusted
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! chore: rework static notifications panel
  packages/suite/src/components/suite/Banners/UpdateFirmware.tsx
  packages/suite/src/components/suite/Banners/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: rework static notifications panel
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/suite/src/components/suite/Banners/FailedBackup.tsx
  packages/suite/src/components/suite/Banners/NoBackup.tsx
  packages/suite/src/components/suite/Banners/OnlineStatus.tsx
  packages/suite/src/components/suite/Banners/UpdateBridge.tsx
  packages/suite/src/components/suite/Banners/UpdateFirmware.tsx
  packages/suite/src/components/suite/Banners/components/Wrapper.tsx
  packages/suite/src/components/suite/Banners/index.tsx
  packages/suite/src/components/suite/Notifications/UpdateBridge.tsx
  packages/suite/src/components/suite/Notifications/UpdateFirmware.tsx
  packages/suite/src/components/suite/Notifications/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(analytics): log theme (darkmode)
  docs/misc/analytics.md
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): hidden or standard wallet created
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): log device-disconnect
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): Exchange Receiving address ExtraField requires interaction
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): update titles
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): max input limits
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoInput/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): hidden or standard wallet created
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): log device-disconnect
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): log theme (darkmode)
  docs/misc/analytics.md
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): detect popup close
  packages/suite/src/utils/suite/oauth.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: rework static notifications panel
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/suite/src/components/suite/Banners/FailedBackup.tsx
  packages/suite/src/components/suite/Banners/NoBackup.tsx
  packages/suite/src/components/suite/Banners/OnlineStatus.tsx
  packages/suite/src/components/suite/Banners/UpdateBridge.tsx
  packages/suite/src/components/suite/Banners/UpdateFirmware.tsx
  packages/suite/src/components/suite/Banners/components/Wrapper.tsx
  packages/suite/src/components/suite/Banners/index.tsx
  packages/suite/src/components/suite/Notifications/UpdateBridge.tsx
  packages/suite/src/components/suite/Notifications/UpdateFirmware.tsx
  packages/suite/src/components/suite/Notifications/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

chore: update dependencies
  packages/transport/package.json
  packages/transport/yarn.lock
Owners: none

chore: update dependencies
  packages/transport/packages/transport/trezor-link/trezor-link/package.json
  packages/transport/packages/transport/trezor-link/trezor-link/yarn.lock
Owners: none

fix: webusb reset failing on windows and ChromeOS
  packages/transport/trezor-link/trezor-link/src/lowlevel/webusb.js
Owners: none

chore: update dependencies
  trezor-link/package.json
  trezor-link/yarn.lock
Owners: none

fix: webusb reset failing on windows and ChromeOS
  trezor-link/src/lowlevel/webusb.js
Owners: none

fix: webusb reset failing on windows and ChromeOS
  packages/transport/packages/transport/trezor-link/trezor-link/src/lowlevel/webusb.js
Owners: none

fix: webusb reset failing on windows and ChromeOS
  src/lowlevel/webusb.js
Owners: none

chore: update dependencies
  packages/transport/trezor-link/trezor-link/package.json
  packages/transport/trezor-link/trezor-link/yarn.lock
Owners: none

chore: update dependencies
  package.json
  yarn.lock
Owners: none

fix: webusb reset failing on windows and ChromeOS
  packages/transport/src/lowlevel/webusb.js
Owners: none
