Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(suite): redact more fields in the log
  packages/suite/src/utils/suite/__tests__/logUtils.test.ts
  packages/suite/src/utils/suite/logUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): add missing key to accounExceptionLayout's action items
  packages/suite/src/components/wallet/AccountException/AccountNotEnabled.tsx
  packages/suite/src/components/wallet/AccountException/AccountNotLoaded.tsx
  packages/suite/src/components/wallet/AccountException/AuthFailed.tsx
  packages/suite/src/components/wallet/AccountException/DiscoveryEmpty.tsx
  packages/suite/src/components/wallet/AccountException/DiscoveryFailed.tsx
  packages/suite/src/components/wallet/AccountExceptionLayout/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! feat(desktop): add logger and module loading refactor
  packages/suite-desktop/src-electron/__tests__/http.test.ts
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/libs/modules.ts
  packages/suite-desktop/src-electron/libs/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/libs/processes/BridgeProcess.ts
Owners: @keraf, @szymonlesisz

fixup! feat(desktop): add logger and module loading refactor
  packages/suite-desktop/src-electron/__tests__/http.test.ts
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/libs/modules.ts
  packages/suite-desktop/src-electron/libs/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/libs/processes/BridgeProcess.ts
Owners: @keraf, @szymonlesisz

feat(desktop): add logger and module loading refactor
  docs/misc/desktop_logger.md
  docs/packages/suite-desktop.md
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/build.js
  packages/suite-desktop/scripts/dev.js
  packages/suite-desktop/src-electron/__tests__/logger.test.ts
  packages/suite-desktop/src-electron/app.ts
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/libs/info.ts
  packages/suite-desktop/src-electron/libs/logger.ts
  packages/suite-desktop/src-electron/libs/modules.ts
  packages/suite-desktop/src-electron/libs/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/libs/processes/BridgeProcess.ts
  packages/suite-desktop/src-electron/libs/screen.ts
  packages/suite-desktop/src-electron/libs/user-data.ts
  packages/suite-desktop/src-electron/libs/utils.ts
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src-electron/modules/bridge.ts
  packages/suite-desktop/src-electron/modules/csp.ts
  packages/suite-desktop/src-electron/modules/dev-tools.ts
  packages/suite-desktop/src-electron/modules/event-logging/app.ts
  packages/suite-desktop/src-electron/modules/event-logging/contents.ts
  packages/suite-desktop/src-electron/modules/event-logging/process.ts
  packages/suite-desktop/src-electron/modules/external-links.ts
  packages/suite-desktop/src-electron/modules/file-protocol.ts
  packages/suite-desktop/src-electron/modules/http-receiver.ts
  packages/suite-desktop/src-electron/modules/menu.ts
  packages/suite-desktop/src-electron/modules/metadata.ts
  packages/suite-desktop/src-electron/modules/request-filter.ts
  packages/suite-desktop/src-electron/modules/shortcuts.ts
  packages/suite-desktop/src-electron/modules/tor.ts
  packages/suite-desktop/src-electron/modules/window-controls.ts
  yarn.lock
Owners: @keraf, @szymonlesisz

chore: implement dummy native exports from trezor/components
  packages/components/src/components/DeviceImage/index.native.tsx
  packages/components/src/components/Dropdown/index.native.tsx
  packages/components/src/components/Icon/index.native.tsx
  packages/components/src/components/Modal/index.native.tsx
  packages/components/src/components/Scrollbar/index.native.tsx
  packages/components/src/components/Timerange/index.native.tsx
  packages/components/src/components/Tooltip/index.native.tsx
  packages/components/src/components/buttons/Pin/index.native.tsx
  packages/components/src/components/form/Checkbox/index.native.tsx
  packages/components/src/components/form/Input/index.native.tsx
  packages/components/src/components/form/Select/index.native.tsx
  packages/components/src/components/form/SelectBar/index.native.tsx
  packages/components/src/components/form/Switch/index.native.tsx
  packages/components/src/components/form/Textarea/index.native.tsx
  packages/components/src/components/loaders/FluidSpinner/index.native.tsx
  packages/components/src/components/loaders/Loader/index.native.tsx
  packages/components/src/components/logos/CoinLogo/index.native.tsx
  packages/components/src/components/logos/TrezorLogo/index.native.tsx
  packages/components/src/components/others/Box/index.native.tsx
  packages/components/src/components/others/Card/index.native.tsx
  packages/components/src/components/others/SecurityCard/index.native.tsx
  packages/components/src/components/prompts/ConfirmOnDevice/index.native.tsx
  packages/components/src/components/typography/Heading/index.native.tsx
  packages/components/src/components/typography/Link/index.native.tsx
  packages/components/src/components/typography/Paragraph/index.native.tsx
  packages/components/src/config/animations.native.tsx
  packages/components/src/config/animations.ts
  packages/components/src/index.native.ts
  packages/components/src/index.ts
  packages/components/src/support/ThemeProvider.tsx
  packages/suite-native/src/components/suite/Drawer/index.tsx
  packages/suite-native/src/components/suite/Text/index.tsx
  packages/suite-native/src/support/suite/ThemeProvider.tsx
  packages/suite-native/src/support/suite/styles.ts
  packages/suite-native/src/views/dashboard/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz

chore: native, native-components resolvers
  packages/components/src/utils/hooks.ts
  packages/suite-native/babel.config.js
  packages/suite-native/src/App.tsx
  packages/suite-native/src/actions/suite/routerActions.ts
  packages/suite-native/src/components/suite/DeviceSelector/index.tsx
  packages/suite-native/src/components/suite/Drawer/index.tsx
  packages/suite-native/src/components/suite/Layout/index.tsx
  packages/suite-native/src/components/suite/Preloader/index.tsx
  packages/suite-native/src/components/suite/Text/index.tsx
  packages/suite-native/src/components/suite/Translation/index.tsx
  packages/suite-native/src/support/suite/RouterBuilder.tsx
  packages/suite-native/src/support/suite/router.config.ts
  packages/suite-native/src/views/dashboard/index.tsx
  packages/suite-native/src/views/passwords/index.tsx
  packages/suite-native/src/views/settings/coins/index.tsx
  packages/suite-native/src/views/settings/device/index.tsx
  packages/suite-native/src/views/settings/index.tsx
  packages/suite-native/src/views/suite/backup/index.tsx
  packages/suite-native/src/views/suite/firmware/index.tsx
  packages/suite-native/src/views/suite/onboarding/components/InitialRun/index.tsx
  packages/suite-native/src/views/suite/onboarding/index.tsx
  packages/suite-native/src/views/suite/switch-device/index.tsx
  packages/suite-native/src/views/wallet/index.tsx
  packages/suite-native/src/views/wallet/receive/index.tsx
  packages/suite-native/src/views/wallet/send/index.tsx
  packages/suite-native/src/views/wallet/sign-verify/index.tsx
  packages/suite-native/tsconfig.json
  packages/suite/src/actions/suite/logActions.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat: initial theming support
  packages/components/src/components/buttons/Button/index.native.tsx
  packages/components/src/support/ThemeProvider.tsx
  packages/components/src/utils/env.ts
  packages/components/src/utils/hooks.ts
  packages/suite-native/ios/Podfile.lock
  packages/suite-native/src/App.tsx
  packages/suite-native/src/components/suite/DeviceImage/index.tsx
  packages/suite-native/src/components/suite/DeviceSelector/index.tsx
  packages/suite-native/src/components/suite/Drawer/index.tsx
  packages/suite-native/src/components/suite/Layout/index.tsx
  packages/suite-native/src/components/suite/Preloader/index.tsx
  packages/suite-native/src/components/suite/Text/index.tsx
  packages/suite-native/src/components/suite/Translation/index.tsx
  packages/suite-native/src/support/suite/ThemeProvider.tsx
  packages/suite-native/src/support/suite/styles.ts
  packages/suite-native/src/utils/suite/env.ts
  packages/suite-native/src/views/dashboard/index.tsx
  packages/suite-native/src/views/suite/backup/index.tsx
  packages/suite-native/src/views/suite/firmware/index.tsx
  packages/suite-native/src/views/suite/onboarding/components/InitialRun/index.tsx
  packages/suite-native/src/views/suite/onboarding/index.tsx
  packages/suite-native/src/views/suite/switch-device/index.tsx
  packages/suite/src/components/suite/Labeling/components/Wallet/index.tsx
  packages/suite/src/components/suite/Translation/components/BaseTranslation/index.tsx
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useTheme.ts
  packages/suite/src/support/suite/ThemeProvider.tsx
  packages/suite/src/utils/suite/theme.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: implement dummy native exports from trezor/components
  packages/components/src/components/DeviceImage/index.native.tsx
  packages/components/src/components/Dropdown/index.native.tsx
  packages/components/src/components/Icon/index.native.tsx
  packages/components/src/components/Modal/index.native.tsx
  packages/components/src/components/Scrollbar/index.native.tsx
  packages/components/src/components/Timerange/index.native.tsx
  packages/components/src/components/Tooltip/index.native.tsx
  packages/components/src/components/buttons/Pin/index.native.tsx
  packages/components/src/components/form/Checkbox/index.native.tsx
  packages/components/src/components/form/Input/index.native.tsx
  packages/components/src/components/form/Select/index.native.tsx
  packages/components/src/components/form/SelectBar/index.native.tsx
  packages/components/src/components/form/Switch/index.native.tsx
  packages/components/src/components/form/Textarea/index.native.tsx
  packages/components/src/components/loaders/FluidSpinner/index.native.tsx
  packages/components/src/components/loaders/Loader/index.native.tsx
  packages/components/src/components/logos/CoinLogo/index.native.tsx
  packages/components/src/components/logos/TrezorLogo/index.native.tsx
  packages/components/src/components/others/Box/index.native.tsx
  packages/components/src/components/others/Card/index.native.tsx
  packages/components/src/components/others/SecurityCard/index.native.tsx
  packages/components/src/components/prompts/ConfirmOnDevice/index.native.tsx
  packages/components/src/components/typography/Heading/index.native.tsx
  packages/components/src/components/typography/Link/index.native.tsx
  packages/components/src/components/typography/Paragraph/index.native.tsx
  packages/components/src/config/animations.native.tsx
  packages/components/src/config/animations.ts
  packages/components/src/index.native.ts
  packages/components/src/index.ts
  packages/components/src/support/ThemeProvider.tsx
  packages/suite-native/src/components/suite/Drawer/index.tsx
  packages/suite-native/src/components/suite/Text/index.tsx
  packages/suite-native/src/support/suite/ThemeProvider.tsx
  packages/suite-native/src/support/suite/styles.ts
  packages/suite-native/src/views/dashboard/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz

docs: update summary
  docs/SUMMARY.md
Owners: none

fix(suite): add missing key to accounExceptionLayout's action items
  packages/suite/src/components/wallet/AccountException/AccountNotEnabled.tsx
  packages/suite/src/components/wallet/AccountException/AccountNotLoaded.tsx
  packages/suite/src/components/wallet/AccountException/AuthFailed.tsx
  packages/suite/src/components/wallet/AccountException/DiscoveryEmpty.tsx
  packages/suite/src/components/wallet/AccountException/DiscoveryFailed.tsx
  packages/suite/src/components/wallet/AccountExceptionLayout/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: ethereum estimate gas limit
  packages/blockchain-link/src/types/messages.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionEthereumActions.ts
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
  packages/suite/src/utils/wallet/sendFormUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: new desktop notification panel
  packages/components/src/components/Dropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NotificationsDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/components/suite/Notifications/components/NotificationGroup/index.tsx
  packages/suite/src/components/suite/Notifications/components/NotificationList/index.tsx
  packages/suite/src/components/suite/Notifications/index.tsx
  packages/suite/src/components/suite/index.tsx
  packages/suite/src/utils/suite/notification.ts
  packages/suite/src/views/suite/notifications/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: cleanup
  packages/components/src/components/Dropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NotificationsDropdown/index.tsx
  packages/suite/src/views/suite/notifications/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: use contextLayout on mobile
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NotificationsDropdown/index.tsx
  packages/suite/src/views/suite/notifications/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(desktop): set default output path to cwd and renamed runtime flags. Docs updated accordingly.
  docs/misc/desktop_logger.md
  docs/packages/suite-desktop.md
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/app.ts
  packages/suite-desktop/src-electron/libs/logger.ts
Owners: @keraf, @szymonlesisz

chore: useCallback for onToggle event
  packages/components/src/components/Dropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NotificationsDropdown/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(desktop): set default output path to cwd and renamed runtime flags. Docs updated accordingly.
  docs/misc/desktop_logger.md
  docs/packages/suite-desktop.md
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/app.ts
  packages/suite-desktop/src-electron/libs/logger.ts
Owners: @keraf, @szymonlesisz

fix(desktop): logger default output path is now home with fallback to cwd
  docs/misc/desktop_logger.md
  docs/packages/suite-desktop.md
  packages/suite-desktop/src-electron/libs/logger.ts
Owners: @keraf, @szymonlesisz

fix(components): don't use custom scrollbars on mobile
  packages/components/src/components/Scrollbar/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix: ethereum estimate gas limit
  packages/blockchain-link/src/types/messages.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionEthereumActions.ts
  packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts
  packages/suite/src/utils/wallet/sendFormUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

design: style improvements
  packages/components/src/components/Dropdown/index.tsx
  packages/components/src/config/colors.ts
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/ActionItem/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NotificationsDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/components/suite/Notifications/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore: ActionItem as forwardRef
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/ActionItem/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NotificationsDropdown/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: action items rendering refractor
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/ActionItem/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/constants/suite/menu.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: added new Translations
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/suite/Notifications/components/NotificationGroup/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: added more Translations
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/suite/Notifications/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(components): don't use custom scrollbars on mobile
  packages/components/src/components/Scrollbar/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

chore: navigation actions refractor
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/constants/suite/menu.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

design: style improvements
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/ActionItem/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NotificationsDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/components/suite/Notifications/components/NotificationGroup/index.tsx
  packages/suite/src/components/suite/Notifications/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): forget all device instances on successful device wipe
  packages/suite/src/actions/settings/deviceSettingsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Revert "fix(suite): forget all device instances on successful device wipe"
  packages/suite/src/actions/settings/deviceSettingsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: react-native interface support
  packages/suite-desktop/src-electron/modules/analytics.ts
  packages/suite-native/src/utils/suite/env.ts
Owners: @keraf, @szymonlesisz, @slowbackspace

chore: code simplified
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/env.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: sending report only on desktop
  docs/misc/analytics.md
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: desktop OS version analytics
  docs/misc/analytics.md
  packages/suite-desktop/src-electron/libs/user-data.ts
  packages/suite-desktop/src-electron/modules/analytics.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/env.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite): forget all device instances on successful device wipe
  packages/suite/src/actions/settings/__fixtures__/deviceSettings.ts
  packages/suite/src/actions/settings/__tests__/deviceSettingsActions.test.ts
  packages/suite/src/actions/settings/deviceSettingsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: code refractored
  packages/suite/src/components/suite/Notifications/components/NotificationGroup/index.tsx
  packages/suite/src/components/suite/Notifications/index.tsx
  packages/suite/src/config/suite/settings.ts
  packages/suite/src/utils/suite/notification.ts
  packages/suite/src/views/suite/notifications/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): forget all device instances on successful device wipe
  packages/suite/src/actions/settings/__fixtures__/deviceSettings.ts
  packages/suite/src/actions/settings/__tests__/deviceSettingsActions.test.ts
  packages/suite/src/actions/settings/deviceSettingsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(components): add RN DeviceImage component, FONT_SIZE/WEIGHT vars
  packages/components/src/components/DeviceImage/index.native.tsx
  packages/components/src/components/typography/Heading/index.native.tsx
  packages/components/src/components/typography/Paragraph/index.native.tsx
  packages/components/src/config/variables.ts
  packages/components/src/index.native.ts
  packages/components/src/index.ts
  packages/suite-native/src/actions/suite/routerActions.ts
  packages/suite-native/src/components/suite/DeviceImage/index.tsx
  packages/suite-native/src/components/suite/DeviceSelector/index.tsx
  packages/suite-native/src/utils/suite/fs.ts
  packages/suite/src/utils/suite/fs.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

chore:(suite-native): dummy file export in RN, fix `@suite-support` resolver path
  packages/suite-native/babel.config.js
  packages/suite-native/src/utils/wallet/exportTransactions.ts
  packages/suite/src/actions/wallet/transactionActions.ts
Owners: @slowbackspace, @szymonlesisz, @keraf, @mroz22, @robertbrada
