Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(ci): remove unnecessary clear_cache job
  ci/environment.yml
Owners: @keraf, @mroz22

docs: #3714 write Bug/Feedback submission tech spec
  docs/specs/bug_and_feedback_submission.md
Owners: none

feat(ci): satoshilabs/devops#26 Use docker proxy for job images
  ci/environment.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-native.yml
Owners: @keraf, @mroz22

feat(ci): satoshilabs/devops#26 Use docker proxy for pulling docker images
  ci/docker/base/Dockerfile
  ci/environment.yml
  ci/packages/suite-web.yml
  docker/docker-compose.suite-ci.yml
  docker/suite/Dockerfile
  docker/test-runner/Dockerfile
Owners: @keraf, @mroz22

IDK what is this .)
  ci/docker/base/Dockerfile
Owners: @keraf, @mroz22

feat(suite): apply new color and font weight in Account Menu
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): add badge on ETH accounts indicating number of individual Tokens
  packages/components/src/components/buttons/Button/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/TokensCount.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(suite): new style for Add account button
  packages/components/src/components/buttons/Button/index.stories.tsx
  packages/components/src/components/buttons/Button/index.tsx
  packages/components/src/components/buttons/index.stories.tsx
  packages/suite/src/components/suite/AddAccountButton/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat(suite): add hover state for items in Account Menu
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): ETH tokens moved to own tab next to Overview tab
  packages/suite-desktop/pages/accounts/tokens/index.tsx
  packages/suite-web/pages/accounts/tokens/index.tsx
  packages/suite/src/components/suite/AppNavigation/index.tsx
  packages/suite/src/components/wallet/AccountTopPanel/components/AccountNavigation/index.tsx
  packages/suite/src/constants/suite/routes.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/tokens/components/NoTokens/index.tsx
  packages/suite/src/views/wallet/tokens/components/TokenList/index.tsx
  packages/suite/src/views/wallet/tokens/index.tsx
  packages/suite/src/views/wallet/transactions/components/TokenList/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix(suite): app crash on firmware update by removing revision encoding
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.28-beta.1
  packages/suite-data/files/connect/data/firmware/1/releases.json
  packages/suite-data/files/connect/data/messages/messages.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.55ab7c4f211a4c64bb84.js
  packages/suite-data/files/connect/js/iframe.664c5205a28f4e8ed645.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: TS changes related to trezor-connect update
  packages/rollout/setupJest.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/views/backup/index.tsx
  packages/suite/src/views/settings/device/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

debug: dump compose config
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

docs: #3714 write Bug/Feedback submission tech spec (#3764)
  docs/specs/bug_and_feedback_submission.md
Owners: none

fix(suite): edit settings layout
  packages/suite/src/components/settings/SettingsLayout/index.tsx
  packages/suite/src/components/settings/SettingsMenu/index.tsx
  packages/suite/src/components/suite/Settings/components/TextColumn.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(ci): gitlab dependency proxy for docker
  ci/docker/base/Dockerfile
  ci/environment.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-native.yml
  ci/packages/suite-web.yml
  docker/docker-compose.suite-ci.yml
  docker/suite/Dockerfile
  docker/test-runner/Dockerfile
Owners: @keraf, @mroz22

fix(invity): Pending buy - double transaction ID
  packages/suite/src/views/wallet/coinmarket/buy/detail/Detail/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/PaymentFailed/index.tsx
  packages/suite/src/views/wallet/coinmarket/buy/detail/components/WaitingForUser/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(ci): remove unnecessary clear_cache job
  ci/environment.yml
Owners: @keraf, @mroz22

feat(ci): gitlab dependency proxy for docker
  ci/docker/base/Dockerfile
  ci/environment.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-native.yml
  ci/packages/suite-web.yml
  docker/docker-compose.suite-ci.yml
  docker/suite/Dockerfile
  docker/test-runner/Dockerfile
Owners: @keraf, @mroz22

feat(suite): btn to dump reducer's data from debug settings
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/views/settings/debug/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.28-beta.1
  packages/suite-data/files/connect/data/firmware/1/releases.json
  packages/suite-data/files/connect/data/messages/messages.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.55ab7c4f211a4c64bb84.js
  packages/suite-data/files/connect/js/iframe.664c5205a28f4e8ed645.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: TS changes related to trezor-connect update
  packages/rollout/setupJest.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/reducers/suite/deviceReducer.ts
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/views/backup/index.tsx
  packages/suite/src/views/settings/device/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(suite): app crash on firmware update by removing revision encoding
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): always use getBlockbookSafeTime for tx.blocktime in order to fetch historical fiat rates
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/utils/suite/date.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): slow down coingecko requests
  packages/suite/src/middlewares/wallet/fiatRatesMiddleware.ts
  packages/suite/src/services/coingecko.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): refetch missing historical rates for txs
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/middlewares/wallet/fiatRatesMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs(fiatRates): add overview for fiat rates
  docs/SUMMARY.md
  docs/misc/fiat_rates.md
Owners: none

feat(fwUpdate): wait for reboot instead of instructiong to unplug for BL >= 1.10.0
  packages/suite/src/actions/firmware/firmwareActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs(fiatRates): add overview for fiat rates
  docs/SUMMARY.md
  docs/misc/fiat_rates.md
Owners: none

fix(suite): slow down coingecko requests
  packages/suite/src/middlewares/wallet/fiatRatesMiddleware.ts
  packages/suite/src/services/coingecko.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): refetch missing historical rates for txs
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/middlewares/wallet/fiatRatesMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): always use getBlockbookSafeTime for tx.blocktime in order to fetch historical fiat rates
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/utils/suite/date.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: incorrect device features unlocked type
  packages/suite/src/reducers/suite/deviceReducer.ts
  patches/trezor-connect+8.1.28-beta.1.patch
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(navigation): Updated Settings menu and Tor
  packages/components/src/components/Dropdown/index.stories.tsx
  packages/components/src/components/Dropdown/index.tsx
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/colors.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/app.svg
  packages/components/src/images/icons/arrow_right_long.svg
  packages/components/src/images/icons/coin.svg
  packages/components/src/images/icons/device.svg
  packages/components/src/images/icons/lightbulb.svg
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/switching-providers.test.ts
  packages/suite/package.json
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/ActionItem/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NotificationsDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/SettingsDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/TooltipContentTor/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/TorDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/RangeSelector/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22, @szymonlesisz

feat(navigation): Updated Settings menu and Tor
  packages/components/src/components/Dropdown/index.stories.tsx
  packages/components/src/components/Dropdown/index.tsx
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/colors.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/app.svg
  packages/components/src/images/icons/arrow_right_long.svg
  packages/components/src/images/icons/coin.svg
  packages/components/src/images/icons/device.svg
  packages/components/src/images/icons/lightbulb.svg
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-api-errors.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/switching-providers.test.ts
  packages/suite/package.json
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/ActionItem/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NotificationsDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/SettingsDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/TooltipContentTor/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/TorDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/RangeSelector/index.tsx
  packages/suite/src/support/messages.ts
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22, @szymonlesisz

fix: forget all devices on app reset
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(sentry): lower sampling rate
  packages/suite/src/config/suite/sentry.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(sentry): lower sampling rate
  packages/suite/src/config/suite/sentry.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): update of btc-only fw to btc-only fw
  packages/suite/src/actions/firmware/constants/firmware.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
  packages/suite/src/reducers/firmware/firmwareReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
