Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(e2e): fix dev port
  docker/docker-compose.suite-test.yml
  docs/tests/e2e-web.md
Owners: @mroz22

chore(docs): msg-system updated according to QA questions; fixed links
  docs/misc/message_system.md
Owners: none

chore(docs): msg-system updated according to QA questions; fixed links
  docs/misc/message_system.md
Owners: none

fix(suite): remove beta tag && align floating button
  packages/suite/src/components/guide/GuideButton.tsx
  packages/suite/src/components/suite/BetaBadge/index.tsx
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/suite/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): btc-only fw update in onboarding; btc-only tag in fw modals
  packages/suite/src/components/firmware/NoNewFirmware.tsx
  packages/suite/src/components/firmware/OnboardingInitial.tsx
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(invity): Update Trezor Suite Payment Methods
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(deps): bump connect to 8.1.28-beta.2
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.dba7e902ccb782dacc5b.js
  packages/suite/package.json
  patches/trezor-connect+8.1.28-beta.1.patch
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(deps): bump connect to 8.1.28-beta.2
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.dba7e902ccb782dacc5b.js
  packages/suite/package.json
  patches/trezor-connect+8.1.28-beta.1.patch
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(docker): remove unused docker file pointing to unexisting files
  docker/docker-suite-dev.sh
Owners: @mroz22

feat(invity): Update Trezor Suite Payment Methods
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): btc-only fw update in onboarding; btc-only tag in fw modals
  packages/suite/src/components/firmware/NoNewFirmware.tsx
  packages/suite/src/components/firmware/OnboardingInitial.tsx
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(invity): Update Trezor Suite Payment Methods
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): btc-only fw update in onboarding; btc-only tag in fw modals
  packages/suite/src/components/firmware/NoNewFirmware.tsx
  packages/suite/src/components/firmware/OnboardingInitial.tsx
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(components): TrezorLogo dark mode adjustments
  packages/components/src/components/logos/TrezorLogo/index.stories.tsx
  packages/components/src/components/logos/TrezorLogo/index.tsx
  packages/components/src/components/logos/index.stories.tsx
  packages/components/src/images/trezor_logo_suite.svg
Owners: @keraf, @slowbackspace, @robertbrada

fix(ci) test without gh auth and use env variable
  ci/releases.yml
Owners: @keraf, @mroz22

chore(ttm): cleaner output for find-unused-message cmd
  packages/translations-manager/src/index.ts
Owners: @slowbackspace

fix(components): TrezorLogo dark mode adjustments
  packages/components/src/components/logos/TrezorLogo/index.stories.tsx
  packages/components/src/components/logos/TrezorLogo/index.tsx
  packages/components/src/components/logos/index.stories.tsx
  packages/components/src/images/trezor_logo_suite.svg
Owners: @keraf, @slowbackspace, @robertbrada

chore(ttm): cleaner output for find-unused-message cmd
  packages/translations-manager/src/index.ts
Owners: @slowbackspace

fix(components): remove redunant prop from RadioButton component
  packages/components/src/components/form/RadioButton/index.stories.tsx
  packages/components/src/components/form/RadioButton/index.tsx
  packages/components/src/components/form/index.stories.tsx
  packages/integration-tests/projects/suite-web/tests/settings/safety-checks.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/safety-checks-warning.test.ts
  packages/suite/src/components/suite/modals/SafetyChecks/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @mroz22, @szymonlesisz

fix(ci) remove gh cli from base image and use variable for release job
  ci/docker/base/Dockerfile
  ci/releases.yml
Owners: @keraf, @mroz22

fix(onboarding): fix failing desktop builds
  packages/suite-desktop/pages/onboarding/index.tsx
  packages/suite-desktop/pages/recovery/index.tsx
Owners: @keraf, @szymonlesisz

fix(onboarding): fix failing desktop builds
  packages/suite-desktop/pages/onboarding/index.tsx
  packages/suite-desktop/pages/recovery/index.tsx
Owners: @keraf, @szymonlesisz
