Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(fw-update): error code of null workaround. relates #2659
  packages/suite/src/actions/firmware/firmwareActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: trezor suite compact logo added
  packages/components/src/components/logos/TrezorLogo/index.stories.tsx
  packages/components/src/components/logos/TrezorLogo/logos.ts
  packages/components/src/components/logos/index.stories.tsx
  packages/components/src/images/trezor_logo_suite_compact.svg
  packages/components/src/support/types/index.ts
Owners: @keraf, @slowbackspace, @robertbrada

feat: Trezor Suite desktop - custom navbar - ability to maxize and unmaximize (restore) the window
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src/components/DesktopTitlebar/index.tsx
  packages/suite/global.d.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: Trezor Suite desktop - custom navbar
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/window_close.svg
  packages/components/src/images/icons/window_maximize.svg
  packages/components/src/images/icons/window_minimize.svg
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/pages/_document.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src/components/DesktopNavbar/index.tsx
  packages/suite/global.d.ts
  packages/suite/src/utils/suite/env.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat: window restore icon added
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/window_restore.svg
Owners: @keraf, @slowbackspace, @robertbrada

fix: Trezor Suite desktop - custom titlebar - typings
  packages/suite/global.d.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: Trezor Suite desktop - custom titlebar - load the component statically
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src/components/DesktopTitlebar/index.tsx
Owners: @keraf, @szymonlesisz

fix: Trezor Suite desktop - custom titlebar - Linux resize handles does not work on title bar
  packages/suite-desktop/pages/_app.tsx
Owners: @keraf, @szymonlesisz

fix: improve naming: navbar -> titlebar
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src/components/DesktopTitlebar/index.tsx
Owners: @keraf, @szymonlesisz

fix: Trezor Suite desktop - custom titlebar - init the window maximize/restore icon with the correct state
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
Owners: @keraf, @szymonlesisz

fix: Trezor Suite desktop - custom titlebar - SSR prop change issue
  packages/suite-desktop/src/components/DesktopTitlebar/index.tsx
  packages/suite/src/utils/suite/env.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: Trezor Suite desktop - custom titlebar - PR fixes
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @szymonlesisz

fix: disable electron remote module
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix: Trezor Suite desktop - custom titlebar - reflect move window event in the maximize icon
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix(docs): fix link in SUMMARY.md
  docs/SUMMARY.md
Owners: none

fix: NoSSR wrapper for custom desktop navbar instead of in-component check
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @szymonlesisz

fix: padding in quote
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/Quote/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: font in offers header
  packages/suite/src/views/wallet/coinmarket/buy/offers/Offers/List/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: adjust buy form padding
  packages/suite/src/views/wallet/coinmarket/buy/components/BuyForm/Footer/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite-desktop): add custom title bar (#2548)
  packages/components/src/components/Icon/icons.ts
  packages/components/src/components/logos/TrezorLogo/index.stories.tsx
  packages/components/src/components/logos/TrezorLogo/logos.ts
  packages/components/src/components/logos/index.stories.tsx
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/window_close.svg
  packages/components/src/images/icons/window_maximize.svg
  packages/components/src/images/icons/window_minimize.svg
  packages/components/src/images/icons/window_restore.svg
  packages/components/src/images/trezor_logo_suite_compact.svg
  packages/components/src/support/types/index.ts
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/pages/_document.tsx
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
  packages/suite/global.d.ts
  packages/suite/src/utils/suite/env.ts
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

feat: show "no results" msg if there is no account match for given search input
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor: move coin filter state to redux
  packages/suite/src/actions/wallet/accountSearchActions.ts
  packages/suite/src/actions/wallet/constants/accountSearch.ts
  packages/suite/src/actions/wallet/constants/index.ts
  packages/suite/src/components/suite/SuiteLayout/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
  packages/suite/src/hooks/suite/useAccountSearch.ts
  packages/suite/src/reducers/wallet/accountSearchReducer.ts
  packages/suite/src/reducers/wallet/index.ts
  packages/suite/src/types/wallet/index.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/views/dashboard/components/AssetsCard/components/Asset/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: adjust margins to better match the design
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: add changes to Unreleased part of cahngelog
  CHANGELOG.md
Owners: none

feat: don't show coin filter if only one coin is enabled
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor: move searchString to redux, reset when needed
  packages/suite/src/actions/wallet/accountSearchActions.ts
  packages/suite/src/actions/wallet/constants/accountSearch.ts
  packages/suite/src/components/suite/modals/AddAccount/components/AddAccountButton.tsx
  packages/suite/src/components/wallet/AccountsMenu/components/AccountSearchBox/index.tsx
  packages/suite/src/components/wallet/AccountsMenu/index.tsx
  packages/suite/src/hooks/suite/useAccountSearch.ts
  packages/suite/src/reducers/wallet/accountSearchReducer.ts
  packages/suite/src/views/dashboard/components/AssetsCard/components/Asset/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor: review fixes
  packages/suite/src/actions/wallet/accountSearchActions.ts
  packages/suite/src/utils/wallet/accountUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite-desktop): custom titlebar
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @szymonlesisz

feat: show devive status as animated text
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/components/DeviceStatus/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/DeviceSelector/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): graphs design touch-up
  packages/suite/package.json
  packages/suite/src/components/suite/TransactionsGraph/components/CustomBar/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipAccount/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipDashboard/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: comparing asset symbols in lowercase
  packages/suite/src/components/suite/FiatValue/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: changed component name for better clarity
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountRow/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite-desktop): custom titlebar
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src/support/DesktopTitlebar.tsx
Owners: @keraf, @szymonlesisz

design: new way of displaying changelog
  packages/suite/src/components/firmware/Initial.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-web-landing): fix iOS CSS gradients w/ transparent color
  packages/suite-web-landing/components/Feature/index.tsx
  packages/suite-web-landing/package.json
  yarn.lock
Owners: none

fix: type-checks, rebase modifications
  packages/suite/src/components/firmware/Initial.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): graphs design touch-up
  packages/suite/package.json
  packages/suite/src/components/suite/TransactionsGraph/components/CustomBar/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipAccount/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipDashboard/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/index.tsx
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: dynamically loading password strenght indicator
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: fix huge values overflowing in token list
  packages/suite/src/components/suite/FormattedCryptoAmount/index.tsx
  packages/suite/src/views/wallet/transactions/components/TokenList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(discreet): discreet effect cut out in accounts menu due to hidden overflow
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
