Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

feat: add onion locations to suite-web and suite-web-landing
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web/pages/_document.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada

fix(suite-desktop): fix bundling of bridge binaries
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/bridge.ts
Owners: @keraf, @szymonlesisz

feat: add onion locations to suite-web and suite-web-landing (#2716)
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web/pages/_document.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada

fix(suite-desktop): fix bundling of bridge binaries (#2709)
  packages/suite-desktop/package.json
  packages/suite-desktop/src-electron/bridge.ts
Owners: @keraf, @szymonlesisz

update: new strings
  packages/suite-data/files/translations/en.json
Owners: @keraf

update: new strings
  packages/suite-data/files/translations/en.json
Owners: @keraf

update: intl messages
  packages/suite-data/files/translations/en.json
Owners: @keraf

chore: remove crazy timeout from yarn install
  ci/install-and-build.yml
Owners: @keraf, @mroz22

test
  ci/install-and-build.yml
Owners: @keraf, @mroz22

feat(suite-desktop): add devtool extensions
  docs/packages/suite-desktop.md
  packages/suite-desktop/.gitignore
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/extensions.js
  packages/suite-desktop/src-electron/electron.ts
  yarn.lock
Owners: @keraf, @szymonlesisz

ci(suite-desktop): output latest*.yml at the end of the build [skip ci]
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

fix(suite-desktop): we don't really support 32-bit versions of Linux and Windows [skip ci]
  packages/suite-desktop/src-electron/bridge.ts
Owners: @keraf, @szymonlesisz

fix(suite-desktop): don't try to bundle 32-bit bridges [skip ci]
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

ci: prebuild scripts need 'install and build'
  ci/prebuild.yml
Owners: @keraf, @mroz22

style: fix onion address style
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web/pages/_document.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada

feat(metadata): local sync
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/metadata.ts
  packages/suite-desktop/src-electron/preload.ts
  packages/suite-native/src/services/metadata/GoogleProvider.ts
  packages/suite-native/src/services/metadata/UserDataProvider.ts
  packages/suite/global.d.ts
  packages/suite/src/actions/suite/__tests__/metadataActions.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/components/suite/modals/metadata/MetadataProvider/index.tsx
  packages/suite/src/config/suite/features.ts
  packages/suite/src/services/metadata/DropboxProvider.ts
  packages/suite/src/services/metadata/GoogleProvider.ts
  packages/suite/src/services/metadata/UserDataProvider.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/suite/metadata.ts
  packages/suite/src/views/settings/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix: do not remove zero if it is the only digit in semver chunk
  packages/suite/src/utils/suite/__tests__/build.test.ts
  packages/suite/src/utils/suite/build.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): fiatRatesActions.initRates moved to middleware
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/actions/wallet/constants/blockchainConstants.ts
  packages/suite/src/middlewares/wallet/fiatRatesMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(suite): add walletMiddleware tests
  packages/suite/src/middlewares/wallet/__fixtures__/walletMiddleware.ts
  packages/suite/src/middlewares/wallet/__tests__/walletMiddleware.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): add blockchainActions unsubscribe method
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): create blockchainActions.setCustomBackend method
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): blockchainActions.onNotification remove double fetch account
  packages/suite/src/actions/wallet/blockchainActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(suite): use mocked connect in walletMiddlewate test
  packages/suite/src/middlewares/wallet/__tests__/walletMiddleware.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(suite): increase blockchainActions coverage
  packages/suite/src/actions/wallet/__fixtures__/blockchainActions.ts
  packages/suite/src/actions/wallet/__tests__/blockchainActions.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(suite): create common TrezorConnect mock in setupJest
  packages/suite/src/support/tests/setupJest.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): blockchainActions rename onDisconnect action
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/middlewares/wallet/blockchainMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): do not update fiatRates if backend is disconnected
  packages/suite/src/actions/wallet/fiatRatesActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: optimize nested modals height to prevent overflow
  packages/suite/src/components/suite/PinInput/index.tsx
  packages/suite/src/components/suite/WordInput/index.tsx
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkSelect.tsx
  packages/suite/src/components/suite/modals/Pin/index.tsx
  packages/suite/src/components/suite/modals/Word/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: add missing link to trezor support
  packages/suite/src/support/messages.ts
  packages/suite/src/views/onboarding/steps/Pair/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update icons and add background to dmg installer
  packages/suite-data/files/images/icons/512x512.icns
  packages/suite-data/files/images/icons/512x512.png
  packages/suite-data/files/images/icons/background.tiff
  packages/suite-desktop/package.json
Owners: @keraf, @szymonlesisz

fix: do not remove zero if it is the only digit in semver chunk
  packages/suite/src/utils/suite/__tests__/build.test.ts
  packages/suite/src/utils/suite/build.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): blockchainActions rename onDisconnect action
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/middlewares/wallet/blockchainMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): blockchainActions.onNotification remove double fetch account
  packages/suite/src/actions/wallet/blockchainActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(suite): increase blockchainActions coverage
  packages/suite/src/actions/wallet/__fixtures__/blockchainActions.ts
  packages/suite/src/actions/wallet/__tests__/blockchainActions.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): create blockchainActions.setCustomBackend method
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/middlewares/wallet/walletMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(suite): use mocked connect in walletMiddlewate test
  packages/suite/src/middlewares/wallet/__tests__/walletMiddleware.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(suite): add walletMiddleware tests
  packages/suite/src/middlewares/wallet/__fixtures__/walletMiddleware.ts
  packages/suite/src/middlewares/wallet/__tests__/walletMiddleware.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): do not update fiatRates if backend is disconnected
  packages/suite/src/actions/wallet/fiatRatesActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(suite): create common TrezorConnect mock in setupJest
  packages/suite/src/support/tests/setupJest.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite): fiatRatesActions.initRates moved to middleware
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/actions/wallet/constants/blockchainConstants.ts
  packages/suite/src/middlewares/wallet/fiatRatesMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
