Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

docs: clean up e2e readme and add instructions for Linux
  docs/tests/e2e-web.md
Owners: none

fix(tor): kill tor process on app close
  packages/suite-desktop/src-electron/modules/tor.ts
Owners: @keraf, @szymonlesisz

fix(tor): kill tor process on app close
  packages/suite-desktop/src-electron/modules/tor.ts
Owners: @keraf, @szymonlesisz

fix(suite): formatting of token amount in transaction confirm dialog
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(onboarding): add webusb pairing option after device is restarted after fw instalation
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/firmware/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): formatting of token amount in transaction confirm dialog
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(onboarding): add webusb pairing option after device is restarted after fw instalation
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/firmware/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

chore(all): bump versions to 21.4.1 [RELEASE ONLY]
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

chore(all): bump versions to 21.5.0
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

chore(all): update versions in Changelog
  CHANGELOG.md
Owners: none

feat(suite-desktop): add renderer crash recovery system
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/modules/crash-recover.ts
  packages/suite-desktop/src-electron/modules/event-logging/contents.ts
Owners: @keraf, @szymonlesisz

chore: update changelog
  CHANGELOG.md
Owners: none

chore: update changelog
  CHANGELOG.md
Owners: none

tests(suite): maintanance and cleanup
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-create-wallet.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-create-wallet.test.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(suite): Create grid for assets
  packages/suite/src/views/dashboard/components/AssetsCard/components/AssetGrid/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/components/AssetTable/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

tests(suite): lint magic fix for CI
  packages/suite/src/views/settings/device/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): Refactoring assets grid
  packages/suite/src/views/dashboard/components/AssetsCard/components/AssetGrid/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/components/AssetTable/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): exchange crypto switch of fee level does not update amount
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): exchange crypto switch of fee level does not update amount
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(Suit) fix grid color, import useTheme
  packages/suite/src/views/dashboard/components/AssetsCard/components/AssetGrid/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): exchange crypto switch of fee level does not update amount
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suit) Asset cleancode
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: components overflow in browser
  packages/suite/src/components/wallet/AccountTopPanel/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: components overflow in browser
  packages/suite/src/components/wallet/AccountTopPanel/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suit) use memo
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(account-navigation): UI improvements
  packages/suite/src/components/settings/SettingsMenu/index.tsx
  packages/suite/src/components/suite/AppNavigation/index.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/OutputElement.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/OutputList.tsx
  packages/suite/src/views/wallet/details/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(send): redirect to overview after successful transaction
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.tsx
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(send): redirect to overview after successful transaction
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.tsx
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(account-navigation): UI improvements
  packages/suite/src/components/settings/SettingsMenu/index.tsx
  packages/suite/src/components/suite/AppNavigation/index.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/OutputElement.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/OutputList.tsx
  packages/suite/src/views/wallet/details/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(account-navigation): UI improvements
  packages/suite/src/components/settings/SettingsMenu/index.tsx
  packages/suite/src/components/suite/AppNavigation/index.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/OutputElement.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/OutputList.tsx
  packages/suite/src/views/wallet/details/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(send): redirect to overview after successful transaction
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.tsx
  packages/suite/src/hooks/wallet/useSendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs: Improve e2e docs
  docs/tests/e2e-web.md
Owners: none

chore: #3616 Bump gosu version
  docker/suite/Dockerfile
  docker/test-runner/Dockerfile
Owners: @mroz22

feat(suite): Create grid for assets
  packages/suite/src/views/dashboard/components/AssetsCard/components/AssetGrid/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/components/AssetTable/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): Refactoring assets grid
  packages/suite/src/views/dashboard/components/AssetsCard/components/AssetGrid/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/components/AssetTable/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update babel dependencies
  package.json
  packages/blockchain-link/package.json
  packages/components/package.json
  packages/suite-native/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat: print firmware version in settings
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs: Improve e2e docs
  docs/tests/e2e-web.md
Owners: none

chore: #3616 Bump gosu version
  docker/suite/Dockerfile
  docker/test-runner/Dockerfile
Owners: @mroz22
