Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix(fw-update): remove unneeded optional chaining operators. prevent short period of blank screen after when device is rebooting
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/firmware/OnboardingInitial.tsx
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(fw-update): retry after error in fw update in onboarding
  packages/integration-tests/projects/suite-web/tests/onboarding/firmware-update.test.ts
  packages/suite/src/actions/firmware/__fixtures__/firmwareActions.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/components/firmware/Button.tsx
  packages/suite/src/components/firmware/Error.tsx
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/firmware/OnboardingInitial.tsx
  packages/suite/src/components/firmware/ReconnectInBootloader.tsx
  packages/suite/src/reducers/firmware/firmwareReducer.ts
  packages/suite/src/utils/firmware/index.ts
  packages/suite/src/views/firmware/index.tsx
  packages/suite/src/views/onboarding/steps/Firmware/Container.ts
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(fw-update): error code of null workaround. relates #2659
  packages/suite/src/actions/firmware/firmwareActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(fw-update): remove unneeded optional chaining operators. prevent short period of blank screen after when device is rebooting
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/firmware/OnboardingInitial.tsx
  packages/suite/src/views/onboarding/steps/Firmware/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(fw-update): fix case of reconnecting model T with pin on, #2650
  packages/suite/src/actions/firmware/firmwareActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(fw-update): make checkbox text clickable, fix #2627
  packages/suite/src/components/firmware/CheckSeed.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: await async dispatch calls
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/actions/recovery/recoveryActions.ts
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/actions/wallet/blockchainActions.ts
  packages/suite/src/actions/wallet/sendFormActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: remove duplicate switch-device/eject declaration
  packages/suite/src/actions/suite/analyticsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: mark redundant type checks
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/actions/wallet/selectedAccountActions.ts
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/hooks/wallet/useSendFormFields.ts
  packages/suite/src/services/metadata/DropboxProvider.ts
  packages/suite/src/support/suite/Router.tsx
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/utils/suite/mergeObj.ts
  packages/suite/src/utils/suite/router.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/utils/wallet/fiatConverterUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: make json files strictly compliant
  packages/suite-desktop/src-electron/tsconfig.json
  packages/suite-native/tsconfig.json
  packages/suite/.stylelintrc
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

feat(metadata): advanced input (WIP)
  CHANGELOG.md
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-account-metadata.test.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(suite-web-landing): fix iOS CSS gradients w/ transparent color
  packages/suite-web-landing/components/Feature/index.tsx
  packages/suite-web-landing/package.json
  yarn.lock
Owners: none

fix: remove duplicate switch-device/eject declaration
  packages/suite/src/actions/suite/analyticsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: make json files strictly compliant
  packages/suite-desktop/src-electron/tsconfig.json
  packages/suite-native/tsconfig.json
  packages/suite/.stylelintrc
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

chore: use l10n message for window titles
  packages/suite/src/components/wallet/CoinmarketLayout/index.tsx
  packages/suite/src/views/wallet/details/index.tsx
  packages/suite/src/views/wallet/receive/index.tsx
  packages/suite/src/views/wallet/send/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(discreet): discreet effect cut out in accounts menu due to hidden overflow
  packages/suite/src/components/wallet/AccountsMenu/components/AccountItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: fix huge values overflowing in token list
  packages/suite/src/components/suite/FormattedCryptoAmount/index.tsx
  packages/suite/src/views/wallet/transactions/components/TokenList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: applied word-break to modal heading
  packages/components/src/components/Modal/index.tsx
  packages/suite/src/components/suite/modals/confirm/Xpub/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

ci(suite-desktop): remove workaround for darwin runners [skip ci]
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

fix(dropbox): fix metadata files location for scoped app
  packages/suite/src/services/metadata/DropboxProvider.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: removed double check for the same value
  packages/suite/src/components/firmware/Initial.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): don't reset edited value of output label when moving mouse out of the box, fix #2636
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(metadata): don't display success after switching to another account
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-account-metadata.test.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

feat(metadata): show pending/success status also with output labels
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-account-metadata.test.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

refactor(suite-support): Resize handler without Container + fixed debouncing
  packages/suite-desktop/pages/_app.tsx
  packages/suite-web/pages/_app.tsx
  packages/suite/src/support/suite/Resize.tsx
  packages/suite/src/support/suite/Resize/Container.ts
  packages/suite/src/support/suite/Resize/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix: wrong word-break used
  packages/components/src/components/Modal/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix: import only relevant modules from 'react-use' lib
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/support/suite/Resize.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): useSelector hook memoized
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useSelector.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite-support): use hooks instead of redux-connect
  packages/suite-desktop/src/support/BridgeStatus.ts
  packages/suite/src/support/suite/ConnectedIntlProvider.tsx
  packages/suite/src/support/suite/ErrorBoundary.tsx
  packages/suite/src/support/suite/OnlineStatus.tsx
  packages/suite/src/support/suite/Resize.tsx
  packages/suite/src/support/suite/Router.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: remove unused dependencies
  packages/suite/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: applied word-break to modal heading
  packages/components/src/components/Modal/index.tsx
  packages/suite/src/components/suite/modals/confirm/Xpub/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: wrong word-break used
  packages/components/src/components/Modal/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

feat(metadata): show pending/success status also with output labels
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-account-metadata.test.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(metadata): don't reset edited value of output label when moving mouse out of the box, fix #2636
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(metadata): advanced input (WIP)
  CHANGELOG.md
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-account-metadata.test.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/withEditable.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(metadata): don't display success after switching to another account
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-account-metadata.test.ts
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

design: using componetns from the same package
  packages/suite/src/views/onboarding/steps/ResetDevice/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: import only relevant modules from 'react-use' lib
  packages/suite/src/hooks/wallet/useCoinmarket.ts
  packages/suite/src/support/suite/Resize.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(suite-support): Resize handler without Container + fixed debouncing
  packages/suite-desktop/pages/_app.tsx
  packages/suite-web/pages/_app.tsx
  packages/suite/src/support/suite/Resize.tsx
  packages/suite/src/support/suite/Resize/Container.ts
  packages/suite/src/support/suite/Resize/index.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix(suite): useSelector hook memoized
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useSelector.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
