Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fixup! fix(suite-desktop): auto restarting option for processes
  packages/suite-desktop/src-electron/processes/BaseProcess.ts
Owners: @keraf, @szymonlesisz

fix(suite-desktop): fix hanging bridge spinner and display recommendation on bridge updating for desktop users
  packages/suite/src/support/messages.ts
  packages/suite/src/views/suite/bridge/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(ci): introduce release commit messages check (#2899)
  ci/packages/suite-misc.yml
  ci/scripts/check_release_commit_messages.sh
Owners: @keraf, @mroz22

fixup! chore(ci): optimize
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

chore(ci): optimize
  .gitlab-ci.yml
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
  ci/packages/suite.yml
  ci/schedules.yml
Owners: @keraf, @mroz22

fixup! fix(copy): mistype on fw update screen and missing translation added
  packages/suite/src/components/firmware/ReconnectInNormal.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(copy): mistype on fw update screen and missing translation added
  packages/suite/src/components/firmware/ReconnectInNormal.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite-data): add bridge 2.0.30 binaries
  packages/suite-data/files/connect/data/bridge/latest.txt
  packages/suite-data/files/connect/data/bridge/releases.json
Owners: @keraf

chore(suite-data): add bridge 2.0.30 binaries (#2925)
  packages/suite-data/files/connect/data/bridge/latest.txt
  packages/suite-data/files/connect/data/bridge/releases.json
Owners: @keraf

chore(ci): optimize (#2893)
  .gitlab-ci.yml
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-web-landing.yml
  ci/packages/suite-web.yml
  ci/packages/suite.yml
  ci/schedules.yml
Owners: @keraf, @mroz22

feat(ci): introduce yaml linter
  .yamllint.yml
  ci/environment.yml
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/rollout.yml
  ci/packages/suite-web.yml
  ci/prebuild.yml
  ci/schedules.yml
  docker/docker-compose.suite-base.yml
  docker/docker-compose.suite-dev.yml
  docker/docker-compose.suite-test.yml
  shell.nix
Owners: @keraf, @mroz22

Introduce linter for YAML files (#2927)
  .yamllint.yml
  ci/environment.yml
  ci/packages/components.yml
  ci/packages/landing-page.yml
  ci/packages/rollout.yml
  ci/packages/suite-web.yml
  ci/prebuild.yml
  ci/schedules.yml
  docker/docker-compose.suite-base.yml
  docker/docker-compose.suite-dev.yml
  docker/docker-compose.suite-test.yml
  shell.nix
Owners: @keraf, @mroz22

chore(update): various minor dev patch deps
  packages/blockchain-link/package.json
  packages/components/package.json
  packages/integration-tests/package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
  packages/translations-manager/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @slowbackspace, @robertbrada, @mroz22

fix(suite-desktop): remove link warning for links when not using Tor
  packages/suite-desktop/src-electron/config.ts
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix(tor): put onion-location meta tag behind feature flag
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web/pages/_document.tsx
  packages/suite/src/config/suite/features.ts
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada, @szymonlesisz

chore: trezor-connect 8.1.18
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.8771e344f4978ab26faa.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(update): various minor dev patch deps
  packages/blockchain-link/package.json
  packages/components/package.json
  packages/integration-tests/package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
  packages/translations-manager/package.json
  yarn.lock
Owners: @szymonlesisz, @keraf, @slowbackspace, @robertbrada, @mroz22

fix(tor): put onion-location meta tag behind feature flag
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web/pages/_document.tsx
  packages/suite/src/config/suite/features.ts
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada, @szymonlesisz

chore(suite-data): add bridge 2.0.30 binaries (#2925)
  packages/suite-data/files/connect/data/bridge/latest.txt
  packages/suite-data/files/connect/data/bridge/releases.json
Owners: @keraf

chore: trezor-connect 8.1.18
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.8771e344f4978ab26faa.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: trezor-connect 8.1.18
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.8771e344f4978ab26faa.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite): enable onion-location meta tag
  packages/suite/src/config/suite/features.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): enable onion-location meta tag
  packages/suite/src/config/suite/features.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): remove link warning for links when not using Tor
  packages/suite-desktop/src-electron/config.ts
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

fix(suite-desktop): remove link warning for links when not using Tor
  packages/suite-desktop/src-electron/config.ts
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

feat(analytics): is tor enabled on suite start?
  docs/misc/analytics.md
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/__fixtures__/analytics.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): is tor enabled on suite start?
  docs/misc/analytics.md
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/__fixtures__/analytics.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(analytics): is tor enabled on suite start?
  docs/misc/analytics.md
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/__fixtures__/analytics.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update styled components, minor version
  packages/components/package.json
  packages/suite-desktop/package.json
  packages/suite-web/package.json
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

tests(e2e): skip flaky
  packages/integration-tests/projects/suite-web/tests/settings/t1-device-settings.test.ts
Owners: @mroz22

chore: update styled components, minor version
  packages/components/package.json
  packages/suite-desktop/package.json
  packages/suite-web/package.json
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix(ci): enforce 2 spaces in YAML files
  .gitlab-ci.yml
  .yamllint.yml
  ci/environment.yml
  ci/install-and-build.yml
  ci/packages/rollout.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-native.yml
  ci/packages/suite.yml
  ci/prebuild.yml
  ci/schedules.yml
Owners: @keraf, @mroz22

Enforce 2 spaces in YAML files (#2941)
  .gitlab-ci.yml
  .yamllint.yml
  ci/environment.yml
  ci/install-and-build.yml
  ci/packages/rollout.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-native.yml
  ci/packages/suite.yml
  ci/prebuild.yml
  ci/schedules.yml
Owners: @keraf, @mroz22

fix(send): handle selected account change (utxo, balance)
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormCompose.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): calculate pending balance before received notification
  packages/suite/src/actions/wallet/accountActions.ts
  packages/suite/src/actions/wallet/selectedAccountActions.ts
  packages/suite/src/actions/wallet/sendFormActions.ts
  packages/suite/src/utils/wallet/accountUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(send): add sign-push tx tests with pending account balance/utxo calculation
  packages/suite/src/hooks/wallet/__fixtures__/useSendForm.ts
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.tsx
  packages/suite/src/support/tests/hooksHelper.tsx
  packages/suite/src/support/tests/setupJest.ts
  packages/suite/src/views/wallet/send/components/ReviewButton/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): select last used device after STORAGE.LOADED
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: hidden wallet number
  CHANGELOG.md
  packages/integration-tests/projects/suite-web/tests/backup/t2-misc.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-duplicate.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase-disabled.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/remembering-devices.test.ts
  packages/suite/src/actions/suite/__fixtures__/suiteActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/suite/Labeling/components/Wallet/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/AddWalletButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/Container.tsx
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/components/suite/modals/PassphraseDuplicate/index.tsx
  packages/suite/src/reducers/suite/deviceReducer.ts
  packages/suite/src/storage/CHANGELOG.md
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/__fixtures__/device.ts
  packages/suite/src/utils/suite/__tests__/device.test.ts
  packages/suite/src/utils/suite/device.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix: hidden wallet number
  CHANGELOG.md
  packages/integration-tests/projects/suite-web/tests/backup/t2-misc.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/dropbox-wallet-metadata.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-duplicate.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passhprase-numbering.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase-disabled.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/remembering-devices.test.ts
  packages/suite/src/actions/suite/__fixtures__/suiteActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/suite/Labeling/components/Wallet/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/AddWalletButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/Container.tsx
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/components/suite/modals/PassphraseDuplicate/index.tsx
  packages/suite/src/reducers/suite/deviceReducer.ts
  packages/suite/src/storage/CHANGELOG.md
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
  packages/suite/src/types/suite/index.ts
  packages/suite/src/utils/suite/__fixtures__/device.ts
  packages/suite/src/utils/suite/__tests__/device.test.ts
  packages/suite/src/utils/suite/device.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(suite-desktop): save window dimension on window close
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/store.ts
Owners: @keraf, @szymonlesisz
