Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fixup! fixup! static components (WIP)
  packages/suite/src/components/onboarding/Box/Box.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(onboarding): add useOnboarding hook
  packages/suite/src/hooks/suite/index.ts
  packages/suite/src/hooks/suite/useOnboarding.ts
  packages/suite/src/views/onboarding/steps/Welcome/DataAnalytics.tsx
  packages/suite/src/views/onboarding/steps/Welcome/PreOnboardingSetup.tsx
  packages/suite/src/views/onboarding/steps/Welcome/SecurityCheck.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): verify origin for incoming HTTP requests
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/modules/event-logging/contents.ts
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web/pages/_document.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix(suite): switchDuplicatedDevice race condition
  packages/suite/src/actions/suite/suiteActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(sentry): return event in beforeSend hook
  packages/suite/src/config/suite/sentry.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(all): bump versions to 21.3.2 [RELEASE ONLY]
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

feat(bridge): update Bridge to 2.0.31
  packages/suite-data/files/bin/bridge/linux-arm64/trezord
  packages/suite-data/files/bin/bridge/linux-x64/trezord
  packages/suite-data/files/bin/bridge/mac-x64/trezord
  packages/suite-data/files/bin/bridge/win-x64/trezord.exe
Owners: @keraf

feat(suite): Range selector improvements
  CHANGELOG.md
  packages/components/package.json
  packages/components/src/components/Timerange/index.stories.tsx
  packages/components/src/components/Timerange/index.style.tsx
  packages/components/src/components/Timerange/index.tsx
  packages/components/src/components/Timerange/react-datepicker.style.ts
  packages/components/src/components/Timerange/types.d.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada

ci(docker): update node version from 12 to 14
  ci/docker/base/Dockerfile
  docker/suite/Dockerfile
  packages/integration-tests/projects/components-storybook/Dockerfile
Owners: @keraf, @mroz22

fix(send): check network features while toggling options
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormFields.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(ci): exit on yarn install fail
  ci/scripts/check_lockfile.sh
Owners: @keraf, @mroz22

ci: update gitlab image
  .gitlab-ci.yml
Owners: none

fix(ci): exit on yarn install fail
  ci/scripts/check_lockfile.sh
Owners: @keraf, @mroz22

tests(suite): test cleanup continues
  packages/integration-tests/projects/suite-web/snapshots/settings/t1-device-settings.test.ts/Device settings -- t1 - pin mismatch.snap.png
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-create-wallet.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-create-wallet.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t1-device-settings.test.ts
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
  packages/suite/src/components/suite/PinInput/index.tsx
  packages/suite/src/views/onboarding/steps/ResetDevice/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

tests(suite): lint magic II
  docker/docker-compose.suite-test.yml
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-create-wallet.test.ts
  packages/suite/src/components/suite/PinInput/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

refactor(invity): compose/sign transaction in exchange and spend crypto
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/coinmarket/__fixtures__/coinmarketCommonActions/compose.ts
  packages/suite/src/actions/wallet/coinmarket/__fixtures__/coinmarketCommonActions/signTransaction.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/__snapshots__/coinmarketTransactionBitcoinActions.test.ts.snap
  packages/suite/src/actions/wallet/coinmarket/__tests__/__snapshots__/coinmarketTransactionEthereumActions.test.ts.snap
  packages/suite/src/actions/wallet/coinmarket/__tests__/__snapshots__/coinmarketTransactionRippleActions.test.ts.snap
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketCommonActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionBitcoinActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionEthereumActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionRippleActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketCommonActions.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionBitcoinActions.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionEthereumActions.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionRippleActions.ts
  packages/suite/src/actions/wallet/constants/coinmarketCommonConstants.ts
  packages/suite/src/components/suite/modals/CoinmarketReviewTransaction/components/Detail.tsx
  packages/suite/src/components/suite/modals/CoinmarketReviewTransaction/components/Output.tsx
  packages/suite/src/components/suite/modals/CoinmarketReviewTransaction/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeOffers.ts
  packages/suite/src/hooks/wallet/useCoinmarketSpend.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/types/wallet/coinmarketExchangeForm.ts
  packages/suite/src/types/wallet/coinmarketSpend.ts
  packages/suite/src/utils/wallet/coinmarket/coinmarketUtils.ts
  packages/suite/src/utils/wallet/coinmarket/exchangeUtils.ts
  packages/suite/src/utils/wallet/exchangeFormUtils.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Footer/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/FiatSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/SendCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(mac): desktop icon updated
  CHANGELOG.md
  packages/suite-data/files/images/icons/512x512.icns
  packages/suite-data/files/images/icons/512x512.png
Owners: @keraf

fix(suite): discreet mode added to wallet modal + graph hover tooltip
  CHANGELOG.md
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send-dialogue): missing delivery time for DGB + improved styles
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: P2PKH was misspelled as P2PHK in a handful of areas
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkInternal.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/views/wallet/details/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send-dialogue): missing delivery time for DGB + improved styles
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: P2PKH was misspelled as P2PHK in a handful of areas
  packages/suite/src/components/suite/modals/AddAccount/components/NetworkInternal.tsx
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/views/wallet/details/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(mac): desktop icon updated
  CHANGELOG.md
  packages/suite-data/files/images/icons/512x512.icns
  packages/suite-data/files/images/icons/512x512.png
Owners: @keraf

fix(suite): discreet mode added to wallet modal + graph hover tooltip
  CHANGELOG.md
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(send): check network features while toggling options
  packages/suite/src/hooks/wallet/useSendForm.ts
  packages/suite/src/hooks/wallet/useSendFormFields.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): Range selector improvements
  CHANGELOG.md
  packages/components/package.json
  packages/components/src/components/Timerange/index.stories.tsx
  packages/components/src/components/Timerange/index.style.tsx
  packages/components/src/components/Timerange/index.tsx
  packages/components/src/components/Timerange/react-datepicker.style.ts
  packages/components/src/components/Timerange/types.d.ts
  yarn.lock
Owners: @keraf, @slowbackspace, @robertbrada

feat: enable and use p2wpkh aka bech32 as default for litecoin aka ltc. closes #3399
  packages/suite-data/files/translations/en.json
  packages/suite/src/config/wallet/networks.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/validation.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

refactor(invity): compose/sign transaction in exchange and spend crypto
  packages/suite/src/actions/suite/modalActions.ts
  packages/suite/src/actions/wallet/coinmarket/__fixtures__/coinmarketCommonActions/compose.ts
  packages/suite/src/actions/wallet/coinmarket/__fixtures__/coinmarketCommonActions/signTransaction.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/__snapshots__/coinmarketTransactionBitcoinActions.test.ts.snap
  packages/suite/src/actions/wallet/coinmarket/__tests__/__snapshots__/coinmarketTransactionEthereumActions.test.ts.snap
  packages/suite/src/actions/wallet/coinmarket/__tests__/__snapshots__/coinmarketTransactionRippleActions.test.ts.snap
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketCommonActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionBitcoinActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionEthereumActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/__tests__/coinmarketTransactionRippleActions.test.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketCommonActions.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionBitcoinActions.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionEthereumActions.ts
  packages/suite/src/actions/wallet/coinmarket/coinmarketTransactionRippleActions.ts
  packages/suite/src/actions/wallet/constants/coinmarketCommonConstants.ts
  packages/suite/src/components/suite/modals/CoinmarketReviewTransaction/components/Detail.tsx
  packages/suite/src/components/suite/modals/CoinmarketReviewTransaction/components/Output.tsx
  packages/suite/src/components/suite/modals/CoinmarketReviewTransaction/index.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/hooks/wallet/form/useFees.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/hooks/wallet/useCoinmarketExchangeOffers.ts
  packages/suite/src/hooks/wallet/useCoinmarketSpend.ts
  packages/suite/src/reducers/wallet/coinmarketReducer.ts
  packages/suite/src/types/wallet/coinmarketExchangeForm.ts
  packages/suite/src/types/wallet/coinmarketSpend.ts
  packages/suite/src/utils/wallet/coinmarket/coinmarketUtils.ts
  packages/suite/src/utils/wallet/coinmarket/exchangeUtils.ts
  packages/suite/src/utils/wallet/exchangeFormUtils.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Fees/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Footer/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/FiatSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/FiatInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/ReceiveCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/SendCryptoSelect/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): try to gracefully break long account labels when labelling is enabled
  CHANGELOG.md
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): try to gracefully break long account labels when labelling is enabled
  CHANGELOG.md
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Summary.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(labeling): incorrectly shortened labels in Firefox
  CHANGELOG.md
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(labeling): incorrectly shortened labels in Firefox
  CHANGELOG.md
  packages/suite/src/components/suite/Labeling/components/Metadata/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update patch for app-builder
  patches/app-builder-lib+22.10.5.patch
Owners: none

chore: ltc bech32 accounts migration
  packages/suite/src/storage/CHANGELOG.md
  packages/suite/src/storage/index.ts
  packages/suite/src/storage/migrations/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: enable and use p2wpkh aka bech32 as default for litecoin aka ltc. closes #3399
  packages/suite-data/files/translations/en.json
  packages/suite/src/config/wallet/networks.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/validation.ts
  packages/suite/src/views/wallet/receive/components/FreshAddress/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(translations): Support for auth using Crowdin login + account API key
  packages/suite/l10n.config.json
  packages/translations-manager/src/cli.ts
  packages/translations-manager/src/services/crowdin/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update patch for app-builder
  patches/app-builder-lib+22.10.5.patch
Owners: none

fix(translations): Support for auth using Crowdin login + account API key
  packages/suite/l10n.config.json
  packages/translations-manager/src/cli.ts
  packages/translations-manager/src/services/crowdin/index.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

docs: add docs for l10n process
  docs/SUMMARY.md
  docs/misc/localization.md
Owners: none

fix(invity): exchange - amount is too low error persistent #3579
  packages/suite/src/hooks/wallet/useCoinmarketExchangeForm.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
