Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @vdovhanych, @mroz22, @Nodonisko, @tomasklim, @marekrjpolak, @szymonlesisz, @jvaclavik, @adamhavel, @martykan, @karliatto, @trezor/suite-mobile, @matejkriz, @komret, @MiroslavProchazka, @tsusanka

fix(ipc-proxy): typo election -> electron
  packages/ipc-proxy/src/__tests__/mockedElectron.ts
  packages/ipc-proxy/src/__tests__/validateIpcMessage.test.ts
  packages/ipc-proxy/src/proxy-handler.ts
  packages/ipc-proxy/src/validateIpcMessage.ts
  packages/suite-desktop-core/src/hang-detect.ts
Owners: none

chore(suite): don't run second process with autostart
  packages/suite-desktop-core/src/app.ts
  packages/suite-desktop-core/src/modules/bridge.ts
  packages/suite-desktop-core/src/modules/index.ts
  packages/suite-desktop-core/src/modules/window-controls.ts
Owners: none

chore(suite-desktop-core): main window proxy for new window instances
  packages/suite-desktop-core/src/app.ts
  packages/suite-desktop-core/src/hang-detect.ts
  packages/suite-desktop-core/src/libs/app-utils.ts
  packages/suite-desktop-core/src/libs/main-window-proxy.ts
  packages/suite-desktop-core/src/modules/auto-updater.ts
  packages/suite-desktop-core/src/modules/coinjoin.ts
  packages/suite-desktop-core/src/modules/crash-recover.ts
  packages/suite-desktop-core/src/modules/custom-protocols.ts
  packages/suite-desktop-core/src/modules/dev-tools.ts
  packages/suite-desktop-core/src/modules/event-logging/contents.ts
  packages/suite-desktop-core/src/modules/event-logging/process.ts
  packages/suite-desktop-core/src/modules/external-links.ts
  packages/suite-desktop-core/src/modules/file-protocol.ts
  packages/suite-desktop-core/src/modules/http-receiver.ts
  packages/suite-desktop-core/src/modules/index.ts
  packages/suite-desktop-core/src/modules/menu.ts
  packages/suite-desktop-core/src/modules/request-interceptor.ts
  packages/suite-desktop-core/src/modules/shortcuts.ts
  packages/suite-desktop-core/src/modules/tor.ts
  packages/suite-desktop-core/src/modules/window-controls.ts
Owners: none

feat(staking): change in a nutshell modal
  packages/components/src/components/NewModal/NewModal.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/StakeEthInANutshellModal.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/StakeEthInANutshellModal/InfoRow.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/StakeEthInANutshellModal/Process.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/StakeEthInANutshellModal/StakeEthInANutshellModal.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/StakeEthInANutshellModal/StakingInfo.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/StakeEthInANutshellModal/UnstakingInfo.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/support/messages.ts
Owners: @jvaclavik, @adamhavel, @MiroslavProchazka

fix(connect): prevent mutating of descriptor objects
  packages/transport/src/transports/abstractApi.ts
Owners: @mroz22

feat: mobile BLE transport
  packages/transport-native-ble/package.json
  packages/transport-native-ble/src/api/bleApi.ts
  packages/transport-native-ble/src/api/nativeBleManager.ts
  packages/transport-native-ble/src/index.ts
  packages/transport-native-ble/src/nativeTransportBLE.ts
  packages/transport-native-ble/tsconfig.json
Owners: none

feat(mobile): implement BLE in mobile app
  suite-native/app/app.config.ts
  suite-native/app/package.json
  suite-native/bluetooth/package.json
  suite-native/bluetooth/src/components/BluetoothAdapterStateManager.tsx
  suite-native/bluetooth/src/components/BluetoothPermissionError.tsx
  suite-native/bluetooth/src/components/DevicesScanner.tsx
  suite-native/bluetooth/src/components/ScannedDeviceItem.tsx
  suite-native/bluetooth/src/hooks/useBluetoothAdapterState.ts
  suite-native/bluetooth/src/hooks/useBluetoothPermissions.ts
  suite-native/bluetooth/src/index.ts
  suite-native/bluetooth/tsconfig.json
  suite-native/discovery/src/discoveryConfigSlice.ts
  suite-native/module-authorize-device/package.json
  suite-native/module-authorize-device/src/components/connect/ConnectDeviceScreenView.tsx
  suite-native/module-authorize-device/src/screens/connect/ConnectAndUnlockDeviceScreen.tsx
  suite-native/state/package.json
  suite-native/state/src/extraDependencies.ts
  yarn.lock
Owners: @trezor/suite-mobile

feat: feature flag to turn BT in mobile app
  suite-native/app/.env.debug
  suite-native/app/.env.develop
  suite-native/app/.env.production
  suite-native/app/app.config.ts
  suite-native/bluetooth/package.json
  suite-native/bluetooth/src/featureFlag.ts
  suite-native/bluetooth/src/index.ts
  suite-native/module-authorize-device/src/screens/connect/ConnectAndUnlockDeviceScreen.tsx
  suite-native/module-dev-utils/package.json
  suite-native/module-dev-utils/src/components/BluetoothToggle.tsx
  suite-native/module-dev-utils/src/screens/DevUtilsScreen.tsx
  suite-native/state/package.json
  suite-native/state/src/extraDependencies.ts
  yarn.lock
Owners: @trezor/suite-mobile

fixup! feat: mobile BLE transport
  packages/transport-native-ble/src/api/nativeBleManager.ts
Owners: none

fixup! feat: mobile BLE transport
  packages/transport-native-ble/src/api/bleApi.ts
  suite-native/bluetooth/src/featureFlag.ts
Owners: @trezor/suite-mobile

fixup! feat: mobile BLE transport
  packages/transport-native-ble/src/api/bleApi.ts
  packages/transport-native-ble/src/api/nativeBleManager.ts
Owners: none

fixup! feat(mobile): implement BLE in mobile app
  suite-native/discovery/src/discoveryConfigSlice.ts
  suite-native/receive/src/components/DeviceScreenContent.tsx
Owners: @trezor/suite-mobile

fixup! feat: mobile BLE transport
  packages/transport-native-ble/src/api/bleApi.ts
  packages/transport-native-ble/src/api/nativeBleManager.ts
  packages/transport-native-ble/src/index.ts
  packages/transport-native-ble/src/logs.ts
  suite-native/app/eas.json
  suite-native/bluetooth/src/components/BluetoothAdapterStateManager.tsx
  suite-native/bluetooth/src/components/DevicesScanner.tsx
  suite-native/bluetooth/src/components/ScannedDeviceItem.tsx
  suite-native/bluetooth/src/hooks/useBluetoothAdapterState.ts
  suite-native/bluetooth/src/hooks/useBluetoothState.ts
  suite-native/module-dev-utils/package.json
  suite-native/module-dev-utils/src/screens/DevUtilsScreen.tsx
  yarn.lock
Owners: @trezor/suite-mobile

chore(suite-native): bump app version to 24.9.2
  suite-native/app/package.json
Owners: @trezor/suite-mobile

fix(suite): break line wallet title
  packages/components/src/components/buttons/Button/Button.tsx
  packages/suite/src/components/suite/labeling/MetadataLabeling/MetadataLabeling.tsx
Owners: @jvaclavik, @adamhavel

chore(ci): run android e2e tests also on change in workflow
  .github/workflows/test-suite-native-e2e-android.yml
Owners: @vdovhanych

feat(connect): push tx permission
  packages/connect-popup/src/view/permissions.ts
  packages/connect/src/api/composeTransaction.ts
  packages/connect/src/api/pushTransaction.ts
  packages/connect/src/api/signTransaction.ts
  packages/connect/src/core/AbstractMethod.ts
  packages/connect/src/events/ui-request.ts
Owners: @mroz22, @szymonlesisz, @martykan

chore: fix some paths
  packages/transport-native-ble/package.json
  suite-native/app/package.json
  suite-native/atoms/src/DiscreetText/DiscreetCanvas.tsx
  suite-native/bluetooth/package.json
  suite-native/receive/src/components/DeviceScreenContent.tsx
  yarn.lock
Owners: @trezor/suite-mobile

docs(suite-native): tips for building on Linux
  suite-native/app/README.md
Owners: @trezor/suite-mobile

docs(suite-native): tips for building on Linux
  suite-native/app/README.md
Owners: @trezor/suite-mobile

chore(suite-native): bump app version to 24.9.2
  suite-native/app/package.json
Owners: @trezor/suite-mobile

test(trezor-user-env-link): share common mnemonics in e2e tests
  packages/connect-popup/e2e/tests/analytics.test.ts
  packages/connect-popup/e2e/tests/passphrase.test.ts
  packages/connect-popup/e2e/tests/popup-close-legacy.test.ts
  packages/connect-popup/e2e/tests/popup-close.test.ts
  packages/connect-popup/e2e/tests/popup-pages.test.ts
  packages/connect-popup/e2e/tests/webextension-example.test.ts
  packages/connect/e2e/common.setup.ts
  packages/suite-desktop-core/e2e/tests/general/wallet-discovery.test.ts
  packages/suite-desktop-core/e2e/tests/settings/electrum.test.ts
  packages/suite-web/e2e/tests/analytics/events.test.ts
  packages/suite-web/e2e/tests/backup/t2t1-success.test.ts
  packages/suite-web/e2e/tests/dashboard/assets.test.ts
  packages/suite-web/e2e/tests/dashboard/dashboard.test.ts
  packages/suite-web/e2e/tests/metadata/account-metadata.test.ts
  packages/suite-web/e2e/tests/metadata/address-metadata.test.ts
  packages/suite-web/e2e/tests/metadata/dropbox-api-errors.test.ts
  packages/suite-web/e2e/tests/metadata/google-api-errors.test.ts
  packages/suite-web/e2e/tests/metadata/interval-fetching.test.ts
  packages/suite-web/e2e/tests/metadata/metadata-lifecycle.test.ts
  packages/suite-web/e2e/tests/metadata/output-labeling.test.ts
  packages/suite-web/e2e/tests/metadata/remembered-device.test.ts
  packages/suite-web/e2e/tests/metadata/switching-providers.test.ts
  packages/suite-web/e2e/tests/metadata/wallet-metadata.test.ts
  packages/suite-web/e2e/tests/recovery/t2t1-dry-run-persistence.test.ts
  packages/suite-web/e2e/tests/suite/bug-report-form.test.ts
  packages/suite-web/e2e/tests/suite/database-migration.test.ts
  packages/suite-web/e2e/tests/suite/passphrase-cancel.test.ts
  packages/suite-web/e2e/tests/suite/passphrase-cardano.test.ts
  packages/suite-web/e2e/tests/suite/passphrase-input.test.ts
  packages/suite-web/e2e/tests/suite/passphrase.test.ts
  packages/suite-web/e2e/tests/suite/tooltip.test.ts
  packages/suite-web/e2e/tests/wallet/coin-balance.test.ts
  packages/suite-web/e2e/tests/wallet/custom-blockbook-discovery.test.ts
  packages/suite-web/e2e/tests/wallet/overview-and-transactions.test.ts
  packages/suite-web/e2e/tests/wallet/pending-transactions.test.ts
  packages/suite-web/e2e/tests/wallet/send-form-regtest.test.ts
  packages/suite-web/e2e/tests/wallet/sign-and-verify-eth.test.ts
  packages/suite-web/e2e/tests/wallet/sign-and-verify.test.ts
  packages/trezor-user-env-link/src/api.ts
Owners: @mroz22, @szymonlesisz, @martykan

chore: make it work again after rebase
  packages/connect/src/device/Device.ts
  packages/transport-native-ble/src/api/bleApi.ts
  packages/transport-native-ble/src/api/nativeBleManager.ts
  packages/transport/src/transports/abstractApi.ts
  suite-native/bluetooth/package.json
  suite-native/bluetooth/src/components/ScannedDeviceItem.tsx
  suite-native/device/src/hooks/useDetectDeviceError.tsx
  suite-native/module-dev-utils/src/screens/DevUtilsScreen.tsx
  yarn.lock
Owners: @mroz22, @szymonlesisz, @martykan, @trezor/suite-mobile

fix(ci): install all dependencies to fix it on CI
  .github/workflows/test-suite-native-e2e-android.yml
Owners: @vdovhanych

test(transport-test): add a test case for listen
  packages/transport-test/e2e/bridge/bridge-listen.test.ts
Owners: none

fix(transport-bridge): resolve listen immediately if bridge descriptors differ
  packages/transport-bridge/src/http.ts
  packages/transport-bridge/tests/http.test.ts
Owners: none

feat(staking): change in a nutshell modal
  packages/components/src/components/NewModal/NewModal.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/StakeEthInANutshellModal.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/StakeEthInANutshellModal/InfoRow.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/StakeEthInANutshellModal/Process.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/StakeEthInANutshellModal/StakeEthInANutshellModal.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/StakeEthInANutshellModal/StakingInfo.tsx
  packages/suite/src/components/suite/modals/ReduxModal/UserContextModal/StakeEthInANutshellModal/UnstakingInfo.tsx
  packages/suite/src/components/suite/modals/index.tsx
  packages/suite/src/support/messages.ts
Owners: @jvaclavik, @adamhavel, @MiroslavProchazka

fix(transport-bridge): resolve listen immediately if bridge descriptors differ
  packages/transport-bridge/src/http.ts
  packages/transport-bridge/tests/http.test.ts
Owners: none

test(transport-test): add a test case for listen
  packages/transport-test/e2e/bridge/bridge-listen.test.ts
Owners: none

chore(ci): run android e2e tests also on change in workflow
  .github/workflows/test-suite-native-e2e-android.yml
Owners: @vdovhanych

fix(ci): install all dependencies to fix it on CI
  .github/workflows/test-suite-native-e2e-android.yml
Owners: @vdovhanych

fix(connect): auto-acquire device after it was released elsewhere
  packages/connect/src/device/Device.ts
  packages/connect/src/device/DeviceList.ts
Owners: @mroz22, @szymonlesisz, @martykan

test(trezor-user-env-link): share common mnemonics in e2e tests
  packages/connect-popup/e2e/tests/analytics.test.ts
  packages/connect-popup/e2e/tests/passphrase.test.ts
  packages/connect-popup/e2e/tests/popup-close-legacy.test.ts
  packages/connect-popup/e2e/tests/popup-close.test.ts
  packages/connect-popup/e2e/tests/popup-pages.test.ts
  packages/connect-popup/e2e/tests/webextension-example.test.ts
  packages/connect/e2e/common.setup.ts
  packages/suite-desktop-core/e2e/tests/general/wallet-discovery.test.ts
  packages/suite-desktop-core/e2e/tests/settings/electrum.test.ts
  packages/suite-web/e2e/tests/analytics/events.test.ts
  packages/suite-web/e2e/tests/backup/t2t1-success.test.ts
  packages/suite-web/e2e/tests/dashboard/assets.test.ts
  packages/suite-web/e2e/tests/dashboard/dashboard.test.ts
  packages/suite-web/e2e/tests/metadata/account-metadata.test.ts
  packages/suite-web/e2e/tests/metadata/address-metadata.test.ts
  packages/suite-web/e2e/tests/metadata/dropbox-api-errors.test.ts
  packages/suite-web/e2e/tests/metadata/google-api-errors.test.ts
  packages/suite-web/e2e/tests/metadata/interval-fetching.test.ts
  packages/suite-web/e2e/tests/metadata/metadata-lifecycle.test.ts
  packages/suite-web/e2e/tests/metadata/output-labeling.test.ts
  packages/suite-web/e2e/tests/metadata/remembered-device.test.ts
  packages/suite-web/e2e/tests/metadata/switching-providers.test.ts
  packages/suite-web/e2e/tests/metadata/wallet-metadata.test.ts
  packages/suite-web/e2e/tests/recovery/t2t1-dry-run-persistence.test.ts
  packages/suite-web/e2e/tests/suite/bug-report-form.test.ts
  packages/suite-web/e2e/tests/suite/database-migration.test.ts
  packages/suite-web/e2e/tests/suite/passphrase-cancel.test.ts
  packages/suite-web/e2e/tests/suite/passphrase-cardano.test.ts
  packages/suite-web/e2e/tests/suite/passphrase-input.test.ts
  packages/suite-web/e2e/tests/suite/passphrase.test.ts
  packages/suite-web/e2e/tests/suite/tooltip.test.ts
  packages/suite-web/e2e/tests/wallet/coin-balance.test.ts
  packages/suite-web/e2e/tests/wallet/custom-blockbook-discovery.test.ts
  packages/suite-web/e2e/tests/wallet/overview-and-transactions.test.ts
  packages/suite-web/e2e/tests/wallet/pending-transactions.test.ts
  packages/suite-web/e2e/tests/wallet/send-form-regtest.test.ts
  packages/suite-web/e2e/tests/wallet/sign-and-verify-eth.test.ts
  packages/suite-web/e2e/tests/wallet/sign-and-verify.test.ts
  packages/trezor-user-env-link/src/api.ts
Owners: @mroz22, @szymonlesisz, @martykan

chore(connect): cleanup some duplicities in fw download util
  packages/connect/src/api/checkFirmwareAuthenticity.ts
  packages/connect/src/api/firmware/getBinary.ts
  packages/connect/src/api/firmware/getBinaryForFirmwareUpgrade.ts
Owners: @mroz22, @szymonlesisz, @martykan

chore(suite): refactor usages of deprecated getNetworkCompatible
  packages/suite/src/actions/wallet/cardanoStakingActions.ts
  packages/suite/src/components/wallet/WalletLayout/AccountTopPanel/AccountNavigation.tsx
  packages/suite/src/views/dashboard/PortfolioCard/PortfolioCardException.tsx
  packages/suite/src/views/wallet/transactions/components/NoTransactions.tsx
  suite-common/formatters/src/formatters/NetworkNameFormatter.ts
  suite-common/wallet-core/src/blockchain/blockchainReducer.ts
  suite-common/wallet-core/src/blockchain/blockchainThunks.ts
  suite-common/wallet-core/src/send/sendFormEthereumThunks.ts
  suite-common/wallet-core/src/send/sendFormThunks.ts
  suite-native/accounts/src/utils.ts
  suite-native/blockchain/package.json
  suite-native/blockchain/src/blockchainThunks.ts
  suite-native/blockchain/tsconfig.json
  yarn.lock
Owners: @trezor/suite-mobile

fix(suite): Refactor EVM banners
  packages/components/src/components/Badge/Badge.stories.tsx
  packages/components/src/components/Badge/Badge.tsx
  packages/suite/src/components/wallet/WalletLayout/AccountBanners/BannerPoints.tsx
  packages/suite/src/components/wallet/WalletLayout/AccountBanners/CloseableBanner.tsx
  packages/suite/src/components/wallet/WalletLayout/AccountBanners/EvmExplanationBanner.tsx
  packages/suite/src/views/dashboard/DashboardPassphraseBanner.tsx
Owners: @jvaclavik, @adamhavel

chore(connect): update device authenticity config
  packages/connect/src/data/deviceAuthenticityConfig.ts
Owners: @tsusanka

chore(wallet-config): normalizeNetworkAccounts helper
  suite-common/wallet-config/src/types.ts
  suite-common/wallet-config/src/utils.ts
Owners: none

chore(suite-native): use new Networks structure
  suite-common/wallet-config/src/utils.ts
  suite-common/wallet-core/src/discovery/discoveryThunks.ts
  suite-native/config/src/supportedNetworks.ts
  suite-native/discovery/src/discoveryThunks.ts
  suite-native/discovery/src/utils.ts
  suite-native/module-add-accounts/src/hooks/useAddCoinAccount.ts
Owners: @trezor/suite-mobile

fixup! chore(suite-native): use new Networks structure
  suite-common/wallet-core/src/discovery/discoveryThunks.ts
  suite-native/discovery/src/discoveryThunks.ts
  suite-native/discovery/src/utils.ts
  suite-native/module-add-accounts/src/hooks/useAddCoinAccount.ts
Owners: @trezor/suite-mobile

CODEOWNERS:

/.github/workflows @vdovhanych

/docker @vdovhanych @mroz22

/scripts @Nodonisko

/packages/analytics @tomasklim

/packages/blockchain-link @mroz22 @marekrjpolak

/packages/blockchain-link-utils @marekrjpolak

/packages/blockchain-link-types @marekrjpolak

/packages/coinjoin @marekrjpolak @szymonlesisz

/packages/components @jvaclavik @adamhavel

/packages/connect @mroz22 @szymonlesisz @martykan

/packages/connect-common @mroz22 @szymonlesisz @martykan

/packages/connect-examples @mroz22 @szymonlesisz @martykan

/packages/connect-explorer @mroz22 @szymonlesisz @martykan

/packages/connect-iframe @mroz22 @szymonlesisz @martykan

/packages/connect-plugin-ethereum @mroz22 @szymonlesisz @martykan

/packages/connect-plugin-stellar @mroz22 @szymonlesisz @martykan

/packages/connect-popup @mroz22 @szymonlesisz @martykan

/packages/connect-web @mroz22 @szymonlesisz @martykan

/packages/connect-webextension @mroz22 @karliatto @martykan

/packages/icons @trezor/suite-mobile

/suite-common/message-system @tomasklim @matejkriz

/suite-common/token-definitions @tomasklim

/packages/suite-analytics @tomasklim

/packages/suite-build @komret

/packages/suite-data @komret

/packages/suite-desktop @komret

/packages/suite-desktop-ui @komret

/packages/suite-desktop-api @szymonlesisz @marekrjpolak

/suite-native @trezor/suite-mobile

/packages/suite-storage @matejkriz

/packages/transport @mroz22

/packages/transport-native @trezor/suite-mobile @Nodonisko

/packages/theme @Nodonisko @jvaclavik @adamhavel

/packages/urls @marekrjpolak

/packages/utils @karliatto

/packages/node-utils @karliatto

/packages/utxo-lib @szymonlesisz

/packages/styles @Nodonisko @jvaclavik @adamhavel

/packages/suite/src/support/messages.ts @MiroslavProchazka

/suite-common/graph @trezor/suite-mobile @Nodonisko

/packages/connect/src/data/deviceAuthenticityConfig.ts @tsusanka

/packages/schema-utils @martykan

/packages/connect-explorer-theme @martykan
