Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix: use greater z-index than one in NavigationBar
  packages/suite/src/components/wallet/DiscoveryProgress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(onboarding): set pin related fixes
  packages/integration-tests/projects/suite-web/run_tests.js
  packages/integration-tests/projects/suite-web/tests/onboarding/create-wallet-t1.test.ts
  packages/suite/src/components/suite/PinInput/index.tsx
  packages/suite/src/components/suite/modals/PinMismatch/index.tsx
  packages/suite/src/views/onboarding/steps/Pin/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(onboarding): fix back button in create or recover step, add e2e tests
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/hologram.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/steps-order.test.ts
  packages/suite/src/components/onboarding/Buttons/ButtonBack.tsx
  packages/suite/src/views/onboarding/steps/CreateOrRecover/Container.ts
  packages/suite/src/views/onboarding/steps/CreateOrRecover/index.tsx
  packages/suite/src/views/onboarding/steps/Hologram/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(onboarding): options does not push away '< back button'
  packages/suite/src/components/onboarding/Option/index.tsx
  packages/suite/src/components/onboarding/Wrapper/OptionsWrapper.tsx
  packages/suite/src/components/recovery/SelectRecoveryType.tsx
  packages/suite/src/components/recovery/SelectWordCount.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

Fix icons, revert eslintignore
  .eslintignore
  packages/components/src/components/Icon/icons.ts
Owners: @keraf, @slowbackspace, @robertbrada

Revert .prettierignore
  .eslintignore
  .prettierignore
Owners: none

Fix icons.ts
  packages/components/src/components/Icon/icons.ts
Owners: @keraf, @slowbackspace, @robertbrada

fix: layout fix for more fee options
  packages/suite/src/views/wallet/send/components/Fees/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(settings): change backup failed state
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/de.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/ru.json
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: hide firmware notification if there is backup notification
  packages/suite/src/components/suite/Notifications/NoBackup.tsx
  packages/suite/src/components/suite/Notifications/UpdateFirmware.tsx
  packages/suite/src/components/suite/Notifications/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(settings): change backup failed state
  packages/suite-data/files/translations/cs.json
  packages/suite-data/files/translations/de.json
  packages/suite-data/files/translations/en.json
  packages/suite-data/files/translations/es.json
  packages/suite-data/files/translations/fr.json
  packages/suite-data/files/translations/ru.json
  packages/suite/src/support/messages.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: hide firmware notification if there is backup notification
  packages/suite/src/components/suite/Notifications/NoBackup.tsx
  packages/suite/src/components/suite/Notifications/UpdateFirmware.tsx
  packages/suite/src/components/suite/Notifications/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(graf): deactivate discreet feature in graph tooltip
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(routes): remove unused constants
  packages/suite/src/constants/suite/routes.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(routes): rename /settings/wallet -> /settings/coins. resolve #1970
  packages/integration-tests/projects/suite-web/tests/wallet/discovery.test.ts
  packages/suite-desktop/pages/settings/coins/index.tsx
  packages/suite-desktop/pages/settings/wallet/index.tsx
  packages/suite-native/src/support/suite/router.config.ts
  packages/suite-native/src/views/dashboard/index.tsx
  packages/suite-native/src/views/settings/coins/index.tsx
  packages/suite-web/pages/settings/coins/index.tsx
  packages/suite-web/pages/settings/wallet/index.tsx
  packages/suite/src/components/settings/SettingsMenu/index.tsx
  packages/suite/src/components/wallet/AccountException/DiscoveryEmpty.tsx
  packages/suite/src/constants/suite/routes.ts
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Exception/index.tsx
  packages/suite/src/views/settings/coins/Container.ts
  packages/suite/src/views/settings/coins/components/Coin/index.tsx
  packages/suite/src/views/settings/coins/components/CoinsGroup/index.tsx
  packages/suite/src/views/settings/coins/index.tsx
Owners: @mroz22, @keraf, @szymonlesisz, @slowbackspace, @robertbrada

chore(rollout): don't use cross-fetch as node-fetch suffices
  packages/rollout/package.json
  packages/rollout/src/utils/fetch.ts
  yarn.lock
Owners: @mroz22

fix: font update, distorted layout fix
  packages/landing-page/components/Layout/index.tsx
  packages/landing-page/components/StartLayout/index.tsx
  packages/suite-data/files/images/landing/hero.svg
Owners: @keraf, @robertbrada

feat: update design of context notification
  packages/components/src/components/buttons/Button/index.tsx
  packages/suite/src/components/suite/NotificationCard/index.tsx
  packages/suite/src/components/wallet/AccountAnnouncement/XRPReserve.tsx
  packages/suite/src/components/wallet/AccountMode/AuthConfirmFailed.tsx
  packages/suite/src/components/wallet/AccountMode/BackendDisconnected.tsx
  packages/suite/src/components/wallet/AccountMode/DeviceUnavailable.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: merge clean select properly
  packages/components/src/components/form/CleanSelect/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

fix(graf): deactivate discreet feature in graph tooltip
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(routes): remove unused constants
  packages/suite/src/constants/suite/routes.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(routes): rename /settings/wallet -> /settings/coins. resolve #1970
  packages/integration-tests/projects/suite-web/tests/wallet/discovery.test.ts
  packages/suite-desktop/pages/settings/coins/index.tsx
  packages/suite-desktop/pages/settings/wallet/index.tsx
  packages/suite-native/src/support/suite/router.config.ts
  packages/suite-native/src/views/dashboard/index.tsx
  packages/suite-native/src/views/settings/coins/index.tsx
  packages/suite-web/pages/settings/coins/index.tsx
  packages/suite-web/pages/settings/wallet/index.tsx
  packages/suite/src/components/settings/SettingsMenu/index.tsx
  packages/suite/src/components/wallet/AccountException/DiscoveryEmpty.tsx
  packages/suite/src/constants/suite/routes.ts
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
  packages/suite/src/views/dashboard/components/PortfolioCard/components/Exception/index.tsx
  packages/suite/src/views/settings/coins/Container.ts
  packages/suite/src/views/settings/coins/components/Coin/index.tsx
  packages/suite/src/views/settings/coins/components/CoinsGroup/index.tsx
  packages/suite/src/views/settings/coins/index.tsx
Owners: @mroz22, @keraf, @szymonlesisz, @slowbackspace, @robertbrada

chore(rollout): don't use cross-fetch as node-fetch suffices
  packages/rollout/package.json
  packages/rollout/src/utils/fetch.ts
  yarn.lock
Owners: @mroz22

fix(onboarding): set pin related fixes
  packages/integration-tests/projects/suite-web/run_tests.js
  packages/integration-tests/projects/suite-web/tests/onboarding/create-wallet-t1.test.ts
  packages/suite/src/components/suite/PinInput/index.tsx
  packages/suite/src/components/suite/modals/PinMismatch/index.tsx
  packages/suite/src/views/onboarding/steps/Pin/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(onboarding): fix back button in create or recover step, add e2e tests
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/hologram.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/steps-order.test.ts
  packages/suite/src/components/onboarding/Buttons/ButtonBack.tsx
  packages/suite/src/views/onboarding/steps/CreateOrRecover/Container.ts
  packages/suite/src/views/onboarding/steps/CreateOrRecover/index.tsx
  packages/suite/src/views/onboarding/steps/Hologram/index.tsx
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

fix(onboarding): options does not push away '< back button'
  packages/suite/src/components/onboarding/Option/index.tsx
  packages/suite/src/components/onboarding/Wrapper/OptionsWrapper.tsx
  packages/suite/src/components/recovery/SelectRecoveryType.tsx
  packages/suite/src/components/recovery/SelectWordCount.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: use greater z-index than one in NavigationBar
  packages/suite/src/components/wallet/DiscoveryProgress/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: fix font color in used addresses
  packages/suite/src/views/wallet/receive/components/UsedAddresses/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(tests): mock resize reducer in send form tests
  packages/suite/src/hooks/wallet/__tests__/useSendForm.test.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: add confirm bubbles to passphrase modals
  packages/suite/src/components/suite/modals/PassphraseOnDevice/index.tsx
  packages/suite/src/components/suite/modals/PassphraseSource/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

style: update design for wallet selection
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseRectangle/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(components): h1 import
  packages/components/src/components/Modal/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

chore: update passphrase copy
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseRectangle/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: update icons
  packages/components/src/images/icons/lock.svg
  packages/components/src/images/icons/wallet.svg
Owners: @keraf, @slowbackspace, @robertbrada

feat(components): bring back old lock icon as LOCK_ACTIVE
  packages/components/src/components/Icon/icons.ts
  packages/components/src/config/variables.ts
  packages/components/src/images/icons/lock_active.svg
  packages/suite/src/components/suite/SwitchDevice/components/WalletInstance/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

fix: tmp remove animate prop
  packages/suite/src/components/suite/modals/PassphraseSource/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(components): font size in modal's heading
  packages/components/src/components/Modal/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada

style: change font-weight for wallet description
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseRectangle/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

refactor(components): rename Icon's prop usePointerCursor to useCursorPointer
  packages/components/src/components/Icon/index.tsx
  packages/components/src/components/form/Input/index.tsx
  packages/suite/src/components/suite/Labeling/components/Metadata/Edit.tsx
  packages/suite/src/components/suite/QuestionTooltip/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/DeviceHeaderButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/Output.tsx
  packages/suite/src/views/wallet/send/components/Options/components/RippleOptions/components/DestinationTag/index.tsx
Owners: @keraf, @slowbackspace, @robertbrada, @szymonlesisz, @mroz22

style: update design for passphrase modals
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseRectangle/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/components/PassphraseTypeCard/index.tsx
  packages/suite/src/components/suite/modals/Passphrase/index.tsx
  packages/suite/src/components/suite/modals/PassphraseDuplicate/index.tsx
  packages/suite/src/components/suite/modals/PassphraseSource/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada
