Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix(suite): redirect to index on device/account switch from all subpaths of wallet section
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/AddWalletButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): consistent top spacing on all wallet tabs to prevent jumping of the content
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/views/wallet/details/index.tsx
  packages/suite/src/views/wallet/tokens/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): fix typo in route definition to redirect on wallet index instead of dashboard on wallet switch
  packages/suite/src/constants/suite/routes.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: forget all devices on app reset
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/actions/suite/suiteActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): Sell/Exchange with zero balance
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/wallet/CoinMarketFractionButtons/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/components/SellForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/components/SellForm/Inputs/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat(sentry): enable perf tracking integration
  packages/suite-desktop/package.json
  packages/suite-desktop/pages/_app.tsx
  packages/suite-web/package.json
  packages/suite-web/pages/_app.tsx
  packages/suite/package.json
  packages/suite/src/actions/suite/logActions.ts
  packages/suite/src/config/suite/sentry.ts
  packages/suite/src/support/suite/ErrorBoundary.tsx
  packages/suite/src/utils/suite/sentry.ts
  yarn.lock
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix(suite): remove extra hidden overflows to fix discreet mode
  packages/suite/src/views/wallet/tokens/components/TokenList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): edit settings layout
  packages/suite/src/components/settings/SettingsLayout/index.tsx
  packages/suite/src/components/settings/SettingsMenu/index.tsx
  packages/suite/src/components/suite/Settings/components/TextColumn.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix: incorrect device features unlocked type
  packages/suite/src/reducers/suite/deviceReducer.ts
  patches/trezor-connect+8.1.28-beta.1.patch
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): Sell/Exchange with zero balance
  packages/suite-data/files/translations/en.json
  packages/suite/src/components/wallet/CoinMarketFractionButtons/index.tsx
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/components/SellForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/components/SellForm/Inputs/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(suite): type error
  packages/suite/src/components/settings/SettingsMenu/index.tsx
  packages/suite/src/components/suite/Settings/components/TextColumn.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): type error
  packages/suite/src/components/settings/SettingsMenu/index.tsx
  packages/suite/src/components/suite/Settings/components/TextColumn.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): remove extra hidden overflows to fix discreet mode
  packages/suite/src/views/wallet/tokens/components/TokenList/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): update of btc-only fw to btc-only fw
  packages/suite/src/actions/firmware/constants/firmware.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/middlewares/firmware/firmwareMiddleware.ts
  packages/suite/src/reducers/firmware/firmwareReducer.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): fix typo in route definition to redirect on wallet index instead of dashboard on wallet switch
  packages/suite/src/constants/suite/routes.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): consistent top spacing on all wallet tabs to prevent jumping of the content
  packages/suite/src/components/wallet/WalletLayout/index.tsx
  packages/suite/src/views/wallet/details/index.tsx
  packages/suite/src/views/wallet/tokens/index.tsx
  packages/suite/src/views/wallet/transactions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): redirect to index on device/account switch from all subpaths of wallet section
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/components/AddWalletButton/index.tsx
  packages/suite/src/components/suite/SwitchDevice/components/DeviceItem/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(fwUpdate): wait for reboot instead of instructiong to unplug for BL >= 1.10.0
  packages/suite/src/actions/firmware/firmwareActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(suite): extension of analytics tracking
  docs/misc/analytics.md
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NotificationsDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/SettingsDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/TorDropdown/index.tsx
  packages/suite/src/components/suite/modals/AddToken/index.tsx
  packages/suite/src/components/suite/modals/BackgroundGallery/index.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/OutputList.tsx
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/env.ts
  packages/suite/src/utils/suite/homescreen.ts
  packages/suite/src/views/settings/device/index.tsx
  packages/suite/src/views/wallet/transactions/components/AccountEmpty/index.tsx
Owners: @slowbackspace, @szymonlesisz, @keraf, @mroz22, @robertbrada

feat(docs): add more info about analytics
  docs/misc/analytics.md
Owners: none

chore(suite): track events only from codesign builds to stable.log
  packages/suite/src/actions/suite/analyticsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): track suite-ready event on initial run
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/sentry.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): refactoring changes related to analytics
  packages/suite/src/actions/firmware/__tests__/firmwareActions.test.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/actions/recovery/__tests__/recoveryActions.test.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/middlewares/suite/__tests__/redirectMiddleware.test.ts
  packages/suite/src/utils/suite/device.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): add redirection to receive tab after wallet switch because the tab is not persisted anymore
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @mroz22

feat(suite): extension of analytics tracking
  docs/misc/analytics.md
  packages/suite-native/src/utils/suite/env.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/NotificationsDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/SettingsDropdown/index.tsx
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/components/TorDropdown/index.tsx
  packages/suite/src/components/suite/modals/AddToken/index.tsx
  packages/suite/src/components/suite/modals/BackgroundGallery/index.tsx
  packages/suite/src/components/suite/modals/ReviewTransaction/components/OutputList.tsx
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/env.ts
  packages/suite/src/utils/suite/homescreen.ts
  packages/suite/src/views/settings/device/index.tsx
  packages/suite/src/views/wallet/transactions/components/AccountEmpty/index.tsx
Owners: @slowbackspace, @szymonlesisz, @keraf, @mroz22, @robertbrada

chore(suite): track events only from codesign builds to stable.log
  packages/suite/src/actions/suite/analyticsActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): refactoring changes related to analytics
  packages/suite/src/actions/firmware/__tests__/firmwareActions.test.ts
  packages/suite/src/actions/firmware/firmwareActions.ts
  packages/suite/src/actions/recovery/__tests__/recoveryActions.test.ts
  packages/suite/src/actions/suite/__tests__/analyticsActions.test.ts
  packages/suite/src/actions/suite/analyticsActions.ts
  packages/suite/src/components/suite/NavigationBar/components/NavigationActions/index.tsx
  packages/suite/src/middlewares/suite/__tests__/redirectMiddleware.test.ts
  packages/suite/src/utils/suite/device.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): track suite-ready event on initial run
  packages/suite/src/middlewares/suite/analyticsMiddleware.ts
  packages/suite/src/utils/suite/sentry.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(docs): add more info about analytics
  docs/misc/analytics.md
Owners: none

fix(suite): add redirection to receive tab after wallet switch because the tab is not persisted anymore
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @mroz22

fix(suite): add redirection to receive tab after wallet switch because the tab is not persisted anymore
  packages/integration-tests/projects/suite-web/tests/suite/passphrase.test.ts
Owners: @mroz22

chore(all): bump version to 21.6.1 [RELEASE ONLY]
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

chore(all): bump version to 21.7.0 beta
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

feat(auto-updater): verify signature of downloaded updates before applying them
  .eslintrc.js
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/app-key.asc
  packages/suite-desktop/scripts/build-inject.js
  packages/suite-desktop/scripts/build.js
  packages/suite-desktop/scripts/gnupg-sign.sh
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/libs/update-checker.ts
  packages/suite-desktop/src-electron/mocks/electron-updater.ts
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src/support/DesktopUpdater/Available.tsx
  packages/suite-desktop/src/support/DesktopUpdater/Downloading.tsx
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/services/github.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/suite/desktop.ts
  packages/suite/src/types/suite/github.ts
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

docs(suite-desktop): update documentation to reflect auto updater signing requirements
  docs/releases/desktop_updates.md
Owners: none

fix(suite): send raw - close button inconsistency
  packages/suite/src/views/wallet/send/components/Raw/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat(auto-updater): verify signature of downloaded updates before applying them
  .eslintrc.js
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/app-key.asc
  packages/suite-desktop/scripts/build-inject.js
  packages/suite-desktop/scripts/build.js
  packages/suite-desktop/scripts/gnupg-sign.sh
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/libs/update-checker.ts
  packages/suite-desktop/src-electron/mocks/electron-updater.ts
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src/support/DesktopUpdater/Available.tsx
  packages/suite-desktop/src/support/DesktopUpdater/Downloading.tsx
  packages/suite/src/actions/suite/desktopUpdateActions.ts
  packages/suite/src/reducers/suite/desktopUpdateReducer.ts
  packages/suite/src/services/github.ts
  packages/suite/src/support/messages.ts
  packages/suite/src/types/suite/desktop.ts
  packages/suite/src/types/suite/github.ts
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

docs(suite-desktop): update documentation to reflect auto updater signing requirements
  docs/releases/desktop_updates.md
Owners: none

fix(e2e): fix dev port
  docker/docker-compose.suite-test.yml
  docs/tests/e2e-web.md
Owners: @mroz22

chore(docker): remove unused docker file pointing to unexisting files
  docker/docker-suite-dev.sh
Owners: @mroz22

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
