Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace

fix(dashboard): asset card in dark mode, store to persistent storage
  packages/suite/src/actions/suite/__fixtures__/suiteActions.ts
  packages/suite/src/actions/suite/storageActions.ts
  packages/suite/src/reducers/suite/suiteReducer.ts
  packages/suite/src/views/dashboard/components/AssetsCard/components/AssetGrid/index.tsx
  packages/suite/src/views/dashboard/components/AssetsCard/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): windows and linux desktop build (SSR)
  packages/suite/src/utils/suite/env.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite): windows and linux desktop build (SSR)
  packages/suite/src/utils/suite/env.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: Prints firmware revision in Settings
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): verify origin for incoming HTTP requests
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/modules/event-logging/contents.ts
  packages/suite-web-landing/pages/_document.tsx
  packages/suite-web/pages/_document.tsx
Owners: @keraf, @szymonlesisz, @slowbackspace, @mroz22, @robertbrada

fix(desktop): workaround for black screen after closing fullscreen window on MacOS
  packages/suite-desktop/src-electron/modules/window-controls.ts
Owners: @keraf, @szymonlesisz

feat(suite-data): override keys for msg-system via files
  ci/packages/suite-data.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-web.yml
  packages/suite-data/src/message-system/constants/index.ts
  packages/suite-data/src/message-system/scripts/sign-config.ts
  packages/suite-desktop/next.config.js
  packages/suite-web/next.config.js
  packages/suite/src/actions/suite/constants/messageSystemConstants.ts
Owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix(ci): add missing prerequisite config sign job to codesign jobs
  ci/packages/suite-data.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

feat(suite-data): override keys for msg-system via files
  ci/packages/suite-data.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-web.yml
  packages/suite-data/src/message-system/constants/index.ts
  packages/suite-data/src/message-system/scripts/sign-config.ts
  packages/suite-desktop/next.config.js
  packages/suite-web/next.config.js
  packages/suite/src/actions/suite/constants/messageSystemConstants.ts
Owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix(ci): add missing prerequisite config sign job to codesign jobs
  ci/packages/suite-data.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

chore(all): bump versions to 21.5.1 [RELEASE ONLY]
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

fix(desktop): workaround for black screen after closing fullscreen window on MacOS
  packages/suite-desktop/src-electron/modules/window-controls.ts
Owners: @keraf, @szymonlesisz

feat(suite): bound connect endpoint with suite-web build
  packages/suite-data/config.ts
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.66b893e57a1ae1dd871e.js
  packages/suite-data/files/connect/js/iframe.d59b71ae4ba5721ba85a.js
  packages/suite-data/files/connect/workers/shared-connection-worker.4e3e8b51bdda80805b28.js
  packages/suite-data/trezor-connect.webpack.js
  packages/suite/src/actions/suite/trezorConnectActions.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore(all): bump versions to 21.6.0
  package.json
  packages/landing-page/package.json
  packages/suite-data/package.json
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-storage/package.json
  packages/suite-web-landing/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Owners: @keraf, @robertbrada, @szymonlesisz, @slowbackspace, @mroz22

chore: update trezor-connect@8.1.27
  packages/suite-data/files/connect/data/firmware/1/releases.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.55ab7c4f211a4c64bb84.js
  packages/suite-data/files/connect/js/iframe.d59b71ae4ba5721ba85a.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: remove WebusbButton iframe workaround
  packages/suite-web/pages/_app.tsx
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/firmware/ReconnectInBootloader.tsx
  packages/suite/src/components/firmware/ReconnectInNormal.tsx
  packages/suite/src/components/suite/SwitchDevice/index.tsx
  packages/suite/src/components/suite/WebusbButton/index.tsx
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/views/onboarding/steps/Pair/index.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/Reconnect.tsx
  packages/suite/src/views/suite/device-connect/index.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada, @szymonlesisz

fix: remove WebusbButton iframe workaround
  packages/suite-web/pages/_app.tsx
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/firmware/ReconnectInBootloader.tsx
  packages/suite/src/components/firmware/ReconnectInNormal.tsx
  packages/suite/src/components/suite/SwitchDevice/index.tsx
  packages/suite/src/components/suite/WebusbButton/index.tsx
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/views/onboarding/steps/Pair/index.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/Reconnect.tsx
  packages/suite/src/views/suite/device-connect/index.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada, @szymonlesisz

feat(suite): bound connect endpoint with suite-web build
  packages/suite-data/config.ts
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.66b893e57a1ae1dd871e.js
  packages/suite-data/files/connect/js/iframe.d59b71ae4ba5721ba85a.js
  packages/suite-data/files/connect/workers/shared-connection-worker.4e3e8b51bdda80805b28.js
  packages/suite-data/trezor-connect.webpack.js
  packages/suite/src/actions/suite/trezorConnectActions.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

chore: update trezor-connect@8.1.27
  packages/suite-data/files/connect/data/firmware/1/releases.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.55ab7c4f211a4c64bb84.js
  packages/suite-data/files/connect/js/iframe.d59b71ae4ba5721ba85a.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat(suite): bound connect endpoint with suite-web build
  packages/suite-data/config.ts
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.66b893e57a1ae1dd871e.js
  packages/suite-data/files/connect/js/iframe.d59b71ae4ba5721ba85a.js
  packages/suite-data/files/connect/workers/shared-connection-worker.4e3e8b51bdda80805b28.js
  packages/suite-data/trezor-connect.webpack.js
  packages/suite/src/actions/suite/trezorConnectActions.ts
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix: remove WebusbButton iframe workaround
  packages/suite-web/pages/_app.tsx
  packages/suite/src/components/firmware/FirmwareProgress.tsx
  packages/suite/src/components/firmware/ReconnectInBootloader.tsx
  packages/suite/src/components/firmware/ReconnectInNormal.tsx
  packages/suite/src/components/suite/SwitchDevice/index.tsx
  packages/suite/src/components/suite/WebusbButton/index.tsx
  packages/suite/src/middlewares/suite/suiteMiddleware.ts
  packages/suite/src/views/onboarding/steps/Pair/index.tsx
  packages/suite/src/views/onboarding/unexpected-states/components/Reconnect.tsx
  packages/suite/src/views/suite/device-connect/index.tsx
Owners: @keraf, @slowbackspace, @mroz22, @robertbrada, @szymonlesisz

chore: update trezor-connect@8.1.27
  packages/suite-data/files/connect/data/firmware/1/releases.json
  packages/suite-data/files/connect/iframe.html
  packages/suite-data/files/connect/js/iframe.55ab7c4f211a4c64bb84.js
  packages/suite-data/files/connect/js/iframe.d59b71ae4ba5721ba85a.js
  packages/suite/package.json
  yarn.lock
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

feat: #2796 Remove temporary code for Zcash fork
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/constants/wallet/sendForm.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): Exchange - Receiving address tooltip wording
  packages/suite-data/files/translations/en.json
  packages/suite/src/support/messages.ts
  packages/suite/src/views/wallet/coinmarket/exchange/offers/Offers/SelectedOffer/components/VerifyAddress/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fix(invity): Exchange - contents (decimals) of ReceiveCryptoInput and FiatInput clipped
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/components/SellForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/components/SellForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): Coinmarket sell unit tests
  packages/suite/src/utils/wallet/coinmarket/__fixtures__/sellUtils.ts
  packages/suite/src/utils/wallet/coinmarket/__tests__/sellUtils.test.ts
  packages/suite/src/utils/wallet/coinmarket/sellUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: Prints firmware revision in Settings
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

feat: Prints firmware revision in Settings
  packages/suite/src/constants/suite/urls.ts
  packages/suite/src/utils/suite/device.ts
  packages/suite/src/views/settings/device/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): Exchange - contents (decimals) of ReceiveCryptoInput and FiatInput clipped
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/SendCryptoInput/index.tsx
  packages/suite/src/views/wallet/coinmarket/exchange/components/ExchangeForm/Inputs/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/components/SellForm/Inputs/Buttons/index.tsx
  packages/suite/src/views/wallet/coinmarket/sell/components/SellForm/Inputs/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(invity): Coinmarket sell unit tests
  packages/suite/src/utils/wallet/coinmarket/__fixtures__/sellUtils.ts
  packages/suite/src/utils/wallet/coinmarket/__tests__/sellUtils.test.ts
  packages/suite/src/utils/wallet/coinmarket/sellUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(tor): Don't run tor process when the address is altered
  packages/suite-desktop/src-electron/libs/processes/TorProcess.ts
  packages/suite-desktop/src-electron/modules/tor.ts
Owners: @keraf, @szymonlesisz

fix(tor): #3709 Fix custom tor address settings
  packages/suite-desktop/src-electron/modules/tor.ts
Owners: @keraf, @szymonlesisz

chore(tor): Refactor tor electron module
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/modules/tor.ts
Owners: @keraf, @szymonlesisz

fix(tor): Allow user go back to default address by clearing the input
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(ci): add debug variable for e2e web job
  ci/packages/suite-web.yml
Owners: @keraf, @mroz22

fix(tor): Allow user go back to default address by clearing the input
  packages/suite/src/views/settings/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(tor): Refactor tor electron module
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/modules/tor.ts
Owners: @keraf, @szymonlesisz

fix(tor): #3709 Fix custom tor address settings
  packages/suite-desktop/src-electron/modules/tor.ts
Owners: @keraf, @szymonlesisz

fix(tor): Don't run tor process when the address is altered
  packages/suite-desktop/src-electron/libs/processes/TorProcess.ts
  packages/suite-desktop/src-electron/modules/tor.ts
Owners: @keraf, @szymonlesisz

docs(changelog): remove Changelog
  CHANGELOG.md
Owners: none
