Repository trezor/trezor-suite, changes with the owners that CODEOWNERS names for each.
All owners: @keraf, @mroz22, @szymonlesisz, @slowbackspace, @robertbrada

fix(ci): add missing build libs in prebuild
  ci/prebuild.yml
Owners: @keraf, @mroz22

fix(ci): add missing build libs in prebuild
  ci/prebuild.yml
Owners: @keraf, @mroz22

fix: long tx id
  packages/suite/src/components/wallet/CoinmarketExchangeOfferInfo/index.tsx
  packages/suite/src/components/wallet/CoinmarketTransactionId/index.tsx
  packages/suite/src/support/messages.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: add instructions on how to clear electron cache
  NOTES.md
Owners: none

chore(docs): move notes to docs folder
  docs/SUMMARY.md
  docs/misc/notes.md
Owners: none

fix(suite): remove unnecessary timezone adjustments and let FormattedDate to handle it
  packages/suite/src/components/suite/TransactionsGraph/components/CustomTooltipBase/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/AmountDetails/index.tsx
  packages/suite/src/components/suite/modals/TransactionDetail/components/BasicDetails/index.tsx
  packages/suite/src/views/wallet/transactions/components/TransactionList/components/TransactionItem/components/TransactionTimestamp/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: cleanup Ticker and reuse current rate
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/components/suite/Ticker/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): force set value for undefined APPIMAGE env variable
  packages/suite-desktop/src-electron/electron.ts
Owners: @keraf, @szymonlesisz

ci: use latest base image (contains docker and docker-compose)
  .gitlab-ci.yml
Owners: none

CI base image - fix missing attrs
  ci/docker/base/Dockerfile
Owners: @keraf, @mroz22

ci: clear cache job
  ci/environment.yml
Owners: @keraf, @mroz22

ci: manual desktop builds on feature branches
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

fix(ci): run codesign build automatically
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

fix(suite-desktop): electron dev run
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/dev.js
Owners: @keraf, @szymonlesisz

test(rbf): accountUtils.getUtxoFromSignedTransaction
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/__tests__/accountUtils.test.ts
  packages/suite/src/utils/wallet/accountUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(rbf): replace transaction manually before update from blockbook
  packages/suite/src/actions/wallet/constants/transactionConstants.ts
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/actions/wallet/sendFormActions.ts
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/hooks/wallet/form/useCompose.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(docs): move notes to docs folder
  docs/SUMMARY.md
  docs/misc/notes.md
Owners: none

chore: add instructions on how to clear electron cache
  NOTES.md
Owners: none

test(rbf): accountUtils.getUtxoFromSignedTransaction
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/__tests__/accountUtils.test.ts
  packages/suite/src/utils/wallet/accountUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(rbf): replace transaction manually before update from blockbook
  packages/suite/src/actions/wallet/constants/transactionConstants.ts
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/actions/wallet/sendFormActions.ts
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/hooks/wallet/form/useCompose.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(rbf): replace transaction manually before update from blockbook
  packages/suite/src/actions/wallet/constants/transactionConstants.ts
  packages/suite/src/actions/wallet/send/sendFormBitcoinActions.ts
  packages/suite/src/actions/wallet/sendFormActions.ts
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/hooks/wallet/form/useCompose.ts
  packages/suite/src/hooks/wallet/useRbfForm.ts
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/types/wallet/sendForm.ts
  packages/suite/src/utils/wallet/accountUtils.ts
  packages/suite/src/utils/wallet/transactionUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

test(rbf): accountUtils.getUtxoFromSignedTransaction
  packages/suite/src/actions/wallet/transactionActions.ts
  packages/suite/src/reducers/wallet/transactionReducer.ts
  packages/suite/src/utils/wallet/__fixtures__/accountUtils.ts
  packages/suite/src/utils/wallet/__tests__/accountUtils.test.ts
  packages/suite/src/utils/wallet/accountUtils.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(suite): unify account fallback/error screens
  packages/suite/src/components/wallet/AccountException/AccountNotEnabled.tsx
  packages/suite/src/components/wallet/AccountException/AccountNotExists.tsx
  packages/suite/src/components/wallet/AccountException/AccountNotLoaded.tsx
  packages/suite/src/components/wallet/AccountException/AuthFailed.tsx
  packages/suite/src/components/wallet/AccountException/DiscoveryEmpty.tsx
  packages/suite/src/components/wallet/AccountException/DiscoveryFailed.tsx
  packages/suite/src/components/wallet/AccountException/FirmwareUnsupported.tsx
  packages/suite/src/components/wallet/AccountException/components/Wrapper.tsx
  packages/suite/src/components/wallet/AccountExceptionLayout/index.tsx
  packages/suite/src/components/wallet/index.tsx
  packages/suite/src/views/wallet/transactions/components/NoTransactions/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore(metadata): decrease number of http requests
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
  packages/suite/src/actions/suite/metadataActions.ts
  packages/suite/src/actions/wallet/discoveryActions.ts
  packages/suite/src/middlewares/suite/metadataMiddleware.ts
Owners: @mroz22, @szymonlesisz, @keraf, @slowbackspace, @robertbrada

test(e2e): add assertion for number of requests in metadata
  packages/integration-tests/projects/suite-web/tests/metadata/account-metadata.test.ts
Owners: @mroz22

fixup! chore(metadata): decrease number of http requests
  packages/suite/src/actions/wallet/discoveryActions.ts
  packages/suite/src/middlewares/suite/metadataMiddleware.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

chore: cleanup Ticker and reuse current rate
  packages/suite/src/actions/wallet/fiatRatesActions.ts
  packages/suite/src/components/suite/Ticker/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

ci: manual desktop builds on feature branches
  ci/packages/suite-desktop.yml
Owners: @keraf, @mroz22

ci(suite-desktop): gpg sign artefacts in codesign targets
  ci/packages/suite-desktop.yml
  packages/suite-desktop/scripts/gnupg-sign.sh
  shell.nix
Owners: @keraf, @mroz22, @szymonlesisz

fixup! fix: long tx id
  packages/suite/src/components/wallet/CoinmarketTransactionId/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fixup! fixup! fix: long tx id
  packages/suite/src/components/wallet/CoinmarketTransactionId/index.tsx
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

tests(e2e): use new trezor-user-env, fix, unskip, rework, adapt, overcome
  ci/packages/suite-web.yml
  packages/integration-tests/projects/suite-web/plugins/index.js
  packages/integration-tests/projects/suite-web/support/commands.ts
  packages/integration-tests/projects/suite-web/support/utils/shortcuts.ts
  packages/integration-tests/projects/suite-web/tests/firmware/firmware.test.ts
  packages/integration-tests/projects/suite-web/tests/metadata/remembered-device.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-create-wallet.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-recovery-advanced.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t1-recovery-basic.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-create-wallet.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-recovery-fail.test.ts
  packages/integration-tests/projects/suite-web/tests/onboarding/t2-recovery-persistence.test.ts
  packages/integration-tests/projects/suite-web/tests/recovery/t1-dry-run.test.ts
  packages/integration-tests/projects/suite-web/tests/recovery/t2-dry-run-persistence.test.ts
  packages/integration-tests/projects/suite-web/tests/settings/t1-device-settings.test.ts
Owners: @keraf, @mroz22

fix(suite-desktop): electron dev run
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/dev.js
Owners: @keraf, @szymonlesisz

fix(rbf): update blockTime in replaced tx
  packages/suite/src/actions/wallet/transactionActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(rbf): update blockTime in replaced tx
  packages/suite/src/actions/wallet/transactionActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(rbf): update blockTime in replaced tx
  packages/suite/src/actions/wallet/transactionActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(recovery): send u2f counter in params
  packages/suite/src/actions/recovery/recoveryActions.ts
Owners: @szymonlesisz, @keraf, @mroz22, @slowbackspace, @robertbrada

fix(suite-desktop): refactor desktop updater and prioritize updater modal
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src/support/DesktopUpdater.tsx
  packages/suite-desktop/src/support/DesktopUpdater/Available.tsx
  packages/suite-desktop/src/support/DesktopUpdater/Downloading.tsx
  packages/suite-desktop/src/support/DesktopUpdater/Ready.tsx
  packages/suite-desktop/src/support/DesktopUpdater/styles.ts
  packages/suite/src/components/suite/Preloader/index.tsx
Owners: @keraf, @szymonlesisz, @mroz22, @slowbackspace, @robertbrada

fixup! fix(suite-desktop): refactor desktop updater and prioritize updater modal
  packages/suite-desktop/src/support/DesktopUpdater/Available.tsx
Owners: @keraf, @szymonlesisz

chore(suite-desktop): refactor (splitting into modules and libs)
  packages/suite-desktop/package.json
  packages/suite-desktop/scripts/build.js
  packages/suite-desktop/scripts/dev.js
  packages/suite-desktop/src-electron/__tests__/http.test.ts
  packages/suite-desktop/src-electron/app.ts
  packages/suite-desktop/src-electron/electron-next.d.ts
  packages/suite-desktop/src-electron/electron.ts
  packages/suite-desktop/src-electron/index.d.ts
  packages/suite-desktop/src-electron/libs/buy.ts
  packages/suite-desktop/src-electron/libs/constants.ts
  packages/suite-desktop/src-electron/libs/http-receiver.ts
  packages/suite-desktop/src-electron/libs/menu.ts
  packages/suite-desktop/src-electron/libs/processes/BaseProcess.ts
  packages/suite-desktop/src-electron/libs/processes/BridgeProcess.ts
  packages/suite-desktop/src-electron/libs/processes/TorProcess.ts
  packages/suite-desktop/src-electron/libs/screen.ts
  packages/suite-desktop/src-electron/libs/store.ts
  packages/suite-desktop/src-electron/libs/user-data.ts
  packages/suite-desktop/src-electron/libs/utils.ts
  packages/suite-desktop/src-electron/metadata.ts
  packages/suite-desktop/src-electron/modules/auto-updater.ts
  packages/suite-desktop/src-electron/modules/bridge.ts
  packages/suite-desktop/src-electron/modules/csp.ts
  packages/suite-desktop/src-electron/modules/dev-tools.ts
  packages/suite-desktop/src-electron/modules/external-links.ts
  packages/suite-desktop/src-electron/modules/file-protocol.ts
  packages/suite-desktop/src-electron/modules/http-receiver.ts
  packages/suite-desktop/src-electron/modules/menu.ts
  packages/suite-desktop/src-electron/modules/metadata.ts
  packages/suite-desktop/src-electron/modules/request-filter.ts
  packages/suite-desktop/src-electron/modules/shortcuts.ts
  packages/suite-desktop/src-electron/modules/tor.ts
  packages/suite-desktop/src-electron/modules/window-controls.ts
  packages/suite-desktop/src-electron/store.ts
  packages/suite-desktop/src-electron/tsconfig.json
  packages/suite-desktop/tsconfig.json
Owners: @keraf, @szymonlesisz

CODEOWNERS:

/ci @keraf @mroz22

/docker @mroz22

/packages/blockchain-link @szymonlesisz @keraf

/packages/components @keraf @slowbackspace @robertbrada
/packages/components-storybook @keraf @slowbackspace @robertbrada
/packages/components-storybook-native @keraf @slowbackspace @robertbrada

/packages/integration-tests @mroz22

/packages/landing-page @keraf @robertbrada

/packages/news-api @keraf

/packages/rollout @mroz22

/packages/suite @szymonlesisz @keraf @mroz22 @slowbackspace @robertbrada

/packages/suite-data @keraf

/packages/suite-desktop @keraf @szymonlesisz

/packages/suite-native @slowbackspace @szymonlesisz @keraf

/packages/suite-storage @slowbackspace @keraf

/packages/suite-web @keraf @slowbackspace @mroz22 @robertbrada

/packages/translations-manager @slowbackspace
